---
title: Card
description: A collection of templates built with responsive Cards.
wide_container: true
template: true
---

h2 Marketing feature cards
p.-text
  | Use this template to feature product content on marketing oriented webpages.
.example.-mb--3
  .-px--4.-pt--4
    .chi-grid
      .chi-col.-w--12.-w-lg--6.-w-xl--4.-mb--5
        .chi-card.-s--2.-rounded.-bg--white.-b--base-light.-mx--1.-h--100
          .-d--flex.-align-items--center.-justify-content--center.-bg--grey-10.-p--3
            chi-marketing-icon(icon='people-it-professional' size='lg')
          .chi-card__content.-p--4.-pb--6
            .-text--h3.-text--bolder.-m--0 Find the right API
            p.-text Browse our comprehensive API library
            chi-link(href='#' cta='') Explore APIs
      .chi-col.-w--12.-w-lg--6.-w-xl--4.-mb--5
        .chi-card.-s--2.-rounded.-bg--white.-b--base-light.-mx--1.-h--100
          .-d--flex.-align-items--center.-justify-content--center.-bg--grey-10.-p--3
            chi-marketing-icon(icon='people-software-developer' size='lg')
          .chi-card__content.-p--4.-pb--6
            .-text--h3.-text--bolder.-m--0 Learn and build code
            p.-text Learn how to use our APIs to power your applications
            chi-link(href='#' cta='') View Guide
      .chi-col.-w--12.-w-lg--6.-w-xl--4.-mb--5
        .chi-card.-s--2.-rounded.-bg--white.-b--base-light.-mx--1.-h--100
          .-d--flex.-align-items--center.-justify-content--center.-bg--grey-10.-p--3
            chi-marketing-icon(icon='products-portal' size='lg')
          .chi-card__content.-p--4.-pb--6
            .-text--h3.-text--bolder.-m--0 Launch your application
            p.-text Register your account and request access to APIs
            chi-link(href='#' cta='') Get Started
  .example-tabs.-pl--2
    ul.chi-tabs#example-feature-cards(role="tablist")
      li.-active
        a(
          href=`#webcomponent-feature-cards`
          role="tab"
          aria-selected="true"
          aria-controls="webcomponent-feature-cards"
        ) Web Component
      li.-disabled
        a(
          href=`#html-feature-cards`
          role="tab"
          aria-selected="false"
          tabindex="-1"
          aria-controls="html-feature-cards"
        ) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-feature-cards
    :code(lang="html")
      <div class="chi-grid">
        <div class="chi-col -w--12 -w-lg--6 -w-xl--4 -mb--5">
          <div class="chi-card -s--2 -rounded -bg--white -b--base-light -mx--1 -h--100">
            <div class="-d--flex -align-items--center -justify-content--center -bg--grey-10 -p--3">
              <chi-marketing-icon icon="people-it-professional" size="lg"></chi-marketing-icon>
            </div>
            <div class="chi-card__content -p--4 -pb--6">
              <div class="-text--h3 -text--bolder -m--0">Find the right API</div>
              <p class="-text">Browse our comprehensive API library</p>
              <chi-link href="#" cta>Explore APIs</chi-link>
            </div>
          </div>
        </div>
        <div class="chi-col -w--12 -w-lg--6 -w-xl--4 -mb--5">
          <div class="chi-card -s--2 -rounded -bg--white -b--base-light -mx--1 -h--100">
            <div class="-d--flex -align-items--center -justify-content--center -bg--grey-10 -p--3">
              <chi-marketing-icon icon="people-software-developer" size="lg"></chi-marketing-icon>
            </div>
            <div class="chi-card__content -p--4 -pb--6">
              <div class="-text--h3 -text--bolder -m--0">Learn and build code</div>
              <p class="-text">Learn how to use our APIs to power your applications</p>
              <chi-link href="#" cta>View Guide</chi-link>
            </div>
          </div>   
        </div>
        <div class="chi-col -w--12 -w-lg--6 -w-xl--4 -mb--5">
          <div class="chi-card -s--2 -rounded -bg--white -b--base-light -mx--1 -h--100">
            <div class="-d--flex -align-items--center -justify-content--center -bg--grey-10 -p--3">
              <chi-marketing-icon icon="products-portal" size="lg"></chi-marketing-icon>
            </div>
            <div class="chi-card__content -p--4 -pb--6">
              <div class="-text--h3 -text--bolder -m--0">Launch your application</div>
              <p class="-text">Register your account and request access to APIs</p>
              <chi-link href="#" cta>Get Started</chi-link>
            </div>
          </div>
        </div>
      </div>
  .chi-tabs-panel#html-feature-cards

.-colt--hide
  h2 Category cards
  p.-text
    | This template can be used to visually represent categories or groups to help browse and filter data.
  .example.-mb--3
    .-px--4.-pt--4
      .chi-grid
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='products-services')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title Business Management
                .chi-card__caption.-text--body.-mt--1
                  | A full suite of supporting APIs designed to make daily business operations simple and easy to use.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='people-it-professional')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title CenturyLink Partners
                .chi-card__caption.-text--body.-mt--1
                  | Configure CenturyLink products, services, and purchased for your customers on cloud-based CRM platforms.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='products-private-branch-exchange')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title Communications
                .chi-card__caption.-text--body.-mt--1
                  | Supports reliable and easy-to-use voice API products that help keep your team and customers in sync.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='platform-edge-compute')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title Edge Services
                .chi-card__caption.-text--body.-mt--1 APIs to create, delete, and monitor edge instances.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='business-trust-confidence')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title Lumen Channel Partners
                .chi-card__caption.-text--body.-mt--1
                  | Integrate service availability, pricing, and business management APIs to create differentiated customer experiences.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='products-cce-dynamic-connections')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title Networking
                .chi-card__caption.-text--body.-mt--1
                  | Deliver software-defined networking that intelligently adjusts to real-time capacity, and connects cloud providers.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='platform-connected-security')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title Security
                .chi-card__caption.-text--body.-mt--1
                  | Embed hi-fi intelligence, automatic threat detection and proactive response to identify and mitigate cyberattacks.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='business-single-provider')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title Browse All APIs
                .chi-card__caption.-text--body.-mt--1 Browse our comprehensive API library
              .chi-link.-cta.-mt--2 Explore All APIs
    .example-tabs.-pl--2
      ul.chi-tabs#example-category-cards(role="tablist")
        li.-active
          a(
            href=`#webcomponent-category-cards`
            role="tab"
            aria-selected="true"
            aria-controls="webcomponent-category-cards"
          ) Web Component
        li.-disabled
          a(
            href=`#html-category-cards`
            role="tab"
            aria-selected="false"
            tabindex="-1"
            aria-controls="html-category-cards"
          ) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-category-cards
      :code(lang="html")
        <div class="chi-grid">
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="products-services"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">Business Management</div>
                  <div class="chi-card__caption -text--body -mt--1">A full suite of supporting APIs designed to make daily business operations simple and easy to use.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="people-it-professional"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">CenturyLink Partners</div>
                  <div class="chi-card__caption -text--body -mt--1">Configure CenturyLink products, services, and purchased for your customers on cloud-based CRM platforms.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="products-private-branch-exchange"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">Communications</div>
                  <div class="chi-card__caption -text--body -mt--1">Supports reliable and easy-to-use voice API products that help keep your team and customers in sync.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="platform-edge-compute"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">Edge Services</div>
                  <div class="chi-card__caption -text--body -mt--1">APIs to create, delete, and monitor edge instances.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="business-trust-confidence"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">Lumen Channel Partners</div>
                  <div class="chi-card__caption -text--body -mt--1">Integrate service availability, pricing, and business management APIs to create differentiated customer experiences.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="products-cce-dynamic-connections"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">Networking</div>
                  <div class="chi-card__caption -text--body -mt--1">Deliver software-defined networking that intelligently adjusts to real-time capacity, and connects cloud providers.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="platform-connected-security"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">Security</div>
                  <div class="chi-card__caption -text--body -mt--1">Embed hi-fi intelligence, automatic threat detection and proactive response to identify and mitigate cyberattacks.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="business-single-provider"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title">Browse All APIs</div>
                  <div class="chi-card__caption -text--body -mt--1">Browse our comprehensive API library</div>
                </div>
                <div class="chi-link -cta -mt--2">Explore All APIs</div>
              </div>
            </a>
          </div>
        </div>
    .chi-tabs-panel#html-category-cards

.-colt--show
  h2 Category cards
  p.-text
    | This template can be used to visually represent categories or groups to help browse and filter data.
  .example.-mb--3
    .-px--4.-pt--4
      .chi-grid
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='products-services' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body Business Management
                .chi-card__caption.-text--body.-mt--1
                  | A full suite of supporting APIs designed to make daily business operations simple and easy to use.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='people-it-professional' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body CenturyLink Partners
                .chi-card__caption.-text--body.-mt--1
                  | Configure CenturyLink products, services, and purchased for your customers on cloud-based CRM platforms.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='products-private-branch-exchange' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body Communications
                .chi-card__caption.-text--body.-mt--1
                  | Supports reliable and easy-to-use voice API products that help keep your team and customers in sync.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='platform-edge-compute' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body Edge Services
                .chi-card__caption.-text--body.-mt--1 APIs to create, delete, and monitor edge instances.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='business-trust-confidence' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body Lumen Channel Partners
                .chi-card__caption.-text--body.-mt--1
                  | Integrate service availability, pricing, and business management APIs to create differentiated customer experiences.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='products-cce-dynamic-connections' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body Networking
                .chi-card__caption.-text--body.-mt--1
                  | Deliver software-defined networking that intelligently adjusts to real-time capacity, and connects cloud providers.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='platform-connected-security' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body Security
                .chi-card__caption.-text--body.-mt--1
                  | Embed hi-fi intelligence, automatic threat detection and proactive response to identify and mitigate cyberattacks.
              .chi-link.-cta.-mt--2 Learn More
        .chi-col.-w--12.-w-md--6.-w-lg--4.-w-xl--3.-mb--3
          a.chi-card.-s--1.-rounded.-b--base-light.-h--100.-hover--animate.chi-link.-no-hover-underline(href='#')
            .-d--flex.-align-items--center.-justify-content--center.-bg--muted-lighter.-p--3
              chi-marketing-icon(icon='business-single-provider' variant='outline')
            .chi-card__content.-p--3.-h--100.-justify-content--between
              .chi-card__text
                .chi-card__title.-text--body Browse All APIs
                .chi-card__caption.-text--body.-mt--1 Browse our comprehensive API library
              .chi-link.-cta.-mt--2 Explore All APIs
    .example-tabs.-pl--2
      ul.chi-tabs#example-category-cards-colt(role="tablist")
        li.-active
          a(
            href=`#webcomponent-category-cards-colt`
            role="tab"
            aria-selected="true"
            aria-controls="webcomponent-category-cards-colt"
          ) Web Component
        li.-disabled
          a(
            href=`#html-category-cards-colt`
            role="tab"
            aria-selected="false"
            tabindex="-1"
            aria-controls="html-category-cards-colt"
          ) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-category-cards-colt
      :code(lang="html")
        <div class="chi-grid">
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="products-services" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">Business Management</div>
                  <div class="chi-card__caption -text--body -mt--1">A full suite of supporting APIs designed to make daily business operations simple and easy to use.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="people-it-professional" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">CenturyLink Partners</div>
                  <div class="chi-card__caption -text--body -mt--1">Configure CenturyLink products, services, and purchased for your customers on cloud-based CRM platforms.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="products-private-branch-exchange" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">Communications</div>
                  <div class="chi-card__caption -text--body -mt--1">Supports reliable and easy-to-use voice API products that help keep your team and customers in sync.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="platform-edge-compute" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">Edge Services</div>
                  <div class="chi-card__caption -text--body -mt--1">APIs to create, delete, and monitor edge instances.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="business-trust-confidence" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">Lumen Channel Partners</div>
                  <div class="chi-card__caption -text--body -mt--1">Integrate service availability, pricing, and business management APIs to create differentiated customer experiences.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="products-cce-dynamic-connections" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">Networking</div>
                  <div class="chi-card__caption -text--body -mt--1">Deliver software-defined networking that intelligently adjusts to real-time capacity, and connects cloud providers.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="platform-connected-security" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">Security</div>
                  <div class="chi-card__caption -text--body -mt--1">Embed hi-fi intelligence, automatic threat detection and proactive response to identify and mitigate cyberattacks.</div>
                </div>
                <div class="chi-link -cta -mt--2">Learn More</div>
              </div>
            </a>
          </div>
          <div class="chi-col -w--12 -w-md--6 -w-lg--4 -w-xl--3 -mb--3">
            <a href="#" class="chi-card -s--1 -rounded -b--base-light -h--100 -hover--animate chi-link -no-hover-underline">
              <div class="-d--flex -align-items--center -justify-content--center -bg--muted-lighter -p--3">
                <chi-marketing-icon icon="business-single-provider" variant="outline"></chi-marketing-icon>
              </div>
              <div class="chi-card__content -p--3 -h--100 -justify-content--between">
                <div class="chi-card__text">
                  <div class="chi-card__title -text--body">Browse All APIs</div>
                  <div class="chi-card__caption -text--body -mt--1">Browse our comprehensive API library</div>
                </div>
                <div class="chi-link -cta -mt--2">Explore All APIs</div>
              </div>
            </a>
          </div>
        </div>
    .chi-tabs-panel#html-category-cards

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-grid__container .chi-tabs'));
    });
