- var defaultMetaDescription = "Chi provides developers with a collection of HTML and CSS patterns to build fast, reusable, and consistent responsive interfaces."

doctype html
html(lang="en")
    head
        if title
            title Chi &middot; #{title}
            if !description
                meta(name="description", content=`${title}. ${defaultMetaDescription}`)
        else
            title Chi &middot; Documentation
            if !description
                meta(name="description", content=`${defaultMetaDescription}`)
        meta(name="viewport", content="width=device-width, initial-scale=1")
        if description
            meta(name="description", content=description)
        link(rel="stylesheet", href=`${rootPath}chi.css`)
        link(rel="stylesheet", href=`${rootPath}assets/styles/chi-docs.css`)
        script(src=`${rootPath}assets/scripts/globalConfigs.js`)
        script(src=`${rootPath}assets/scripts/chiVersionCheck.js`)
        script(src=`${rootPath}js/chi.js`)
        if styles
            each style in styles
                link(rel="stylesheet", media="all", href=`${rootPath}${style}.css`)
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css")

    body.chi.show-grid
      #docs-container.docs-container
        include partials/header

        section.docs-body
            aside.docs-body__aside
                include partials/aside

            .docs-body__content
                section.docs-body__heading
                    include partials/heading
                .a-grid__container.-pt--3
                    != contents
      script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js")
      script(type="text/javascript", src=`${rootPath}assets/scripts/algoliaSearch.js`)
      script(src=`${rootPath}assets/scripts/chi-docs.js`)
      script(src=`${rootPath}chi-icons.js`)

      if scripts
          each script in scripts
              script(type="text/javascript", src=`${rootPath}${script}.js`)
