doctype html
html(lang="en")
    head
        if title
            title Chi &middot; #{title}
        else
            title Chi &middot; Documentation
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href=`${rootPath}chi.css`)
        link(rel="stylesheet", href=`${rootPath}assets/styles/chi-docs.css`)
        script(src=`${rootPath}assets/scripts/globalConfigs.js`)
        script(src=`${rootPath}assets/scripts/chiVersionCheck.js`)
        if styles
            each style in styles
                link(rel="stylesheet", media="all", href=`${rootPath}${style}.css`)
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css")

    body.chi.show-grid
      #docs-container.docs-container
        include partials/header

        section.docs-body
            include partials/aside

            .docs-body__content
              .a-grid__container
                h2= title
                != contents
      script(src=`${rootPath}js/chi.js`)
      script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js")
      script(type="text/javascript", src=`${rootPath}assets/scripts/algoliaSearch.js`)
      script(src=`${rootPath}assets/scripts/chi-docs.js`)
      script(src=`${rootPath}chi-icons.js`)

      if scripts
          each script in scripts
              script(type="text/javascript", src=`${rootPath}${script}.js`)