- var defaultMetaDescription = "Chi is Lumen's design system for building consistent digital products and experiences."

doctype html
html.chi(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        if title
            title Chi - #{title}
            if !description
                meta(name="description", content=`${defaultMetaDescription}`)
        else
            title Chi - Documentation
            if !description
                meta(name="description", content=`${defaultMetaDescription}`)
        if description
            meta(name="description", content=description)
        link(rel="stylesheet", id="chi-css" href=`${rootPath}chi.css`)
        link(rel="stylesheet", id="docs-css" href=`${rootPath}assets/themes/lumen/docs.css`)
        link(rel="icon", id="favicon-svg" type="image/svg+xml", href=`${rootPath}assets/themes/lumen/images/favicon.svg`)
        link(rel="alternate icon", id="favicon-ico" href=`${rootPath}assets/themes/lumen/images/favicon.ico`)
        script(src=`${rootPath}assets/scripts/globalConfigs.js`)
        script(src=`${rootPath}assets/scripts/chiVersionCheck.js`)
        script(src=`${rootPath}js/chi.js`)
        script(type='module' src=`${rootPath}js/ce/ux-chi-ce/ux-chi-ce.esm.js`)
        script(nomodule='' src=`${rootPath}js/ce/ux-chi-ce/ux-chi-ce.js`)
        if styles
            each style in styles
                link(rel="stylesheet", media="all", href=`${rootPath}${style}.css`)
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@docsearch/css@3")

    body.show-grid
      script.
        const pageURL = window.location.href;

        if (pageURL.includes('latest')) {
            const redirectionURL = pageURL.split('latest').join('5.35.0');

            window.location.href = redirectionURL;
        }
      #docs-container.docs-container
        include partials/header
        if nondoc
            main.docs-body.-non-doc
                nav.docs-sidenav
                    include partials/sidenav

                .docs-article
                    header.docs-titlebar
                        include partials/titlebar
                    section.chi-grid__container.-pt--3
                        != contents
                        
        else if wide_container
            main.docs-body.chi-grid__container-wide
                nav.docs-sidenav
                    include partials/sidenav

                article.docs-article
                    header.docs-titlebar
                        include partials/titlebar
                    section.chi-grid__container.-pt--3
                        != contents
        else
            main.docs-body
                nav.docs-sidenav
                    include partials/sidenav

                article.docs-article
                    header.docs-titlebar
                        include partials/titlebar
                    section.chi-grid__container.-pt--3
                        != contents
      script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/@docsearch/js@3")
      script(type="text/javascript", src=`${rootPath}assets/scripts/algoliaSearch.js`)
      script(src=`${rootPath}assets/scripts/chi-docs.js`)

      if scripts
          each script in scripts
              script(type="text/javascript", src=`${rootPath}${script}.js`)

