---
title: Alert Banners
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

each size in ['default', 'sm', 'lg']
  h4 Default / #{size}
  div(class=`test-banner-${size} -w--100`)
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, icon=val, type='banner', size=`${size === 'default' ? '' : size}`, data-cy=`alert-banner-${type}-${size}`)
        =`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  h4 Centered / #{size}
  div(class=`test-banner-center-${size} -w--100`)
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, icon=val, type='banner', center, size=`${size === 'default' ? '' : size}`, data-cy=`alert-banner-center-${type}-${size}`)
        =`This is ${type === 'info' ? 'an' : 'a'} centered ${type} alert`
  h4 Closable / #{size}
  div(class=`test-banner-dismissible-${size} -w--100`)
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, icon=val, type="banner" closable, size=`${size === 'default' ? '' : size}`, data-cy=`alert-banner-dismissible-${type}-${size}`)
        =`This is a dismissible ${type} alert`
  h4 Titled / #{size}
  div(class=`test-banner-titled-${size} -w--100`)
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, icon=val, type="banner", size=`${size === 'default' ? '' : size}`, data-cy=`alert-banner-titled-${type}-${size}`, title=type)
        =`This is a titled ${type} alert`
