---
title: Alert Bubbles
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

h3 default
div(class=`test-default -w--100`)
  each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
    chi-alert.-m--2(color=type, data-cy=`alert-bubble-default-${type}`)
      chi-icon(size='sm--2', color=type, icon=val)
      = `this is a ${type} message`
    chi-alert.-m--2(color=type, dismissible, data-cy=`alert-bubble-default-${type}-dismiss`)
      chi-icon(size='sm--2', color=type, icon=val)
      = `This is a ${type} alert`
h3 large
div(class=`test-large -w--100`)
  each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
    chi-alert.-titled.-m--2(color=type, size='lg', data-cy=`alert-bubble-large-${type}`)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h5.a-h5= type
        = `this is a ${type} message`
    chi-alert.-titled.-m--2(color=type, size='lg', dismissible, data-cy=`alert-bubble-large-${type}-dismiss`)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h5.a-h5= type
        = `This is a ${type} alert`
