---
title: Alert Toasts
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

- const sizes = ['h6', 'h5', 'h4', 'h3', 'h2', 'h1'];

.test-toast.-w100
  each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
    chi-alert.-m2(type='toast', color=type, data-cy=`alert-toast-${type}`)
      div
        h5.a-h5= type
        = `This is a ${type} alert`

  h2 Has icon
  h3 With a-h1 - a-h6
  each size in sizes
    h4= `a-${size}`
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m2(type='toast', color=type)
        chi-icon(size='sm--2', color=type, icon=val)
        div
          div(class=`a-${size}`)= type
          = `This is a ${type} alert`

  h3 With h1 - h6
  each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
    chi-alert.-m2(type='toast', color=type)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h1= type
        = `This is a ${type} alert`
    chi-alert.-m2(type='toast', color=type)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h2= type
        = `This is a ${type} alert`
    chi-alert.-m2(type='toast', color=type)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h3= type
        = `This is a ${type} alert`
    chi-alert.-m2(type='toast', color=type)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h4= type
        = `This is a ${type} alert`
    chi-alert.-m2(type='toast', color=type)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h5= type
        = `This is a ${type} alert`
    chi-alert.-m2(type='toast', color=type)
      chi-icon(size='sm--2', color=type, icon=val)
      div
        h6= type
        = `This is a ${type} alert`
