---
title: Drawer
styles:
  - assets/styles/drawer-ce
scripts:
  - js/ce/ux-chi-ce
---
- var sides = ['top', 'right', 'bottom', 'left'];
- var versions = [{"title": "no-backdrop", "backdrop": false, "testClass": "test-"}, {"title": "backdrop", "backdrop": true, "testClass": "test-backdrop-"}, {"title": "inverse backdrop", "backdrop": "inverse", "testClass": "test-backdrop-inverse-"} ];

.docs-container
  each side in sides
    each version in versions

      div(class=`${version.testClass}${side} -mb--3 example`)
        div(style='width: 320px;')
          .a-h2= `Drawer / ${version.title} / ${side}`
          div.-position--relative.-z--0(style='height: 20rem;')
            chi-drawer(position=side, backdrop=version.backdrop, active, collapsible, headless, data-cy=`${version.testClass}${side}`)
              .-px--2.-text Drawer content here

      div(class=`${version.testClass}${side}-headed -mb--3 example`)
        div(style='width: 320px;')
          .a-h2= `Drawer / with head / ${version.title} / ${side}`
          div.-position--relative.-z--0(style='height: 20rem;')
            chi-drawer(position=side, backdrop=version.backdrop, active, collapsible, data-cy=`${version.testClass}${side}-headed`)
              .-px--2.-text Drawer content here
