---
title: Drawer
styles:
  - assets/styles/drawer-ce
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

- var sides = ['top', 'right', 'bottom', 'left'];
- var versions = [{"title": "no-backdrop", "backdrop": false, "testClass": "test-"}, {"title": "backdrop", "backdrop": true, "testClass": "test-backdrop-"}, {"title": "inverse backdrop", "backdrop": "inverse", "testClass": "test-backdrop-inverse-"} ];

.docs-container
  each side in sides
    each version in versions

      div(class=`${version.testClass}${side} -mb--3 example`)
        div(style='width: 320px;')
          .a-h2= `Drawer / ${version.title} / ${side}`
          div.-position--relative.-z--0(style='height: 20rem;')
            chi-drawer(position=side, backdrop=version.backdrop, active, collapsible, headless, data-cy=`${version.testClass}${side}`)
              .-px--2.-text Drawer content here

      div(class=`${version.testClass}${side}-headed -mb--3 example`)
        div(style='width: 320px;')
          .a-h2= `Drawer / with head / ${version.title} / ${side}`
          div.-position--relative.-z--0(style='height: 20rem;')
            chi-drawer(position=side, backdrop=version.backdrop, active, collapsible, data-cy=`${version.testClass}${side}-headed`)
              .-px--2.-text Drawer content here

      div(class=`${version.testClass}${side}-with-title -mb--3 example`)
        div(style='width: 320px;')
          .a-h2= `Drawer / with title / ${version.title} / ${side}`
          div.-position--relative.-z--0(style='height: 20rem;')
            chi-drawer(position=side, header-title="Drawer title here", backdrop=version.backdrop, active, collapsible, data-cy=`${version.testClass}${side}-with-title`)
              .-px--2.-text Drawer content here
