---
title: Dropdown
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')

- var positions = ['top', 'right', 'bottom', 'left', 'top-start', 'top-end', 'right-start', 'right-end', 'bottom-start', 'bottom-end', 'left-start', 'left-end'];
- var methods = ['toggle', 'show', 'hide']
- var events = ['show', 'hide', 'keydown', 'item-selected']
- var colors = ["primary", "secondary", "danger", "dark", "light" ]
- var variants = ["", "outline", "flat"]
- var sizes = [ "xs", "sm", "md", "lg", "xl" ]

.-mt--5(style='width: 500px; height: 500px;')
  span.-text--h2=`Base`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(data-cy="base-dropdown" active='false' button=`Base`)
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

.-mt--5(style='width: 500px; height: 500px;')
  span.-text--h2=`Visible Items`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(data-cy="visible-items-dropdown" active='false' visible-items='3' button=`Visible Items`)
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 3
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 4
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 5

.-mt--5(style='width: 500px; height: 500px;')
  span.-text--h2=`Hover`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(data-cy="hover-dropdown" active='false' hover='true' button=`Hover`)
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

.-mt--5(style='width: 500px; height: 500px;')
  span.-text--h2=`Animate`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(data-cy="animate-dropdown" active='false' button=`Animate` animate-chevron='true')
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

each position in positions
  .-mt--5(class=`test-${position}` style='width: 500px; height: 500px;')
    span.-text--h2=`Position - ${position}`
    .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
      chi-dropdown(data-cy=`position-dropdown-${position}` active='false' position=`${position}` button=`${position}`)
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

each method in methods
  .-mt--5(class=`test-${method}` style='width: 500px; height: 500px;')
    span.-text--h2=`Method - ${method}`
    .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
      chi-dropdown(id=`test-${method}-dropdown` data-cy=`method-dropdown-${method}` position="bottom" prevent-auto-hide=method == 'hide' ? true : false active=method == 'hide' ? true : false)
        chi-button(
          alternative-text="Button action"
          id=`test-${method}-trigger`
          slot="trigger"
          type="icon"
          variant="flat")
          chi-icon(icon="more-vert")
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

each position in positions
  .-mt--5(class=`test-${position}` style='width: 500px; height: 500px;')
    span.-text--h2 Hover - #{position}
    .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
      chi-dropdown(position=position active hover button=`Test hover - ${position}`)
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

each event in events
  .-mt--5(class=`test-${event}` style='width: 500px; height: 500px;')
    span.-text--h2=`Event - ${event}`
    .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
      chi-dropdown(id=`test-event-${event}-dropdown` data-cy=`event-dropdown-${event}` button=`event-${event}` prevent-auto-hide=event == 'hide' ? true : false active=event == 'hide' ? true : false)
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 3

.test-dropdown-reference.-mt--5(style='width: 500px; height: 500px;')
  span.-text--h2 External Reference
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-button#test-reference-trigger Test external reference
    chi-dropdown#test-reference-dropdown(position="bottom" reference="#test-reference-trigger")
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

.test-nesting.-d--flex.-mt--5(style='width: 500px; height: 500px;')
  span.-text--h2 Multi-level referencing
  chi-dropdown#test-nesting-dropdown(active position="bottom" prevent-auto-hide)
    a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
    a.chi-dropdown__menu-item#test-nesting-level-2(href='#' slot='menu') Hover me

chi-dropdown#dropdown-level-3(position="right-start" reference="#test-nesting-level-2" prevent-auto-hide)
  a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
  a.chi-dropdown__menu-item#test-nesting-level-3(href='#' slot='menu') Hover me

chi-dropdown#dropdown-level-4(position="right-start" reference="#test-nesting-level-3" prevent-auto-hide)
  a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
  a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

.test-dropdown-variants-color.-mt--5(style='width: 1000px; height: 400px;')
  span.-text--h2 Variant and color
  each variant in variants
    .-d--flex.-flex--row.-justify-content--around.-mt--5.-text--center=`Variant ${variant}`
      each color in colors
        chi-dropdown(id=`test-variant-${variant}-color-${color}-dropdown` button=`${color}${variant ? '-' + variant : ''}` color=color variant=variant)
          a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
          a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
          a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 3

.test-dropdown-button-sizes.-mt--5(style='width: 1000px;')
  span.-text--h2=`Button sizes`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--around
    each size in sizes
      chi-dropdown(id=`test-size-${size}-dropdown` button=`Size-${size}` size=size)
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
        a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 3

.test-dropdown-button-disabled.-mt--5(style='width: 200px; height: 200px;')
  span.-text--h2=`Disabled`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(disabled button="Disabled")
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

.test-dropdown-button-uppercase.-mt--5(style='width: 500px; height: 200px;')
  span.-text--h2=`Uppercase text`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(uppercase button="This text is uppercased")
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2

.test-dropdown-button-font-weight.-mt--5(style='width: 500px; height: 200px;')
  span.-text--h2=`Font weight`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(data-cy="font-weight-dropdown" font-weight="normal" active='false' button=`This text has normal font weight`)
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 3

.test-dynamic-dropdown.-mt--5(style='width: 500px; height: 200px;')
  span.-text--h2=`Dynamic dropdown`
  .-w--100.-h--100.-d--flex.-align-items--center.-justify-content--center
    chi-dropdown(uppercase button="Dynamic dropdown" data-cy="dynamic-dropdown")
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Menu item 2
    .-ml--2
      chi-button(data-cy="add-items-btn") Add items


script.
  const multiLevelDropdowns = [
    {trigger: '#test-nesting-level-2', dropdown: '#dropdown-level-3'},
    {trigger: '#test-nesting-level-3', dropdown: '#dropdown-level-4'},
  ];
  const referenceDropdownTrigger = document.getElementById('test-reference-trigger');
  const referenceDropdown = document.getElementById('test-reference-dropdown');
  let isReferenceDropdownActive = false;


  Array.prototype.forEach.call(multiLevelDropdowns, function(dropdownData){
    const trigger = document.querySelector(dropdownData.trigger);
    const dropdown = document.querySelector(dropdownData.dropdown);

    trigger.addEventListener('mouseenter', function() {
      dropdown.show();
    });
  });

  referenceDropdownTrigger.addEventListener('chiClick', function() {
    if (isReferenceDropdownActive) {
      referenceDropdown.hide();
    } else {
      referenceDropdown.show();
    }

    isReferenceDropdownActive = !isReferenceDropdownActive;
  });

  document.querySelector("[data-cy='add-items-btn']").addEventListener('click', () => {
    const newItem = document.createElement('a');
    
    newItem.setAttribute('slot', 'menu');
    newItem.innerText = 'New item'
    newItem.classList.add('chi-dropdown__menu-item');
    document.querySelector('.test-dynamic-dropdown chi-dropdown').appendChild(newItem);
  });
