---
title: Form Wrapper
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')

- var layouts = ['inline', 'stacked']
- var labels = ['', 'Some useful label']
- var types = ['checkbox', 'radio']
- var states = ['', 'success', 'warning', 'danger']

.test-form-wrapper-checkboxes.-mt--5(style='width: 700px; height: 650px;')
  each layout in layouts
    each label in labels
      div.-text--h3=`Checkboxes ${layout} layout ${label ? 'whith' : 'without'} label`
      chi-form-wrapper.p--3(type="checkbox" label=`${label}` layout=`${layout}` data-cy=`checkboxes-${layout}${label ? '-with-label' : ''}`)


.test-form-wrapper-radio-buttons.-mt--5(style='width: 700px; height: 650px;')
  each layout in layouts
    each label in labels
      div.-text--h3=`Radios ${layout} layout ${label ? 'whith' : 'without'} label`
      chi-form-wrapper.p--3(type="radio" label=`${label}` layout=`${layout}` data-cy=`radios-${layout}${label ? '-with-label' : ''}`)

.test-form-wrapper-states.-mt--5
  .-text--h2 Form wrapper states
  each type in types 
    each layout in layouts
      each label in labels
        .chi-grid
          each state in states
            .chi-col.-w--3
              .-text-h5.-text--center=`${type} ${layout} layout ${label ? 'whith' : 'without'} label: state ${state || 'default'}`
              .-b--1.-b--primary
                chi-form-wrapper.-p--3(type=`${type}` label=`${label}` layout=`${layout}` state=`${state}` helper-message="Help me please")

script. 
  const checkboxes = [
    {label: 'Checkbox 1', name: 'ck-1'},
    {label: 'Checkbox 2', name: 'ck-2', checked: true},
    {label: 'Checkbox 3', name: 'ck-3', disabled: true},
    {label: 'Checkbox 4', name: 'ck-4', checked: 'indeterminate'},
  ];
  const radios = [
    {label: 'Radio 1', name: 'radio'},
    {label: 'Radio 2', name: 'radio', checked: true},
    {label: 'Radio 3', name: 'radio', disabled: true},
    {label: 'Radio 4', name: 'radio'},
  ];

  [...document.querySelectorAll('chi-form-wrapper[type="checkbox"]')].forEach(el => {
    el.options = checkboxes.map(i => ({...i}));
  });

  [...document.querySelectorAll('chi-form-wrapper[type="radio"]')].forEach((el, index) => {
    el.options = radios.map(i => ({...i, name: `${i.name}-${index}`}));
  })
  


