---
title: Icons
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

- var sizes = ['xs', 'sm', 'sm--2', 'sm--3', 'md', 'lg', 'xl', 'xxl'];
- var icons = ['activity', 'address-book', 'arrow-down', 'arrow-left', 'arrow-right', 'arrow-up', 'arrow-sync', 'arrow-to-bottom', 'arrow-vertical', 'arrows', 'asterisk', 'atom', 'attachment', 'autopay', 'ban', 'bank', 'bell-off-outline', 'bell-off', 'bell-outline', 'bell', 'box-application', 'box-cloudformation', 'box-container', 'box-deployment', 'box-fill', 'box-outline', 'box-script', 'box', 'cart-alt', 'cart-outline', 'cart', 'chart-bar', 'chart-line', 'chart-pie', 'chat', 'check-alt', 'check', 'checkbox-checked', 'checkbox', 'chevron-down', 'chevron-left', 'chevron-right', 'chevron-up', 'circle-alert-outline', 'circle-alert', 'circle-arrow-down-outline', 'circle-arrow-down', 'circle-arrow-up-outline', 'circle-arrow-up', 'circle-check-outline', 'circle-check', 'circle-clock-outline', 'circle-clock', 'circle-code-outline', 'circle-code', 'circle-gear-outline', 'circle-gear', 'circle-info-outline', 'circle-info', 'circle-minus-outline', 'circle-minus', 'circle-outline', 'circle-play-outline', 'circle-play', 'circle-plus-outline', 'circle-plus', 'circle-question-outline', 'circle-question', 'circle-reload-outline', 'circle-reload', 'circle-stop-outline', 'circle-stop', 'circle-user', 'circle-warning', 'circle-x-outline', 'circle-x', 'circle', 'cloud', 'comment-dots-outline', 'comment-dots', 'comment-outline', 'comment', 'comments-dots-outline', 'comments-dots', 'comments-outline', 'comments', 'cost', 'database-outline', 'database', 'date', 'delete', 'edit', 'edit-cancel', 'external-link', 'file-error-outline', 'file-invoice', 'file-outline', 'file', 'filter', 'flag', 'folder-gear', 'folder-open', 'folder', 'globe-network', 'globe-outline', 'grid', 'handshake', 'heart', 'home-outline', 'home', 'inbox', 'key', 'life-ring', 'link', 'list', 'lock-outline', 'lock', 'logo-amazon', 'logo-aws', 'logo-azure', 'logo-centurylink', 'logo-cloudstack', 'logo-dimensiondata', 'logo-facebook', 'logo-github', 'logo-google', 'logo-hp', 'logo-linkedin', 'logo-linux', 'logo-openstack', 'logo-rackspace', 'logo-slack', 'logo-twitter', 'logo-vcloud', 'logo-vsphere', 'logo-youtube', 'logout', 'mail-outline', 'mail', 'map-marker-alt', 'map-marker', 'map-marker-outline', 'menu', 'microphone-mute', 'microphone', 'minus-alt', 'minus', 'more-vert', 'more', 'nodes', 'number', 'page-first', 'page-last', 'paste', 'pause', 'phone', 'play', 'plus-alt', 'plus', 'print', 'radio-checked', 'radio', 'refresh', 'rocket', 'search', 'settings', 'share', 'shield', 'square-minus-outline', 'square-minus', 'square-plus-outline', 'square-plus', 'star-outline', 'star', 'stop', 'sync', 'tag-outline', 'tag', 'text', 'thumbtack-angle', 'ticket-wrench', 'triangle-down', 'triangle-left', 'triangle-right', 'triangle-up', 'user-outline', 'user', 'users', 'verified', 'video-camera-mute', 'video-camera', 'visible-off', 'visible', 'voip', 'warning', 'wifi-outline', 'wifi', 'wrench', 'x-alt', 'x'];
- var colors = ['', 'primary','success','warning','danger','inverse','muted','light', 'secondary', 'grey'];

h2 Single icon
.test-single
  .chi-grid
    .chi-col.-w--2.-d--flex.-align-items--center
      chi-icon(icon="atom", data-cy='icon-single')

h2 Sizes
.test-sizes
  .chi-grid
    each size in sizes
      .chi-col.-w--1.-o--1.-d--flex.-align-items--center
        h4= size
      .chi-col.-w--2.-d--flex.-align-items--center
        chi-icon(icon="atom", size=size, data-cy=size==='xl'?'icon-size':false)

h2 Colors
.test-colors
  .chi-grid
    each color in colors
      .chi-col.-w--1.-o--1.-d--flex.-align-items--center
        h4= color
      .chi-col.-w--2.-d--flex.-align-items--center
        chi-icon(icon="atom", size='lg', color=color, data-cy=color==='primary'?'icon-color':false)

h2 Icons
.test-icons
  .chi-grid(data-cy='icon-list')
    each name in icons
      .chi-col.-w--2.-o--1.-text--center
        chi-icon(icon=name, size="sm")
        h4= 'icon-' + name
