---
title: Popover
styles:
  - assets/styles/popover-ce
scripts:
  - js/ce/ux-chi-ce
---
- var sides = ['top', 'right', 'bottom', 'left'];
- var moreSides = ['top', 'top-start', 'top-end', 'right', 'right-start', 'right-end', 'bottom', 'bottom-start', 'bottom-end', 'left', 'left-start', 'left-end'];

.test-base(style='width: 220px; height: 220px;', data-cy="test-base")
  span.a-h2 Base
  div.-position--relative
    chi-popover(active)
      .-px--2.-py--1.-s--3
        h5 Popover!
        p This is a popover content.

each side in sides
  div(class=`test-${side}`, style='width: 330px; height: 220px;', data-cy=`test-${side}`)
    span.a-h2=`Simple side ${side}`
    .-position--relative
      chi-popover(position=side, active, arrow)
        .-px--2.-py--1.-s--3
          h5 Popover!
          p This is a popover content.

each side in moreSides
  div.-position--relative(class=`test-more-${side}`, data-cy=`test-more-${side}`)
    span.a-h2=`Popper side ${side}`
    .-d--flex.-justify-content--center.-align-items--center(style="margin: 120px 220px;")
      button(id=side).a-btn Popover
    chi-popover(position=side, arrow, reference=`#${side}`, active)
      .-px--2.-py--1.-s--3
        h5 Popover!
        p This is a popover content.
