---
title: Progress
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

each max in ['100', '200']
  each state, index in ['default', 'danger', 'info', 'warning', 'success']
    div(class=`test-${state}-max-${max}`)
      .example(style='width:1200px')
        .-p--3
          h3.-mb--3= `Progress / ${state} / ${max}`
          each value, index in [0,25,33.3,50,75,100]
            .-p--1
              .chi-label= `${value}%`
              chi-progress(state=`${state === 'default' ? '' : state}`, max=max, value=value, data-cy=`progress-${value}-${state}-max-${max}`)
