---
title: Search input
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')

- var statuses = ['initial', 'hover', 'focus']
- var sizes = ['default', 'xs', 'sm', 'md', 'lg', 'xl']

each size in sizes
  div(class=`test-${size}`)
    span.-text--h2= `Text Input / ${size}`
    table(cellpadding='0', cellspacing='0', width='600px')
      each status in statuses
        tr
          td
            small= `${status}`
          td
            .-m--1
              .chi-form__item.-row
                .chi-input__wrapper.-icon--right
                  chi-search-input(
                    _status= status,
                    size= size != 'default' && size,
                    value='Value')

.test-autocomplete
  h2 Search Input - Autocomplete
  .chi-form__item
    chi-search-input(id="autocomplete", mode="autocomplete", data-cy="autocomplete")

.test-autocomplete-no-menu-items
  h2 Search Input - Autocomplete with no menu items
  .chi-form__item
    chi-search-input(id="autocomplete-no-menu-items", mode="autocomplete", data-cy="autocomplete-no-menu-items")

script.
  document.addEventListener('DOMContentLoaded', () => {
    const autocompleteElement = document.querySelector('#autocomplete');

    autocompleteElement.menuItems = [
      { title: "Item 1", href: "#" },
      { title: "Item 2", href: "#" },
      { title: "Item 3", href: "#" },
      { title: "Item 4", href: "#" },
      { title: "Item 5", href: "#" }
    ];
  });
