---
title: Spinner
scripts:
  - js/ce/ux-chi-ce
---
h2 Backdrop

h3 Base
.example.-mb--3(style="height:30rem;width:100%")
  .-p--6(style="position:relative;height:100%;")
    chi-spinner(color='inverse', backdrop)

h3 Inverse Backdrop
.example.-mb--3(style="height:30rem;width:100%")
  .-p--6(style="position:relative;height:100%;")
    chi-spinner(color='primary', backdrop='inverse')

h2 Contextual

h3 Spinner Buttons
.example.-mb--3
  .-p--3
    chi-button(class='-mr--3')
      span Button
      chi-spinner(color='muted')
    chi-button(class='-mr--3', size='sm')
      span Small
      chi-spinner(color='muted', size='xs')
    chi-button(class='-mr--3', size='lg')
      span Large
      chi-spinner(color='muted', size='sm--2')

h2 Sizes
.test-sizes
  .a-grid
    each size in ['xs', 'sm', 'sm--2', 'sm--3', 'md', 'lg', 'xl', 'xxl']
      .a-col.-w--1.-o--1.-middle
        h4= `-${size}`
      .a-col.-w--2.-middle
        chi-spinner(color='muted', size=size)

h2 Colors
.test-colors
  .a-grid.-align-items--center
    each type in ['primary', 'success', 'warning', 'danger', 'info', 'muted', 'secondary', 'light']
      div.-p--2
        chi-spinner(color=type, class='-m--3', size='lg')
        p.-text(class=`-text--${type}`)
          = `-text--${type}`
