aside.docs-body__aside
  nav
    ul.a-tabs.-vertical.-large
      li(class=path === '' ? '-active' : '')
        a(href=`${rootPath}index.html`) Getting started

      each collection, key in collections
        if utils.hasActiveSections(collection)
          if utils.isCurrentCollection(collection, path)
            li.-active
              a(href=`${rootPath}${utils.getFirstClickableSection(collection).path}/index.html`) #{key}
              if utils.hasSections(collection)
                ul.a-tabs__subtabs
                  each section in collection
                    if section.disabled
                      //- li
                      //-   a(href=`${rootPath}${section.path}/index.html`, disabled="disabled") #{section.title}
                    else
                      li(class=section.path === path ? "-active" : "")
                        a(href=`${rootPath}${section.path}/index.html`) #{section.title} #{section.disabled}
          else
            li
              a(href=`${rootPath}${utils.getFirstClickableSection(collection).path}/index.html`) #{key}
        else
          li
              a(href=`#`, disabled="disabled") #{key}
