aside.docs-body__aside
  nav
    ul.a-tabs.-vertical.-border.-large
      li(class=path === '' ? 'c-tab--active' : '')
        a(href='/') Getting started

      each collection, key in collections
        if utils.hasActiveSections(collection)
          if utils.isCurrentCollection(collection, path)
            li.-active
              a(href=`/${utils.getFirstClickableSection(collection).path}`) #{key}
              if utils.hasSections(collection)
                ul.a-tabs__subtabs
                  each section in collection
                    li(class=section.path === path ? "-active" : "")
                      if section.disabled
                        a(href=`/${section.path}`, disabled="disabled") #{section.title}
                      else
                        a(href=`/${section.path}`) #{section.title} #{section.disabled}
          else
            li
              a(href=`/${utils.getFirstClickableSection(collection).path}`) #{key}
        else
          li
              a(href=`#`, disabled="disabled") #{key}
