---
title: Color
---

p.-text Use shorthand color utility classes to quickly apply or remove a background color.

h2 Notation
p.-text
  | Color utility classes can be defined using the format <code>-bg-{breakpoint}--{value}</code>.
  | Breakpoints supported are <code>sm</code>, <code>md</code>, <code>lg</code>, and <code>xl</code>.

h3 Target all breakpoints
p.-text Color utility classes with no breakpoint defined apply to all screen sizes.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Color Class
          th
            div Value
          th
            div Result
      tbody
        each val, type in {'none':'none', 'primary': '#0047BB', 'secondary': '#48D597', 'white': '#FFFFFF', 'black': '#000000', 'muted': '#72767A', 'grey': '#53565A', 'grey-10': '#F8F9F9', 'grey-20': '#EDF0F2', 'grey-30': '#D0D4D9', 'teal': '#03808C', 'success': '#097A49', 'warning': '#854E03','danger': '#B50D12'}
          tr
            td(width='25%')
              code= '-bg--' + type
            td(width='35%')
              if (type == 'none')
                code= 'background: none;'
              else
                code= 'background-color:' + val
            td(width='40%')
              if (type == 'none')
                .-text.-b--1(style=`background:${val};height:15px;`)
              else
                .-text.-b--1(style=`background-color:${val};height:15px;`)

h3 Target specific breakpoints
p.-text To target a specific breakpoint, add the breakpoint abbreviation to the class.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Color Class
          th
            div Value
      tbody
        each size in ['sm', 'md', 'lg', 'xl']
          each type in ['none', 'primary', 'secondary', 'white', 'black', 'muted', 'grey', 'grey-10', 'grey-20', 'grey-30', 'teal', 'success', 'warning', 'danger']
            tr
              td.-text(width='40%')
                code= '-bg-' + size + '--' + type
              td.-text Visible only from <code>#{size}</code>

h2 Examples
.example.-mb--3
  .-p--3
    .-text.-b--1.-p--3.-m--1.-bg--primary(style="color:white;") -bg--primary
    .-text.-b--1.-p--3.-m--1.-bg-sm--secondary(style="color:black;") -bg-sm--secondary
    .-text.-b--1.-p--3.-m--1.-bg-md--warning(style="color:white;") -bg-md--warning
    .-text.-b--1.-p--3.-m--1.-bg-lg--danger(style="color:white;") -bg-lg--danger
    .-text.-b--1.-p--3.-m--1.-bg-xl--black(style="color:white;") -bg-xl--black
    .-text.-b--1.-p--3.-m--1.-bg--none(style="color:black;") -bg--none
  :code(lang="html")
    <!-- background-color primary on all breakpoints -->
    <div class="-bg--primary"></div>
    <!-- background-color secondary from sm -->
    <div class="-bg-sm--secondary"></div>
    <!-- background-color warning from md -->
    <div class="-bg-md--warning"></div>
    <!-- background-color danger from lg -->
    <div class="-bg-lg--danger"></div>
    <!-- background-color black from xl -->
    <div class="-bg-xl--black"></div>
    <!-- background none on all breakpoints -->
    <div class="-bg--none"></div>
