---
title: Sizing
description: Use responsive sizing utility classes to quickly apply widths and heights on elements.
styles: [assets/styles/show-example]
---

h2 Notation
p.-text
  | Sizing utility classes can be defined using the format <code>-w-{breakpoint}--{value}</code> for widths and
  | <code>-h-{breakpoint}--{value}</code> for heights.
  | Breakpoints supported are <code>sm</code>, <code>md</code>, <code>lg</code>, and <code>xl</code>.

h2 Width
h3 Target all breakpoints
p.-text Sizing utility classes with no breakpoint defined apply to all screen sizes.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Sizing Class
          th
            div Value
      tbody
        each type in ['auto', '25', '50', '75', '100']
          tr
            td(width='40%')
              code= '-w--' + type
            td
              if (type == 'auto')
                code= 'width: ' + type + ';'
              else
                code= 'width: ' + type + '%;'

h3 Target specific breakpoints
p.-text To target a specific breakpoint, add the breakpoint abbreviation to the class.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Sizing Class
          th
            div Value
      tbody
        each type in ['sm', 'md', 'lg', 'xl']
          each size in ['auto', '25', '50', '75', '100']
            tr
              td.-text(width='40%')
                code= '-w-' + type + '--' + size
              td.-text Visible only from <code>#{type}</code>

h2 Examples
.example.-mb--3
  .-p--3.-show--example
    .-text.-p--3.-m--1.-w--auto -w--auto
    .-text.-p--3.-m--1.-w--25 -w--25
    .-text.-p--3.-m--1.-w--50 -w--50
    .-text.-p--3.-m--1.-w-md--75 -w-md--75
    .-text.-p--3.-m--1.-w-xl--50 -w-xl--50
  :code(lang="html")
    <!-- width auto on all breakpoints -->
    <div class="-w--auto"></div>
    <!-- width 25% on all breakpoints -->
    <div class="-w--25"></div>
    <!-- width 50% on all breakpoints -->
    <div class="-w--50"></div>
    <!-- width 75% from md -->
    <div class="-w-md--75"></div>
    <!-- width 50% from xl -->
    <div class="-w-xl--50"></div>

h2 Height
h3 Target all breakpoints
p.-text Sizing utility classes with no breakpoint defined apply to all screen sizes.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Sizing Class
          th
            div Value
      tbody
        each type in ['auto', '25', '50', '75', '100']
          tr
            td(width='40%')
              code= '-h--' + type
            td
              if (type == 'auto')
                code= 'height: ' + type + ';'
              else
                code= 'height: ' + type + '%;'

h3 Target specific breakpoints
p.-text To target a specific breakpoint, add the breakpoint abbreviation to the class.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Sizing Class
          th
            div Value
      tbody
        each type in ['sm', 'md', 'lg', 'xl']
          each size in ['auto', '25', '50', '75', '100']
            tr
              td.-text(width='40%')
                code= '-h-' + type + '--' + size
              td.-text Visible only from <code>#{type}</code>

h2 Examples

.example.-mb--3
  .-p--3.-d--flex.-flex--row.-justify-content--around.-show--example(style="height: 500px;")
    .-text.-p--5.-m--1.-h--25 -h--25
    .-text.-p--5.-m--1.-h--50 -h--50
    .-text.-p--5.-m--1.-h-md--75 -h-md--75
    .-text.-p--5.-m--1.-h-xl--50 -h-xl--50
    .-text.-p--5.-m--1.-h-lg--25 -h-lg--25
  :code(lang="html")
    <!-- height auto on all breakpoints -->
    <div class="-h--auto"></div>
    <!-- height 25% on all breakpoints -->
    <div class="-h--25"></div>
    <!-- height 50% on all breakpoints -->
    <div class="-h--50"></div>
    <!-- height 75% from md -->
    <div class="-h-md--75"></div>
    <!-- height 50% from xl -->
    <div class="-h-xl--50"></div>
    <!-- height 25% from lg -->
    <div class="-h-lg--25"></div>

h3 Maximum width/height
p.-text Using the format <code>-mw--{value}</code> for max-width and <code>-mh--{value}</code> for max-height
section.a-table.-bordered.-mt--3.-mb--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Sizing Class
          th
            div Value
      tbody
        each type in ['100', '480', '640', '720', '960', '980']
          tr
            td(width='40%')
              code= '-mw--' + type
            td
              if (type != 100)
                code= 'max-width: ' + type + 'px;'
              else
                code= 'max-width: ' + type + '%;'
        each type in ['100', '400', '480']
          tr
            td(width='40%')
              code= '-mh--' + type
            td
              if (type != 100)
                code= 'max-height: ' + type + 'px;'
              else
                code= 'max-height: ' + type + '%;'
