---
title: Z-index
description: Use z-index utility classes to control the index of your elements in the z dimension. When two elements overlap each other, z-index establishes what element overlaps the other. Usually elements with larger z-index overlap elements with smaller ones.
---
-
  var indexes = {
    '0':    {color: '-bg--black',    margin: 1, text: 'Initial value'},
    '1':    {color: '',              margin: 0, text: 'Prominent elements (E.g. focused buttons)'},
    '10':   {color: '-bg--danger',   margin: 2, text: 'Dropdowns'},
    '20':   {color: '-bg--warning',  margin: 3, text: 'Fixed elements (E.g. drawer)'},
    '30':   {color: '-bg--success',  margin: 4, text: 'Backdrops'},
    '40':   {color: '-bg--secondary', margin: 5, text: 'Fixed elements with backdrop (E.g. drawer with backdrop)'},
    '50':   {color: '-bg--grey-20',  margin: 6, text: 'Modals'},
    '60':   {color: '-bg--grey-10',  margin: 7, text: 'Popovers'},
    '70':   {color: '-bg--primary',    margin: 8, text: 'Tooltips'},
    'auto': {color: '',              margin: 0, text: '-'}
  }

h2 Supported values
section.a-table.-sm
  div
    table
      thead
        tr
          th
            div Class name
          th
            div z-index value
          th
            div Used in
      tbody
        each value, index in indexes
          tr
            td
              code=`-z--${index}`
            td=index
            td=value.text

h2 Example
.example.-mb--3
  .-p--3
    .-position--relative(style='height:20rem')
      each value, index in indexes
        if value.color !== ''
          div(class=`-position--absolute -z--${index} ${value.color} -text--center -text--white -text--bold`, style=`width:11rem;height:11rem;top:${value.margin}rem;left:${value.margin}rem;line-height:11rem;`)
            =`-z--${index}`
  :code(lang="html")
    <div class="-position--relative">
      <div class="-position--absolute -z--0  -bg--black">-z--0</div>
      <div class="-position--absolute -z--10 -bg--danger">-z--10</div>
      <div class="-position--absolute -z--20 -bg--warning">-z--20</div>
      <div class="-position--absolute -z--30 -bg--success">-z--30</div>
      <div class="-position--absolute -z--40 -bg--green-40">-z--40</div>
      <div class="-position--absolute -z--50 -bg--grey-20">-z--50</div>
      <div class="-position--absolute -z--60 -bg--grey-10">-z--60</div>
      <div class="-position--absolute -z--70 -bg--primary">-z--70</div>
    </div>
