---
title: Buttons
---
img(inline src='src/assets/images/icon-workspace.svg')

h3 Description

p.-text
  | Use buttons as triggers for actions. Try to avoid the usage of buttons for navigation and use links for that purpose
  | instead.

h3 Button styles

h4 Default buttons
.-mb4
  each type in ['solid', 'outline', 'flat']
    button(class=`a-btn -${type} -mr1`)= type
    button(class=`a-btn -${type} -icon -mr1`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')
  button(class=`a-btn -float`)
    .a-btn__content
      .a-icon
        svg
          use(xlink:href='#workspace')

  :code(lang='html')
    <button class="a-btn -solid">solid</button>

    <button class="a-btn -icon -solid">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -outline">outline</button>

    <button class="a-btn -icon -outline">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -flat">flat</button>

    <button class="a-btn -icon -flat">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -float">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Primary buttons
.-mb4
  each type in ['solid', 'outline', 'flat']
    button(class=`a-btn -primary -${type} -mr1`)= type
    button(class=`a-btn -primary -${style} -${type} -icon -mr1`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')
  button(class=`a-btn -primary -float`)
    .a-btn__content
      .a-icon
        svg
          use(xlink:href='#workspace')

  :code(lang='html')
    <button class="a-btn -primary -solid">solid</button>

    <button class="a-btn -primary -icon -solid">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -primary -outline">outline</button>

    <button class="a-btn -primary -icon -outline">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -primary -flat">flat</button>

    <button class="a-btn -primary -icon -flat">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -primary -float">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Danger buttons
.-mb4
  each type in ['solid', 'outline', 'flat']
    button(class=`a-btn -danger -${type} -mr1`)= type
    button(class=`a-btn -danger -${type} -icon -mr1`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')
  button(class=`a-btn -danger -primary -float`)
    .a-btn__content
      .a-icon
        svg
          use(xlink:href='#workspace')

  :code(lang='html')
    <button class="a-btn -danger -solid">solid</button>

    <button class="a-btn -danger -icon -solid">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -danger -outline">outline</button>

    <button class="a-btn -danger -icon -outline">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -danger -flat">flat</button>

    <button class="a-btn -danger -icon -flat">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -danger -float">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Info buttons
.-mb4
  each type in ['solid', 'outline', 'flat']
    button(class=`a-btn -info -${type} -mr1`)= type
    button(class=`a-btn -info -${type} -icon -mr1`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')
  button(class=`a-btn -info -primary -float`)
    .a-btn__content
      .a-icon
        svg
          use(xlink:href='#workspace')

  :code(lang='html')
    <button class="a-btn -info -solid">solid</button>

    <button class="a-btn -info -icon -solid">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -info -outline">outline</button>

    <button class="a-btn -info -icon -outline">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -info -flat">flat</button>

    <button class="a-btn -info -icon -flat">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -info -float">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Dark buttons
.-mb4
  each type in ['solid', 'outline', 'flat']
    button(class=`a-btn -dark -${type} -mr1`)= type
    button(class=`a-btn -dark -${type} -icon -mr1`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')
  button(class=`a-btn -dark -primary -float`)
    .a-btn__content
      .a-icon
        svg
          use(xlink:href='#workspace')

:code(lang='html')
  <button class="a-btn -dark -solid">solid</button>

  <button class="a-btn -dark -icon -solid">
    <div class="a-btn__content">
      <div class="a-icon">
        <svg>
          <use xlink:href="#workspace"></use>
        </svg>
      </div>
    </div>
  </button>

  <button class="a-btn -dark -outline">outline</button>

  <button class="a-btn -dark -icon -outline">
    <div class="a-btn__content">
      <div class="a-icon">
        <svg>
          <use xlink:href="#workspace"></use>
        </svg>
      </div>
    </div>
  </button>

  <button class="a-btn -dark -flat">flat</button>

  <button class="a-btn -dark -icon -flat">
    <div class="a-btn__content">
      <div class="a-icon">
        <svg>
          <use xlink:href="#workspace"></use>
        </svg>
      </div>
    </div>
  </button>

  <button class="a-btn -dark -float">
    <div class="a-btn__content">
      <div class="a-icon">
        <svg>
          <use xlink:href="#workspace"></use>
        </svg>
      </div>
    </div>
  </button>

h3 Button sizes
.-mb4
  each size in ['small', 'medium', 'large']
    button(class=`a-btn -${size} -mr1`)= size
    button(class=`a-btn -${size} -icon -mr1`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')

  :code(lang='html')
    <button class="a-btn -small">small</button>
    <button class="a-btn -small -icon">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -medium">medium</button>
    <button class="a-btn -medium -icon">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

    <button class="a-btn -large">large</button>
    <button class="a-btn -large -icon">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

H3 Buttons containing icons

h4 Left aligned

.-mb4
  button(class=`a-btn`)
    .a-btn__content
      .a-icon
        svg
            use(xlink:href='#workspace')
      span Button

  :code(lang='html')
    <button class="a-btn">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
        <span>Button</span>
      </div>
    </button>

h4 Right aligned

.-mb4
  button(class=`a-btn`)
    .a-btn__content
      span Button
      .a-icon
        svg
            use(xlink:href='#workspace')

  :code(lang='html')
    <button class="a-btn">
      <div class="a-btn__content">
        <span>Button</span>
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Both sides

.-mb4
  button(class=`a-btn`)
    .a-btn__content
      .a-icon
        svg
            use(xlink:href='#workspace')
      span Button
      .a-icon
        svg
            use(xlink:href='#workspace')

  :code(lang='html')
    <button class="a-btn">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
        <span>Button</span>
        <div class="a-icon">
          <svg>
            <use xlink:href="#workspace"></use>
          </svg>
        </div>
      </div>
    </button>
