---
title: Alert
---

p.-text Alert messages provide contextual feedback for user actions.

h3 Examples
p.-text
  | To render an alert, use the class <code>m-alert</code>.
  | A contextual class (e.g. <code>-warning</code>) is required to provide proper styling.

h4 Base
.example.-mb--3
  .-p--1
    each type in ['success', 'danger', 'warning', 'info', 'muted']
      .m-alert.-bubble.-m--2.-md(class=`-${type}`)
        = `This is a ${type} alert`
  :code(lang="html")
    <div class="m-alert -bubble -success -md" role="alert">This is a success alert</div>
    <div class="m-alert -bubble -danger -md" role="alert">This is a danger alert</div>
    <div class="m-alert -bubble -warning -md" role="alert">This is a warning alert</div>
    <div class="m-alert -bubble -info -md" role="alert">This is an info alert</div>
    <div class="m-alert -bubble -muted -md" role="alert">This is a muted alert</div>

h4 Icons
.example.-mb3
  .-p1
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .m-alert.-bubble.-m2.-md(class=`-${type}`)
        i.a-icon(class =`${val} -text--${type}`)
        = `This is a ${type} alert`
  :code(lang="html")
    <div class="m-alert -bubble -success -md" role="alert">
      <i class="a-icon icon-circle-check -text--success"></i>
      This is a success alert
    </div>
    <div class="m-alert -bubble -danger -md" role="alert">
      <i class="a-icon -icon-circle-warning -text--danger"></i>
      This is a danger alert
    </div>
    <div class="m-alert -bubble -warning -md" role="alert">
      <i class="a-icon icon-warning -text--warning"></i>
      This is a warning alert
    </div>
    <div class="m-alert -bubble -info -md" role="alert">
      <i class="a-icon icon-circle-info -text--info"></i>
      This is a info alert
    </div>
    <div class="m-alert -bubble -muted -md" role="alert">
      <i class="a-icon icon-circle-info -text--muted"></i>
      This is a muted alert
    </div>

h5 Icon Center
p.-text Use the class <code>-center</code> to center the icons.
.example.-mb3
  .-p1
    .m-alert.-bubble.-md.-m2.-center(class=`-info`)
      i.a-icon(class ='icon-circle-info -text--info')
      = `Info alert with centered icon`
  :code(lang="html")
    <div class="m-alert -bubble -md -center -info" role="alert">
      <i class="a-icon icon-circle-info -text--info"></i>
      Info alert with centered icon
    </div>

h4 Sizes
p.-text
  | Apply a <code>-lg</code> or <code>-md</code>  classes to increase the size of the alert.
.example.-mb3
  .-p1
    .m-alert.-bubble.-warning.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-text--warning
        | This is a small warning alert
    .m-alert.-bubble.-md.-warning.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-text--warning
        | This is a medium warning alert
    .m-alert.-bubble.-lg.-titled.-warning.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-sm--2.-text--warning
        div
          h5.a-h5 Warning
          | This is a large warning alert
    .m-alert.-banner.-lg.-titled.-warning.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-sm--2.-text--warning
        div
          h5.a-h5 Warning
          | This is a large warning alert
  :code(lang="html")
    <div class="m-alert -bubble -warning" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-warning -text--warning"></i>
        This is a warning alert
      </div>
    </div>
    <div class="m-alert -bubble -md -warning" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-warning -text--warning"></i>
        This is a warning alert
      </div>
    </div>
    <div class="m-alert -bubble -lg -titled -warning" role="alert">
      <div class="m-alert__content">
        <i class="a-icon -sm--2 icon-warning -text--warning"></i>
        <div>
          <h5 class="a-h5">Warning</h5>
          This is a warning alert
        </div>
      </div>
    </div>

h3 Additional alert types
h4 Banner
p.-text
  | For alerts that stretch the full length of the page, apply the class <code>-banner</code>.
  | This will remove the border-left, border-right, and border-radius from the alert.
  | Banner alerts are commonly used to remind new users to confirm their email address or notify users
  | when they are experiencing connectivity issues.
.example.-mb--3
  .-p--1
    .m-alert.-banner.-center.-success.-md.-m--2
      i.a-icon.icon-circle-check.-text--success
      | This is a success alert
    .m-alert.-banner.-center.-warning.-md.-m--2
      i.a-icon.icon-warning.-text--warning
      | This is a warning alert
    .m-alert.-banner.-center.-danger.-md.-m--2
      i.a-icon.icon-circle-warning.-text--danger
      | This is a danger alert
    .m-alert.-banner.-center.-info.-md.-m--2
      i.a-icon.icon-circle-alert.-text--info
      | This is an info alert
    .m-alert.-banner.-center.-muted.-md.-m--2
      i.a-icon.icon-circle-alert.-text--muted
      | This is a muted alert
  :code(lang="html")
    <div class="m-alert -banner -center -success -md -m--2">
      <i class="a-icon icon-circle-check -text--success"></i>
      This is a success alert
    </div>
    <div class="m-alert -banner -center -warning -md -m--2">
      <i class="a-icon icon-warning -text--warning"></i>
      This is a warning alert
    </div>
    <div class="m-alert -banner -center -danger -md -m--2">
      <i class="a-icon icon-circle-warning -text--danger"></i>
      This is a danger alert
    </div>
    <div class="m-alert -banner -center -info -md -m--2">
      <i class="a-icon icon-circle-alert -text--info"></i>
      This is an info alert
    </div>
    <div class="m-alert -banner -center -muted -md -m--2">
      <i class="a-icon icon-circle-alert -text--info"></i>
      This is a muted alert
    </div>

h4 Dismissible
p.-text Use the class <code>-dismiss</code> and a button to allow the user to dismiss the alert.
.example.-mb3
  .-p1
    .m-alert.-bubble.-dismiss.-warning.-md.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-text--warning
        | This is a warning alert
      button(class='a-btn -icon -close -sm')
        .a-btn__content
          i.a-icon.icon-x
    .m-alert.-bubble.-lg.-titled.-dismiss.-warning.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-sm--2.-text--warning
        div
          h5.a-h5 Warning
          | This is a warning alert
      button(class='a-btn -icon -close -sm')
        .a-btn__content
          i.a-icon.icon-x
    .m-alert.-bubble.-lg.-titled.-dismiss.-warning.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-sm--2.-text--warning
        div
          h5.a-h5 Warning
          | This is a warning alert
          div.-py--1
            button.a-btn Button
            button.a-btn.-primary.-ml--1 Button
      button(class='a-btn -icon -close -sm')
        .a-btn__content
          i.a-icon.icon-x
    .m-alert.-banner.-dismiss.-warning.-md.-m--2
      .m-alert__content
        i.a-icon.icon-warning.-text--warning
        | This is a warning alert
      button(class='a-btn -icon -close -sm')
        .a-btn__content
          i.a-icon.icon-x
  :code(lang="html")
    <div class="m-alert -bubble -lg -titled -dismiss -warning" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-warning -sm--2 -text--warning"></i>
        <div>
          <h5 class="a-h5">Warning</h5>
          This is a warning alert
        </div>
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
    </div>
    <div class="m-alert -bubble -dismiss -warning -md" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-warning -text--warning"></i>
        This is a warning alert<button class="a-btn -icon -close -sm">
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
    </div>
    <div class="m-alert -banner -dismiss -warning -md" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-warning -text--warning"></i>
        This is a warning alert
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
    </div>

h4 Toast
p.-text
  | Toasts are unobtrusive alerts used to display brief, auto-expiring information.
  | To use a toast alert, apply the class <code>-toast</code> and ensure the alert
  | is placed in the top right corner or bottom left corner of the screen.

.example.-mb3
  .-p1
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .m-alert.-toast.-titled.-m--2(class=`-${type}`)
        .m-alert__content
          i.a-icon(class =`${val} -text--${type}`)
          div
            div(class=`a-h5`)= type
            = `This is a ${type} alert`
        button(class='a-btn -icon -close -sm')
          .a-btn__content
            i.a-icon.icon-x
  :code(lang="html")
    <div class="m-alert -toast -titled -success" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-circle-check -text--success"></i>
        <div>
          <div class="a-h5">success</div>
          This is a success alert
        </div>
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
      </div>
    <div class="m-alert -toast -titled -danger" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-circle-warning -text--danger"></i>
        <div>
          <div class="a-h5">danger</div>
          This is a danger alert
        </div>
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
    </div>
    <div class="m-alert -toast -titled -warning" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-warning -text--warning"></i>
        <div>
          <div class="a-h5">warning</div>
          This is a warning alert
        </div>
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
    </div>
    <div class="m-alert -toast -titled -info" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-circle-info -text--info"></i>
        <div>
          <div class="a-h5">info</div>
          This is a info alert
        </div>
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
    </div>
    <div class="m-alert -toast -titled -muted" role="alert">
      <div class="m-alert__content">
        <i class="a-icon icon-circle-info -text--muted"></i>
        <div>
          <div class="a-h5">muted</div>
          This is a muted alert
        </div>
      </div>
      <button class="a-btn -icon -close -sm">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
    </div>
