---
title: Badge
---

p.-text Badges are inline elements used to label, categorize, or organize a list of items.

h3 Examples
p.-text
  | To display a badge, use the class <code>a-badge</code>.
  | A contextual class (e.g. <code>-danger</code>) can also be applied to provide alternate styling.

h4 Base
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -m--1`)
        span= val
  :code(lang="html")
    <div class="a-badge">
      <span>Base</span>
    </div>
    <div class="a-badge -primary">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark">
      <span>Dark</span>
    </div>
    <div class="a-badge -light">
      <span>Light</span>
    </div>
h4 Outline
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -outline -m--1`)
        span= val
  :code(lang="html")
    <div class="a-badge -outline">
      <span>Base</span>
    </div>
    <div class="a-badge -primary -outline">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary -outline">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger -outline">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -outline">
      <span>Dark</span>
    </div>
    <div class="a-badge -light -outline">
      <span>Light</span>
    </div>
h4 Flat
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -flat -m--1`)
        span= val
  :code(lang="html")
    <div class="a-badge -flat">
      <span>Base</span>
    </div>
    <div class="a-badge -primary -flat">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary -flat">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger -flat">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -flat">
      <span>Dark</span>
    </div>
    <div class="a-badge -light -flat">
      <span>Light</span>
    </div>

h3 Pills
p.-text Use the <code>-pill</code> modifier class to render badges with a more pronounced border-radius.
h4 Base
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -pill -m--1`)
        span= val
  :code(lang="html")
    <div class="a-badge -pill">
      <span>Base</span>
    </div>
    <div class="a-badge -primary -pill">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary -pill">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger -pill">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -pill">
      <span>Dark</span>
    </div>
    <div class="a-badge -light -pill">
      <span>Light</span>
    </div>
h4 Outline
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -pill -outline -m--1`)
        span= val
  :code(lang="html")
    <div class="a-badge -pill -outline">
      <span>Base</span>
    </div>
    <div class="a-badge -primary -pill -outline">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary -pill -outline">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger -pill -outline">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -pill -outline">
      <span>Dark</span>
    </div>
    <div class="a-badge -light -pill -outline">
      <span>Light</span>
    </div>
h4 Icon badges
.example.-mb--3
  .-p--2
    .a-badge(class=`-flat -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
    .a-badge(class=`-flat -m--1`)
      .a-badge__content
        span Badge
        .a-icon
          svg
            use(xlink:href='#icon-atom')
    .a-badge(class=`-flat -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
        .a-icon
          svg
            use(xlink:href='#icon-atom')
  :code(lang="html")
    <div class="a-badge -flat">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
      </div>
    </div>
    <div class="a-badge -flat">
      <div class="a-badge__content">
        <span>Badge</span>
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="a-badge -flat">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
h3 Additional Sizes
h4 Small
p.-text Use the <code>-small</code> modifier class to render small badges.
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -small -m--1`)
        span= val
    .a-badge(class=`-small -flat -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
  :code(lang="html")
    <div class="a-badge -small">
      <span>Base</span>
    </div>
    <div class="a-badge -primary -small">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary -small">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger -small">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -small">
      <span>Dark</span>
    </div>
    <div class="a-badge -light -small">
      <span>Light</span>
    </div>
    <div class="a-badge -flat -small">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
      </div>
    </div>
h4 Smaller
p.-text Use the <code>-smaller</code> modifier class to render even smaller badges.
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -smaller -m--1`)
        span= val
    .a-badge(class=`-flat -smaller -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
  :code(lang="html")
    <div class="a-badge -smaller">
      <span>Base</span>
    </div>
    <div class="a-badge -primary -smaller">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary -smaller">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger -smaller">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -smaller">
      <span>Dark</span>
    </div>
    <div class="a-badge -light -smaller">
      <span>Light</span>
    </div>
    <div class="a-badge -flat -smaller">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
      </div>
    </div>
h3 Text Transform
h4 Uppercase
p.-text Use the <code>-text--uppercase</code> text utility class to render badges in all uppercase. <code>-text--lowercase</code> and <code>-text--capitalized</code> are also supported.
.example.-mb--3
  .-p--2
    each type, val in {Base:'base', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -text--uppercase -m--1`)
        span= val
  :code(lang="html")
    <div class="a-badge">
      <span>Base</span>
    </div>
    <div class="a-badge -primary -text--uppercase">
      <span>Primary</span>
    </div>
    <div class="a-badge -secondary -text--uppercase">
      <span>Secondary</span>
    </div>
    <div class="a-badge -danger -text--uppercase">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -text--uppercase">
      <span>Dark</span>
    </div>
    <div class="a-badge -light -text--uppercase">
      <span>Light</span>
    </div>
