---
title: Badge
---

p.-text Badges are inline elements used to label, categorize, or organize a list of items.

h3 Examples
p.-text
  | To display a badge, use the class <code>a-badge</code>.
  | A contextual class (e.g. <code>-danger</code>) can also be applied to provide alternate styling.

h4 Base
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -m1`)
        = val
  :code(lang="html")
    <div class="a-badge">
      Base
    </div>
    <div class="a-badge -brand">
      Brand
    </div>
    <div class="a-badge -success">
      Success
    </div>
    <div class="a-badge -danger">
      Danger
    </div>
    <div class="a-badge -info">
      Info
    </div>
    <div class="a-badge -dark">
      Dark
    </div>
    <div class="a-badge -light">
      Light
    </div>
h4 Outline
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -outline -m1`)
        = val
  :code(lang="html")
    <div class="a-badge -outline">
      Base
    </div>
    <div class="a-badge -brand -outline">
      Brand
    </div>
    <div class="a-badge -success -outline">
      Success
    </div>
    <div class="a-badge -danger -outline">
      Danger
    </div>
    <div class="a-badge -info -outline">
      Info
    </div>
    <div class="a-badge -dark -outline">
      Dark
    </div>
    <div class="a-badge -light -outline">
      Light
    </div>
h4 Flat
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -flat -m1`)
        = val
  :code(lang="html")
    <div class="a-badge -outline">
      Base
    </div>
    <div class="a-badge -brand -flat">
      Brand
    </div>
    <div class="a-badge -success -flat">
      Success
    </div>
    <div class="a-badge -danger -flat">
      Danger
    </div>
    <div class="a-badge -info -flat">
      Info
    </div>
    <div class="a-badge -dark -flat">
      Dark
    </div>
    <div class="a-badge -light -flat">
      Light
    </div>

h3 Pills
p.-text Use the <code>-pill</code> modifier class to render badges with a more pronounced border-radius.
h4 Base
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -pill -m1`)
        = val
  :code(lang="html")
    <div class="a-badge -pill">
      Base
    </div>
    <div class="a-badge -brand -pill">
      Brand
    </div>
    <div class="a-badge -success -pill">
      Success
    </div>
    <div class="a-badge -danger -pill">
      Danger
    </div>
    <div class="a-badge -info -pill">
      Info
    </div>
    <div class="a-badge -dark -pill">
      Dark
    </div>
    <div class="a-badge -light -pill">
      Light
    </div>
h4 Outline
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -pill -outline -m1`)
        = val
  :code(lang="html")
    <div class="a-badge -pill">
      Base
    </div>
    <div class="a-badge -brand -pill -outline">
      Brand
    </div>
    <div class="a-badge -success -pill -outline">
      Success
    </div>
    <div class="a-badge -danger -pill -outline">
      Danger
    </div>
    <div class="a-badge -info -pill -outline">
      Info
    </div>
    <div class="a-badge -dark -pill -outline">
      Dark
    </div>
    <div class="a-badge -light -pill -outline">
      Light
    </div>
h4 Icon badges
.example.-mb3
  .-p3
    .a-badge(class=`-mr2`)
      .a-badge__content
        .a-icon(class=`-mr1`)
          svg
            use(xlink:href='#icon-atom')
        | Badge
    .a-badge(class=`-mr2`)
      .a-badge__content
        | Badge
        .a-icon(class=`-ml1`)
          svg
            use(xlink:href='#icon-atom')
    .a-badge(class=`-mr2`)
      .a-badge__content
        .a-icon(class=`-mr1`)
          svg
            use(xlink:href='#icon-atom')
        | Badge
        .a-icon(class=`-ml1`)
          svg
            use(xlink:href='#icon-atom')
  :code(lang='html')
    <!-- left aligned -->
    <div class="a-badge">
      <div class="a-badge__content">
        <div class="a-icon -mr1">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        Badge
      </div>
    </div>
    <!-- right aligned -->
    <div class="a-badge">
      <div class="a-badge__content">
        Badge
        <div class="a-icon -ml1">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
    <!-- both sides -->
    <div class="a-badge">
      <div class="a-badge__content">
        <div class="a-icon -mr1">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        Badge
        <div class="a-icon -ml1">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
h3 Additional Sizes
h4 Small
p.-text Use the <code>-small</code> modifier class to render small badges.
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -small -m1`)
        = val
    .a-badge(class=`-base -small -m1`)
      .a-badge__content
        .a-icon(class=`-mr-small`)
          svg
            use(xlink:href='#icon-atom')
        | Base
    .a-badge(class=`-base -small -m1`)
      .a-badge__content
        | Base
        .a-icon(class=`-ml-small`)
          svg
            use(xlink:href='#icon-atom')
    .a-badge(class=`-base -small -m1`)
      .a-badge__content
        .a-icon(class=`-mr-small`)
          svg
            use(xlink:href='#icon-atom')
        | Base
        .a-icon(class=`-ml-small`)
          svg
            use(xlink:href='#icon-atom')
  :code(lang="html")
    <div class="a-badge -small">
      Base
    </div>
    <div class="a-badge -brand -small">
      Brand
    </div>
    <div class="a-badge -success -small">
      Success
    </div>
    <div class="a-badge -danger -small">
      Danger
    </div>
    <div class="a-badge -info -small">
      Info
    </div>
    <div class="a-badge -dark -small">
      Dark
    </div>
    <div class="a-badge -light -small">
      Light
    </div>
    <div class="a-badge -base -small">
      <div class="a-badge__content">
        <div class="a-icon -mr-small">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        Base
      </div>
    </div>
    <div class="a-badge -base -small">
      <div class="a-badge__content">
        <div class="a-icon -mr-small">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        Base
        <div class="a-icon -ml-small">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
h4 Smaller
p.-text Use the <code>-smaller</code> modifier class to render even smaller badges.
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -smaller -m1`)
        = val
    .a-badge(class=`-base -smaller -m1`)
      .a-badge__content
        .a-icon(class=`-mr-small`)
          svg
            use(xlink:href='#icon-atom')
        | Base
    .a-badge(class=`-base -smaller -m1`)
      .a-badge__content
        | Base
        .a-icon(class=`-ml-small`)
          svg
            use(xlink:href='#icon-atom')
    .a-badge(class=`-base -smaller -m1`)
      .a-badge__content
        .a-icon(class=`-mr-small`)
          svg
            use(xlink:href='#icon-atom')
        | Base
        .a-icon(class=`-ml-small`)
          svg
            use(xlink:href='#icon-atom')
  :code(lang="html")
    <div class="a-badge -smaller">
      Base
    </div>
    <div class="a-badge -brand -smaller">
      Brand
    </div>
    <div class="a-badge -success -smaller">
      Success
    </div>
    <div class="a-badge -danger -smaller">
      Danger
    </div>
    <div class="a-badge -info -smaller">
      Info
    </div>
    <div class="a-badge -dark -smaller">
      Dark
    </div>
    <div class="a-badge -light -smaller">
      Light
    </div>
    <div class="a-badge -base -smaller">
      <div class="a-badge__content">
        <div class="a-icon -mr-small">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        Base
      </div>
    </div>
    <div class="a-badge -base -smaller">
      <div class="a-badge__content">
        Base
        <div class="a-icon -ml-small">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="a-badge -base -smaller">
      <div class="a-badge__content">
        <div class="a-icon -mr-small">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        Base
        <div class="a-icon -ml-small">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
h3 Text Transform
h4 Uppercase
p.-text Use the <code>-textUppercase</code> text utility class to render badges in all uppercase. <code>-textLowercase</code> and <code>-textCapitalized</code> are also supported.
.example.-mb3
  .-p2
    each type, val in {Base:'base', Brand:'brand', Success:'success', Danger:'danger', Info:'info', Dark:'dark', Light:'light'}
      .a-badge(class=`-${type} -textUppercase -m1`)
        = val
  :code(lang="html")
    <div class="a-badge">
      Base
    </div>
    <div class="a-badge -brand -textUppercase">
      Brand
    </div>
    <div class="a-badge -success -textUppercase">
      Success
    </div>
    <div class="a-badge -danger -textUppercase">
      Danger
    </div>
    <div class="a-badge -info -textUppercase">
      Info
    </div>
    <div class="a-badge -dark -textUppercase">
      Dark
    </div>
    <div class="a-badge -light -textUppercase">
      Light
    </div>
