---
title: Button Group
---

p.-text
  | Button groups are used to wrap a series of buttons on a single line.

h3 Examples
h4 Base
p.-text To render a button group, wrap a series of buttons in a div and apply the class <code>m-btnGroup</code>.
.example.-mb--3
  .-p--3
    .m-btnGroup
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h4 Vertical
p.-text To render a series of buttons vertically, apply the class modifier <code>-vertical</code>.
.example.-mb--3
  .-p--3
    .m-btnGroup.-vertical
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -vertical">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h4 Pill
p.-text Use the <code>-pill</code> modifier class to render a series of buttons with a more pronounced border-radius.
.example.-mb--3
  .-p--3
    .m-btnGroup.-pill
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -pill">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h3 Fluid buttons
p.-text Button groups can be expanded to fill the parent space by applying the class <code>-fluid</code>.
h4 Horizontal
.example.-mb--3
  .-p--3
    .m-btnGroup.-fluid(style="width:100%")
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h4 Vertical
.example.-mb--3
  .-p--3
    .m-btnGroup.-vertical.-fluid(style="width:12rem")
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -vertical -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h4 Alignment
p.-text
  | Button text is centered by default. However, this behavior can change by applying the modifiers
  | <code>-align--left</code> or <code>-align--right</code>.
.example.-mb--3
  .-p--3
    .m-btnGroup.-fluid(style="width:100%")
      button(class=`a-btn -align--left`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn -align--right`) Button
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn -align--left">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn -align--right">Button</button>
    </div>

h4 Disable Fluidity
p.-text
  | To disable the fluidity of a specific button in a fluid button group, apply the class <code>-notFluid</code> to the button.

.example.-mb--3
  .-p--3
    .m-btnGroup.-fluid(style="width:100%")
      button(class=`a-btn`) Button
      button(class=`a-btn -notFluid`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn -notFluid">Button</button>
      <button class="a-btn">Button</button>
    </div>

h3 Sizes

p.-text
  | Button groups supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.

ul#a-tabs.a-tabs
  li.-active
    a(href='#horizontal') Horizontal
  li
    a(href='#vertical') Vertical

.example.-mb--3
  #horizontal.a-tabs-panel.-active
    each size in ['sm', 'md', 'lg', 'xl']
      .-d--flex.-flex--wrap
        .m-btnGroup.-m--3
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
        .m-btnGroup.-pill.-m--3
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
        .m-btnGroup.-m--3
          button(class=`a-btn -${size} -icon`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
          button(class=`a-btn -${size} -icon`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
          button(class=`a-btn -${size} -icon`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
        .m-btnGroup.-m--3
          button(class=`a-btn -${size}`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
              span Button
          button(class=`a-btn -${size}`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
              span Button
          button(class=`a-btn -${size}`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
              span Button
      .-pl--3
        p.-text--bold= '-' + size
    :code(lang='html')
      <div class="m-btnGroup">
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
      </div>
      <div class="m-btnGroup -pill">
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -sm -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -sm -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -sm -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -sm">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -sm">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
        </div>
        </button>
        <button class="a-btn -sm">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
          </div>
        </button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
      </div>
      <div class="m-btnGroup -pill">
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -md -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -md -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -md -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -md">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -md">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
        </div>
        </button>
        <button class="a-btn -md">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
          </div>
        </button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
      </div>
      <div class="m-btnGroup -pill">
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -lg -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -lg -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -lg -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -lg">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -lg">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
        </div>
        </button>
        <button class="a-btn -lg">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
        </div>
        </button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
      </div>
      <div class="m-btnGroup -pill">
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -xl -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -xl -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -xl -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup">
        <button class="a-btn -xl">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -xl">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
        </div>
        </button>
        <button class="a-btn -xl">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
        </div>
        </button>
      </div>

  #vertical.a-tabs-panel
    each size in ['sm', 'md', 'lg', 'xl']
      .-d--flex.-flex--wrap
        .m-btnGroup.-vertical.-fluid.-m--3(style="width:12rem")
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
        .m-btnGroup.-vertical.-fluid.-pill.-m--3(style="width:12rem")
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
          button(class=`a-btn -${size}`) Button
        .m-btnGroup.-vertical.-fluid.-m--3
          button(class=`a-btn -${size} -icon`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
          button(class=`a-btn -${size} -icon`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
          button(class=`a-btn -${size} -icon`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
        .m-btnGroup.-vertical.-fluid.-m--3(style="width:12rem")
          button(class=`a-btn -${size}`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
              span Button
          button(class=`a-btn -${size}`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
              span Button
          button(class=`a-btn -${size}`)
            .a-btn__content
              .a-icon
                svg
                  use(xlink:href='#icon-atom')
              span Button
      .-pl--3
        p.-text--bold= '-' + size
    :code(lang="html")
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid -pill">
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
        <button class="a-btn -sm">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -sm -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -sm -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -sm -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -sm">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -sm">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          <span>Button</span>
        </div>
        </button>
        <button class="a-btn -sm">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid -pill">
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
        <button class="a-btn -md">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -md -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -md -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -md -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -md">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -md">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -md">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid -pill">
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
        <button class="a-btn -lg">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -lg -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -lg -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -lg -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -lg">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -lg">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -lg">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid -pill">
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
        <button class="a-btn -xl">Button</button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -xl -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -xl -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
        <button class="a-btn -xl -icon">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
          </div>
        </button>
      </div>
      <div class="m-btnGroup -vertical -fluid">
        <button class="a-btn -xl">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -xl">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
        <button class="a-btn -xl">
          <div class="a-btn__content">
            <div class="a-icon">
              <svg><use xlink:href="#icon-atom"></use></svg>
            </div>
            <span>Button</span>
          </div>
        </button>
      </div>

h3 Hybrid buttons

p.-text
  | Button groups support all button types and styles, including icons.
  | Mix and match text and icons to form a hybrid button group.

.example.-mb--3
  .-p--3
    .m-btnGroup
      button(class=`a-btn`) Button
      button(class=`a-btn -icon`)
        .a-btn__content
          .a-icon
            svg
              use(xlink:href='#icon-atom')
  :code(lang='html')
    <div class="m-btnGroup">
      <button class="a-btn">Button</button>
      <button class="a-btn -icon">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-atom"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>

p.-text
  | Hybrid buttons also support fluid rendering.

.example.-mb--3
  .-p--3
    .m-btnGroup.-fluid(style="width:12rem")
      button(class=`a-btn`) Button
      button(class=`a-btn -icon -notFluid`)
        .a-btn__content
          .a-icon
            svg
              use(xlink:href='#icon-atom')
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn -icon -notFluid">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-atom"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>

h4 Hybrid buttons sizes
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      .m-btnGroup.-mr--3
        button(class=`a-btn -${size}`) Button
        button(class=`a-btn -${size} -icon`)
          .a-btn__content
            .a-icon
              svg
                use(xlink:href='#icon-atom')
  :code(lang='html')
    <div class="m-btnGroup">
      <button class="a-btn -sm">Button</button>
      <button class="a-btn -sm -icon">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-atom"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>
    <div class="m-btnGroup">
      <button class="a-btn -md">Button</button>
      <button class="a-btn -md -icon">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-atom"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>
    <div class="m-btnGroup">
      <button class="a-btn -lg">Button</button>
      <button class="a-btn -lg -icon">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-atom"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>
    <div class="m-btnGroup">
      <button class="a-btn -xl">Button</button>
      <button class="a-btn -xl -icon">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-atom"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs'));
    },
    false
  );
