---
title: Button
---

p.-text
  | Buttons are used to trigger actions in forms, modals, and more.

h3 Button tags
p.-text
  | To render a button, apply the class <code>a-btn</code> to a <code>&lt;button&gt;</code> element.
  | Although buttons were designed for the <code>&lt;button&gt;</code> element, Chi
  | also supports button classes on <code>&lt;a&gt;</code> and <code>&lt;input&gt;</code> elements.
.example.-mb3
  .-p3.-d--flex
    button.a-btn.-mr2 Button
    a.a-btn.-mr2 Link
    input(class='a-btn -mr2', type='button', value='Input')
    input(class='a-btn -mr2', type='submit', value='Submit')
    input(class='a-btn -mr2', type='reset', value='Reset')
  :code(lang='html')
    <!-- default -->
    <button class="a-btn">Button</button>
    <!-- also supported -->
    <a class="a-btn" role="button">Link</a>
    <input class="a-btn" type="button" value="Input">
    <input class="a-btn" type="submit" value="Submit">
    <input class="a-btn" type="reset" value="Reset">

h3 Examples

h4 Base
p.-text
  | Chi includes a wide variety of predefined button styles. For most cases,
  | the base and <code>-brand</code> buttons will be sufficient. For special cases,
  | such as styling a destructive action button, a <code>-danger</code> button may be used.
.example.-mb3
  .-p3
    each type, val in {Base:'base', Brand:'brand', Danger:'danger', Info:'info', Dark:'dark'}
      button(class=`a-btn -${type} -mr2`)= val
  :code(lang='html')
    <!-- default buttons -->
    <button class="a-btn">Base</button>
    <button class="a-btn -brand">Brand</button>
    <!-- special case buttons -->
    <button class="a-btn -danger">Danger</button>
    <button class="a-btn -info">Info</button>
    <button class="a-btn -dark">Dark</button>

h4 Outline
p.-text
  | To remove a buttons solid background and keep its colored border, apply the class
  | <code>-outline</code>.
.example.-mb3
  .-p3
    each type, val in {Base:'base', Brand:'brand', Danger:'danger', Info:'info', Dark:'dark'}
      button(class=`a-btn -${type} -outline -mr2`)= val
  :code(lang='html')
    <button class="a-btn -outline">Base</button>
    <button class="a-btn -brand -outline">Brand</button>
    <button class="a-btn -danger -outline">Danger</button>
    <button class="a-btn -info -outline">Info</button>
    <button class="a-btn -dark -outline">Dark</button>

h4 Flat
p.-text
  | To render a button with a transparent background and border, apply the class
  | <code>-flat</code>.
.example.-mb3
  .-p3
    each type, val in {Base:'base', Brand:'brand', Danger:'danger', Info:'info', Dark:'dark'}
      button(class=`a-btn -${type} -flat -mr2`)= val
  :code(lang='html')
    <button class="a-btn -flat">Base</button>
    <button class="a-btn -brand -flat">Brand</button>
    <button class="a-btn -danger -flat">Danger</button>
    <button class="a-btn -info -flat">Info</button>
    <button class="a-btn -dark -flat">Dark</button>

h3 Pill
p.-text Use the <code>-pill</code> modifier class to render buttons with a more pronounced border-radius.
h4 Base
.example.-mb3
  .-p3
    each type, val in {Base:'base', Brand:'brand', Danger:'danger', Info:'info', Dark:'dark'}
      button(class=`a-btn -${type} -pill -mr2`)= val
  :code(lang='html')
    <!-- default buttons -->
    <button class="a-btn -pill">Base</button>
    <button class="a-btn -brand -pill">Brand</button>
    <!-- special case buttons -->
    <button class="a-btn -danger -pill">Danger</button>
    <button class="a-btn -info -pill">Info</button>
    <button class="a-btn -dark -pill">Dark</button>

h4 Outline
.example.-mb3
  .-p3
    each type, val in {Base:'base', Brand:'brand', Danger:'danger', Info:'info', Dark:'dark'}
      button(class=`a-btn -${type} -pill -outline -mr2`)= val
  :code(lang='html')
    <button class="a-btn -pill -outline">Base</button>
    <button class="a-btn -brand -pill -outline">Brand</button>
    <button class="a-btn -danger -pill -outline">Danger</button>
    <button class="a-btn -info -pill -outline">Info</button>
    <button class="a-btn -dark -pill -outline">Dark</button>

h3 Icon buttons
p.-text
  | For interfaces with limited space, an <code>-icon</code> button can
  | be used for common actions such as editing, deleting, closing, etc.
.example.-mb3
  .-p3
    button(class=`a-btn -icon -mr2`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
    button(class=`a-btn -icon -flat -mr2`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
  :code(lang='html')
    <!-- base -->
    <button class="a-btn -icon">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>
    <!-- flat -->
    <button class="a-btn -icon -flat">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Labeled icon buttons
.example.-mb3
  .-p3
    button(class=`a-btn -mr2`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Button
    button(class=`a-btn -mr2`)
      .a-btn__content
        span Button
        .a-icon
          svg
            use(xlink:href='#icon-atom')
    button(class=`a-btn -mr2`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Button
        .a-icon
          svg
            use(xlink:href='#icon-atom')
  :code(lang='html')
    <!-- left aligned -->
    <button class="a-btn">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Button</span>
      </div>
    </button>
    <!-- right aligned -->
    <button class="a-btn">
      <div class="a-btn__content">
        <span>Button</span>
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>
    <!-- both sides -->
    <button class="a-btn">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Button</span>
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Floating icon buttons
.example.-mb3
  .-p3
    each type in ['base', 'brand', 'danger', 'info', 'dark']
      button(class=`a-btn -${type} -float -mr2`)
        .a-btn__content
          .a-icon
            svg
              use(xlink:href="#icon-atom")
  :code(lang='html')
    <button class="a-btn -float">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>
    <button class="a-btn -brand -float">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>
    <button class="a-btn -float -danger">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>
    <button class="a-btn -float -info">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>
    <button class="a-btn -float -dark">
      <div class="a-btn__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </button>

h4 Close icon button

.example.-mb3
  .-p3
    button(class='a-btn -icon -close')
      .a-btn__content
        i.a-icon.icon-x
  ul#a-tabs.a-tabs.-ml3
    li.-active
      a(href='#a-tabs-panel-webfont') Web Font
    li
      a(href='#a-tabs-panel-svg') SVG
  #a-tabs-panel-webfont.a-tabs-panel.-active
    :code(lang="html")
      <button class="a-btn -icon -close">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
  #a-tabs-panel-svg.a-tabs-panel
    :code(lang="html")
      <button class="a-btn -icon -close">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-x"></use>
            </svg>
          </div>
        </div>
      </button>

h3 Sizes
p.-text
  | Buttons supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb3
  .-p3
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`a-col -w12 -p2`)
        button(class=`a-btn -${size} -mr1`) Button
        button(class=`a-btn -${size} -icon`)
          .a-btn__content
            .a-icon
              svg
                use(xlink:href='#icon-atom')
  :code(lang='html')
    <button class="a-btn -sm">Button -sm</button>
    <button class="a-btn -sm -icon">
       <div class="a-btn__content">
         <div class="a-icon">
           <svg>
             <use xlink:href="#icon-atom"></use>
           </svg>
         </div>
       </div>
    </button>
    <button class="a-btn -md">Button -md</button>
    <button class="a-btn -md -icon">
       <div class="a-btn__content">
         <div class="a-icon">
           <svg>
             <use xlink:href="#icon-atom"></use>
           </svg>
         </div>
       </div>
    </button>
    <button class="a-btn -lg">Button -lg</button>
    <button class="a-btn -lg -icon">
       <div class="a-btn__content">
         <div class="a-icon">
           <svg>
             <use xlink:href="#icon-atom"></use>
           </svg>
         </div>
       </div>
    </button>
    <button class="a-btn -xl">Button -xl</button>
    <button class="a-btn -xl -icon">
       <div class="a-btn__content">
         <div class="a-icon">
           <svg>
             <use xlink:href="#icon-atom"></use>
           </svg>
         </div>
       </div>
    </button>


script(type="text/javascript", src=`../../tabs.js`)
//!= '<script>Array.prototype.forEach.call(document.getElementsByClassName(\'a-tabs\'), function(e){chiTabs.init(e);});</script>'
!= '<script>chiTabs.init(document.getElementById(\'a-tabs\'));chiTabs.init(document.getElementById(\'a-tabs\'));</script>'
