---
title: Icon
styles: [assets/styles/icons]
---

p.-text Chi has adopted a subset of icons from Cyclops and CenturyLink's Cloud Application Manager.

h2 Using Icons
p.-text Icons can be added via SVG or Web Font. Choose the method that best suits your projects needs.

h3 SVG & JS Method
p.-text SVG based implementations provide better semantics, accessibility, rendering, and reliability. Place the following script in your projects footer to use this method.
.-mb--2
  :code(lang='html')
    <script src="https://assets.ctl.io/chi/1.3.0/chi-icons.js"></script>
p.-text Then to render an SVG icon, apply the class <code>a-icon</code> to an element. Next, add an <code>&lt;svg&gt;</code> tag and specify the id of the icon you wish to use in the <code>&lt;svg&gt;</code>'s href:
.example.-mb--3
  .-p--3
    .a-icon
      svg
        use(xlink:href='#icon-logo-centurylink')
  :code(lang="html")
    <div class="a-icon">
      <svg aria-hidden="true">
        <use xlink:href='#icon-logo-centurylink'/>
      </svg>
    </div>

h3 Web Font & CSS Method
p.-text Web Font based implementations offer the widest browser support, fastest rendering speed, and require no additional script or stylesheet.
p.-text To render a Web Font icon, apply the class <code>a-icon</code> to an <code>&lt;i&gt;</code> tag and specify the name of the icon you wish to use in the <code>&lt;i&gt;</code>'s class attribute:
.example.-mb--3
  .-p--3
    i(class='a-icon icon-logo-centurylink')
  :code(lang="html")
    <i class="a-icon icon-logo-centurylink"></i>

h2 Sizes
p.-text By default, icons render at 16x16px (<code>-sm</code>). Apply size classes to render icons larger or smaller:
  | <code>-xs</code>, <code>-sm</code>, <code>-md</code>, <code>-lg</code>, <code>-xl</code>, <code>-xxl</code>.
p.-text Two alternate small classes are available for specific app scenarios. Use <code>-sm--2</code>
  |  for displaying 20px icons within a 40px container (e.g. large button), and <code>-sm--3</code> for displaying
  | 24px icons within a 48px container.
.example.-mb--3
  .-p--3
    .a-grid.-align-items--end
      each size in ['xs', 'sm', 'sm--2', 'sm--3', 'md', 'lg', 'xl', 'xxl']
        div.-p--2.-m--1
          div(class=`a-icon -${size}`)
            svg
              use(xlink:href='#icon-logo-centurylink')
          p.-text.-text--center= size
  ul#a-tabs--sizes.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-panel--sizes-svg') SVG
    li
      a(href='#a-tabs-panel--sizes-webfont') Web Font
  #a-tabs-panel--sizes-svg.a-tabs-panel.-active
    :code(lang="html")
      <!-- -xs : 12x12px -->
      <div class="a-icon -xs"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- -sm : 16x16px -->
      <div class="a-icon -sm"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- -sm--2 : 20x20px -->
      <div class="a-icon -sm--2"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- -sm--3 : 24x24px -->
      <div class="a-icon -sm--3"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- -md : 32x32px -->
      <div class="a-icon -md"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- -lg : 64x64px -->
      <div class="a-icon -lg"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- -xl : 96x96px -->
      <div class="a-icon -xl"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- -xxl : 128x128px -->
      <div class="a-icon -xxl"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
  #a-tabs-panel--sizes-webfont.a-tabs-panel
    :code(lang="html")
      <!-- -xs : 12x12px -->
      <i class="a-icon icon-logo-centurylink -xs"></i>
      <!-- -sm : 16x16px -->
      <i class="a-icon icon-logo-centurylink -sm"></i>
      <!-- -sm--2 : 20x20px -->
      <i class="a-icon icon-logo-centurylink -sm--2"></i>
      <!-- -sm--3 : 24x24px -->
      <i class="a-icon icon-logo-centurylink -sm--3"></i>
      <!-- -md : 32x32px -->
      <i class="a-icon icon-logo-centurylink -md"></i>
      <!-- -lg : 64x64px -->
      <i class="a-icon icon-logo-centurylink -lg"></i>
      <!-- -xl : 96x96px -->
      <i class="a-icon icon-logo-centurylink -xl"></i>
      <!-- -xxl : 128x128px -->
      <i class="a-icon icon-logo-centurylink -xxl"></i>

h2 Colors
p.-text By default, icons are the same color as text. Use Chi text color utilities to set a specific color.
.example.-mb--3
  .-d--flex.-w--12.-justify-content--center.-flex--wrap.-p--1
    each type in ['text--body', 'text--primary', 'text--success', 'text--warning', 'text--danger', 'text--grey', 'text--muted']
      div(class=`a-icon -md -${type} -m--1`)
        svg
          use(xlink:href='#icon-logo-centurylink')
  .-d--flex.-w--12.-justify-content--center.-flex--wrap.-bg--black.-p--1
    each type in ['text--secondary', 'text--light']
      if (type === 'text--secondary')
        div(class=`a-icon -md -text--secondary -m--1`)
          svg
            use(xlink:href='#icon-logo-centurylink')
      else if (type === 'text--light')
        div(class=`a-icon -md -text--light -m--1`)
          svg
            use(xlink:href='#icon-logo-centurylink')
  ul#a-tabs--colors.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-panel--colors-svg') SVG
    li
      a(href='#a-tabs-panel--colors-webfont') Web Font
  #a-tabs-panel--colors-svg.a-tabs-panel.-active
    :code(lang="html")
      <!-- For light backgrounds -->
      <div class="a-icon -md"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <div class="a-icon -md -text--primary"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <div class="a-icon -md -text--success"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <div class="a-icon -md -text--warning"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <div class="a-icon -md -text--danger"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <div class="a-icon -md -text--grey"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <div class="a-icon -md -text--muted"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <!-- For dark backgrounds -->
      <div class="a-icon -md -text--secondary"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
      <div class="a-icon -md -text--light"><svg aria-hidden="true"><use xlink:href='#icon-logo-centurylink'/></svg></div>
  #a-tabs-panel--colors-webfont.a-tabs-panel
    :code(lang="html")
      <!-- For light backgrounds -->
      <i class="a-icon icon-logo-centurylink -md"></i>
      <i class="a-icon icon-logo-centurylink -md -text--primary"></i>
      <i class="a-icon icon-logo-centurylink -md -text--success"></i>
      <i class="a-icon icon-logo-centurylink -md -text--warning"></i>
      <i class="a-icon icon-logo-centurylink -md -text--danger"></i>
      <i class="a-icon icon-logo-centurylink -md -text--grey"></i>
      <i class="a-icon icon-logo-centurylink -md -text--muted"></i>
      <!-- For dark backgrounds -->
      <i class="a-icon icon-logo-centurylink -md -text--secondary"></i>
      <i class="a-icon icon-logo-centurylink -md -text--light"></i>

h2 UI Icons
.a-grid.icon-library.-pt--2.-pb--6
  each name in ['activity', 'address-book', 'arrow-down', 'arrow-left', 'arrow-right', 'arrow-up', 'arrow-sync','arrow-to-bottom', 'arrow-vertical', 'arrows','asterisk', 'atom', 'ban', 'bank', 'bell-off', 'bell', 'box-application', 'box-cloudformation', 'box-container', 'box-deployment', 'box-fill', 'box-outline', 'box-script', 'box', 'cart-alt', 'cart-outline', 'cart', 'chart-bar', 'chart-pie', 'chat', 'check-alt', 'check', 'checkbox-checked', 'checkbox', 'chevron-down', 'chevron-left', 'chevron-right', 'chevron-up', 'circle-alert-outline', 'circle-alert', 'circle-arrow-down-outline', 'circle-arrow-down', 'circle-arrow-up-outline', 'circle-arrow-up', 'circle-check-outline', 'circle-check', 'circle-clock-outline', 'circle-clock', 'circle-code-outline', 'circle-code', 'circle-gear-outline','circle-gear', 'circle-info-outline', 'circle-info', 'circle-minus-outline', 'circle-minus', 'circle-outline', 'circle-play-outline', 'circle-play', 'circle-plus-outline', 'circle-plus', 'circle-question-outline', 'circle-question', 'circle-reload-outline', 'circle-reload', 'circle-stop-outline', 'circle-stop', 'circle-warning', 'circle-x-outline', 'circle-x', 'circle', 'cloud', 'comment-dots-outline', 'comment-dots', 'comment-outline', 'comment', 'comments-dots-outline', 'comments-dots', 'comments-outline', 'comments', 'cost', 'database-outline', 'database', 'date', 'delete', 'edit', 'edit-cancel', 'file-error-outline', 'file-outline', 'file', 'filter', 'folder-gear', 'folder-open', 'folder', 'globe-network', 'globe-outline', 'grid', 'heart', 'home-outline', 'home', 'key', 'life-ring', 'link', 'list', 'lock-outline', 'lock', 'logo-amazon', 'logo-aws', 'logo-azure', 'logo-centurylink', 'logo-cloudstack', 'logo-dimensiondata', 'logo-facebook', 'logo-github', 'logo-google', 'logo-hp', 'logo-linkedin', 'logo-linux', 'logo-openstack', 'logo-rackspace', 'logo-slack', 'logo-twitter', 'logo-vcloud', 'logo-vsphere', 'logo-youtube', 'logout', 'mail-outline', 'mail', 'map-marker-alt', 'map-marker', 'map-marker-outline','menu', 'microphone-mute', 'microphone', 'minus-alt', 'minus', 'more-vert', 'more', 'nodes', 'number', 'pause', 'phone', 'play', 'plus-alt', 'plus', 'radio-checked', 'radio', 'refresh', 'rocket', 'search', 'settings', 'share', 'shield', 'square-minus-outline', 'square-minus', 'square-plus-outline', 'square-plus', 'star-outline', 'star', 'stop', 'sync', 'tag-outline', 'tag', 'text', 'triangle-down', 'triangle-left', 'triangle-right', 'triangle-up', 'user', 'users', 'verified', 'video-camera-mute', 'video-camera', 'visible-off', 'visible', 'warning', 'wifi-outline', 'wifi', 'x-alt', 'x']
    .a-col.-w--6.-w-xl--2.-w-lg--3.-w-md--6.-mb--2
      .a-card.-py--4.-bg--grey-10
        .a-card__content
          .a-icon.-sm--3
            svg
              use(xlink:href=`#icon-${name}`)
      p.-text--center= 'icon-' + name

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs--sizes'));
      chi.tab(document.getElementById('a-tabs--colors'));
    }
  );
