---
title: Picker
---

p.-text Pickers are used to select one or more options in a list.

h2 Base

h3 Type checkbox
p.-text
  | To render a checkbox picker, apply the class <code>a-picker</code> to an <code>input type="checkbox"</code>
  |  inside a container with the class <code>m-picker</code>.
ul#a-tabs--Checkbox.a-tabs
  li.-active
    a(href="#BaseCheckbox") Base
  li
    a(href="#WithCheckbox") With Checkbox
  li
    a(href="#WithCheckboxDescription") With Description

.example.-mb--3
  #BaseCheckbox.a-tabs-panel.-active
    .-p--4
      each type in ['Checkbox1','Checkbox2']
        .m-picker
          input(type="checkbox", class="a-picker", id=`i-${type}`)
          label(for=`i-${type}`)
            = type
    :code(lang="html")
      <div class="m-picker">
        <input class="a-picker" type="checkbox" id="checkbox1">
        <label for="checkbox1">Checkbox1</label>
      </div>
      <div class="m-picker">
        <input class="a-picker" type="checkbox" id="checkbox2">
        <label for="checkbox2">Checkbox2</label>
      </div>

  #WithCheckbox.a-tabs-panel
    .-p--4
      each type in ['Checkbox1','Checkbox2']
        .m-picker
          input(type="checkbox", class="a-picker", id=`ic-${type}`)
          label(for=`ic-${type}`)
            div.m-form__item.-row
              .a-checkbox
                input(type="checkbox", class="a-checkbox__input", id=`ic-${type}-inner`)
                label(for=`ic-${type}-inner`, class="a-checkbox__label")
                  = type
    :code(lang="html")
      <div class="m-picker">
        <input class="a-picker" type="checkbox" id="checkbox1">
        <label for="checkbox1">
          <div class="m-form__item -row">
            <div class="a-checkbox">
              <input class="a-checkbox__input" type="checkbox" id="checkbox1-inner">
              <label class="a-checkbox__label" for="checkbox1-inner">Checkbox1</label>
            </div>
          </div>
        </label>
      </div>
      <div class="m-picker">
        <input class="a-picker" type="checkbox" id="checkbox2">
        <label for="checkbox2">
          <div class="m-form__item -row">
            <div class="a-checkbox">
              <input class="a-checkbox__input" type="checkbox" id="checkbox2-inner">
              <label class="a-checkbox__label" for="checkbox2-inner">Checkbox2</label>
            </div>
          </div>
        </label>
      </div>

  #WithCheckboxDescription.a-tabs-panel
    .-p--4
      each type in ['Checkbox1','Checkbox2']
        .m-picker
          input(type="checkbox", class="a-picker", id=`id-${type}`)
          label(for=`id-${type}`)
            .m-picker__content--start
              div.m-form__item.-row
                .a-checkbox
                  input(type="checkbox", class="a-checkbox__input", id=`id-${type}-inner`)
                  label(for=`id-${type}-inner`, class="a-checkbox__label")
                    = type
              div.-text--normal.-text--body.-text--small
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
    :code(lang="html")
      <div class="m-picker">
        <input class="a-picker" type="checkbox" id="checkbox1">
        <label for="checkbox1">
          <div class="m-picker__content--start">
            <div class="m-form__item -row">
              <div class="a-checkbox">
                <input class="a-checkbox__input" type="checkbox" id="checkbox1-inner">
                <label class="a-checkbox__label" for="checkbox1-inner">Checkbox1</label>
              </div>
            </div>
            <div class="-text--normal -text--body -text--small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
            </div>
          </div>
        </label>
      </div>
      <div class="m-picker">
        <input class="a-picker" type="checkbox" id="checkbox2">
        <label for="checkbox2">
          <div class="m-picker__content--start">
            <div class="m-form__item -row">
              <div class="a-checkbox">
                <input class="a-checkbox__input" type="checkbox" id="checkbox2-inner">
                <label class="a-checkbox__label" for="checkbox2-inner">Checkbox2</label>
              </div>
            </div>
            <div class="-text--normal -text--body -text--small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
            </div>
          </div>
        </label>
      </div>

h3 Type radio
ul#a-tabs--Radio.a-tabs
  li.-active
    a(href="#BaseRadio") Base
  li
    a(href="#WithRadio") With Radio
  li
    a(href="#WithRadioDescription") With Description

.example.-mb--3
  #BaseRadio.a-tabs-panel.-active
    .-p--4
      each type in ['Radio1','Radio2']
        .m-picker
          input(type="radio", class="a-picker", name='box', id=`ei-${type}`)
          label(for=`ei-${type}`)
            = type
    :code(lang="html")
      <div class="m-picker">
        <input class="a-picker" type="radio" name="radios" id="radio1">
        <label for="radio1">
          Radio2
        </label>
      </div>
      <div class="m-picker">
        <input class="a-picker" type="radio" name="radios" id="radio2">
        <label for="radio2">
          Radio2
        </label>
      </div>
  #WithRadio.a-tabs-panel
    .-p--4
      each type in ['Radio1','Radio2']
        .m-picker
          input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
          label(for=`ri-${type}`)
            div.m-form__item.-row
              input(type="radio", class="a-input", id=`ri-${type}`)
              label(for=`ri-${type}`)
              = type
    :code(lang="html")
      <div class="m-picker">
        <input class="a-picker" type="radio" name="box" id="radio1">
        <label for="radio1">
          <div class="m-form__item -row">
            <input class="a-input" type="radio" id="radio1">
            <label for="radio1"></label>
            Radio1
          </div>
        </label>
      </div>
      <div class="m-picker">
        <input class="a-picker" type="radio" name="box" id="radio2">
        <label for="radio2">
          <div class="m-form__item -row">
            <input class="a-input" type="radio" id="radio2">
            <label for="radio2"></label>
            Radio2
          </div>
        </label>
      </div>
  #WithRadioDescription.a-tabs-panel
    .-p--4
      each type in ['Radio1','Radio2']
        .m-picker
          input(type="radio", class="a-picker", name='box', id=`ide-${type}`)
          label(for=`ide-${type}`)
            .m-picker__content--start
              div.m-form__item.-row
                input(type="radio", class="a-input", id=`ide-${type}`)
                label(for=`ide-${type}`)
                = type
              div.-text--normal.-text--body.-text--small
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
    :code(lang="html")
      <div class="m-picker">
        <input class="a-picker" type="radio" name="box" id="radio1">
        <label for="radio1">
          <div class="m-picker__content--start">
            <div class="m-form__item -row">
              <input class="a-input" type="radio" id="radio1">
              <label for="radio1"></label>
              Radio1
            </div>
            <div class="-text--normal -text--body -text--small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
            </div>
          </div>
        </label>
      </div>
      <div class="m-picker">
        <input class="a-picker" type="radio" name="box" id="radio2">
        <label for="radio2">
          <div class="m-picker__content--start">
            <div class="m-form__item -row">
              <input class="a-input" type="radio" id="radio2">
              <label for="radio2"></label>
              Radio2
            </div>
            <div class="-text--normal -text--body -text--small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
            </div>
          </div>
        </label>
      </div>

h2 Sizes
p.-text
  | Apply size classes to render pickers larger or smaller: <code>-sm</code>, <code>-md</code>, <code>-lg</code>.
  | The default size is <code>-md</code>.
ul#a-tabs--Sizes.a-tabs
  li.-active
    a(href="#Sm") Size -sm
  li
    a(href="#Md") Size -md
  li
    a(href="#Lg") Size -lg

.example.-mb--3
  #Sm.a-tabs-panel.-active
    .-p--4
      each type in ['Radio1 -sm','Radio2 -sm']
        .m-picker.-sm
          input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
          label(for=`ri-${type}`)
            .m-picker__content--start
              = type
            .m-picker__content--end
              span.-text--bold.-text--body.-text--small.-text--right Data
              span.-text--normal.-text--muted.-text--small Value
    :code(lang="html")
      <div class="m-picker -sm">
        <input class="a-picker" type="radio" name="box" id="Radio1">
        <label for="Radio1">
          <div class="m-picker__content--start">Radio1 -sm</div>
          <div class="m-picker__content--end">
            <span class="-text--bold -text--body -text--small -text--right">Data</span>
            <span class="-text--normal -text--muted -text--small">Value</span>
          </div>
        </label>
      </div>
      <div class="m-picker -sm">
        <input class="a-picker" type="radio" name="box" id="Radio2">
        <label for="Radio2">
          <div class="m-picker__content--start">Radio2 -sm</div>
          <div class="m-picker__content--end">
            <span class="-text--bold -text--body -text--small -text--right">Data</span>
            <span class="-text--normal -text--muted -text--small">Value</span>
          </div>
        </label>
      </div>
  #Md.a-tabs-panel
    .-p--4
      each type in ['Radio1 -md','Radio2 -md']
        .m-picker.-md
          input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
          label(for=`ri-${type}`)
            .m-picker__content--start
              = type
            .m-picker__content--end
              span.-text--bold.-text--body.-text--right Data
              span.-text--normal.-text--muted.-text--small Value
    :code(lang="html")
      <div class="m-picker -md">
        <input class="a-picker" type="radio" name="box" id="Radio1">
        <label for="Radio1">
          <div class="m-picker__content--start">Radio1 -md</div>
          <div class="m-picker__content--end">
            <span class="-text--bold -text--body -text--right">Data</span>
            <span class="-text--normal -text--muted -text--small">Value</span>
          </div>
        </label>
      </div>
      <div class="m-picker -md">
        <input class="a-picker" type="radio" name="box" id="Radio2">
        <label for="Radio2">
          <div class=m-picker__content--start>Radio2 -md</div>
          <div class="m-picker__content--end">
            <span class="-text--bold -text--body -text--right">Data</span>
            <span class="-text--normal -text--muted -text--small">Value</span>
          </div>
        </label>
      </div>
  #Lg.a-tabs-panel
    .-p--4
      each type in ['Radio1 -lg','Radio2 -lg']
        .m-picker.-lg
          input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
          label(for=`ri-${type}`)
            .m-picker__content--start
              label.-text--bold
                = type
              span.-text--normal.-text--body.-text--small Data:
                strong  Value
            .m-picker__content--end
              span.-text--bold.-text--body.-text--large Data
    :code(lang="html")
      <div class="m-picker -lg">
        <input class="a-picker" type="radio" name="box" id="Radio1">
        <label for="Radio1">
          <div class="m-picker__content--start">
            <label class="-text--bold">Radio1 -lg</label>
            <span class="-text--normal -text--body -text--small">Data:<strong> Value</strong></span>
          </div>
          <div class="m-picker__content-end">
            <span class="-text--bold -text--body -text--large">Data</span>
          </div>
        </label>
      </div>
      <div class="m-picker -lg">
        <input class="a-picker" type="radio" name="box" id="Radio2">
        <label for="Radio2">
          <div class="m-picker__content--start">
            <label class="-text--bold">Radio2 -lg</label>
            <span class="-text--normal -text--muted -text--small">Data:<strong> Value</strong></span>
          </div>
          <div class="m-picker__content--end">
            <span class="-text--bold -text--body -text--large">Data</span>
          </div>
        </label>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs--Checkbox'));
      chi.tab(document.getElementById('a-tabs--Radio'));
      chi.tab(document.getElementById('a-tabs--Sizes'));
    }
  );
