---
title: Picker
---

p.-text Pickers are used to select one or more options in a list.

h2 Base

h3 Type checkbox
p.-text
  | To render a checkbox picker, apply the class <code>a-picker</code> to an <code>input type="checkbox"</code>
  |  inside a container with the class <code>m-picker</code>.
ul#a-tabs--Checkbox.a-tabs
  li.-active
    a(href="#BaseCheckbox") Base
  li
    a(href="#WithCheckbox") With Checkbox
  li
    a(href="#WithCheckboxDescription") With Description

.example.-mb--3
  #BaseCheckbox.a-tabs-panel.-active
    .-p--4
      fieldset
        legend.a-label.-mb--1 Legend
        each type in ['Checkbox1','Checkbox2']
          .m-picker
            input(type="checkbox", class="a-picker", id=`i-${type}`)
            label(for=`i-${type}`)
              = type
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker">
          <input class="a-picker" type="checkbox" id="checkbox1">
          <label for="checkbox1">Checkbox1</label>
        </div>
        <div class="m-picker">
          <input class="a-picker" type="checkbox" id="checkbox2">
          <label for="checkbox2">Checkbox2</label>
        </div>
      </fieldset>

  #WithCheckbox.a-tabs-panel
    .-p--4
      fieldset
        legend.a-label.-mb--1 Legend
        each type in ['Checkbox1','Checkbox2']
          .m-picker
            input(type="checkbox", class="a-picker", id=`ic-${type}`)
            label(for=`ic-${type}`)
              div.m-form__item.-row
                span.a-picker__checkbox
                span.a-picker__label
                  =type
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker">
          <input class="a-picker" type="checkbox" id="ic-Checkbox1" />
          <label for="ic-Checkbox1">
            <div class="m-form__item -row">
              <span class="a-picker__checkbox"></span>
              <span class="a-picker__label">Checkbox1</span>
            </div>
          </label>
        </div>
        <div class="m-picker">
          <input class="a-picker" type="checkbox" id="ic-Checkbox2" />
          <label for="ic-Checkbox2">
            <div class="m-form__item -row">
              <span class="a-picker__checkbox"></span>
              <span class="a-picker__label">Checkbox2</span>
            </div>
          </label>
        </div>
      </fieldset>

  #WithCheckboxDescription.a-tabs-panel
    .-p--4
      fieldset
        legend.a-label.-mb--1 Legend
        each type in ['Checkbox1','Checkbox2']
          .m-picker
            input(type="checkbox", class="a-picker", id=`id-${type}`)
            label(for=`id-${type}`)
              .m-picker__content--start
                div.m-form__item.-row
                  span.a-picker__checkbox
                  span.a-picker__label
                    =type
                div.a-picker__description
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker">
          <input class="a-picker" type="checkbox" id="id-Checkbox1" />
          <label for="id-Checkbox1">
            <div class="m-picker__content--start">
              <div class="m-form__item -row">
                <span class="a-picker__checkbox"></span>
                <span class="a-picker__label">Checkbox1</span>
              </div>
              <div class="a-picker__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.</div>
            </div>
          </label>
        </div>
        <div class="m-picker">
          <input class="a-picker" type="checkbox" id="id-Checkbox2" />
          <label for="id-Checkbox2">
            <div class="m-picker__content--start">
              <div class="m-form__item -row">
                <span class="a-picker__checkbox"></span>
                <span class="a-picker__label">Checkbox2</span>
              </div>
              <div class="a-picker__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.</div>
            </div>
          </label>
        </div>
      </fieldset>

h3 Type radio
ul#a-tabs--Radio.a-tabs
  li.-active
    a(href="#BaseRadio") Base
  li
    a(href="#WithRadio") With Radio
  li
    a(href="#WithRadioDescription") With Description

.example.-mb--3
  #BaseRadio.a-tabs-panel.-active
    .-p--4
        fieldset
          legend.a-label.-mb--1 Legend
          each type in ['Radio1','Radio2']
            .m-picker
              input(type="radio", class="a-picker", name='box', id=`ei-${type}`)
              label(for=`ei-${type}`)
                = type
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker">
          <input class="a-picker" type="radio" name="box" id="ei-Radio1" />
          <label for="ei-Radio1">Radio1</label>
        </div>
        <div class="m-picker">
          <input class="a-picker" type="radio" name="box" id="ei-Radio2" />
          <label for="ei-Radio2">Radio2</label>
        </div>
      </fieldset>
  #WithRadio.a-tabs-panel
    .-p--4
        fieldset
          legend.a-label.-mb--1 Legend
          each type in ['Radio1','Radio2']
            .m-picker
              input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
              label(for=`ri-${type}`)
                div.m-form__item.-row
                  span.a-picker__radio
                  span.a-picker__label(for=`ri-${type}`)
                    = type
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker">
          <input class="a-picker" type="radio" name="box" id="ri-Radio1" />
          <label for="ri-Radio1">
            <div class="m-form__item -row">
              <span class="a-picker__radio"></span>
              <span class="a-picker__label" for="ri-Radio1">Radio1</span>
            </div>
          </label>
        </div>
        <div class="m-picker">
          <input class="a-picker" type="radio" name="box" id="ri-Radio2" />
          <label for="ri-Radio2">
            <div class="m-form__item -row">
              <span class="a-picker__radio"></span>
              <span class="a-picker__label" for="ri-Radio2">Radio2</span>
            </div>
          </label>
        </div>
      </fieldset>
  #WithRadioDescription.a-tabs-panel
    .-p--4
        fieldset
          legend.a-label.-mb--1 Legend
          each type in ['Radio1','Radio2']
            .m-picker
              input(type="radio", class="a-picker", name='box', id=`ide-${type}`)
              label(for=`ide-${type}`)
                .m-picker__content--start
                  div.m-form__item.-row
                    span.a-picker__radio
                    span.a-picker__label(for=`ri-${type}`)
                      = type
                  div.a-picker__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker">
          <input class="a-picker" type="radio" name="box" id="ide-Radio1" />
          <label for="ide-Radio1">
              <div class="m-picker__content--start">
                <div class="m-form__item -row">
                  <span class="a-picker__radio"></span>
                  <span class="a-picker__label" for="ri-Radio1">Radio1</span>
                </div>
                <div class="a-picker__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.</div>
              </div>
          </label>
        </div>
        <div class="m-picker">
          <input class="a-picker" type="radio" name="box" id="ide-Radio2" />
          <label for="ide-Radio2">
            <div class="m-picker__content--start">
              <div class="m-form__item -row">
                <span class="a-picker__radio"></span>
                <span class="a-picker__label" for="ri-Radio2">Radio2</span>
              </div>
              <div class="a-picker__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.</div>
            </div>
          </label>
        </div>
      </fieldset>

h2 Sizes
p.-text
  | Apply size classes to render pickers larger or smaller: <code>-sm</code>, <code>-md</code>, <code>-lg</code>.
  | The default size is <code>-md</code>.
ul#a-tabs--Sizes.a-tabs
  li.-active
    a(href="#Sm") Size -sm
  li
    a(href="#Md") Size -md
  li
    a(href="#Lg") Size -lg

.example.-mb--3
  #Sm.a-tabs-panel.-active
    .-p--4
      fieldset
        legend.a-label.-mb--1 Legend
        each type in ['Radio1 -sm','Radio2 -sm']
          .m-picker.-sm
            input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
            label(for=`ri-${type}`)
              .m-picker__content--start
                = type
              .m-picker__content--end
                span.-text--bold.-text--body.-text--small.-text--right Data
                span.-text--normal.-text--muted.-text--small Value
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker -sm">
          <input class="a-picker" type="radio" name="box" id="Radio1">
          <label for="Radio1">
            <div class="m-picker__content--start">Radio1 -sm</div>
            <div class="m-picker__content--end">
              <span class="-text--bold -text--body -text--small -text--right">Data</span>
              <span class="-text--normal -text--muted -text--small">Value</span>
            </div>
          </label>
        </div>
        <div class="m-picker -sm">
          <input class="a-picker" type="radio" name="box" id="Radio2">
          <label for="Radio2">
            <div class="m-picker__content--start">Radio2 -sm</div>
            <div class="m-picker__content--end">
              <span class="-text--bold -text--body -text--small -text--right">Data</span>
              <span class="-text--normal -text--muted -text--small">Value</span>
            </div>
          </label>
        </div>
      </fieldset>
  #Md.a-tabs-panel
    .-p--4
      fieldset
        legend.a-label.-mb--1 Legend
        each type in ['Radio1 -md','Radio2 -md']
          .m-picker.-md
            input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
            label(for=`ri-${type}`)
              .m-picker__content--start
                = type
              .m-picker__content--end
                span.-text--bold.-text--body.-text--right Data
                span.-text--normal.-text--muted.-text--small Value
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker -md">
          <input class="a-picker" type="radio" name="box" id="Radio1">
          <label for="Radio1">
            <div class="m-picker__content--start">Radio1 -md</div>
            <div class="m-picker__content--end">
              <span class="-text--bold -text--body -text--right">Data</span>
              <span class="-text--normal -text--muted -text--small">Value</span>
            </div>
          </label>
        </div>
        <div class="m-picker -md">
          <input class="a-picker" type="radio" name="box" id="Radio2">
          <label for="Radio2">
            <div class=m-picker__content--start>Radio2 -md</div>
            <div class="m-picker__content--end">
              <span class="-text--bold -text--body -text--right">Data</span>
              <span class="-text--normal -text--muted -text--small">Value</span>
            </div>
          </label>
        </div>
      </fieldset>
  #Lg.a-tabs-panel
    .-p--4
      fieldset
        legend.a-label.-mb--1 Legend
        each type in ['Radio1 -lg','Radio2 -lg']
          .m-picker.-lg
            input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
            label(for=`ri-${type}`)
              .m-picker__content--start
                span.-text--bold
                  = type
                span.-text--normal.-text--body.-text--small Data:
                  strong  Value
              .m-picker__content--end
                span.-text--bold.-text--body.-text--large Data
    :code(lang="html")
      <fieldset>
        <legend class="a-label -mb--1">Legend</legend>
        <div class="m-picker -lg">
          <input class="a-picker" type="radio" name="box" id="Radio1">
          <label for="Radio1">
            <div class="m-picker__content--start">
              <span class="-text--bold">Radio1 -lg</span>
              <span class="-text--normal -text--body -text--small">Data:<strong> Value</strong></span>
            </div>
            <div class="m-picker__content-end">
              <span class="-text--bold -text--body -text--large">Data</span>
            </div>
          </label>
        </div>
        <div class="m-picker -lg">
          <input class="a-picker" type="radio" name="box" id="Radio2">
          <label for="Radio2">
            <div class="m-picker__content--start">
              <span class="-text--bold">Radio2 -lg</span>
              <span class="-text--normal -text--muted -text--small">Data:<strong> Value</strong></span>
            </div>
            <div class="m-picker__content--end">
              <span class="-text--bold -text--body -text--large">Data</span>
            </div>
          </label>
        </div>
      </fieldset>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs--Checkbox'));
      chi.tab(document.getElementById('a-tabs--Radio'));
      chi.tab(document.getElementById('a-tabs--Sizes'));
    }
  );
