.m-alert.-info.-my--3
  i.m-alert__icon.a-icon.icon-circle-info
  .m-alert__content
    p.m-alert__text This component requires Javascript

h2 Examples
p.-text
  | Here is an example of a date picker not attached to any element.
p.-text
  | Use the classes <code>-month-starts-on-sun</code>,
  | <code>-month-starts-on-mon</code>, <code>-month-starts-on-tue</code>, <code>-month-starts-on-wed</code>,
  | <code>-month-starts-on-thu</code>, <code>-month-starts-on-fri</code> and <code>-month-starts-on-sat</code> to
  | locate the first day in the correct cell.

p.-text
  | Use the classes <code>-week-starts-on-sun</code> or <code>-week-starts-on-mon</code> to fit the week definition
  | of the desired locale.

p.-text
  | Additional classes are <code>-active</code> for the selected date, <code>-today</code> for the current date and
  | <code>-inactive</code> for deactivated dates.

- var day = 1;
- var weekS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
- var weekS = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
- var today = 19;
- var active = 23;

h3 Base
.example.-mb--3
  .-p--3
    .m-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .m-datepicker__month-row
        .prev.-disabled
          i.a-icon.icon-chevron-left.-sm
        .m-datepicker__month
          | November 2018
        .next
          i.a-icon.icon-chevron-right.-sm.-text--brand
      .m-datepicker__day-names
        each weekDay in weekS
          .m-datepicker__week-day=weekDay
      .m-datepicker__days
        while day < 31
          if day === today
            .m-datepicker__day.-today=day++
          else if day === active
            .m-datepicker__day.-active=day++
          else if day < today
            .m-datepicker__day.-inactive=day++
          else
            .m-datepicker__day=day++
  :code(lang="html")
    <div class="m-datepicker -week-starts-on-sun -month-starts-on-thu">
      <div class="m-datepicker__month-row">
        <div class="prev -disabled">
          <i class="a-icon icon-chevron-left -sm"></i>
        </div>
        <div class="m-datepicker__month">
          November 2018
        </div>
        <div class="next">
          <i class="a-icon icon-chevron-right -sm -text--brand"></i>
        </div>
      </div>
      <div class="m-datepicker__day-names">
        <div class="m-datepicker__week-day">
          S
        </div>
        <div class="m-datepicker__week-day">
          M
        </div>
        <div class="m-datepicker__week-day">
          T
        </div>
        <div class="m-datepicker__week-day">
          W
        </div>
        <div class="m-datepicker__week-day">
          T
        </div>
        <div class="m-datepicker__week-day">
          F
        </div>
        <div class="m-datepicker__week-day">
          S
        </div>
      </div>
      <div class="m-datepicker__days">
        <div class="m-datepicker__day -inactive">
          1
        </div>
        <div class="m-datepicker__day -inactive">
          2
        </div>
        ...
        <div class="m-datepicker__day -inactive">
          18
        </div>
        <div class="m-datepicker__day -active">
          19
        </div>
        <div class="m-datepicker__day">
          20
        </div>
        ...
        <div class="m-datepicker__day">
          30
        </div>
      </div>
    </div>

- day = 1;
