ul.a-tabs.-lg#properties-options
  li.-active
    a(href=`#webcomponent-properties`) Web component
  li
    a(href=`#js-properties`) JavaScript
#webcomponent-properties.a-tabs-panel.-active
  h2 Additional usage details for chi-date-picker
  :stencilDoc(name='chi-date-picker')
  h2 Additional usage details for chi-date
  :stencilDoc(name='chi-date')
#js-properties.a-tabs-panel
  p.-text This component accepts options to configure its behavior.

  section.a-table.a-table__options.-bordered.-my--3
    div
      table.-text(cellpadding='0', cellspacing='0')
        thead
          tr
            th
              div Option
            th
              div Default
            th
              div Description
        tbody
          tr
            td
              div
                code= 'date'
            td
              div
                code= 'null'
            td
              div
                | Sets the initial date into the date picker. Overrides the value of the input.
          tr
            td
              div
                code= 'locale'
            td
              div
                code 'en'
            td
              div
                | Sets the locale for names of months and days of the week. The locales supported are the ones supported
                | by Day.js. <strong>Locales must be imported before using them</strong>.
                | <a href="https://github.com/iamkun/dayjs/tree/dev/src/locale">List of supported locales</a>.
          tr
            td
              div
                code= 'min'
            td
              div
                code '01/01/1900'
            td
              div
                | Prevent user pick a date before the configured.
          tr
            td
              div
                code= 'max'
            td
              div
                code '12/31/2100'
            td
              div
                | Prevent user pick a date after the configured.
          tr
            td
              div
                code= 'format'
            td
              div
                code 'MM/DD/YYYY'
            td
              div
                | Format of the date used in the input.

  h3 Value and min options programmatically
  .example.-mb--3
    .-p--3
      .m-form__item
        label(class="a-label", for="datepicker-4") Date
        .m-input__wrapper.-icon--right(style="width:14rem;")
          input#datepicker-4.a-input(type="text", placeholder="MM/DD/YYYY", value="")
          .a-icon.-text--muted
            svg
              use(xlink:href='#icon-date')
    :code(lang="html",style="height:20rem")
      <div class="m-form__item">
        <label class="a-label" for="datepicker-4">Date</label>
        <div class="m-input__wrapper -icon--right">
          <input id="datepicker-4" type="text" class="a-input" placeholder="MM/DD/YYYY" value="">
          <div class="a-icon -text--muted">
            <svg>
              <use xlink:href="#icon-date"></use>
            </svg>
          </div>
        </div>
      </div>

      <script>
        chi.datePicker(
          document.getElementById('datepicker-4'),
          {
            date: '01/24/2019',
            min: '01/24/2019'
          }
      );
      </script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.tab(document.querySelectorAll('#properties-options'));
      chi.datePicker(
        document.getElementById('datepicker-4'),
        {
          date: '01/24/2019',
          min: '01/24/2019'
        }
      );
    }
  );
