h2 Examples
p.-text
  | A dropdown must be associated with an activator, commonly a button, which, at the time of being clicked, expands
  | the dropdown. Activator and dropdown should be contained in a div with a <code>chi-dropdown</code> class, or otherwise, the
  | activator must reference the dropdown with a <code>data-target</code> attribute.
  | Use the <code>chi-dropdown__trigger</code> class on your activator button to make the chevron appear.
h3 Base
.example.-mb--3
  .-p--3
    chi-dropdown(position='bottom' button='Dropdown, click me')
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-active
        a(href=`#webcomponent-base`) Web Component
      li
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-base
    :code(lang="html")
      <chi-dropdown position="bottom" button="Dropdown, click me">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 4</a>
      </chi-dropdown>
  .chi-tabs-panel#html-base
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Trigger and dropdown enclosed in the same <code>div</code>.
    :code(lang="html")
      <div class="chi-dropdown">
        <button id="dropdown-1" class="chi-button chi-dropdown__trigger">Dropdown component</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

      <script>chi.dropdown(document.getElementById('dropdown-1'));</script>

h3 Additional Styles
p.-text
  | The web component accepts the properties <code>color</code>, <code>variant</code>, <code>size</code>, 
  | <code>uppercase</code> and <code>disabled</code> to modify the underlying chi-button element 
  | behavior and style.
.example.-mb--3
  .-p--3.-d--flex
    chi-dropdown(position='bottom' button='Primary' color='primary')
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 1
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 3
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 4
    chi-dropdown(position='bottom' button='Primary outline' color='primary' variant='outline').-ml--2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 1
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 3
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 4
    chi-dropdown(position='bottom' button='Primary flat' color='primary' variant='flat').-ml--2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 1
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 3
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 4
    chi-dropdown(position='bottom' button='Flat' variant='flat').-ml--2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 1
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 3
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 4

    chi-dropdown(position='bottom' button='Disabled' disabled).-ml--2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 1
  .example-tabs.-pl--2
    ul.chi-tabs#example-additional-styles
      li.-active
        a(href=`#webcomponent-additional-styles`) Web Component
      li
        a(href=`#html-additional-styles`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-additional-styles
    :code(lang="html")
      <!-- Primary button -->
      <chi-dropdown position='bottom' button='Primary' color='primary'>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 1</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 2</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 3</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 4</a>
      </chi-dropdown>
      
      <!-- Primary outline button -->
      <chi-dropdown position='bottom' button='Primary outline' color='primary' variant='outline'>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 1</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 2</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 3</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 4</a>
      </chi-dropdown>
      
      <!-- Primary flat button -->
      <chi-dropdown position='bottom' button='Primary flat' color='primary' variant='flat'>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 1</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 2</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 3</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 4</a>
      </chi-dropdown>
      
      <!-- Base flat button -->
      <chi-dropdown position='bottom' button='Flat' variant='flat'>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 1</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 2</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 3</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 4</a>
      </chi-dropdown>

      <!-- Disabled button -->
      <chi-dropdown position='bottom' button='Disabled' disabled>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 1</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 2</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 3</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 4</a>
      </chi-dropdown>
  .chi-tabs-panel#html-additional-styles
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <!-- Primary button -->
      <div class="chi-dropdown">
        <button id="dropdown-styles-1" class="chi-button -primary chi-dropdown__trigger">Dropdown</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

      <!-- Primary outline button -->
      <div class="chi-dropdown">
        <button id="dropdown-styles-2" class="chi-button -primary -outline chi-dropdown__trigger">Dropdown</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

      <!-- Primary flat button -->
      <div class="chi-dropdown">
        <button id="dropdown-styles-3" class="chi-button -primary -flat chi-dropdown__trigger">Dropdown</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

      <!-- Base flat button -->
      <div class="chi-dropdown">
        <button id="dropdown-styles-4" class="chi-button -flat chi-dropdown__trigger">Dropdown</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

      <!-- Disabled button -->
      <div class="chi-dropdown">
        <button id="dropdown-styles-4" class="chi-button chi-dropdown__trigger" disabled>Dropdown</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

      <script>chi.dropdown(document.querySelectorAll('.chi-dropdown .chi-button'));</script>

h3 Error and helper message
p.-text
  | Use the state <code>danger</code> to provide feedback to users when input data fails to validate.
  | To meet accessibility requirements, danger states must include an error message explaining the
  | failure and/or how to correct it. 
  | Other allowed states are  <code>warning </code> <code>info</code> <code>success</code>.
.example.-mb--3
  .-p--3.-d--flex
    chi-dropdown(
      position='bottom' 
      button='Dropdown with error' 
      state='danger' 
      helper-message="Helpful info for the user" 
    )
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 1
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 2
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 3
      a.chi-dropdown__menu-item(href='#' slot="menu") Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-error-message
      li.-active
        a(href=`#webcomponent-error-message`) Web Component
      li
        a(href=`#html-error-message`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-error-message
    :code(lang="html")
      <chi-dropdown 
        position='bottom' 
        button='Dropdown with error' 
        state='danger' 
        helper-message='Helpful info for the user'
      >
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 1</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 2</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 3</a>
        <a class='chi-dropdown__menu-item' href='#' slot="menu">Item 4</a>
      </chi-dropdown>

  .chi-tabs-panel#html-error-message
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger -b--danger -fluid">
          Dropdown with error
        </button>
        <div class="chi-label -status -danger">
          <i class="chi-icon icon-circle-warning" aria-hidden="true"></i>
          Helpful info for the user
        </div>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>
      <script>chi.dropdown(document.querySelectorAll('.chi-dropdown .chi-button'));</script>

h3 Data-target
p.-text
  | Dropdown referenced by a <code>data-target</code> attribute in the activator.
.example.-mb--3
  .-p--3
    button.chi-button.chi-dropdown__trigger(id="dropdown-2" data-target="#dropdown-2-menu") Dropdown component
    p.-text There is no need for proximity between elements.
    #dropdown-2-menu.chi-dropdown__menu
      a.chi-dropdown__menu-item(href='#') Item 1
      a.chi-dropdown__menu-item(href='#') Item 2
      a.chi-dropdown__menu-item(href='#') Item 3
      a.chi-dropdown__menu-item(href='#') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-data-target
      li.-disabled
        a(href=`#webcomponent-data-target`) Web Component
      li.-active
        a(href=`#html-data-target`) HTML Blueprint
  .chi-tabs-panel#webcomponent-data-target
  .chi-tabs-panel.-active#html-data-target
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <button id="dropdown-2" class="chi-button chi-dropdown__trigger" data-target="#dropdown-2-menu">Dropdown component</button>
      <p class="-text">There is no need for proximity between elements.</p>
      <div class="chi-dropdown__menu" id="dropdown-2-menu">
        <a class="chi-dropdown__menu-item" href="#">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#">Item 3</a>
        <a class="chi-dropdown__menu-item" href="#">Item 4</a>
      </div>

      <script>chi.dropdown(document.getElementById('dropdown-2'));</script>

h3 Hover
.example.-mb--3
  .-p--3
    chi-dropdown(hover position='bottom' button='Dropdown component')
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-hover
      li.-active
        a(href=`#webcomponent-hover`) Web Component
      li
        a(href=`#html-hover`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-hover
    :code(lang="html")
      <chi-dropdown hover position="bottom" button="Dropdown component">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
      </chi-dropdown>
  .chi-tabs-panel#html-hover
    .chi-tab__description
      | Dropdown on hover is only supported when trigger and dropdown elements are enclosed in the same div. Use the
      | <code>chi-dropdown__hover</code> class to achieve this.
    :code(lang="html")
      <div class="chi-dropdown chi-dropdown__hover">
        <button class="chi-button chi-dropdown__trigger">Dropdown component</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
        </div>
      </div>

h3 Animate
.example.-mb--3
  .-p--3
    chi-dropdown(position='bottom' button='Animated dropdown trigger' animate-chevron)
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-animation
      li.-active
        a(href=`#webcomponent-animation`) Web Component
      li
        a(href=`#html-animation`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-animation
    :code(lang="html")
      <chi-dropdown position="bottom" button="Animated dropdown trigger" animate-chevron>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
      </chi-dropdown>
  .chi-tabs-panel#html-animation
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Triggers can be animated by applying the <code>-animate</code> class.
    :code(lang="html")
      <div class="chi-dropdown">
        <button id="dropdown-animate" class="chi-button chi-dropdown__trigger -animate">Animated dropdown trigger</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
        </div>
      </div>

      <script>chi.dropdown(document.getElementById('dropdown-animate'));</script>

h3 Fluid
p.-text
  | Use fluid to render Dropdowns that span the full width of the parent container.
.example.-mb--3
  .-p--3
    chi-dropdown(position='bottom' button='Dropdown, click me' fluid)
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-fluid
      li.-active
        a(href=`#webcomponent-fluid`) Web Component
      li
        a(href=`#html-fluid`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-fluid
    :code(lang="html")
      <chi-dropdown position="bottom" button="Dropdown, click me" fluid>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 4</a>
      </chi-dropdown>
  .chi-tabs-panel#html-fluid
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-dropdown -fluid">
        <button id="dropdown-1" class="chi-button chi-dropdown__trigger -fluid">Dropdown component</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

      <script>chi.dropdown(document.getElementById('dropdown-1'));</script>

h3 Positioning
.example.-mb--3
  .-p--3.-px-xl--10
    .chi-grid.-no-gutter.-px-xl--3
      .chi-col.-w--12.-w-xl--10.-o-xl--1.-d--flex.-justify-content-sm--around.-flex--wrap
        .-p--1
          chi-dropdown(position=`top-start` button=`Top start`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1
          chi-dropdown(position=`top` button=`Top`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1
          chi-dropdown(position=`top-end` button=`Top end`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
      .chi-col.-w--12.-w-sm--4.-d--flex.-flex-sm--column.-flex--wrap
        .-p--1.-py-sm--3
          chi-dropdown(position=`left-start` button=`Left start`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1.-py-sm--3
          chi-dropdown(position=`left` button=`Left`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1.-py-sm--3
          chi-dropdown(position=`left-end` button=`Left end`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
      .chi-col.-d--none.-w--12.-w-sm--4.-d-sm--flex.-flex-sm--column.-justify-content-sm--center.-align-items-sm--center
        .-w--75.-text.-text--muted.-text--center.-lh--2 Click buttons to see Dropdown positions
      .chi-col.-w--12.-w-sm--4.-d--flex.-flex-sm--column.-align-items-sm--end.-flex--wrap
        .-p--1.-py-sm--3
          chi-dropdown(position=`right-start` button=`Right start`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1.-py-sm--3
          chi-dropdown(position=`right` button=`Right`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1.-py-sm--3
          chi-dropdown(position=`right-end` button=`Right end`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
      .chi-col.-w--12.-w-xl--10.-o-xl--1.-d--flex.-justify-content-sm--around.-flex--wrap
        .-p--1
          chi-dropdown(position=`bottom-start` button=`Bottom start`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1
          chi-dropdown(position=`bottom` button=`Bottom`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3
        .-p--1
          chi-dropdown(position=`bottom-end` button=`Bottom End`)
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 1
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 2
            a.chi-dropdown__menu-item(href='#' slot='menu') Dropdown item 3

  .example-tabs.-pl--2
    ul.chi-tabs#example-position
      li.-active
        a(href=`#webcomponent-position`) Web Component
      li
        a(href=`#html-position`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-position
    .chi-tab__description
      | We support the position attribute. Chevron orientation will change depending on its value. Valid values are <code>default</code>,
      | <code>initial</code>, <code>top</code>, <code>right</code>, <code>bottom</code>, <code>left</code>,
      | <code>top-start</code>, <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
      | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>, <code>left-end</code>.
    :code(lang="html")
      <!-- Top start -->
      <chi-dropdown position="top-start" button="Top start">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Top -->
      <chi-dropdown position="top" button="Top">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Top end -->
      <chi-dropdown position="top-end" button="Top end">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Left start -->
      <chi-dropdown position="left-start" button="Left start">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Left -->
      <chi-dropdown position="left" button="Left">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Left end -->
      <chi-dropdown position="left-end" button="Left end">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Right start -->
      <chi-dropdown position="right-start" button="Right start">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Right -->
      <chi-dropdown position="right" button="Right">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Right end -->
      <chi-dropdown position="right-end" button="Right end">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Bottom start -->
      <chi-dropdown position="bottom-start" button="Bottom start">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Bottom -->
      <chi-dropdown position="bottom" button="Bottom">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
      <!-- Bottom end -->
      <chi-dropdown position="bottom-end" button="Bottom end">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Dropdown item 3</a>
      </chi-dropdown>
  .chi-tabs-panel#html-position
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Dropdown is prepared to work with positioning libraries like Popper.js. That is why we support the data-position
      | attribute. Chevron orientation will change depending on its value. Valid values are <code>default</code>,
      | <code>initial</code>, <code>top</code>, <code>right</code>, <code>bottom</code>, <code>left</code>,
      | <code>top-start</code>, <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
      | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>, <code>left-end</code>.
    :code(lang="html")
      <!-- Top start -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-top-start" data-position="top-start">Top start</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Top -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-top" data-position="top">Top</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Top end -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-top-end" data-position="top-end">Top end</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Left start -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-left-start" data-position="left-start">Left start</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Left -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-left" data-position="left">Left</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Left end -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-left-end" data-position="left-end">Left end</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Right start -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-right-start" data-position="right-start">Right start</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Right -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-right" data-position="right">Right</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Right end -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-right-end" data-position="right-end">Right end</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Bottom start -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-bottom-start" data-position="bottom-start">Bottom start</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Bottom -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-bottom" data-position="bottom">Bottom</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>
      <!-- Bottom end -->
      <div class="chi-dropdown">
        <button class="chi-button chi-dropdown__trigger" id="dropdown-bottom-end" data-position="bottom-end">Bottom end</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Dropdown item 3</a>
        </div>
      </div>

      <!-- JavaScript -->
      <script>chi.dropdown(document.querySelectorAll('.chi-dropdown .chi-dropdown__trigger'));</script>

h3 Visible items
.example.-mb--3
  .-p--3
    chi-dropdown(visible-items='3' button='Dropdown, click me' )
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 4
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 5
  .example-tabs.-pl--2
    ul.chi-tabs#example-visible-items
      li.-active
        a(href=`#webcomponent-visible-items`) Web Component
      li
        a(href=`#html-visible-items`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-visible-items
    :code(lang="html")
      <chi-dropdown visible-items="3" button="Dropdown, click me">
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 4</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 5</a>
      </chi-dropdown>
  .chi-tabs-panel#html-visible-items
    .chi-tab__description
      span.-text--grey
        | Max-height can be adjusted according to the needs, using styles. 
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Trigger and dropdown enclosed in the same <code>div</code>.
    :code(lang="html")
      <div class="chi-dropdown">
        <button id="dropdown-1" class="chi-button chi-dropdown__trigger">Dropdown component</button>
        <div class="chi-dropdown__menu" style="overflow-y: auto; max-height: 7rem">
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
          <a class="chi-dropdown__menu-item" href="#">Item 5</a>
        </div>
      </div>

      <script>chi.dropdown(document.getElementById('dropdown-1'));</script>

h3 Search input
.example.-mb--3
  .-p--3
    chi-dropdown(button=`Dropdown, click me` visible-items="3")
      chi-search-input(size="sm" placeholder="Search" slot="menu-header")
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 4
      a.chi-dropdown__menu-item(href='#' slot='menu') Item 5
  .example-tabs.-pl--2
    ul.chi-tabs#example-dropdown-with-search
      li.-active
        a(href=`#webcomponent-dropdown-with-search`) Web Component
      li
        a(href=`#html-dropdown-with-search`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-dropdown-with-search
    .chi-tab__description
      span.-text--grey
        | There are two extra slots available for the dropdown menu: <code>menu-header</code> and <code>menu-footer</code>,
        | which places the items inside those slots, accordingly inside the header and footer of dropdown menu.
    :code(lang="html")
      <chi-dropdown button="Dropdown, click me" visible-items="3">
        <chi-search-input size="sm" placeholder="Search" slot="menu-header"></chi-search-input>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 4</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 5</a>
      </chi-dropdown>
  .chi-tabs-panel#html-dropdown-with-search
    :code(lang="html")
      <div class="chi-dropdown">
        <button id="example__dropdown-with-search" class="chi-button chi-dropdown__trigger">Dropdown, click me</button>
        <div class="chi-dropdown__menu">
          <div class="chi-dropdown__menu-header -mb--1">
            <div class="chi-input__wrapper -icon--right">
              <input class="chi-input chi-search__input -sm" type="search" placeholder="Search" aria-label="search input" />
              <button class="chi-button -icon -flat -sm -bg--none" aria-label="Search">
                <div class="chi-button__content">
                  <i class="chi-icon icon-search" aria-hidden="true"></i>
                </div>
              </button>
            </div>
          </div>
          <div class="chi-dropdown__menu-items-wrapper" style="overflow-y: auto; max-height: 7rem"> 
            <a class="chi-dropdown__menu-item" href="#">Item 1</a>
            <a class="chi-dropdown__menu-item" href="#">Item 2</a>
            <a class="chi-dropdown__menu-item" href="#">Item 3</a>
            <a class="chi-dropdown__menu-item" href="#">Item 4</a>
            <a class="chi-dropdown__menu-item" href="#">Item 5</a>
          </div>
        </div>
      </div>

      <script>chi.dropdown(document.getElementById('example__dropdown-with-search'));</script>

h3 Retain Selection
p.-text
  | There is an available property, <code>retain-selection</code>, which allows retaining the selected item in the dropdown 
  | as active and see the selected item when the dropdown is closed.
.example.-mb--3
  .-p--3
    chi-dropdown(button=`Dropdown, click me` retain-selection)
      a.chi-dropdown__menu-item(slot='menu') Item 1
      a.chi-dropdown__menu-item(slot='menu') Item 2
      a.chi-dropdown__menu-item(slot='menu') Item 3
      a.chi-dropdown__menu-item(slot='menu') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-dropdown-retain-selection
      li.-active
        a(href=`#webcomponent-dropdown-retain-selection`) Web Component
      li
        a(href=`#html-dropdown-retain-selection`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-dropdown-retain-selection
    :code(lang="html")
      <chi-dropdown button="Dropdown, click me" retain-selection>
        <a class="chi-dropdown__menu-item" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 4</a>
      </chi-dropdown>
  .chi-tabs-panel#html-dropdown-retain-selection
    :code(lang="html")
      <div class="chi-dropdown">
        <button id="example__dropdown-retain-selection" style="width: 180px;"
        class="chi-button chi-dropdown__trigger -d--flex -justify-content--between">Dropdown, click me</button>
        <div class="chi-dropdown__menu">
          <a class="chi-dropdown__menu-item">Item 1</a>
          <a class="chi-dropdown__menu-item">Item 2</a>
          <a class="chi-dropdown__menu-item">Item 3</a>
          <a class="chi-dropdown__menu-item">Item 4</a>
        </div>
      </div>

      <script>
        chi.dropdown(document.getElementById('example__dropdown-retain-selection'));

        <!-- Include your custom logic here to retain dropdown selection -->
      </script>

.-portal--hide
  h3 Icon
  p.-text
    | There is an available property, <code>icon</code>, which allows adding an icon as the dropdown trigger.
  .example.-mb--3
    .-p--3
      chi-dropdown(icon="more-vert" icon-tooltip-message="More options")
        a.chi-dropdown__menu-item(slot='menu') Item 1
        a.chi-dropdown__menu-item(slot='menu') Item 2
        a.chi-dropdown__menu-item(slot='menu') Item 3
        a.chi-dropdown__menu-item(slot='menu') Item 4
    .example-tabs.-pl--2
      ul.chi-tabs#example-dropdown-retain-selection
        li.-active
          a(href=`#webcomponent-dropdown-icon`) Web Component
        li
          a(href=`#html-dropdown-icon`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-dropdown-icon
      :code(lang="html")
        <chi-dropdown icon="more-vert" icon-tooltip-message="More options">
          <a class="chi-dropdown__menu-item" slot="menu">Item 1</a>
          <a class="chi-dropdown__menu-item" slot="menu">Item 2</a>
          <a class="chi-dropdown__menu-item" slot="menu">Item 3</a>
          <a class="chi-dropdown__menu-item" slot="menu">Item 4</a>
        </chi-dropdown>
    .chi-tabs-panel#html-dropdown-icon
      :code(lang="html")
        <div class="chi-dropdown">
          <button id="example__dropdown-icon" class="chi-button chi-dropdown__trigger chi-dropdown__icon" 
            aria-label="More options" data-tooltip="More options"> 
            <div class="chi-button__content">
              <i class="chi-icon icon-more-vert" aria-hidden="true"></i>
            </div>
          </button>
          <div class="chi-dropdown__menu">
            <a class="chi-dropdown__menu-item">Item 1</a>
            <a class="chi-dropdown__menu-item">Item 2</a>
            <a class="chi-dropdown__menu-item">Item 3</a>
            <a class="chi-dropdown__menu-item">Item 4</a>
          </div>
        </div>

        <script>
          chi.dropdown(document.getElementById('example__dropdown-icon'));
          chi.tooltip(document.querySelectorAll('[data-tooltip]'));
        </script>

.-portal--show
  h3 Icon
  p.-text
    | There is an available property, <code>icon</code>, which allows adding an icon as the dropdown trigger.
  .example.-mb--3
    .-p--3
      chi-dropdown(icon="more-vert" variant="flat" icon-tooltip-message="More options")
        a.chi-dropdown__menu-item(slot='menu') Item 1
        a.chi-dropdown__menu-item(slot='menu') Item 2
        a.chi-dropdown__menu-item(slot='menu') Item 3
        a.chi-dropdown__menu-item(slot='menu') Item 4
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-dropdown-retain-selection
        li.-active
          a(href=`#webcomponent-portal-dropdown-icon`) Web Component
        li
          a(href=`#html-portal-dropdown-icon`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-portal-dropdown-icon
      :code(lang="html")
        <chi-dropdown icon="more-vert" variant="flat" icon-tooltip-message="More options">
          <a class="chi-dropdown__menu-item" slot="menu">Item 1</a>
          <a class="chi-dropdown__menu-item" slot="menu">Item 2</a>
          <a class="chi-dropdown__menu-item" slot="menu">Item 3</a>
          <a class="chi-dropdown__menu-item" slot="menu">Item 4</a>
        </chi-dropdown>
    .chi-tabs-panel#html-portal-dropdown-icon
      :code(lang="html")
        <div class="chi-dropdown">
          <button id="example__dropdown-icon" class="chi-button -flat chi-dropdown__trigger chi-dropdown__icon" 
            aria-label="More options" data-tooltip="More options"> 
            <div class="chi-button__content">
              <i class="chi-icon icon-more-vert" aria-hidden="true"></i>
            </div>
          </button>
          <div class="chi-dropdown__menu">
            <a class="chi-dropdown__menu-item">Item 1</a>
            <a class="chi-dropdown__menu-item">Item 2</a>
            <a class="chi-dropdown__menu-item">Item 3</a>
            <a class="chi-dropdown__menu-item">Item 4</a>
          </div>
        </div>

        <script>
          chi.dropdown(document.getElementById('example__dropdown-icon'));
          chi.tooltip(document.querySelectorAll('[data-tooltip]'));
        </script>

h2 Menu
h3 Menu item states
p.-text
  | Menu items support the following states: <code>initial</code>, <code>active</code>, <code>disabled</code> and
  | <code>hover</code>.
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      chi-dropdown(active prevent-auto-hide)
        a.chi-dropdown__menu-item(href='#' slot='menu') Item
        a.chi-dropdown__menu-item.-active(href='#' slot='menu') Active item
        a.chi-dropdown__menu-item.-disabled(href='#' slot='menu') Disabled Item
        a.chi-dropdown__menu-item.-hover(href='#' slot='menu') Hovered Item
  .example-tabs.-pl--2
    ul.chi-tabs#example-states
      li.-active
        a(href=`#webcomponent-states`) Web Component
      li
        a(href=`#html-states`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-states
    :code(lang="html")
      <chi-dropdown active>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item</a>
        <a class="chi-dropdown__menu-item -active" href="#" slot="menu">Active item</a>
        <a class="chi-dropdown__menu-item -disabled" href="#" slot="menu">Disabled Item</a>
        <a class="chi-dropdown__menu-item -hover" href="#" slot="menu">Hovered Item</a>
      </chi-dropdown>
  .chi-tabs-panel#html-states
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Item</a>
        <a class="chi-dropdown__menu-item -active" href="#">Active item</a>
        <a class="chi-dropdown__menu-item -disabled" href="#">Disabled item</a>
        <a class="chi-dropdown__menu-item -hover" href="#">Hovered item</a>
      </div>

h3 Description
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      chi-dropdown(active description prevent-auto-hide)
        a.chi-dropdown__menu-item(href='#' slot='menu')
          span.chi-dropdown__menu-item_title(slot='menu') Item
          span.chi-dropdown__menu-item_text(slot='menu') Item description
        a.chi-dropdown__menu-item.-active(href='#' slot='menu')
          span.chi-dropdown__menu-item_title(slot='menu') Active Item
          span.chi-dropdown__menu-item_text(slot='menu') Item description
        a.chi-dropdown__menu-item.-disabled(href='#' slot='menu')
          span.chi-dropdown__menu-item_title(slot='menu') Disabled Item
          span.chi-dropdown__menu-item_text(slot='menu') Item description
        a.chi-dropdown__menu-item.-hover(href='#' slot='menu')
          span.chi-dropdown__menu-item_title(slot='menu') Hovered Item
          span.chi-dropdown__menu-item_text(slot='menu') Item description
  .example-tabs.-pl--2
    ul.chi-tabs#example-states-description
      li.-active
        a(href=`#webcomponent-states-description`) Web Component
      li
        a(href=`#html-states-description`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-states-description
    :code(lang="html")
      <chi-dropdown active description>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          <span class="chi-dropdown__menu-item_title" slot="menu">Item</span>
          <span class="chi-dropdown__menu-item_text" slot="menu">Item description</span>
        </a>
        <a class="chi-dropdown__menu-item -active" href="#" slot="menu">
          <span class="chi-dropdown__menu-item_title" slot="menu">Active Item</span>
          <span class="chi-dropdown__menu-item_text" slot="menu">Item description</span>
        </a>
        <a class="chi-dropdown__menu-item -disabled" href="#" slot="menu">
          <span class="chi-dropdown__menu-item_title" slot="menu">Disabled Item</span>
          <span class="chi-dropdown__menu-item_text" slot="menu">Item description</span>
        </a>
        <a class="chi-dropdown__menu-item -hover" href="#" slot="menu">
          <span class="chi-dropdown__menu-item_title" slot="menu">Hovered Item</span>
          <span class="chi-dropdown__menu-item_text" slot="menu">Item description</span>
        </a>
      </chi-dropdown>
  .chi-tabs-panel#html-states-description
    :code(lang="html")
      <div class="chi-dropdown__menu -list">
        <a class="chi-dropdown__menu-item" href="#">
          <span class="chi-dropdown__menu-item_title">Item</span>
          <span class="chi-dropdown__menu-item_text">Item description</span>
        </a>
        <a class="chi-dropdown__menu-item -active" href="#">
          <span class="chi-dropdown__menu-item_title">Active item</span>
          <span class="chi-dropdown__menu-item_text">Item description</span>
        </a>
        <a class="chi-dropdown__menu-item -disabled" href="#">
          <span class="chi-dropdown__menu-item_title">Disabled item</span>
          <span class="chi-dropdown__menu-item_text">Item description</span>
        </a>
        <a class="chi-dropdown__menu-item -hover" href="#">
          <span class="chi-dropdown__menu-item_title">Hovered item</span>
          <span class="chi-dropdown__menu-item_text">Item description</span>
        </a>
      </div>

h3 Divider
p.-text
  | Several menu items can be arranged together by using a divider. Use the <code>chi-divider</code> component.
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      chi-dropdown(active prevent-auto-hide)
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
        .chi-divider(slot='menu')
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-states-divider
      li.-active
        a(href=`#webcomponent-states-divider`) Web Component
      li
        a(href=`#html-states-divider`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-states-divider
    :code(lang="html")
      <chi-dropdown active>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
        <div class="chi-divider" slot="menu"></div>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 4</a>
      </chi-dropdown>
  .chi-tabs-panel#html-states-divider
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#">Item 3</a>
        <div class="chi-divider"></div>
        <a class="chi-dropdown__menu-item" href="#">Item 4</a>
      </div>

h3 Icons
p.-text
  | Dropdown component has been developed to support Chi icons in the menu items.
h4 Left Aligned
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      chi-dropdown(active prevent-auto-hide)
        a.chi-dropdown__menu-item(href='#' slot='menu')
          i.chi-icon.icon-file-outline(aria-hidden="true")
          = "New"
        a.chi-dropdown__menu-item.-disabled(href='#' slot='menu')
          i.chi-icon.icon-arrow-to-bottom(aria-hidden="true")
          = "Save"
        .chi-divider(slot='menu')
        a.chi-dropdown__menu-item(href='#' slot='menu')
          i.chi-icon.icon-file-outline(aria-hidden="true")
          = "Send"
        a.chi-dropdown__menu-item.-active(href='#' slot='menu')
          i.chi-icon.icon-cart(aria-hidden="true")
          = "Buy"
        a.chi-dropdown__menu-item(href='#' slot='menu')
          i.chi-icon.icon-users(aria-hidden="true")
          = "Share"
        .chi-divider(slot='menu')
        a.chi-dropdown__menu-item(href='#' slot='menu')
          i.chi-icon.icon-logout(aria-hidden="true")
          = "Logout"
  .example-tabs.-pl--2
    ul.chi-tabs#example-states-icons
      li.-active
        a(href=`#webcomponent-states-icons`) Web Component
      li
        a(href=`#html-states-icons`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-states-icons
    :code(lang="html")
      <chi-dropdown active>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          <i class="chi-icon icon-file-outline" aria-hidden="true"></i>
          New
        </a>
        <a class="chi-dropdown__menu-item -disabled" href="#" slot="menu">
          <i class="chi-icon icon-arrow-to-bottom" aria-hidden="true"></i>
          Save
        </a>
        <div class="chi-divider" slot="menu"></div>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          <i class="chi-icon icon-file-outline" aria-hidden="true"></i>
          Send
        </a>
        <a class="chi-dropdown__menu-item -active" href="#" slot="menu">
          <i class="chi-icon icon-cart" aria-hidden="true"></i>
          Buy
        </a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          <i class="chi-icon icon-users" aria-hidden="true"></i>
          Share
        </a>
        <div class="chi-divider" slot="menu"></div>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          <i class="chi-icon icon-logout" aria-hidden="true"></i>
          Logout
        </a>
      </chi-dropdown>
  .chi-tabs-panel#html-states-icons
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">
          <i class="chi-icon icon-file-outline" aria-hidden="true"></i>New
        </a>
        <a class="chi-dropdown__menu-item -disabled" href="#">
          <i class="chi-icon icon-arrow-to-bottom" aria-hidden="true"></i>Save
        </a>
        <div class="chi-divider"></div>
        <a class="chi-dropdown__menu-item" href="#">
          <i class="chi-icon icon-mail" aria-hidden="true"></i>Send
        </a>
        <a class="chi-dropdown__menu-item -active" href="#">
          <i class="chi-icon icon-cart" aria-hidden="true"></i>Buy
        </a>
        <a class="chi-dropdown__menu-item" href="#">
          <i class="chi-icon icon-users" aria-hidden="true"></i>Share
        </a>
        <div class="chi-divider"></div>
        <a class="chi-dropdown__menu-item" href="#">
          <i class="chi-icon icon-logout" aria-hidden="true"></i>Logout
        </a>
      </div>

h4 Right Aligned
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      chi-dropdown(active prevent-auto-hide)
        a.chi-dropdown__menu-item(href='#' slot='menu')
          = "New"
          i.chi-icon.icon-file-outline.-icon--right(aria-hidden="true")
        a.chi-dropdown__menu-item.-disabled(href='#' slot='menu')
          = "Save"
          i.chi-icon.icon-arrow-to-bottom.-icon--right(aria-hidden="true")
        .chi-divider(slot='menu')
        a.chi-dropdown__menu-item(href='#' slot='menu')
          = "Send"
          i.chi-icon.icon-file-outline.-icon--right(aria-hidden="true")
        a.chi-dropdown__menu-item.-active(href='#' slot='menu')
          = "Buy"
          i.chi-icon.icon-cart.-icon--right(aria-hidden="true")
        a.chi-dropdown__menu-item(href='#' slot='menu')
          = "Share"
          i.chi-icon.icon-users.-icon--right(aria-hidden="true")
        .chi-divider(slot='menu')
        a.chi-dropdown__menu-item(href='#' slot='menu')
          = "Logout"
          i.chi-icon.icon-logout.-icon--right(aria-hidden="true")
  .example-tabs.-pl--2
    ul.chi-tabs#example-states-right-icons
      li.-active
        a(href=`#webcomponent-states-right-icons`) Web Component
      li
        a(href=`#html-states-right-icons`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-states-right-icons
    :code(lang="html")
      <chi-dropdown active>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          New
          <i class="chi-icon icon-file-outline -icon--right" aria-hidden="true"></i>
        </a>
        <a class="chi-dropdown__menu-item -disabled" href="#" slot="menu">
          Save
          <i class="chi-icon icon-arrow-to-bottom -icon--right" aria-hidden="true"></i>
        </a>
        <div class="chi-divider" slot="menu"></div>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          Send
          <i class="chi-icon icon-file-outline -icon--right" aria-hidden="true"></i>
        </a>
        <a class="chi-dropdown__menu-item -active" href="#" slot="menu">
          Buy
          <i class="chi-icon icon-cart -icon--right" aria-hidden="true"></i>
        </a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          Share
          <i class="chi-icon icon-users -icon--right" aria-hidden="true"></i>
        </a>
        <div class="chi-divider" slot="menu"></div>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">
          Logout
          <i class="chi-icon icon-logout -icon--right" aria-hidden="true"></i>
        </a>
      </chi-dropdown>
  .chi-tabs-panel#html-states-right-icons
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">
          New <i class="chi-icon icon-file-outline -icon--right" aria-hidden="true"></i>
        </a>
        <a class="chi-dropdown__menu-item -disabled" href="#">
          Save <i class="chi-icon icon-arrow-to-bottom -icon--right" aria-hidden="true"></i>
        </a>
        <div class="chi-divider"></div>
        <a class="chi-dropdown__menu-item" href="#">
          Send <i class="chi-icon icon-mail -icon--right" aria-hidden="true"></i>
        </a>
        <a class="chi-dropdown__menu-item -active" href="#">
          Buy <i class="chi-icon icon-cart -icon--right" aria-hidden="true"></i>
        </a>
        <a class="chi-dropdown__menu-item" href="#">
          Share <i class="chi-icon icon-users -icon--right" aria-hidden="true"></i>
        </a>
        <div class="chi-divider"></div>
        <a class="chi-dropdown__menu-item" href="#">
          Logout <i class="chi-icon icon-logout -icon--right" aria-hidden="true"></i>
        </a>
      </div>

h3 Search Input
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      chi-dropdown(active prevent-auto-hide)
        chi-search-input(size="sm" placeholder="Search" slot="menu-header") 
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 1
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 2
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 3
        a.chi-dropdown__menu-item(href='#' slot='menu') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-search
      li.-active
        a(href=`#webcomponent-search`) Web Component
      li
        a(href=`#html-search`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-search
    :code(lang="html")
      <chi-dropdown active>
        <chi-search-input size="sm" placeholder="Search" slot="menu-header"></chi-search-input>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" href="#" slot="menu">Item 4</a>
      </chi-dropdown>
  .chi-tabs-panel#html-search
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <div class="chi-dropdown__menu-header -mb--1">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -sm" type="search" placeholder="Search" aria-label="search input" />
            <button class="chi-button -icon -flat -sm -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search" aria-hidden="true"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-dropdown__menu-items-wrapper"> 
          <a class="chi-dropdown__menu-item" href="#">Item 1</a>
          <a class="chi-dropdown__menu-item" href="#">Item 2</a>
          <a class="chi-dropdown__menu-item" href="#">Item 3</a>
          <a class="chi-dropdown__menu-item" href="#">Item 4</a>
        </div>
      </div>

h3 Checkboxes
h4 Base
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      chi-dropdown(active prevent-auto-hide)
        .chi-dropdown__menu-item(slot='menu')
          chi-checkbox(id='checkbox1' label='Item 1')
        .chi-dropdown__menu-item(slot='menu')
          chi-checkbox(id='checkbox2' label='Item 2' disabled)
        .chi-dropdown__menu-item(slot='menu')
          chi-checkbox(id='checkbox3' label='Item 3' checked)
        .chi-dropdown__menu-item(slot='menu')
          chi-checkbox(id='checkbox4' label='Item 4')
  .example-tabs.-pl--2
    ul.chi-tabs#example-checkbox
      li.-active
        a(href=`#webcomponent-checkbox`) Web Component
      li
        a(href=`#html-checkbox`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-checkbox
    :code(lang="html")
      <chi-dropdown active>
        <div class="chi-dropdown__menu-item" slot="menu">
          <chi-checkbox id="checkbox1" label="Item 1"></chi-checkbox>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <chi-checkbox id="checkbox2" label="Item 2" disabled></chi-checkbox>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <chi-checkbox id="checkbox3" label="Item 3" checked></chi-checkbox>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <chi-checkbox id="checkbox4" label="Item 4"></chi-checkbox>
        </div>
      </chi-dropdown>   
  .chi-tabs-panel#html-checkbox
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox1">
            <label class="chi-checkbox__label" for="checkbox1">Item 1</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox2" disabled>
            <label class="chi-checkbox__label" for="checkbox2">Item 2</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox3" checked>
            <label class="chi-checkbox__label" for="checkbox3">Item 3</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox4">
            <label class="chi-checkbox__label" for="checkbox4">Item 4</label>
          </div>
        </div>
      </div>

h4 With Icons
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--10.-w-sm--6.-w-md--7.-w-lg--5.-w-xl--3
      chi-dropdown(active prevent-auto-hide)
        .chi-dropdown__menu-item(slot='menu')
          .chi-checkbox
            input.chi-checkbox__input(type="checkbox" id="checkbox1")
            label.chi-checkbox__label(for="checkbox1")
              i.chi-icon.icon-logo-centurylink(aria-hidden="true")
              | Item 1
        .chi-dropdown__menu-item(slot='menu')
         .chi-checkbox
            input.chi-checkbox__input(type="checkbox" id="checkbox2" disabled)
            label.chi-checkbox__label(for="checkbox2")
              i.chi-icon.icon-logo-centurylink(aria-hidden="true")
              | Item 2
        .chi-dropdown__menu-item(slot='menu')
          .chi-checkbox
            input.chi-checkbox__input(type="checkbox" id="checkbox3" checked)
            label.chi-checkbox__label(for="checkbox3")
              i.chi-icon.icon-logo-centurylink(aria-hidden="true")
              | Item 3
        .chi-dropdown__menu-item(slot='menu')
          .chi-checkbox
            input.chi-checkbox__input(type="checkbox" id="checkbox4")
            label.chi-checkbox__label(for="checkbox4")
              i.chi-icon.icon-logo-centurylink(aria-hidden="true")
              | Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-checkbox-icons
      li.-active
        a(href=`#webcomponent-checkbox-icons`) Web Component
      li
        a(href=`#html-checkbox-icons`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-checkbox-icons
    :code(lang="html")
      <chi-dropdown active>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox1">
            <label class="chi-checkbox__label" for="checkbox1">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 1
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox2" disabled>
            <label class="chi-checkbox__label" for="checkbox2">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 2
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox3" checked>
            <label class="chi-checkbox__label" for="checkbox3">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 3
            </label>
          </div>
        <div class="chi-dropdown__menu-item" slot="menu">
         <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox4">
            <label class="chi-checkbox__label" for="checkbox4">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 4
            </label>
          </div>
        </div>
      </chi-dropdown>
  .chi-tabs-panel#html-checkbox-icons
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox1">
            <label class="chi-checkbox__label" for="checkbox1">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 1
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox2" disabled>
            <label class="chi-checkbox__label" for="checkbox2">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 2
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox3" checked>
            <label class="chi-checkbox__label" for="checkbox3">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 3
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-checkbox">
            <input class="chi-checkbox__input" type="checkbox" id="checkbox4">
            <label class="chi-checkbox__label" for="checkbox4">
              <i class="chi-icon icon-logo-centurylink" aria-hidden="true"></i>
              Item 4
            </label>
          </div>
        </div>
      </div>

h3 Radio Buttons
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      chi-dropdown(active prevent-auto-hide)
        legend.chi-dropdown__menu-item(slot='menu') Select an option
        .chi-dropdown__menu-item(slot='menu')
          .chi-radio
            input(class="chi-radio__input", type="radio", name="radios", id="radio1")
            label.chi-radio__label(for="radio1") Radio Button 1
        .chi-dropdown__menu-item(slot='menu')
          .chi-radio
            input(class="chi-radio__input", type="radio", name="radios", id="radio2", disabled)
            label.chi-radio__label(for="radio2") Disabled Radio Button 2
        .chi-dropdown__menu-item(slot='menu')
          .chi-radio
            input(class="chi-radio__input", type="radio", name="radios", id="radio3")
            label.chi-radio__label(for="radio3") Radio Button 3
        .chi-dropdown__menu-item(slot='menu')
          .chi-radio
            input(class="chi-radio__input", type="radio", name="radios", id="radio4")
            label.chi-radio__label(for="radio4") Radio Button 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-radio
      li.-active
        a(href=`#webcomponent-radio`) Web Component
      li
        a(href=`#html-radio`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-radio
    :code(lang="html")
      <chi-dropdown active>
        <legend class="chi-dropdown__menu-item" slot="menu">Select an option</legend>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio1" />
            <label class="chi-radio__label" for="radio1">Radio Button 1</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio2" disabled />
            <label class="chi-radio__label" for="radio2">Disabled Radio Button 2</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio3" />
            <label class="chi-radio__label" for="radio3">Radio Button 3</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio4" />
            <label class="chi-radio__label" for="radio4">Radio Button 4</label>
          </div>
        </div>
      </chi-dropdown>
  .chi-tabs-panel#html-radio
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <fieldset>
          <legend class="chi-dropdown__menu-item">Select an option</legend>
          <div class="chi-dropdown__menu-item">
            <div class="chi-radio">
              <input class="chi-radio__input" type="radio" name="radios" id="radio1">
              <label class="chi-radio__label" for="radio1">Radio Button 1</label>
            </div>
          </div>
          <div class="chi-dropdown__menu-item">
            <div class="chi-radio">
              <input class="chi-radio__input" type="radio" name="radios" id="radio2" disabled>
              <label class="chi-radio__label" for="radio2">Disabled Radio Button 2</label>
            </div>
          </div>
          <div class="chi-dropdown__menu-item">
            <div class="chi-radio">
              <input class="chi-radio__input" type="radio" name="radios" id="radio3">
              <label class="chi-radio__label" for="radio3">Radio Button 3</label>
            </div>
          </div>
          <div class="chi-dropdown__menu-item">
            <div class="chi-radio">
              <input class="chi-radio__input" type="radio" name="radios" id="radio4">
              <label class="chi-radio__label" for="radio4">Radio Button 4</label>
            </div>
          </div>
        </fieldset>
      </div>

h3 Range Input
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      chi-dropdown(active prevent-auto-hide)
        .chi-dropdown__menu-item(slot='menu')
          span.-text.-mr--2 200GB
          input.chi-input(type="range", aria-label="Range description")
          span.-text.-ml--2 5TB
        .chi-divider(slot='menu')
        legend.chi-dropdown__menu-item(slot='menu') Select range
        .chi-dropdown__menu-item(slot='menu')
          input.chi-input(type="range", aria-label="Range description")
  .example-tabs.-pl--2
    ul.chi-tabs#example-range
      li.-active
        a(href=`#webcomponent-range`) Web Component
      li
        a(href=`#html-range`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-range
    :code(lang="html")
      <chi-dropdown active>
        <div class="chi-dropdown__menu-item" slot="menu">
          <span class="-text -mr--2">200GB</span>
          <input class="chi-input" type="range" aria-label="Range description" />
          <span class="-text -ml--2">5TB</span>
        </div>
        <div class="chi-divider" slot="menu"></div>
        <legend class="chi-dropdown__menu-item" slot="menu">Select range</legend>
        <div class="chi-dropdown__menu-item" slot="menu">
          <input class="chi-input" type="range" aria-label="Range description" />
        </div>
      </chi-dropdown>
  .chi-tabs-panel#html-range
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <div class="chi-dropdown__menu-item">
          <span class="-text -mr--2">200GB</span>
          <input class="chi-input" type="range" aria-label="Range description">
          <span class="-text -ml--2">5TB</span>
        </div>
        <div class="chi-divider"></div>
        <legend class="chi-dropdown__menu-item">Select range</legend>
        <div class="chi-dropdown__menu-item">
          <input class="chi-input" type="range" aria-label="Range description">
        </div>
      </div>

h3 Toggle Switch
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      chi-dropdown(active prevent-auto-hide)
        legend.chi-dropdown__menu-item(slot='menu') Configure options
        .chi-dropdown__menu-item(slot='menu')
          .chi-form__item
            label.chi-switch.-xs(for="toggle-mail")
              input(type="checkbox", class="chi-switch__input", id="toggle-mail")
              span(class="chi-switch__content")
                span.chi-switch__thumb
              span.chi-switch__label Email notifications
        .chi-dropdown__menu-item(slot='menu')
          .chi-form__item
            label.chi-switch.-xs(for="toggle-tlf")
              input(type="checkbox", class="chi-switch__input", id="toggle-tlf")
              span(class="chi-switch__content")
                span.chi-switch__thumb
              span.chi-switch__label Phone notifications
        .chi-dropdown__menu-item(slot='menu')
          .chi-form__item
            label.chi-switch.-xs(for="toggle-app")
              input(type="checkbox", class="chi-switch__input", id="toggle-app")
              span(class="chi-switch__content")
                span.chi-switch__thumb
              span.chi-switch__label App notifications
  .example-tabs.-pl--2
    ul.chi-tabs#example-switch
      li.-active
        a(href=`#webcomponent-switch`) Web Component
      li
        a(href=`#html-switch`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-switch
    :code(lang="html")
      <chi-dropdown active>
        <legend class="chi-dropdown__menu-item" slot="menu">Configure options</legend>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-form__item">
            <label class="chi-switch -xs" for="toggle-mail">
              <input class="chi-switch__input" type="checkbox" id="toggle-mail" />
              <span class="chi-switch__content">
                <span class="chi-switch__thumb"></span>
              </span>
              <span class="chi-switch__label">Email notifications</span>
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-form__item">
            <label class="chi-switch -xs" for="toggle-tlf">
              <input class="chi-switch__input" type="checkbox" id="toggle-tlf" />
              <span class="chi-switch__content">
                <span class="chi-switch__thumb"></span>
              </span>
              <span class="chi-switch__label">Phone notifications</span>
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item" slot="menu">
          <div class="chi-form__item">
            <label class="chi-switch -xs" for="toggle-app">
              <input class="chi-switch__input" type="checkbox" id="toggle-app" />
              <span class="chi-switch__content">
                <span class="chi-switch__thumb"></span>
              </span>
              <span class="chi-switch__label">App notifications</span>
            </label>
          </div>
        </div>
      </chi-dropdown>
  .chi-tabs-panel#html-switch
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <fieldset>
          <legend class="chi-dropdown__menu-item">Configure options</legend>
          <div class="chi-dropdown__menu-item">
            <div class="chi-form__item">
              <label class="chi-switch -xs" for="toggle-mail">
                <input type="checkbox" class="chi-switch__input" id="toggle-mail">
                <span class="chi-switch__content">
                  <span class="chi-switch__thumb"></span>
                </span>
                <span class="chi-switch__label">Email notifications</span>
              </label>
            </div>
          </div>
          <div class="chi-dropdown__menu-item">
            <div class="chi-form__item">
              <label class="chi-switch -xs" for="toggle-tlf">
                <input type="checkbox" class="chi-switch__input" id="toggle-tlf">
                <span class="chi-switch__content">
                  <span class="chi-switch__thumb"></span>
                </span>
                <span class="chi-switch__label">Phone notifications</span>
              </label>
            </div>
          </div>
          <div class="chi-dropdown__menu-item">
            <div class="chi-form__item">
              <label class="chi-switch -xs" for="toggle-app">
                <input type="checkbox" class="chi-switch__input" id="toggle-mail">
                <span class="chi-switch__content">
                  <span class="chi-switch__thumb"></span>
                </span>
                <span class="chi-switch__label">Email notifications</span>
              </label>
            </div>
          </div>
        </fieldset>
      </div>

h3 Plain Text
p.-text Use a <code>span</code> tag to include text without rendering as a link.
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      chi-dropdown(active prevent-auto-hide)
        span.chi-dropdown__menu-item(href='#' slot='menu') Text 1
        span.chi-dropdown__menu-item(href='#' slot='menu') Text 2
        span.chi-dropdown__menu-item(href='#' slot='menu') Text 3
        span.chi-dropdown__menu-item(href='#' slot='menu') Text 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-text
      li.-active
        a(href=`#webcomponent-text`) Web Component
      li
        a(href=`#html-text`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-text
    :code(lang="html")
      <chi-dropdown active>
        <span class="chi-dropdown__menu-item" href="#" slot="menu">Text 1</span>
        <span class="chi-dropdown__menu-item" href="#" slot="menu">Text 2</span>
        <span class="chi-dropdown__menu-item" href="#" slot="menu">Text 3</span>
        <span class="chi-dropdown__menu-item" href="#" slot="menu">Text 4</span>
      </chi-dropdown>  
  .chi-tabs-panel#html-text
    :code(lang="html")
      <div class="chi-dropdown__menu">
        <span class="chi-dropdown__menu-item">Text 1</span>
        <span class="chi-dropdown__menu-item">Text 2</span>
        <span class="chi-dropdown__menu-item">Text 3</span>
        <span class="chi-dropdown__menu-item">Text 4</span>
      </div>

h3 Helpers
h4 Truncate long menu-items
p.-text
  | Wrap the menu-item content in a div with the class <code>-flex--ellipsis</code> to truncate long strings.
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-dropdown__menu.-active(style="width:10rem")
      a.chi-dropdown__menu-item(href='#') Item 1
      a.chi-dropdown__menu-item(href='#') Item 2
      a.chi-dropdown__menu-item(id='example-truncated-menu-item' href='#' data-tooltip='Item 3 with truncated longer text')
        .-flex--ellipsis Item 3 with truncated longer text
      a.chi-dropdown__menu-item(href='#') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-truncate
      li.-disabled
        a(href=`#webcomponent-truncate`) Web Component
      li.-active
        a(href=`#html-truncate`) HTML Blueprint
  .chi-tabs-panel#webcomponent-truncate
  .chi-tabs-panel.-active#html-truncate
    :code(lang="html")
      <div class="chi-dropdown__menu" style="width:10rem">
        <a class="chi-dropdown__menu-item" href="#">Item 1</a>
        <a class="chi-dropdown__menu-item" href="#">Item 2</a>
        <a class="chi-dropdown__menu-item" href="#">
          <div class="-flex--ellipsis">Item 3 with truncated longer text</div>
        </a>
        <a class="chi-dropdown__menu-item" href="#">Item 4</a>
      </div>

      <!-- Tooltip for truncated text -->
      <script>chi.tooltip(document.querySelectorAll('[data-tooltip]'));</script>

h4 Flexible height
p.-text Add the class <code>-h--auto</code> to set menu item height to auto.
.example.-mb--3
  .-p--3(style="background-color:#eee;")
    .chi-dropdown__menu.-active(style="width:10rem")
      a.chi-dropdown__menu-item(href="#") Item 1
      .chi-dropdown__menu-item.-h--auto.-py--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a.chi-dropdown__menu-item(href="#") Item 2
  .example-tabs.-pl--2
    ul.chi-tabs#example-flexheight
      li.-disabled
        a(href=`#webcomponent-flexheight`) Web Component
      li.-active
        a(href=`#html-flexheight`) HTML Blueprint
  .chi-tabs-panel#webcomponent-flexheight
  .chi-tabs-panel.-active#html-flexheight
    :code(lang="html")
      <div class="chi-dropdown__menu" style="width:10rem">
        <a class="chi-dropdown__menu-item" href="#">Item 1</a>
        <div class="chi-dropdown__menu-item -h--auto -py--1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <a class="chi-dropdown__menu-item" href="#">Item 2</a>
      </div>

h3 Select mode

p.-text
  | The <code>select-mode</code> property enables the looks and feels of the <code>select</code> component,
  | with the advantage of having the options to be shown with styles following the brand guidelines and
  | independent from the operating systems or browsers.
p.-text
  | With value <code>single</code>, only one option can be selected. With value <code>multi</code> any number
  | of options can be selected, and clicking a selected option will unselect it.

.example.-mb--3
  .-p--3
    chi-dropdown(select-mode="single" button="- Select single -")
      a.chi-dropdown__menu-item(slot='menu') Item 1
      a.chi-dropdown__menu-item(slot='menu') Item 2
      a.chi-dropdown__menu-item(slot='menu') Item 3
      a.chi-dropdown__menu-item(slot='menu') Item 4
    chi-dropdown.-mt--2(select-mode="multi" button="- Select multi -")
      a.chi-dropdown__menu-item(slot='menu') Item 1
      a.chi-dropdown__menu-item(slot='menu') Item 2
      a.chi-dropdown__menu-item(slot='menu') Item 3
      a.chi-dropdown__menu-item(slot='menu') Item 4
  .example-tabs.-pl--2
    ul.chi-tabs#example-select-mode-single
      li.-active
        a(href=`#webcomponent-select-mode-single`) Web Component
      li.-disabled
        a(href=`#html-select-mode-single`) HTML Blueprint
  .chi-tabs-panel#html-select-mode-single
  .chi-tabs-panel.-active#webcomponent-select-mode-single
    :code(lang="html")
      <!-- Select mode single -->
      <chi-dropdown button="- Select single -" select-mode> <!-- or select-mode="single" -->
        <a class="chi-dropdown__menu-item" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 4</a>
      </chi-dropdown>

      <!-- Select mode multi -->
      <chi-dropdown button="- Select multi -" select-mode="multi">
        <a class="chi-dropdown__menu-item" slot="menu">Item 1</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 2</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 3</a>
        <a class="chi-dropdown__menu-item" slot="menu">Item 4</a>
      </chi-dropdown>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
      chi.dropdown(document.querySelectorAll('.chi-dropdown .chi-button'))
      chi.dropdown(document.getElementById('dropdown-2'));
      chi.tooltip(document.querySelectorAll('[data-tooltip]'));
    }
  );
