h2 JavaScript
h3.-mt--2 Properties
section.chi-table.chi-table__methods.-bordered.-my--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Property
          th
            div Attribute
          th
            div Description
          th
            div Type
          th
            div Default
      tbody
        tr
          td
            div
              code= 'active'
          td
            div
              code= 'active'
          td
            div
              | to set the state of Dropdown
          td
            div
              code= 'boolean'
          td
            div
              | undefined
        tr
          td
            div
              code= 'hover'
          td
            div
              code= 'hover'
          td
            div
              | to configure activation on hover of the Dropdown with base style button trigger
          td
            div
              code= 'boolean'
          td
            div
              | undefined
        tr
          td
            div
              code= 'button'
          td
            div
              code= 'button'
          td
            div
              | to provide the value of base-style button as trigger of the Dropdown
          td
            div
              code= 'string'
          td
            div
              | undefined
        tr
          td
            div
              code= 'animate'
          td
            div
              code= 'animate'
          td
            div
              | to animate the accordion of Dropdown
          td
            div
              code= 'boolean'
          td
            div
              | undefined
        tr
          td
            div
              code= 'position'
          td
            div
              code= 'position'
          td
            div
              | to set position of the Dropdown
          td
            div
              code= `"auto-start" | "auto" | "auto-end" | "top-start" | "top" | "top-end" | "right-start" | "right" | "right-end" | "bottom-end" | "bottom" | "bottom-start" | "left-end" | "left" | "left-start"`
          td
            div
              | undefined
        tr
          td
            div
              code= 'reference'
          td
            div
              code= 'reference'
          td
            div
              | to provide selector of an external reference element
          td
            div
              code= 'string'
          td
            div
              | undefined
        tr
          td
            div
              code= 'menuStyle'
          td
            div
              code= 'menu-style'
          td
            div
              | to provide style for dropdown menu
          td
            div
              code= 'string'
          td
            div
              | undefined
        tr
          td
            div
              code= 'preventAutoHide'
          td
            div
              code= 'prevent-auto-hide'
          td
            div
              | to prevent hiding of the Dropdown when clicking outside its bounds
          td
            div
              code= 'boolean'
          td
            div
              | undefined

h3 Methods
section.chi-table.chi-table__methods.-bordered.-my--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Method
          th
            div Description
          th
            div Returns
      tbody
        tr
          td
            div
              code= 'hide() => void'
          td
            div
              | Hides the dropdown
          td
            div
              | Type: void
        tr
          td
            div
              code= 'show() => void'
          td
            div
              | Shows the dropdown
          td
            div
              | Type: void
        tr
          td
            div
              code= 'toggle() => void'
          td
            div
              | Toggles active state (show/hide)
          td
            div
              | Type: void

h3 Events
section.chi-table.-bordered.-my--3
  table(cellpadding='0', cellspacing='0')
    thead
      tr
        th
          div Event
        th
          div Description
    tbody
      tr
        td
          div
            code chiDropdownShow
        td
          div Dropdown show has been triggered.
      tr
        td
          div
            code chiDropdownHide
        td
          div Dropdown hide has been triggered.

h4 Preventing memory leaks
p.-text
  | Dropdown components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You must call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('dropdown-3');
  var dropdown = chi.dropdown(elem);
  // do stuff
  dropdown.dispose();

p.-text
  | It is safe to call the <code>dropdown</code> method more than once, as it will return any previously created dropdown component
  | associated with the trigger.
:code(lang="javascript")
  var elem = document.getElementById('dropdown-4');
  var dropdown = chi.dropdown(elem);
  var elem2 = document.getElementById('dropdown-4');
  var dropdown2 = chi.dropdown(elem2);
  dropdown === dropdown2; // returns true

  dropdown.dispose(); // Only have to do it once.
