extends ../layout.pug

block scripts
  script(src='../../js/chi.js')
  script(src='../../chi-icons.js')
  script(src='../../chi-marketing-icons.js')
block variables
  -  var title = 'Date Picker'
  -  var hours = [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];
  -  var weekS = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
  -  var periods = ['AM', 'PM'];
  -  var today = 19;
  -  var active = 23;
  -  var padZero = value => ('0' + value).slice(-2);
  -  var day = 1;
  -  var minute = 0;
  -  var hour = 0;

block content
  .test-base.-py--2
    span.-text--h2 Base
    .-position--relative
      .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
        .chi-datepicker__month-row
          .prev
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-left')
          .chi-datepicker__month
            | November 2018
          .next
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-right')
        .chi-datepicker__day-names
          each weekDay in weekS
            .chi-datepicker__week-day=weekDay
        .chi-datepicker__days
          while day < 31
            .chi-datepicker__day=day++

  - day = 1;

  .test-today.-py--2
    span.-text--h2 Today
    .-position--relative
      .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
        .chi-datepicker__month-row
          .prev
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-left')
          .chi-datepicker__month
            | November 2018
          .next
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-right')
        .chi-datepicker__day-names
          each weekDay in weekS
            .chi-datepicker__week-day=weekDay
        .chi-datepicker__days
          while day < 31
            if day === today
              .chi-datepicker__day.-today=day++
            else
              .chi-datepicker__day=day++

  - day = 1;

  .test-active.-py--2
    span.-text--h2 Active
    .-position--relative
      .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
        .chi-datepicker__month-row
          .prev
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-left')
          .chi-datepicker__month
            | November 2018
          .next
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-right')
        .chi-datepicker__day-names
          each weekDay in weekS
            .chi-datepicker__week-day=weekDay
        .chi-datepicker__days
          while day < 31
            if day === active
              .chi-datepicker__day.-active=day++
            else
              .chi-datepicker__day=day++

  - day = 1;

  .test-hover.-py--2
    span.-text--h2 Hover
    .-position--relative
      .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
        .chi-datepicker__month-row
          .prev
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-left')
          .chi-datepicker__month
            | November 2018
          .next
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-right')
        .chi-datepicker__day-names
          each weekDay in weekS
            .chi-datepicker__week-day=weekDay
        .chi-datepicker__days
          while day < 31
            if day === active
              .chi-datepicker__day.-hover=day++
            else
              .chi-datepicker__day=day++

  - day = 1;

  .test-inactive.-py--2
    span.-text--h2 Inactive
    .-position--relative
      .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
        .chi-datepicker__month-row
          .prev.-disabled
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-left')
          .chi-datepicker__month
            | November 2018
          .next.-disabled
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-right')
        .chi-datepicker__day-names
          each weekDay in weekS
            .chi-datepicker__week-day=weekDay
        .chi-datepicker__days
          while day < 31
            if day < today || day > today
              .chi-datepicker__day.-inactive=day++
            else
              .chi-datepicker__day=day++

  - day = 1;

  .test-combined.-py--2
    span.-text--h2 Combined
    .-position--relative
      .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
        .chi-datepicker__month-row
          .prev.-disabled
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-left')
          .chi-datepicker__month
            | November 2018
          .next
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-right')
        .chi-datepicker__day-names
          each weekDay in weekS
            .chi-datepicker__week-day=weekDay
        .chi-datepicker__days
          while day < 31
            if day === active
              .chi-datepicker__day.-active=day++
            else if day < today
              .chi-datepicker__day.-inactive=day++
            else
              .chi-datepicker__day=day++

  .test-input-combined.-py--2
    span.-text--h2 Input Popover Combined
    button#toggle-datepicker.chi-button Toggle
    button#setDate-datepicker.chi-button Set date
    button#dispose-datepicker.chi-button Dispose date picker

    .-position--relative#datepicker-1.-mt--3(style="height: 18rem; width:14rem;")
      input.chi-input.-load__datepicker(type="text", placeholder="MM/DD/YYYY")

  .test-input-combined-icon.-py--2
    span.-text--h2 Input Popover Combined w/ icon
    .-position--relative#datepicker-2(style="height: 18rem; width:14rem;")
      .chi-input__wrapper.-icon--right
        input.chi-input.-load__datepicker(type="text", placeholder="MM/DD/YYYY")
        .chi-icon
          svg
            use(xlink:href="#icon-date")

  .test-input-error.-py--2
    span.-text--h2 Input Popover Error
    .-position--relative#datepicker-3(style="height: 18rem; width:14rem;")
      input.chi-input.-danger.-load__datepicker(type="text", placeholder="MM/DD/YYYY")

  .test-disabled.-py--2
    span.-text--h2 Disabled date picker
    .-position--relative#datepicker-4(style="width:14rem;")
      .chi-input__wrapper.-icon--right.-disabled
        input.chi-input.-load__datepicker(type="text", placeholder="MM/DD/YYYY", disabled)
        .chi-icon
          svg
            use(xlink:href="#icon-date")

  - day = 1;

  .test-multiple.-py--2
    span.-text--h2 Multiple Dates selection
    .-position--relative
      .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
        .chi-datepicker__month-row
          .prev
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-left')
          .chi-datepicker__month
            | November 2018
          .next
            .chi-icon.-sm
              svg
                use(xlink:href='#icon-chevron-right')
        .chi-datepicker__day-names
          each weekDay in weekS
            .chi-datepicker__week-day=weekDay
        .chi-datepicker__days
          while day < 31
            if day === 28
              .chi-datepicker__day.-active=day++
            else if day === 29
              .chi-datepicker__day.-active=day++
            else if day === 30
              .chi-datepicker__day.-active=day++
            else
              .chi-datepicker__day=day++

  - day = 1;

  .test-time-format-24hr-view.-py--2
    span.-text--h2 Test time format view
    .-d--flex
      div
        .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
          .chi-datepicker__month-row
            .prev
              .chi-icon.-sm.undefined
                svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                  use(xlink:href='#icon-chevron-left')
            .chi-datepicker__month
              | November
              | 2018
            .next
              .chi-icon.-sm.undefined
                  svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                    use(xlink:href='#icon-chevron-right')
          .chi-datepicker__day-names
            each weekDay in weekS
              .chi-datepicker__week-day=weekDay
          .chi-datepicker__days
            while day < 31
              if day === 23
                .chi-datepicker__day.-active=day++
              else
                .chi-datepicker__day=day++

      div
        .chi-time-picker
          .chi-time-picker__content
            .chi-time-picker__hours
              while hour < 24
                if hour === 0
                  .chi-time-picker__hour.-active=padZero(hour++)
                else
                  .chi-time-picker__hour=padZero(hour++)
            .chi-time-picker__minutes
              while minute < 60
                if minute === 0
                  .chi-time-picker__minute.-active=padZero(minute++)
                else
                  .chi-time-picker__minute=padZero(minute++)

  - day = 1;
  - hour = 0;
  - minute = 0;

  .test-time-format-12hr-view.-py--2
    span.-text--h2 Test time 12 hour format view
    .-d--flex
      div
        .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
          .chi-datepicker__month-row
            .prev
              .chi-icon.-sm
                svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                  use(xlink:href='#icon-chevron-left')
            .chi-datepicker__month
              | November
              | 2018
            .next
              .chi-icon.-sm
                  svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                    use(xlink:href='#icon-chevron-right')
          .chi-datepicker__day-names
            each weekDay in weekS
              .chi-datepicker__week-day=weekDay
          .chi-datepicker__days
            while day < 31
              if day === 23
                .chi-datepicker__day.-active=day++
              else
                .chi-datepicker__day=day++

      div
        .chi-time-picker
          .chi-time-picker__content
            .chi-time-picker__hours
              each hour in hours
                if hour === 12
                  .chi-time-picker__hour.-active=padZero(hour)
                else
                  .chi-time-picker__hour=padZero(hour)
            .chi-time-picker__minutes
              while minute < 60
                if minute === 0
                  .chi-time-picker__minute.-active=padZero(minute++)
                else
                  .chi-time-picker__minute=padZero(minute++)
            .chi-time-picker__periods
              each period in periods
                if period === 'AM'
                  .chi-time-picker__period.-active=period
                else
                  .chi-time-picker__period=period

  script.
    document.addEventListener('DOMContentLoaded', () => {
      const datePickerElements = [
        document.querySelector('#datepicker-1 input'),
        document.querySelector('#datepicker-2 input'),
        document.querySelector('#datepicker-3 input')
      ];

      const datePicker = chi.datePicker(datePickerElements[0], {
        date: '01/24/2019',
        min: '01/24/2019',
        max: '01/28/2019'
      });

      chi.datePicker(datePickerElements[1], {
        date: '01/24/2019',
      });

      chi.datePicker(datePickerElements[2]);

      const toggleDatePicker = document.getElementById("toggle-datepicker");
      const setDateButton = document.getElementById("setDate-datepicker");
      const disposeButton = document.getElementById("dispose-datepicker");

      toggleDatePicker.addEventListener("click", () => {
        datePicker.toggle();
      });

      setDateButton.addEventListener("click", () => {
        datePicker.setDate('01/25/2019');
      });

      disposeButton.addEventListener("click", () => {
        datePicker.dispose();
      });
    });
