extends ../layout.pug

block scripts
  script(src='../../js/chi.js')
  script(src='../../chi-icons.js')
  script(src='../../chi-marketing-icons.js')
block variables
  - var title = 'Hybrid buttons'
  - var sizes = ['default', 'sm', 'md', 'lg', 'xl']

block content
  each size in sizes
    div(class={
      'test-base': size == 'default',
      [`test-${size}`]: size != 'default'
    })
      span.-text--h2= `Hybrid buttons / ${size}`
      .chi-button-group
        button.chi-button(class={
          [`-${size}`]: size != 'default'
        })
          .chi-button__content
            .chi-icon
              svg
                use(xlink:href='#icon-atom')
            span Reinstall
        button.chi-button.-icon(class={
          [`-${size}`]: size != 'default'
        })
          .chi-button__content
            .chi-icon
              svg
                use(xlink:href='#icon-atom')

    div(class={
      'test-fluid': size == 'default',
      [`test-${size}-fluid`]: size != 'default'
    })
      span.-text--h2= `Hybrid buttons / ${size} / fluid`
      each modifier in ['align--left', '', 'align--right']
        .chi-button-group.-fluid.-m--1(style="width:200px")
          button.chi-button(class={
            [`-${size}`]: size != 'default',
            [`-${modifier}`]: modifier != ''
          }) Button
          button.chi-button.-icon.-no-fluid(class={
            [`-${size}`]: size != 'default'
          })
            .chi-button__content
              .chi-icon
                svg
                  use(xlink:href='#icon-atom')
