extends ../layout.pug

block scripts
  script(src='../../js/ce/ux-chi-ce/ux-chi-ce.js')
  script(src='../../js/chi.js')
  script(src='../../chi-icons.js')
  script(src='../../chi-marketing-icons.js')
block variables
  - var title = 'Skeleton'
  - var sizes = ['xs', 'sm', 'md', 'lg', 'xl'].reverse()
  - var types = ['', 'rounded', 'circle', 'square', 'rounded-square']

block content
  h3 Skeleton types / sizes
  .test-skeleton(style='width: 650px;')
    each type in types
      div.-mb--2.-d--flex
        div.-align-self--center.-mr--1(style='width: 100px;')
          | #{type === '' ? 'default' : type}
        each size in sizes
          - var classes = type === 'rounded-square' ? ' -rounded -square' : type !== '' ? ` -${type}` : ''
          div.chi-skeleton.-mr--2(
            class=`-${size}${classes}`
            style=(type === 'rounded' || type === '' ? 'width: 100px;' : null)
          )
