h2 Button tags
p.-text
  | To render a button, apply the class <code>a-btn</code> to a <code>&lt;button&gt;</code> element.
  | Although buttons were designed for the <code>&lt;button&gt;</code> element, Chi
  | also supports button classes on <code>&lt;a&gt;</code> and <code>&lt;input&gt;</code> elements.
.example.-mb--3
  .-p--2
    button.a-btn.-m--1 Button
    a.a-btn.-m--1 Link
    input(class='a-btn -m--1', type='button', value='Input')
    input(class='a-btn -m--1', type='submit', value='Submit')
    input(class='a-btn -m--1', type='reset', value='Reset')
  :code(lang='html')
    <!-- default tag -->
    <button class="a-btn">Button</button>
    <!-- tags also supported -->
    <a class="a-btn" role="button">Link</a>
    <input class="a-btn" type="button" value="Input">
    <input class="a-btn" type="submit" value="Submit">
    <input class="a-btn" type="reset" value="Reset">

h2 Examples

h3 Base
p.-text
  | Chi includes a wide variety of predefined button styles. For light backgrounds,
  | please use base, <code>-primary</code>, or <code>-dark</code> buttons. For
  | dark backgrounds, please limit usage to <code>-secondary</code> or <code>-light</code>.

.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-text--center
        button(class=`a-btn -mr--2`) Base
        button(class=`a-btn -primary -mr--2`) Primary
        button(class=`a-btn -dark`) Dark
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-text--center
        button(class=`a-btn -secondary -mr--2`) Secondary
        button(class=`a-btn -light`) Light
  :code(lang='html')
    <!-- For light backgrounds -->
    <button class="a-btn">Base</button>
    <button class="a-btn -primary">Primary</button>
    <button class="a-btn -dark">Dark</button>
    <!-- For dark backgrounds -->
    <button class="a-btn -secondary">Secondary</button>
    <button class="a-btn -light">Light</button>

h3 Outline
p.-text
  | To remove a buttons solid background and keep its colored border, apply the class
  | <code>-outline</code>.
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-text--center
        button(class=`a-btn -primary -outline -mr--2`) Primary
        button(class=`a-btn -dark -outline`) Dark
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-text--center
        button(class=`a-btn -secondary -outline -mr--2`) Secondary
        button(class=`a-btn -light -outline`) Light
  :code(lang='html')
    <!-- For light backgrounds -->
    <button class="a-btn -primary -outline">Primary</button>
    <button class="a-btn -dark -outline">Dark</button>
    <!-- For dark backgrounds -->
    <button class="a-btn -secondary -outline">Secondary</button>
    <button class="a-btn -light -outline">Light</button>

h3 Flat
p.-text
  | To render a button with a transparent background and border, apply the class
  | <code>-flat</code>.
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-text--center
        button(class=`a-btn -primary -flat -mr--2`) Primary
        button(class=`a-btn -dark -flat`) Dark
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-text--center
        button(class=`a-btn -secondary -flat -mr--2`) Secondary
        button(class=`a-btn -light -flat`) Light
  :code(lang='html')
    <!-- For light backgrounds -->
    <button class="a-btn -primary -flat">Primary</button>
    <button class="a-btn -dark -flat">Dark</button>
    <!-- For dark backgrounds -->
    <button class="a-btn -secondary -flat">Secondary</button>
    <button class="a-btn -light -flat">Light</button>

h2 Fluid
p.-text Buttons can be expanded to fill the parent space by applying the class <code>-fluid</code>.
.example.-mb--3
  .-p--3
    button(class=`a-btn -fluid -mb--2`) Button
    button(class=`a-btn -fluid -justify-content--center`) Button
  :code(lang='html')
    <!-- left aligned content -->
    <button class="a-btn -fluid">Button</button>
    <!-- center aligned content -->
    <button class="a-btn -fluid -justify-content--center">Button</button>

h2 Icon buttons
p.-text
  | For interfaces with limited space, an <code>-icon</code> button can
  | be used for common actions such as editing, deleting, closing, etc.
.example.-mb--3
  .-p--3
    button(class=`a-btn -icon -mr--2`, aria-label="Button action")
      .a-btn__content
        i.a-icon.icon-atom
    button(class=`a-btn -icon -flat -mr--2`, aria-label="Button action")
      .a-btn__content
        i.a-icon.icon-atom
  :code(lang='html')
    <!-- base -->
    <button class="a-btn -icon" aria-label="Button action">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
      </div>
    </button>
    <!-- flat -->
    <button class="a-btn -icon -flat" aria-label="Button action">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
      </div>
    </button>

h3 Labeled icon buttons
.example.-mb--3
  .-p--2
    button(class=`a-btn -m--1`)
      .a-btn__content
        i.a-icon.icon-atom
        span Button
    button(class=`a-btn -m--1`)
      .a-btn__content
        span Button
        i.a-icon.icon-atom
    button(class=`a-btn -m--1`)
      .a-btn__content
        i.a-icon.icon-atom
        span Button
        i.a-icon.icon-atom
  :code(lang='html')
    <!-- left aligned -->
    <button class="a-btn">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
        <span>Button</span>
      </div>
    </button>
    <!-- right aligned -->
    <button class="a-btn">
      <div class="a-btn__content">
        <span>Button</span>
        <i class="a-icon icon-atom"></i>
      </div>
    </button>
    <!-- both sides -->
    <button class="a-btn">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
        <span>Button</span>
        <i class="a-icon icon-atom"></i>
      </div>
    </button>

h3 Floating icon buttons
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-text--center
        each color in ['base', 'primary', 'dark']
          button(class=`a-btn -${color} -float -mr--2`, aria-label="Icon")
            .a-btn__content
              i.a-icon.icon-atom
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-text--center
        each color in ['secondary', 'light']
          button(class=`a-btn -${color} -float -mr--2`, aria-label="Icon")
            .a-btn__content
              i.a-icon.icon-atom
  :code(lang='html')
    <!-- For light backgrounds -->
    <button class="a-btn -float" aria-label="Button action">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
      </div>
    </button>
    <button class="a-btn -primary -float" aria-label="Button action">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
      </div>
    </button>
    <button class="a-btn -dark -float" aria-label="Button action">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
      </div>
    </button>
    <!-- For dark backgrounds -->
    <button class="a-btn -secondary -float" aria-label="Button action">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
      </div>
    </button>
    <button class="a-btn -light -float" aria-label="Button action">
      <div class="a-btn__content">
        <i class="a-icon icon-atom"></i>
      </div>
    </button>

h3 Close icon button

.example.-mb--3
  .-p--3
    button(class='a-btn -icon -close', aria-label='Close')
      .a-btn__content
        i.a-icon.icon-x
  ul#a-tabs.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-panel-webfont') Web Font
    li
      a(href='#a-tabs-panel-svg') SVG
  #a-tabs-panel-webfont.a-tabs-panel.-active
    :code(lang="html")
      <button class="a-btn -icon -close" aria-label="Close">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
  #a-tabs-panel-svg.a-tabs-panel
    :code(lang="html")
      <button class="a-btn -icon -close" aria-label="Close">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-x"></use>
            </svg>
          </div>
        </div>
      </button>

h2 Danger
p.-text
  | For special cases, such as styling a destructive action in an
  | application (e.g. Delete Account), a <code>-danger</code> button may be used.
.example.-mb--3
  .-p--2
      button(class=`a-btn -danger -m--1`) Danger
      button(class=`a-btn -danger -outline -m--1`) Danger
      button(class=`a-btn -danger -flat -m--1`) Danger
  :code(lang='html')
    <button class="a-btn -danger">Danger</button>
    <button class="a-btn -danger -outline">Danger</button>
    <button class="a-btn -danger -flat">Danger</button>

h2 Sizes
p.-text
  | Buttons supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .a-grid.-noGutter.-px--3.-pt--0.-pb--3
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`a-col -w--12`)
        p.-text--bold= '-' + size
        button(class=`a-btn -${size} -mr--1`) Button
        button(class=`a-btn -${size} -icon`, aria-label="Button action")
          .a-btn__content
            i.a-icon.icon-atom
  :code(lang='html')
    <!-- sm -->
    <button class="a-btn -sm">Button</button>
    <button class="a-btn -sm -icon" aria-label="Button action">
       <div class="a-btn__content">
         <i class="a-icon icon-atom"></i>
       </div>
    </button>
    <!-- md -->
    <button class="a-btn -md">Button</button>
    <button class="a-btn -md -icon" aria-label="Button action">
       <div class="a-btn__content">
         <i class="a-icon icon-atom"></i>
       </div>
    </button>
    <!-- lg -->
    <button class="a-btn -lg">Button</button>
    <button class="a-btn -lg -icon" aria-label="Button action">
       <div class="a-btn__content">
         <i class="a-icon icon-atom"></i>
       </div>
    </button>
    <!-- xl -->
    <button class="a-btn -xl">Button</button>
    <button class="a-btn -xl -icon" aria-label="Button action">
       <div class="a-btn__content">
         <i class="a-icon icon-atom"></i>
       </div>
    </button>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs'));
    }
  );
