- var example=0;
- var menuItems=[1, 2, 3, 4];
- var drawerMenuItems=['A', 'B', 'C', 'D']
-
  var active = {
  menuItem: 1,
  drawerMenuItem: 'B'
  };

#exampleHashTarget.-position--fixed-top.-sr--only

h2 Examples
h3 Base
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.chi-sidenav.-flex--shrink0#example-base
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            each val in menuItems
              li(class=`${val === active.menuItem ? '-active' : ''}`)
                a(href=`#drawer-${example}-${val}`)
                  i.chi-icon.icon-atom
                  span=val === active.menuItem ? 'Active Item' : 'Menu Item'
      .chi-sidenav__drawers
        each val1 in menuItems
          .chi-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .chi-drawer__header
              .chi-drawer__title= 'Menu item ' + val1
              button(class='chi-button -icon -close', aria-label='Close')
                .chi-button__content
                  i.chi-icon.icon-x
            .chi-drawer__content
              ul.chi-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  if val2 === 'A' || val2 === 'B'
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#drawer-item-list-${val1}-${val2}`)
                        .chi-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                      .chi-sidenav__drawer-item-list(id=`drawer-item-list-${val1}-${val2}`)
                        ul.chi-tabs.-vertical.-sm
                          li
                            a(class=`chi-sidenav__drawer-item-tab ${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active' : ''}`, href='#exampleHashTarget') Sub tab A
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
                  else
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#exampleHashTarget`)
                        span.chi-sidenav__title
                          =`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                          i.chi-icon.icon-external-link.-xs
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .example-tabs.-pl--2
    ul#examples-default.chi-tabs
      li.-disabled
        a(href='#example-base-web') Web Component
      li.-active
        a(href='#example-base-html') HTML Blueprint
  .chi-tabs-panel#example-base-web
  .chi-tabs-panel.-active#example-base-html
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <aside class="chi-sidenav" id="sidenav-0">
        <div class="chi-sidenav__content">
          <nav>
            <ul class="chi-sidenav__list">
              <li class="-active">
                <a href="#drawer-0-1">
                  <i class="chi-icon icon-atom"></i>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-0-2">
                  <i class="chi-icon icon-atom"></i>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="chi-sidenav__drawers">
          <div class="chi-drawer -animated -left" id="drawer-0-1">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 1</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-1-A">
                    <div class="chi-sidenav__title">Title A</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="-active -expanded">
                  <a href="#drawer-item-list-1-B">
                    <div class="chi-sidenav__title">Title B</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab -active" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title C
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title D
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chi-drawer -animated -left" id="drawer-0-2">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 2</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-2-A">
                    <div class="chi-sidenav__title">Title E</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#drawer-item-list-2-B">
                    <div class="chi-sidenav__title">Title F</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title G
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title H
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <script>
        chi.sidenav(document.getElementById('sidenav-0'));
      </script>

h3 Inverse
- example=1
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.chi-sidenav.-inverse.-flex--shrink0#example-base-inverse
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            each val in menuItems
              li(class=`${val === active.menuItem ? '-active' : ''}`)
                a(href=`#drawer-${example}-${val}`)
                  i.chi-icon.icon-atom
                  span=val === active.menuItem ? 'Active Item' : 'Menu Item'
      .chi-sidenav__drawers
        each val1 in menuItems
          .chi-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .chi-drawer__header
              .chi-drawer__title= 'Menu item ' + val1
              button(class='chi-button -icon -close', aria-label='Close')
                .chi-button__content
                  i.chi-icon.icon-x
            .chi-drawer__content
              ul.chi-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  if val2 === 'A' || val2 === 'B'
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#drawer-item-list-${val1}-${val2}`)
                        .chi-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                      .chi-sidenav__drawer-item-list(id=`drawer-item-list-${val1}-${val2}`)
                        ul.chi-tabs.-vertical.-sm
                          li
                            a(class=`chi-sidenav__drawer-item-tab ${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active' : ''}`, href='#exampleHashTarget') Sub tab A
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
                  else
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#exampleHashTarget`)
                        span.chi-sidenav__title
                          =`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                          i.chi-icon.icon-external-link.-xs
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .example-tabs.-pl--2
    ul.chi-tabs#examples-inverse
      li.-disabled
        a(href='#example-inverse-web') Web Component
      li.-active
        a(href='#example-inverse-html') HTML Blueprint
  .chi-tabs-panel#example-inverse-web
  .chi-tabs-panel.-active#example-inverse-html
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <aside class="chi-sidenav -inverse" id="sidenav-1">
        <div class="chi-sidenav__content">
          <nav>
            <ul class="chi-sidenav__list">
              <li class="-active">
                <a href="#drawer-1-1">
                  <i class="chi-icon icon-atom"></i>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-1-2">
                  <i class="chi-icon icon-atom"></i>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="chi-sidenav__drawers">
          <div class="chi-drawer -animated -left" id="drawer-1-1">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 1</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-1-A">
                    <div class="chi-sidenav__title">Title A</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="-active -expanded">
                  <a href="#drawer-item-list-1-B">
                    <div class="chi-sidenav__title">Title B</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab -active" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title C
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title D
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chi-drawer -animated -left" id="drawer-1-2">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 2</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-2-A">
                    <div class="chi-sidenav__title">Title E</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#drawer-item-list-2-B">
                    <div class="chi-sidenav__title">Title F</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title G
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title H
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <script>chi.sidenav(document.getElementById('sidenav-1'));</script>

h3 Open on hover
- example=2
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.chi-sidenav.-inverse.-flex--shrink0#example-open-on-hover
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            each val in menuItems
              li(class=`${val === active.menuItem ? '-active' : ''}`)
                a(href=`#drawer-${example}-${val}`)
                  i.chi-icon.icon-atom
                  span=val === active.menuItem ? 'Active Item' : 'Menu Item'
      .chi-sidenav__drawers
        each val1 in menuItems
          .chi-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .chi-drawer__header
              .chi-drawer__title= 'Menu item ' + val1
              button(class='chi-button -icon -close', aria-label='Close')
                .chi-button__content
                  i.chi-icon.icon-x
            .chi-drawer__content
              ul.chi-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  if val2 === 'A' || val2 === 'B'
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#drawer-item-list-${val1}-${val2}`)
                        .chi-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                      .chi-sidenav__drawer-item-list(id=`drawer-item-list-${val1}-${val2}`)
                        ul.chi-tabs.-vertical.-sm
                          li
                            a(class=`chi-sidenav__drawer-item-tab ${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active' : ''}`, href='#exampleHashTarget') Sub tab A
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
                  else
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#exampleHashTarget`)
                        span.chi-sidenav__title
                          =`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                          i.chi-icon.icon-external-link.-xs
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .example-tabs.-pl--2
    ul.chi-tabs#examples-open-on-hover-tabs
      li.-disabled
        a(href='#examples-open-on-hover-web') Web Component
      li.-active
        a(href='#examples-open-on-hover-html') HTML Blueprint
  .chi-tabs-panel#examples-open-on-hover-web
  .chi-tabs-panel.-active#examples-open-on-hover-html
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <aside class="chi-sidenav -inverse" id="sidenav-1">
        <div class="chi-sidenav__content">
          <nav>
            <ul class="chi-sidenav__list">
              <li class="-active">
                <a href="#drawer-1-1">
                  <i class="chi-icon icon-atom"></i>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-1-2">
                  <i class="chi-icon icon-atom"></i>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="chi-sidenav__drawers">
          <div class="chi-drawer -animated -left" id="drawer-1-1">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 1</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-1-A">
                    <div class="chi-sidenav__title">Title A</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="-active -expanded">
                  <a href="#drawer-item-list-1-B">
                    <div class="chi-sidenav__title">Title B</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab -active" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title C
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title D
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chi-drawer -animated -left" id="drawer-1-2">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 2</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-2-A">
                    <div class="chi-sidenav__title">Title E</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#drawer-item-list-2-B">
                    <div class="chi-sidenav__title">Title F</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title G
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title H
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <script>chi.sidenav(document.getElementById('sidenav-1'), {
        openOnHover: true,
        autoClose: true
      });</script>

h2 Active Usage
p.-text
  | The <code>-active</code> class can be applied to <code>ul.chi-sidenav__list &gt; li</code>
  | for activating the elements in the sidenav menu, <code>.drawer</code> for opening the <a href="../drawer/">drawer</a>,
  | and <code>ul.chi-sidenav__drawer-list &gt; li</code> for activating the menu items inside the drawer.

h2 Sizes
p.-text
  | Sidenav supports the following sizes: <code>-sm</code>, <code>-md</code> and <code>-lg</code>.
  | The default size is <code>-md</code>.

h3 -sm

- example=3
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.chi-sidenav.-sm.-flex--shrink0#example-sizes-sm
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            each val in menuItems
              li(class=`${val===active.menuItem ? '-active':''}`)
                a(href=`#drawer-${example}-${val}`)
                  i.chi-icon.icon-atom
                  span=val===active.menuItem ? 'Active Item' : 'Menu Item'
      .chi-sidenav__drawers
        each val1 in menuItems
          .chi-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .chi-drawer__header
              .chi-drawer__title= 'Menu item ' + val1
              button(class='chi-button -icon -close', aria-label='Close')
                .chi-button__content
                  i.chi-icon.icon-x
            .chi-drawer__content
              ul.chi-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  if val2 === 'A' || val2 === 'B'
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#drawer-item-list-${val1}-${val2}`)
                        .chi-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                      .chi-sidenav__drawer-item-list(id=`drawer-item-list-${val1}-${val2}`)
                        ul.chi-tabs.-vertical.-sm
                          li
                            a(class=`chi-sidenav__drawer-item-tab ${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active' : ''}`, href='#exampleHashTarget') Sub tab A
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
                  else
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#exampleHashTarget`)
                        span.chi-sidenav__title
                          =`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                          i.chi-icon.icon-external-link.-xs
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .example-tabs.-pl--2
    ul#examples-sizes-sm.chi-tabs
      li.-disabled
        a(href='#examples-sizes-sm-web') Web Component
      li.-active
        a(href='#examples-sizes-sm-html') HTML Blueprint
  #examples-sizes-sm-web.chi-tabs-panel
  #examples-sizes-sm-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang='html')
      <aside class="chi-sidenav -sm" id="sidenav-3">
        <div class="chi-sidenav__content">
          <nav>
            <ul class="chi-sidenav__list">
              <li class="-active">
                <a href="#drawer-0-1">
                  <i class="chi-icon icon-atom"></i>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-0-2">
                  <i class="chi-icon icon-atom"></i>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="chi-sidenav__drawers">
          <div class="chi-drawer -animated -left" id="drawer-0-1">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 1</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-1-A">
                    <div class="chi-sidenav__title">Title A</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="-active -expanded">
                  <a href="#drawer-item-list-1-B">
                    <div class="chi-sidenav__title">Title B</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab -active" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title C
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title D
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chi-drawer -animated -left" id="drawer-0-2">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 2</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-2-A">
                    <div class="chi-sidenav__title">Title E</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#drawer-item-list-2-B">
                    <div class="chi-sidenav__title">Title F</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title G
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title H
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <script>chi.sidenav(document.getElementById('sidenav-3'));</script>

h3 -md

- example=4
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.chi-sidenav.-md.-flex--shrink0#example-sizes-md
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            each val in menuItems
              li(class=`${val===active.menuItem ? '-active':''}`)
                a(href=`#drawer-${example}-${val}`)
                  i.chi-icon.icon-atom
                  span=val===active.menuItem ? 'Active Item' : 'Menu Item'
      .chi-sidenav__drawers
        each val1 in menuItems
          .chi-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .chi-drawer__header
              .chi-drawer__title= 'Menu item ' + val1
              button(class='chi-button -icon -close', aria-label='Close')
                .chi-button__content
                  i.chi-icon.icon-x
            .chi-drawer__content
              ul.chi-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  if val2 === 'A' || val2 === 'B'
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#drawer-item-list-${val1}-${val2}`)
                        .chi-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                      .chi-sidenav__drawer-item-list(id=`drawer-item-list-${val1}-${val2}`)
                        ul.chi-tabs.-vertical.-sm
                          li
                            a(class=`chi-sidenav__drawer-item-tab ${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active' : ''}`, href='#exampleHashTarget') Sub tab A
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
                  else
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#exampleHashTarget`)
                        span.chi-sidenav__title
                          =`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                          i.chi-icon.icon-external-link.-xs
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .example-tabs.-pl--2
    ul#examples-sizes-md.chi-tabs
      li.-disabled
        a(href='#examples-sizes-md-web') Web Component
      li.-active
        a(href='#examples-sizes-md-html') HTML Blueprint
  #examples-sizes-md-web.chi-tabs-panel
  #examples-sizes-md-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang='html')
      <aside class="chi-sidenav -md" id="sidenav-4">
        <div class="chi-sidenav__content">
          <nav>
            <ul class="chi-sidenav__list">
              <li class="-active">
                <a href="#drawer-0-1">
                  <i class="chi-icon icon-atom"></i>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-0-2">
                  <i class="chi-icon icon-atom"></i>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="chi-sidenav__drawers">
          <div class="chi-drawer -animated -left" id="drawer-0-1">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 1</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-1-A">
                    <div class="chi-sidenav__title">Title A</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="-active -expanded">
                  <a href="#drawer-item-list-1-B">
                    <div class="chi-sidenav__title">Title B</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab -active" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title C
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title D
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chi-drawer -animated -left" id="drawer-0-2">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 2</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-2-A">
                    <div class="chi-sidenav__title">Title E</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#drawer-item-list-2-B">
                    <div class="chi-sidenav__title">Title F</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title G
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title H
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <script>chi.sidenav(document.getElementById('sidenav-4'));</script>

h3 -lg

- example=5
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.chi-sidenav.-lg.-flex--shrink0#example-sizes-lg
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            each val in menuItems
              li(class=`${val===active.menuItem ? '-active':''}`)
                a(href=`#drawer-${example}-${val}`)
                  i.chi-icon.icon-atom
                  span=val===active.menuItem ? 'Active Item' : 'Menu Item'
      .chi-sidenav__drawers
        each val1 in menuItems
          .chi-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .chi-drawer__header
              .chi-drawer__title= 'Menu item ' + val1
              button(class='chi-button -icon -close', aria-label='Close')
                .chi-button__content
                  i.chi-icon.icon-x
            .chi-drawer__content
              ul.chi-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  if val2 === 'A' || val2 === 'B'
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#drawer-item-list-${val1}-${val2}`)
                        .chi-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                      .chi-sidenav__drawer-item-list(id=`drawer-item-list-${val1}-${val2}`)
                        ul.chi-tabs.-vertical.-sm
                          li
                            a(class=`chi-sidenav__drawer-item-tab ${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active' : ''}`, href='#exampleHashTarget') Sub tab A
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                          li
                            a(class='chi-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
                  else
                    li(class=`${val1 === active.menuItem && val2 === active.drawerMenuItem ? '-active -expanded' : ''}`)
                      a(href=`#exampleHashTarget`)
                        span.chi-sidenav__title
                          =`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                          i.chi-icon.icon-external-link.-xs
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .example-tabs.-pl--2
    ul#examples-sizes-lg.chi-tabs
      li.-disabled
        a(href='#examples-sizes-lg-web') Web Component
      li.-active
        a(href='#examples-sizes-lg-html') HTML Blueprint
  #examples-sizes-lg-web.chi-tabs-panel
  #examples-sizes-lg-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang='html')
      <aside class="chi-sidenav -lg" id="sidenav-5">
        <div class="chi-sidenav__content">
          <nav>
            <ul class="chi-sidenav__list">
              <li class="-active">
                <a href="#drawer-0-1">
                  <i class="chi-icon icon-atom"></i>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-0-2">
                  <i class="chi-icon icon-atom"></i>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="chi-sidenav__drawers">
          <div class="chi-drawer -animated -left" id="drawer-0-1">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 1</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-1-A">
                    <div class="chi-sidenav__title">Title A</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="-active -expanded">
                  <a href="#drawer-item-list-1-B">
                    <div class="chi-sidenav__title">Title B</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-1-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab -active" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title C
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title D
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="chi-drawer -animated -left" id="drawer-0-2">
            <div class="chi-drawer__header">
              <div class="chi-drawer__title">Menu item 2</div>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content"><i class="chi-icon icon-x"></i></div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <ul class="chi-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-2-A">
                    <div class="chi-sidenav__title">Title E</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-A">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#drawer-item-list-2-B">
                    <div class="chi-sidenav__title">Title F</div>
                  </a>
                  <div class="chi-sidenav__drawer-item-list" id="drawer-item-list-2-B">
                    <ul class="chi-tabs -vertical -sm">
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="chi-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title G
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="chi-sidenav__title">
                      Title H
                      <i class="chi-icon icon-external-link -xs"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <script>chi.sidenav(document.getElementById('sidenav-5'));</script>

h2 Recommended layout
p.-text
  | Use this layout to ensure the sidenav renders correctly in your project.
.example.-mb--3
  :code(lang='html')
    <div class="-d--flex">
      <aside class="chi-sidenav -flex--shrink0">
        <!-- Sidenav content goes here -->
      </aside>
      <div class="-flex--grow1">
        <!-- Page content goes here -->
      </div>
    </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.sidenav(document.getElementById('example-base'));
      chi.sidenav(document.getElementById('example-base-inverse'));
      chi.sidenav(document.getElementById('example-open-on-hover'), {
        openOnHover: true,
        autoClose: true
      });
      chi.sidenav(document.getElementById('example-sizes-sm'));
      chi.sidenav(document.getElementById('example-sizes-md'));
      chi.sidenav(document.getElementById('example-sizes-lg'));

      chi.tab(document.getElementById('examples-default'));
      chi.tab(document.getElementById('examples-inverse'));
      chi.tab(document.getElementById('examples-open-on-hover-tabs'));
      chi.tab(document.getElementById('examples-sizes-sm'));
      chi.tab(document.getElementById('examples-sizes-md'));
      chi.tab(document.getElementById('examples-sizes-lg'));
    }
  );
