---
title: Alert Bubbles
---

each size in ['small', 'medium', 'large']
  div(class=`test-${size} w100`)
    h3= `${size}`
    each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
      div(
        class=`c-alert c-alert--${type} c-alert--bubble c-mb2`
        class={
          [`c-alert--${size}`]: size != 'medium'
        }
        data-title=`${type}`
      )= `This is a ${type} message`

    h4 Has icon
    each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
      div(
        class=`c-alert c-alert--has-icon c-alert--${type} c-alert--bubble c-mb2`
        class={
          [`c-alert--${size}`]: size != 'medium'
        }
        data-title=`${type}`
      )= `This is a ${type} message`
