---
title: Button groups
---
doctype html

img(inline src='test/css/components/icon-workspace.svg')

h2 Buttons group
.test-button-group
  each size in ['small', 'medium', 'large']
    div(class=`c-mb1 text--${size}`)
      .c-btn-group
        button(class=`c-btn c-btn--${size}`) Button
        button(class=`c-btn c-btn--${size} c-btn--danger`) Button
        button(class=`c-btn c-btn--${size} c-btn--primary`) Button
        button(class=`c-btn c-btn--${size} c-btn--info`) Button
        button(class=`c-btn c-btn--${size} c-btn--dark`) Button
    div(class=`c-mb1 text--${size}`)
      .c-btn-group
        button(class=`c-btn c-btn--${size} c-btn--outline`) Button
        button(class=`c-btn c-btn--${size} c-btn--outline c-btn--danger`) Button
        button(class=`c-btn c-btn--${size} c-btn--outline c-btn--primary`) Button
        button(class=`c-btn c-btn--${size} c-btn--outline c-btn--info`) Button
        button(class=`c-btn c-btn--${size} c-btn--outline c-btn--dark`) Button
    div(class=`c-mb1 text--${size}`)
      .c-btn-group
        button(class=`c-btn c-btn--${size} c-btn--flat`) Button
        button(class=`c-btn c-btn--${size} c-btn--flat c-btn--danger`) Button
        button(class=`c-btn c-btn--${size} c-btn--flat c-btn--primary`) Button
        button(class=`c-btn c-btn--${size} c-btn--flat c-btn--info`) Button
        button(class=`c-btn c-btn--${size} c-btn--flat c-btn--dark`) Button

h2 Buttons group / icon
.test-icon-button-group
  each size in ['small', 'medium', 'large']
    div(class=`c-mb1 text--${size}`)
      .c-btn-group
        button(class=`c-btn c-btn--${size} c-btn--icon`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--danger`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--primary`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--info`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--dark`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
    div(class=`c-mb1 text--${size}`)
      .c-btn-group
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--outline`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--outline c-btn--danger`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--outline c-btn--primary`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--outline c-btn--info`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--outline c-btn--dark`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
    div(class=`c-mb1 text--${size}`)
      .c-btn-group
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--flat`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--flat c-btn--danger`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--flat c-btn--primary`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--flat c-btn--info`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
        button(class=`c-btn c-btn--${size} c-btn--icon c-btn--flat c-btn--dark`)
          .c-btn-content
            .c-icon
              svg
                  use(xlink:href='#workspace')
