---
title: Button groups
---
img(inline src='test/css/components/icon-workspace.svg')

each type in ['solid', 'outline', 'flat']
  div(class=`test-${type}`)
    span.h2= `Button Group / Horizontal / ${type}`
    table(cellpadding="0", cellspacing="0")
      each style in ['default', 'primary', 'danger', 'info', 'dark']
        tr
          td
            .c-btn-group.c-m1
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
          td
            .c-btn-group.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button


.test-hybrid
  span.h2 Button Groups / Hybrid
  .c-btn-group.c-mr1
    button(class=`c-btn`)
      .c-btn-content
        .c-icon
          svg
            use(xlink:href='#workspace')
        span Reinstall
    button(class=`c-btn c-btn--icon c-btn--primary`)
      .c-btn-content
        .c-icon
          svg
            use(xlink:href='#workspace')


each type in ['solid', 'outline', 'flat']
  div(class=`test-vertical-${type}`)
    span.h2= `Button Group / Vertical / ${type}`
    table(cellpadding="0", cellspacing="0")
      each style in ['default', 'primary', 'danger', 'info', 'dark']
        tr
          td
            .c-btn-group.c-btn-group--vertical.c-m1
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`) Button
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
              button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
          td
            .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button
              button(class=`c-btn c-btn--${type} c-btn--${style}`)
                .c-btn-content
                  .c-icon
                    svg
                      use(xlink:href='#workspace')
                  span Button


each size in ['small', 'large']
  each type in ['solid', 'outline', 'flat']
    div(class=`test-${type}-${size}`)
      span.h2= `Button Group / Horizontal / ${type} / ${size}`
      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            td
              .c-btn-group.c-m1
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace') c-btn--${size}
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
            td
              .c-btn-group.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button


  div(class=`test-hybrid-${size}`)
    span.h2= `Button Groups / Hybrid / ${size}`
    .c-btn-group.c-mr1
      button(class=`c-btn c-btn--${size}`)
        .c-btn-content
          .c-icon
            svg
              use(xlink:href='#workspace')
          span Reinstall
      button(class=`c-btn c-btn--${size} c-btn--icon c-btn--primary`)
        .c-btn-content
          .c-icon
            svg
              use(xlink:href='#workspace')


  each type in ['solid', 'outline', 'flat']
    div(class=`test-vertical-${type}-${size}`)
      span.h2= `Button Group / Vertical / ${type} / ${size}`
      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            td
              .c-btn-group.c-btn-group--vertical.c-m1
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`) Button
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                button(class=`c-btn c-btn--icon c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
            td
              .c-btn-group.c-btn-group--vertical.c-m1.c-ml3
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
                button(class=`c-btn c-btn--${type} c-btn--${style} c-btn--${size}`)
                  .c-btn-content
                    .c-icon
                      svg
                        use(xlink:href='#workspace')
                    span Button
