---
title: Horizontal button groups
---
img(inline src='test/css/components/icon-workspace.svg')

mixin icon(name)
  .c-icon
    svg
      use(xlink:href=`#${name}`)

mixin button(icon, type, style, size, modifier)
  button.c-btn(class={
    'c-btn--icon': icon,
    [`c-btn--${type}`]: type != 'solid',
    [`c-btn--${style}`]: style != 'default',
    [`c-btn--${modifier}`]: modifier,
    [`c-btn--${size}`]: size != 'default'
  })
    if block
      block

each size in ['default', 'small', 'large']
  each type in ['solid', 'outline', 'flat']
    div(class={
      [`test-${type}`]: size == 'default',
      [`test-${type}-${size}`]: size != 'default'
    })
      span.c-h2= `Horizontal button groups / ${type} / ${size}`
      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            each val, index in [2,3,4]
              td
                .c-btn-group.c-m1(class={'c-ml3': index != 0})
                  while val > 0
                    - val--
                    +button(false, type, style, size)
                      | Button

      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            each val, index in [2,3,4]
              td
                .c-btn-group.c-m1(class={'c-ml3': index != 0})
                  while val > 0
                    - val--
                    +button(true, type, style, size)
                      .c-btn-content
                        +icon('workspace')

      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            each val, index in [2,3,4]
              td
                .c-btn-group.c-m1(class={'c-ml3': index != 0})
                  while val > 0
                    - val--
                    +button(false, type, style, size)
                      .c-btn-content
                        +icon('workspace')
                        span Button

    div(class={
      [`test-${type}-expanded`]: size == 'default',
      [`test-${type}-${size}-expanded`]: size != 'default'
    })
      span.c-h2= `Horizontal Button groups / ${type} / ${size} / expanded`
      table(cellpadding="0", cellspacing="0", width="600")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            td
              .c-btn-group.c-btn-group--expanded.c-m1
                each modifier in ['not-expand', 'align-left', false, 'align-right']
                  +button(false, type, style, size, modifier)
                    | Button

      table(cellpadding="0", cellspacing="0", width="300")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            td
              .c-btn-group.c-btn-group--expanded.c-m1
                each modifier in ['not-expand', 'align-left', false, 'align-right']
                  +button(true, type, style, size, modifier)
                    .c-btn-content
                      +icon('workspace')

      table(cellpadding="0", cellspacing="0", width="600")
        each style in ['default', 'primary', 'danger', 'info', 'dark']
          tr
            td
              .c-btn-group.c-btn-group--expanded.c-m1
                each modifier in ['not-expand', 'align-left', false, 'align-right']
                  +button(false, type, style, size, modifier)
                    .c-btn-content
                      +icon('workspace')
                      span Button
