---
title: Checkbox
---

.test-states
  each state, index in ['default', 'hover', 'focus', 'checked', 'disabled']
    .-mb1
      h5= `Checkbox / ${state}`
      input.a-input(
        type="checkbox"
        id=`checkbox-${index}`
        class={
          [`-${state}`]: state == 'focus'
        }
        checked=state=='checked' ? 'checked' : false
        disabled=state=='disabled' ? 'disabled' : false
      )
      label.-mr1(
        for=`checkbox-${index}`
        class={
          [`-${state}`]: state == 'hover'
        }
      )
      label(for=`checkbox-${index}`) checkbox
      span.-text  aligned with text
