---
title: Hybrid buttons
---
img(inline src='test/css/components/icon-workspace.svg')

each size in ['default', 'small', 'large']
  div(class={
    'test': size == 'default',
    [`test-${size}`]: size != 'default'
  })
    span.a-h2= `Hybrid buttons / ${size}`
    .m-btnGroup
      button.a-btn(class={
        [`-${size}`]: size != 'default'
      })
        .a-btn__content
          .a-icon
            svg
              use(xlink:href='#workspace')
          span Reinstall
      button.a-btn.-icon.-primary(class={
        [`-${size}`]: size != 'default'
      })
        .a-btn__content
          .a-icon
            svg
              use(xlink:href='#workspace')

  div(class={
    'test-expanded': size == 'default',
    [`test-${size}-expanded`]: size != 'default'
  })
    span.a-h2= `Hybrid buttons / ${size} / expanded`
    each modifier in ['alignLeft', '', 'alignRight']
      .m-btnGroup.-expanded.-m1(style="width:200px")
        button.a-btn(class={
          [`-${size}`]: size != 'default',
          [`-${modifier}`]: modifier != ''
        }) Button
        button.a-btn.-icon.-notExpand(class={
          [`-${size}`]: size != 'default'
        })
          .a-btn__content
            .a-icon
              svg
                use(xlink:href='#workspace')
