---
title: Input numbers
---

each size in ['default', 'small', 'large']
  div(class=`test-${size}`)
    span.c-h2= `Text Input / ${size}`
    table(cellpadding="0", cellspacing="0", width="600px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'danger']
            td
              .c-m1
                .c-input-wrapper.c-input-wrapper--compact
                  input.c-input(
                    type="number"
                    class={
                      [`c-input--${style}`]: style != 'default',
                      [`c-input--${state}`]: state != 'disabled',
                      [`c-input--${size}`]: size != 'default'
                    }
                    value="0"
                    disabled=state=='disabled'?'disabled': false
                  )
                  button(tabindex="-1")
                  button(tabindex="-1")
