---
title: Radio
---
.test-states
  each state, index in ['default', 'hover', 'focus', 'checked', 'disabled']
    h5= `Radio / ${state}`
    .a-formGroup.-mb1
      input.a-input(
        type="radio"
        id=`radio-${index}`
        class={
          [`-${state}`]: state == 'focus'
        }
        checked=state=='checked' ? 'checked' : false
        disabled=state=='disabled' ? 'disabled' : false
      )
      label(
        for=`radio-${index}`
        class={
          [`-${state}`]: state == 'hover'
        }
      )
      label(for=`radio-${index}`) Radio
