---
title: Tables
---

mixin str(cid, name, id, date, checked)
  tr(class={
    'c-table__row--warning': checked
  })
    td.c-lh1
      input.c-input(
        type="checkbox"
        id=cid
        checked=checked
      )
      label(for=cid)
    td= name
    td= id
    td= date

mixin tr(name, id, date)
  tr&attributes(attributes)
    td= name
    td= id
    td= date

mixin table(row, column)
  section.c-table(style="width: 640px")&attributes(attributes)
    div
      table(cellpadding="0", cellspacing="0")
        thead
          tr
            th(class={
              [`c-table__column--sorting c-table__column--${column}`]: column != undefined
            })
              div name
            th
              div ID
            th
              div last login
        tbody
          if column == 'ascending'
            +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')
            +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')(
              class={
                [`c-table__row--${row}`]: row != undefined && row != 'disabled'
              }
              disabled= row=='disabled' ? 'disabled' : false
            )
            +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')
          else
            +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')
            +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')(
              class={
                [`c-table__row--${row}`]: row != undefined && row != 'disabled'
              }
              disabled= row=='disabled' ? 'disabled' : false
            )
            +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')


each size in ['default', 'small', 'large']
  each tablestyle in ['default', 'striped']
    each borderstyle in ['default', 'bordered', 'borderless']
      div(class=`test-${size}-${tablestyle}-${borderstyle}`)
        span.c-h2
          | table
          if size != 'default'
            = ` / ${size}`
          if tablestyle != 'default'
            = ` / ${tablestyle}`
          if borderstyle != 'default'
            = ` / ${borderstyle}`

        +table()(class={
          [`c-table--${size}`]: size!= 'default',
          [`c-table--${tablestyle}`]: tablestyle!= 'default',
          [`c-table--${borderstyle}`]: borderstyle!= 'default'
        })

each rowstyle in ['disabled', 'success', 'warning', 'danger', 'info']
  div(class=`test-${rowstyle}`)
    span.c-h2= `table / ${rowstyle}`
    +table(rowstyle)

div(class=`test-hover`)
    span.c-h2= `table / hover`
    +table('hover').c-table--hover

each columnstyle in ['ascending', 'descending']
  div(class=`test-${columnstyle}`)
    span.c-h2= `table / column sort / ${columnstyle}`
    +table(undefined, columnstyle)

each size, index in ['default', 'small', 'large']
  div(class=`test-${size}-selectable`)
    span.c-h2
      | table
      if size != 'default'
        = ` / ${size}`
      = ' / selectable'
    section.c-table(
      class={
        [`c-table--${size}`]: size!= 'default'
      }
      style="width: 640px"
    )
      div
        table(cellpadding="0", cellspacing="0")
          thead
            tr
              th(width="48px")
                div.c-lh1
                  input.c-input(type="checkbox", id=`chk-${index}`)
                  label(for=`chk-${index}`)
              th.c-table__column--sorting.c-table__column--descending
                div name
              th
                div ID
              th
                div last login
          tbody
            +str(`chk-${index}-01`, 'David Navarro', 'david', 'Dec 18, 2017 3:26 PM', true)
            +str(`chk-${index}-02`, 'Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')
            +str(`chk-${index}-03`, 'Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')
