h2 Examples
p.-text
  | To render a select, apply the class <code>chi-select</code> to a <code>select</code>.

h3 Base
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="example-ba1") Label
      select(class="chi-select", id="example-ba1")
        option(value="") Select
        option Option 1
        option Option 2
        option Option 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example-ba1">Label</label>
        <select class="chi-select" id="example-ba1">
          <option value="">Select</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="example-di1") Label
      select(class="chi-select", id="example-di1" disabled)
        option(value="") Select
        option Option 1
        option Option 2
        option Option 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled
      li.-disabled
        a(href=`#webcomponent-disabled`) Web Component
      li.-active
        a(href=`#html-disabled`) HTML Blueprint
  .chi-tabs-panel#webcomponent-disabled
  .chi-tabs-panel.-active#html-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example-di1">Label</label>
        <select class="chi-select" id="example-di1" disabled>
          <option value="">Select</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>

h3 Required
p.-text
  | Use the <code>required</code> boolean attribute to indicate which select must be completed before submitting a form.
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="example-re1")
        | Label
        abbr.chi-label__required(title="Required field") *
      select(class="chi-select", id="example-re1" required)
        option(value="") Select
        option Option 1
        option Option 2
        option Option 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-required
      li.-disabled
        a(href=`#webcomponent-required`) Web Component
      li.-active
        a(href=`#html-required`) HTML Blueprint
  .chi-tabs-panel#webcomponent-required
  .chi-tabs-panel.-active#html-required
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example-re1">
          Label
          <abbr class="chi-label__required" title="Required field">*</abbr>
        </label>
        <select class="chi-select" id="example-re1" required>
          <option value="">Select</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>

h3 Optional
p.-text
  | Use <code>optional</code> to help emphasize a select is not required and can be skipped.
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="example-op1")
        | Label
        abbr.chi-label__optional(title="Optional field") (optional)
      select(class="chi-select", id="example-op1" required)
        option(value="") Select
        option Option 1
        option Option 2
        option Option 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-optional
      li.-disabled
        a(href=`#webcomponent-optional`) Web Component
      li.-active
        a(href=`#html-optional`) HTML Blueprint
  .chi-tabs-panel#webcomponent-optional
  .chi-tabs-panel.-active#html-optional
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example-op1">
          Label
          <abbr class="chi-label__optional" title="Optional field">(optional)</abbr>
        </label>
        <select class="chi-select" id="example-op1" required>
          <option value="">Select</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>

h3 Help
p.-text
  | Use <code>chi-label__help</code> to include a help icon that displays helpful information about an input in a popover.
  | A help icon must be contained within an icon button to ensure it receives focus when a user tabs through a form.
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      .chi-label__wrapper
        label.chi-label(for="example-he1") Label
        .chi-label__help
          button.chi-button.-icon.-xs.-flat(id="example__help-button" aria-label="Help" data-target="#example__help-popover")
            i.chi-icon.icon-circle-info-outline
          section.chi-popover.chi-popover--top(id="example__help-popover" aria-modal="true" role="dialog")
            .chi-popover__content
              p.chi-popover__text
                | Helpful information goes here.
      select(class="chi-select", id="example-he1")
        option(value="") Select
        option Option 1
        option Option 2
        option Option 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-help
      li.-disabled
        a(href=`#webcomponent-help`) Web Component
      li.-active
        a(href=`#html-help`) HTML Blueprint
  .chi-tabs-panel#webcomponent-help
  .chi-tabs-panel.-active#html-help
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <div class="chi-label__wrapper">
          <label class="chi-label" for="example-he1">Label</label>
          <div class="chi-label__help">
            <button class="chi-button -icon -xs -flat" id="example__help-button" aria-label="Help" data-target="#example__help-popover">
              <i class="chi-icon icon-circle-info-outline"></i>
            </button>
            <section class="chi-popover chi-popover--top -animated" id="example__help-popover" aria-modal="true" role="dialog" aria-hidden="true" x-placement="top">
              <div class="chi-popover__content">
                <p class="chi-popover__text">Helpful information goes here.</p>
              </div>
            </section>
          </div>
        </div>
        <select class="chi-select" id="example-he1">
          <option value="">Select</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>

      <script>chi.popover(document.getElementById('example__help-button'));</script>

h3 Message
p.-text
  | Add a message below a select to store descriptions, validation feedback, and other helpful information.
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="example-me1") Label
      select(class="chi-select", id="example-me1")
        option(value="") Select
        option Option 1
        option Option 2
        option Option 3
      .chi-label.-status Optional input message
  .example-tabs.-pl--2
    ul.chi-tabs#example-message
      li.-disabled
        a(href=`#webcomponent-message`) Web Component
      li.-active
        a(href=`#html-message`) HTML Blueprint
  .chi-tabs-panel#webcomponent-message
  .chi-tabs-panel.-active#html-message
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example-me1">Label</label>
        <select class="chi-select" id="example-me1">
          <option value="">Select</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
        <div class="chi-label -status">Optional input message</div>
      </div>

.-portal--hide
  h3 Error
  p.-text
    | Use the <code>-danger</code> state to provide feedback to users when a selection has not been made.
    | Once a selection has been made, the state must be removed. To meet accessibility requirements,
    | danger inputs must include an error message explaining the failure and/or how to correct it.
  .example.-mb--3
    .-p--3
      .chi-form__item(style="max-width:20rem")
        label.chi-label(for="example-er1")
          | Label
          abbr.chi-label__required(title="Required field") *
        select(class="chi-select -danger", id="example-er1" required)
          option(value="") Select
          option Option 1
          option Option 2
          option Option 3
        .chi-label.-status.-danger Please select an option.
    .example-tabs.-pl--2
      ul.chi-tabs#example-error
        li.-disabled
          a(href=`#webcomponent-error`) Web Component
        li.-active
          a(href=`#html-error`) HTML Blueprint
    .chi-tabs-panel#webcomponent-error
    .chi-tabs-panel.-active#html-error
      :code(lang="html")
        <div class="chi-form__item">
          <label class="chi-label" for="example-er1">
            Label
            <abbr class="chi-label__required" title="Required field">*</abbr>
          </label>
          <select class="chi-select -danger" id="example-er1" required>
            <option value="">Select</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <div class="chi-label -status -danger">Please select an option.</div>
        </div>

.-portal--show
  h3 Error
  p.-text
    | Use the <code>-danger</code> state to provide feedback to users when a selection has not been made.
    | Once a selection has been made, the state must be removed. To meet accessibility requirements,
    | danger inputs must include an error message explaining the failure and/or how to correct it.
  .example.-mb--3
    .-p--3
      .chi-form__item(style="max-width:20rem")
        label.chi-label(for="example-portal-er1")
          | Label
          abbr.chi-label__required(title="Required field") *
        select(class="chi-select -danger", id="example-portal-er1" required)
          option(value="") Select
          option Option 1
          option Option 2
          option Option 3
        .chi-label.-status.-danger
          i.chi-icon.icon-circle-warning.-icon--danger
          | Please select an option.
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-error
        li.-disabled
          a(href=`#webcomponent-portal-error`) Web Component
        li.-active
          a(href=`#html-portal-error`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-error
    .chi-tabs-panel.-active#html-portal-error
      :code(lang="html")
        <div class="chi-form__item">
          <label class="chi-label" for="example-portal-er1">
            Label
            <abbr class="chi-label__required" title="Required field">*</abbr>
          </label>
          <select class="chi-select -danger" id="example-portal-er1" required>
            <option value="">Select</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <div class="chi-label -status -danger">
            <i class="chi-icon icon-circle-warning -icon--danger"></i>
            Please select an option.
          </div>
        </div>

.-portal--hide
  h3 Sizes
  p.-text
    | Selects support the following sizes: <code>-xs</code>, <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>, <code>-xl</code>. The default size is <code>-md</code>.
  .example.-mb--3
    .-p--3
      each size in ['-xs', '-sm', '-md', '-lg', '-xl']
        div(class=`-p--2`)
          .chi-form__item(style="max-width:20rem")
            label.chi-label(for=`example-size${size}`) Label
            select(class=`chi-select ${size}`, id=`example-size${size}`)
              option(selected disabled hidden)=`${size} Select`
              option Option 1
              option Option 2
              option Option 3
    .example-tabs.-pl--2
      ul.chi-tabs#example-sizes
        li.-disabled
          a(href=`#webcomponent-sizes`) Web Component
        li.-active
          a(href=`#html-sizes`) HTML Blueprint
    .chi-tabs-panel#webcomponent-sizes
    .chi-tabs-panel.-active#html-sizes
      :code(lang='html')
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-xs">Label</label>
          <select class="chi-select -xs" id="example-size-xs">
            <option>-xs Select</option>
          </select>
        </div>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-sm">Label</label>
          <select class="chi-select -sm" id="example-size-sm">
            <option>-sm Select</option>
          </select>
        </div>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-md">Label</label>
          <select class="chi-select -md" id="example-size-md">
            <option>-md Select</option>
          </select>
        </div>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-lg">Label</label>
          <select class="chi-select -lg" id="example-size-lg">
            <option>-lg Select</option>
          </select>
        </div>

        <!-- xl -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-xl">Label</label>
          <select class="chi-select -xl" id="example-size-xl">
            <option>-xl Select</option>
          </select>
        </div>

.-portal--show
  h3 Sizes
  p.-text
    | Selects support the following sizes: <code>-xs</code>, <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>. The default size is <code>-md</code>.
  .example.-mb--3
    .-p--3
      each size in ['-xs', '-sm', '-md', '-lg']
        div(class=`-p--2`)
          .chi-form__item(style="max-width:20rem")
            label.chi-label(for=`example-size${size}`) Label
            select(class=`chi-select ${size}`, id=`example-size${size}`)
              option(selected disabled hidden)=`${size} Select`
              option Option 1
              option Option 2
              option Option 3
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-sizes
        li.-disabled
          a(href=`#webcomponent-portal-sizes`) Web Component
        li.-active
          a(href=`#html-portal-sizes`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-sizes
    .chi-tabs-panel.-active#html-portal-sizes
      :code(lang='html')
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-xs">Label</label>
          <select class="chi-select -xs" id="example-size-xs">
            <option>-xs Select</option>
          </select>
        </div>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-sm">Label</label>
          <select class="chi-select -sm" id="example-size-sm">
            <option>-sm Select</option>
          </select>
        </div>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-md">Label</label>
          <select class="chi-select -md" id="example-size-md">
            <option>-md Select</option>
          </select>
        </div>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="example-size-lg">Label</label>
          <select class="chi-select -lg" id="example-size-lg">
            <option>-lg Select</option>
          </select>
        </div>


.-portal--hide
  h3 Floating labels
  p.-text
    | Floating labels are a solution to keep the placeholder visible when no label is attached to the select.
    | Chi only supports floating labels on <code>-lg</code> and <code>-xl</code> selects.
  .example.-mb--3
    .-p--3
      each size in ['-lg', '-xl']
        div(class=`chi-col -w--12 -p--2`)
          .chi-input__wrapper.-floating-label(style="max-width:20rem")
            select.chi-select(class=`${size}`, id=`#floating-label-select${size}`)
              option
              option Option 1
              option Option 2
              option Option 3
            label(for=`#floating-label-select${size}`) Placeholder text
    .example-tabs.-pl--2
      ul.chi-tabs#example-label-floating
        li.-disabled
          a(href=`#webcomponent-label-floating`) Web Component
        li.-active
          a(href=`#html-label-floating`) HTML Blueprint
    .chi-tabs-panel#webcomponent-label-floating
    .chi-tabs-panel.-active#html-label-floating
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <div id="floating-label-lg" class="chi-input__wrapper -floating-label">
          <select class="chi-select -lg" id="floating-label-select-lg">
            <option></option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <label for="floating-label-select-lg">Placeholder text</label>
        </div>

        <div id="floating-label-xl" class="chi-input__wrapper -floating-label">
          <select class="chi-select -xl" id="floating-label-select-xl">
            <option></option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <label for="floating-label-select-xl">Placeholder text</label>
        </div>

        <script>chi.floatingLabel(document.querySelectorAll('.-floating-label'));</script>

.-portal--show
  h3 Floating labels
  p.-text
    | Floating labels are a solution to keep the placeholder visible when no label is attached to the select.
  .example.-mb--3
    .-p--3
      each size in ['-md', '-lg']
        div(class=`chi-col -w--12 -p--2`)
          .chi-input__wrapper.-floating-label(style="max-width:20rem")
            select.chi-select(class=`${size}`, id=`#floating-label-portal-select${size}`)
              option
              option Option 1
              option Option 2
              option Option 3
            label(for=`#floating-label-portal-select${size}`) Placeholder text
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-label-floating
        li.-disabled
          a(href=`#webcomponent-portal-label-floating`) Web Component
        li.-active
          a(href=`#html-portal-label-floating`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-label-floating
    .chi-tabs-panel.-active#html-portal-label-floating
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <div id="floating-label-md" class="chi-input__wrapper -floating-label">
          <select class="chi-select -md" id="floating-label-portal-select-md">
            <option></option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <label for="floating-label-portal-select-md">Placeholder text</label>
        </div>

        <div id="floating-label-lg" class="chi-input__wrapper -floating-label">
          <select class="chi-select -lg" id="floating-label-portal-select-lg">
            <option></option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <label for="floating-label-portal-select-lg">Placeholder text</label>
        </div>

        <script>chi.floatingLabel(document.querySelectorAll('.-floating-label'));</script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
      chi.floatingLabel(document.querySelectorAll('.-floating-label'));
      chi.popover(document.getElementById('example__help-button'));
    }
  );
