h2 Examples
p.-text
  | To render a file input, apply the class <code>chi-file-input</code> to an <code>input type="file"</code> and
  | add a label next to it.

h3 Base
.example.-mb--3
  .-p--3
    input.chi-file-input(type="file", id="file01", aria-label="Choose file")
    label(for="file01") No file chosen
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript to update the label
        | content once a file or files have been selected.
        | You may use your own JavaScript solution, or use Chi's example below.
    :code(lang="html")
      <input type="file" class="chi-file-input" id="file01" aria-label="Choose file">
      <label for="file01">No file chosen</label>

      <script>
      var inputFiles = document.querySelectorAll('input[type="file"].chi-file-input');

      Array.prototype.forEach.call(inputFiles, function(input) {
        var label = input.nextElementSibling;

        input.addEventListener('change', function(e) {
          var fileName = '';

          if (this.files && this.files.length > 1) {
            fileName = this.files.length + ' files selected';
          } else {
            fileName = e.target.value.split('\\').pop();
          }

          if (fileName) {
            label.innerHTML = fileName;
          }
        });
      });
      </script>

h3 Disabled
.example.-mb--3
  .-p--3
    input.chi-file-input(type="file", id="unique-id-di1", aria-label="Choose file", disabled)
    label(for="unique-id-di1") No file chosen
  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled
      li.-disabled
        a(href=`#webcomponent-disabled`) Web Component
      li.-active
        a(href=`#html-disabled`) HTML Blueprint
  .chi-tabs-panel#webcomponent-disabled
  .chi-tabs-panel.-active#html-disabled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript to update the label
        | content once a file or files have been selected.
        | You may use your own JavaScript solution, or use Chi's example below.
    :code(lang="html")
      <input type="file" class="chi-file-input" id="unique-id-di1" aria-label="Choose file" disabled>
      <label for="unique-id-di1">No file chosen</label>

      <script>
      var inputFiles = document.querySelectorAll('input[type="file"].chi-file-input');

      Array.prototype.forEach.call(inputFiles, function(input) {
        var label = input.nextElementSibling;

        input.addEventListener('change', function(e) {
          var fileName = '';

          if (this.files && this.files.length > 1) {
            fileName = this.files.length + ' files selected';
          } else {
            fileName = e.target.value.split('\\').pop();
          }

          if (fileName) {
            label.innerHTML = fileName;
          }
        });
      });
      </script>

.-portal--show
  h2 Sizes
  p.-text
    | File inputs support sizes: <code>-xs</code>, <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>.
    | The default size is <code>-md</code>.
  .example.-mb--3
    .-p--3
      each size in ['xs', 'sm', 'md', 'lg']
        .-p--2
          p.-text--bold.-mt--0= '-' + size
          input.chi-file-input(type="file", class=`-${size}`, id=`example-portal-file-${size}`, aria-label="Choose file")
          label(for=`example-portal-file-${size}`) No file chosen
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-sizes
        li.-disabled
          a(href=`#webcomponent-portal-sizes`) Web Component
        li.-active
          a(href=`#html-portal-sizes`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-sizes
    .chi-tabs-panel.-active#html-portal-sizes
      :code(lang='html')
        <!-- -xs -->
        <input type="file" class="chi-file-input -xs" id="example-file-xs" aria-label="Choose file">
        <label for="example-file-xs">No file chosen</label>
        <!-- -sm -->
        <input type="file" class="chi-file-input -sm" id="example-file-sm" aria-label="Choose file">
        <label for="example-file-sm">No file chosen</label>
        <!-- -md -->
        <input type="file" class="chi-file-input -md" id="example-file-md" aria-label="Choose file">
        <label for="example-file-md">No file chosen</label>
        <!-- -lg -->
        <input type="file" class="chi-file-input -lg" id="example-file-lg" aria-label="Choose file">
        <label for="example-file-lg">No file chosen</label>

.-portal--hide
  h2 Sizes
  p.-text
    | File inputs support sizes: <code>-xs</code>, <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>, <code>-xl</code>.
    | The default size is <code>-md</code>.
  .example.-mb--3
    .-p--3
      each size in ['xs', 'sm', 'md', 'lg', 'xl']
        .-p--2
          p.-text--bold.-mt--0= '-' + size
          input.chi-file-input(type="file", class=`-${size}`, id=`example-file-${size}`, aria-label="Choose file")
          label(for=`example-file-${size}`) No file chosen
    .example-tabs.-pl--2
      ul.chi-tabs#example-sizes
        li.-disabled
          a(href=`#webcomponent-sizes`) Web Component
        li.-active
          a(href=`#html-sizes`) HTML Blueprint
    .chi-tabs-panel#webcomponent-sizes
    .chi-tabs-panel.-active#html-sizes
      :code(lang='html')
        <!-- -xs -->
        <input type="file" class="chi-file-input -xs" id="example-file-xs" aria-label="Choose file">
        <label for="example-file-xs">No file chosen</label>
        <!-- -sm -->
        <input type="file" class="chi-file-input -sm" id="example-file-sm" aria-label="Choose file">
        <label for="example-file-sm">No file chosen</label>
        <!-- -md -->
        <input type="file" class="chi-file-input -md" id="example-file-md" aria-label="Choose file">
        <label for="example-file-md">No file chosen</label>
        <!-- -lg -->
        <input type="file" class="chi-file-input -lg" id="example-file-lg" aria-label="Choose file">
        <label for="example-file-lg">No file chosen</label>
        <!-- -xl -->
        <input type="file" class="chi-file-input -xl" id="example-file-xl" aria-label="Choose file">
        <label for="example-file-xl">No file chosen</label>

script
  include ../../../../../chi/components/input-file/input-file.js

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('example-base'));
      chi.tab(document.getElementById('example-sizes'));
    }
  );
