extends ../layout.pug

block scripts
  script(type="module" src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
  script(src='../../../js/chi.js')
  script(src='../../../chi-icons.js')
  script(src='../../../chi-marketing-icons.js')

block variables
  - var title = 'Global Mobile Navigation'

block content

  chi-button#mobile-nav-trigger(type="icon" variant="flat")
    chi-icon(icon="menu")
  div#mobile-nav.chi-mobile-nav.-global(data-cy="mobile-nav")
    chi-drawer#mobile-nav-drawer
      div#main-menu
        div.chi-mobile-nav__header
          chi-dropdown#enterprise-dropdown.enterprise-id-switcher(
            select-mode=""
            size="sm"
            button="Enterprise ID: 1234567"
            position="bottom"
          )
            .chi-grid(slot="menu-header")
              .chi-col.-w--4 Enterprise ID
              .chi-col.-w--7 Enterprise Name
            a.chi-dropdown__menu-item.-active(slot="menu")
              .chi-grid
                .chi-col.-w--4 1234567
                .chi-col.-w--7 Acme Incorporated
            a.chi-dropdown__menu-item(slot="menu")
              .chi-grid
                .chi-col.-w--4 1234568
                .chi-col.-w--7 Acme Incorporated
            a.chi-dropdown__menu-item(slot="menu")
              .chi-grid
                .chi-col.-w--4 1234569
                .chi-col.-w--7 Acme Incorporated
                .chi-col.-w--1
                  chi-spinner
            a.chi-dropdown__menu-item(slot="menu")
              .chi-grid
                .chi-col.-w--4 1234560
                .chi-col.-w--7 Acme Incorporated
            .chi-divider(slot="menu-footer")
            chi-link(slot="menu-footer") Manage My Enterprises
        .chi-divider.-my--0

        ul#main-content.chi-mobile-nav__list
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="dashboard")
              span Dashboard
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="bell")
              span Alerts & Notifications
          li.chi-mobile-nav__item
            chi-link.-active(href="#services-menu")
              chi-icon(icon="list-alt")
              span Services
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link(href="#apis-menu")
              chi-icon(icon="api")
              span APIs
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="chart-bar")
              span Monitoring & Reports
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="mail-open-dollar")
              span Billing
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="users")
              span Admin
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="life-ring")
              span Support
              chi-icon(icon="chevron-right")
        .chi-divider.-my--0

        ul.chi-mobile-nav__list
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="circle-question")
              span [Portal Name] Help
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="compose")
              span Contact Lumen
        .chi-divider.-my--0

        ul.chi-mobile-nav__list
          li.chi-mobile-nav__item
            span.chi-mobile-nav__email jamie.johnson@company.com
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="user")
              span My Profile
          li.chi-mobile-nav__item
            chi-link
              chi-icon(icon="logout")
              span Sign out

      #services-menu
        ul.chi-mobile-nav__list
          li.chi-mobile-nav__item
            chi-link(href="https://lib.lumen.com/") Manage Services
          li.chi-mobile-nav__item
            chi-link Add Services
          li.chi-mobile-nav__item
            chi-link Order Status
          li.chi-mobile-nav__item
            chi-link
              span Service Tools
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link
              span Service Requests
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link.-active(href="#quotes-menu")
              span Quotes
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link(href="#service-portals-menu")
              span Service Portals
              chi-icon(icon="chevron-right")

      #apis-menu
        ul.chi-mobile-nav__list
          li.chi-mobile-nav__item
            chi-link(href="#view-apis-menu")
              span View APIs
              chi-icon(icon="chevron-right")
          li.chi-mobile-nav__item
            chi-link Edit APIs
          li.chi-mobile-nav__item
            chi-link API Settings

      #quotes-menu
        ul.chi-mobile-nav__list
          li.chi-mobile-nav__item
            chi-link.-active View Quotes
          li.chi-mobile-nav__item
            chi-link Create Quotes

      #service-portals-menu
        ul.chi-mobile-nav__list
          li.chi-mobile-nav__item
            chi-link Service Portal 1
          li.chi-mobile-nav__item
            chi-link Service Portal 2

      #view-apis-menu
        ul.chi-mobile-nav__list
          li.chi-mobile-nav__item
            chi-link API 1
          li.chi-mobile-nav__item
            chi-link API 2

  button#dispose-mobile-navigation-button.chi-button.-mt--3
    | Dispose Mobile Navigation

  script.
    const mobileNav = document.getElementById('mobile-nav');
    const mobileNavTrigger = document.getElementById('mobile-nav-trigger');
    const mobileNavDrawer = document.getElementById('mobile-nav-drawer');
    const enterpriseDropdown = document.getElementById('enterprise-dropdown');
    const globalMobileNav = chi.globalMobileNav(mobileNav, mobileNavTrigger, mobileNavDrawer, enterpriseDropdown);

    let selectedEnterpriseId = '1234567';

    const enterpriseDropdownLabel = () => `Enterprise ID: ${selectedEnterpriseId}`;

    const extractIdFromDetail = (detail) => ((detail || '').split('\n')[0]);

    mobileNavDrawer.addEventListener('click.capture', (e) => {
      const anchorElement = e.target.closest('a[href^="#"]');
      if (!anchorElement) return;
      e.preventDefault();
    });

    enterpriseDropdown.addEventListener('chiDropdownItemSelected', (e) => {
      const enterpriseId = extractIdFromDetail(e.detail);
      e.currentTarget.resetSelection();
      selectedEnterpriseId = enterpriseId;
      enterpriseDropdown.setAttribute('button', enterpriseDropdownLabel());
    });

    const disposeMobileNavButton = document.getElementById('dispose-mobile-navigation-button');
    disposeMobileNavButton.addEventListener('click', () => globalMobileNav.dispose());
