---
title: Badges
---

mixin badge(data)
  .a-badge(class!=attributes.class)
    span= data

p.-text Badges are inline elements used to label, categorize, or organize a list of items.

h3 Examples
p.-text
  | To display a badge, use the class <code>a-badge</code>.
  | A contextual class (e.g. <code>-danger</code>) can also be applied to provide alternate styling.

h4 Base
.example.-mb3
  .-p2
    +badge('Base').-m1
    each type in ['brand', 'danger', 'info', 'light', 'dark']
      +badge(type)(class=`-${type} -m1`)
  :code(lang="html")
    <div class="a-badge">
      <span>base</span>
    </div>
    <div class="a-badge -brand">
      <span>brand</span>
    </div>
    <div class="a-badge -danger">
      <span>danger</span>
    </div>
    <div class="a-badge -info">
      <span>info</span>
    </div>
    <div class="a-badge -light">
      <span>light</span>
    </div>
    <div class="a-badge -dark">
      <span>dark</span>
    </div>

h4 Outline
.example.-mb3
  .-p2
    +badge('Base').-outline.-m1
    each type in ['brand', 'danger', 'info', 'light', 'dark']
      +badge(type)(class=`-${type} -outline -m1`)
  :code(lang="html")
    <div class="a-badge -outline">
      <span>base</span>
    </div>
    <div class="a-badge -outline -brand">
      <span>brand</span>
    </div>
    <div class="a-badge -outline -danger">
      <span>danger</span>
    </div>
    <div class="a-badge -outline -info">
      <span>info</span>
    </div>
    <div class="a-badge -outline -light">
      <span>light</span>
    </div>
    <div class="a-badge -outline -dark">
      <span>dark</span>
    </div>

h4 Flat
.example.-mb3
  .-p2
    +badge('Base').-flat.-m1
    each type in ['brand', 'danger', 'info', 'light', 'dark']
      +badge(type)(class=`-${type} -flat -m1`)
  :code(lang="html")
    <div class="a-badge -flat">
      <span>base</span>
    </div>
    <div class="a-badge -flat -brand">
      <span>brand</span>
    </div>
    <div class="a-badge -flat -danger">
      <span>danger</span>
    </div>
    <div class="a-badge -flat -info">
      <span>info</span>
    </div>
    <div class="a-badge -flat -light">
      <span>light</span>
    </div>
    <div class="a-badge -flat -dark">
      <span>dark</span>
    </div>

h3 Pills
p.-text
 | Use the <code>-pill</code> modifier class to render badges with a more pronounced border-radius.

 h4 Base
 .example.-mb3
   .-p2
     +badge('Base').-pill.-m1
     each type in ['brand', 'danger', 'info', 'light', 'dark']
       +badge(type)(class=`-${type} -pill -m1`)
   :code(lang="html")
     <div class="a-badge -pill">
       <span>base</span>
     </div>
     <div class="a-badge -pill -brand">
       <span>brand</span>
     </div>
     <div class="a-badge -pill -danger">
       <span>danger</span>
     </div>
     <div class="a-badge -pill -info">
       <span>info</span>
     </div>
     <div class="a-badge -pill -light">
       <span>light</span>
     </div>
     <div class="a-badge -pill -dark">
       <span>dark</span>
     </div>

 h4 Outline
 .example.-mb3
   .-p2
     +badge('Base').-pill.-outline.-m1
     each type in ['brand', 'danger', 'info', 'light', 'dark']
       +badge(type)(class=`-${type} -pill -outline -m1`)
   :code(lang="html")
     <div class="a-badge -pill -outline">
       <span>base</span>
     </div>
     <div class="a-badge -pill -outline -brand">
       <span>brand</span>
     </div>
     <div class="a-badge -pill -outline -danger">
       <span>danger</span>
     </div>
     <div class="a-badge -pill -outline -info">
       <span>info</span>
     </div>
     <div class="a-badge -pill -outline -light">
       <span>light</span>
     </div>
     <div class="a-badge -pill -outline -dark">
       <span>dark</span>
     </div>
