---
title: Typography
---

.test-01
  h1 h1 - 48pt Open Sans
  h2 h2 - 32pt Open Sans
  h3 h3 - 24pt Open Sans
  h4 h4 - 18pt Open Sans
  h5 h5 - 16pt Open Sans
  h6 h6 - 14pt Open Sans
  p.text 16pt Body Default
  small 11pt Body Small

.test-04
  h3 Colors
  table(cellpadding="0", cellspacing="0")
    each name in ['green', 'carbon', 'grey', 'blue', 'red', 'yellow']
      each deep in [100, 200, 300, 400, 500, 600, 700]
        tr
          td
            div(class=`text text--${name}-${deep}`)= `Text ${name} ${deep}`
          td.bg-carbon-500
            div(class=`text text--${name}-${deep}`)= `Text ${name} ${deep}`
          td
            .text= `.text--${name}-${deep}`

.test-02
  h1 A starting point
  p.text Mauris nec euismod nunc. Aenean neque erat, mattis ut ipsum id, dapibus semper diam. Nullam ornare aliquet semper. Quisque tristique et ligula in finibus. Praesent auctor sagittis luctus. Donec a ipsum id elit fringilla vestibulum ut sed massa. Cras turpis odio, efficitur sodales euismod sit amet, convallis vel turpis. Proin commodo quis odio sed blandit.

.test-03
  h3 Fancy header title
  .text
    p Mauris nec euismod nunc. Aenean neque erat, mattis ut ipsum id, dapibus semper diam. Nullam ornare aliquet semper. Quisque tristique et ligula in finibus. Praesent auctor sagittis luctus. Donec a ipsum id elit fringilla vestibulum ut sed massa. Cras turpis odio, efficitur sodales euismod sit amet, convallis vel turpis. Proin commodo quis odio sed blandit.
    p Ut vitae metus quis nunc ultrices vestibulum. Maecenas consequat scelerisque maximus. Duis ac leo condimentum, bibendum nisl nec, porttitor mi. Nullam iaculis elit nec imperdiet ultricies. Duis consectetur eleifend ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam faucibus magna id nibh egestas, sed fringilla ante posuere. Aliquam quis pulvinar odio, porta gravida orci. Sed porttitor leo felis, vel dapibus nunc pretium sit amet. Integer auctor, lorem non congue hendrerit, orci lorem condimentum nisi, sit amet viverra urna lectus a metus. Donec imperdiet eros a tortor luctus accumsan. Nam massa dui, egestas eu magna rhoncus, varius aliquet eros.
    p Maecenas vestibulum id enim sit amet pharetra. Integer tristique euismod eros, sed bibendum dui placerat finibus. Fusce et lorem id purus pellentesque fringilla. Praesent blandit eros metus. Fusce a velit augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque blandit enim ac sagittis placerat. Nam orci erat, vulputate sed velit sed, eleifend pharetra lectus. Phasellus ullamcorper augue enim, sit amet pulvinar nunc sagittis non. Mauris ac tincidunt neque, eu venenatis metus.

  h4 Smaller header title
  p.text Nulla ultricies vestibulum elit vel sollicitudin. Morbi quis rhoncus est. Curabitur laoreet sapien nisl, ac varius orci mollis eget. Cras efficitur ullamcorper mauris, at dictum mi rhoncus in. Donec placerat lobortis nisi id rhoncus. Cras eu ante tristique, consectetur risus dignissim, ultrices ipsum. Donec nec metus vel dui porttitor tempus. Fusce congue ante et velit pellentesque dictum dapibus sed arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In feugiat quam ac purus auctor, ac interdum tellus feugiat.
