mixin str(cid, name, id, date, checked)
  tr(class={
    '-row--info': checked
  })
    td
      .chi-checkbox
        input.chi-checkbox__input(
          type="checkbox"
          id=cid
          checked=checked
        )
        label.chi-checkbox__label(for=cid)
          .-sr--only Label
    td= name
    td= id
    td= date

mixin tr(name, id, date)
  tr&attributes(attributes)
    td= name
    td= id
    td= date

mixin table(row, column, selectable)
  table.chi-table&attributes(attributes)
    thead
      if !selectable
        if row != undefined
          tr(class=(`-${row}`))
            if column != undefined
              if column == 'ascending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last Login
              else if column == 'descending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last Login
            else
              th Name
              th ID
              th Last Login
        else
          tr
            if column != undefined
              if column == 'ascending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last Login
              else if column == 'descending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last Login
            else
              th Name
              th ID
              th Last Login
      else if selectable
        tr
          if column != undefined
            if column == 'ascending'
              th
                .chi-checkbox
                  input.chi-checkbox__input(type="checkbox", id=`chk-1`)
                  label.chi-checkbox__label(for=`chk-1`)
                    .-sr--only Label
              th(class=(`-sorted -${column}`))
                div Name
              th ID
              th Last Login
            else if column == 'descending'
              th
                .chi-checkbox
                  input.chi-checkbox__input(type="checkbox", id=`chk-1`)
                  label.chi-checkbox__label(for=`chk-1`)
                    .-sr--only Label
              th(class=(`-sorted -${column}`))
                div Name
              th ID
              th Last Login
          else
            th
              .chi-checkbox
                input.chi-checkbox__input(type="checkbox", id=`chk-1`)
                label.chi-checkbox__label(for=`chk-1`)
                  .-sr--only Label
            th Name
            th ID
            th Last Login
    tbody
      if !selectable
        +tr('Name 1', 'name-1', 'Dec 18, 2020 3:26 PM')(
          class={
              [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
          }
        )
        +tr('Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')(
          class={
            [`-${row}`]: row != undefined && row != 'disabled'
          }
          disabled= row=='disabled' ? 'disabled' : false
        )
        +tr('Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')(
          class={
            [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
          }
        )
      else if selectable
        +str(`chk-1-01`, 'Name 1', 'name-1', 'Dec 18, 2020 3:26 PM', true)
        +str(`chk-1-02`, 'Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')
        +str(`chk-1-03`, 'Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')
