mixin str(cid, name, id, date, checked)
  tr(class={
    '-row--info': checked
  })
    td.-lh--1
      input.a-checkbox__input(
        type="checkbox"
        id=cid
        checked=checked
      )
      label.a-checkbox__label(for=cid)
    td= name
    td= id
    td= date

mixin tr(name, id, date)
  tr&attributes(attributes)
    td= name
    td= id
    td= date

mixin table(row, column, selectable)
  table.a-table&attributes(attributes)
    thead
      if !selectable
        if row != undefined
          tr(class=(`-${row}`))
            if column != undefined
              if column == 'ascending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last login
              else if column == 'descending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last login
            else
              th Name
              th ID
              th Last login
        else
          tr
            if column != undefined
              if column == 'ascending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last login
              else if column == 'descending'
                th(class=(`-sorted -${column}`))
                  div Name
                th ID
                th Last login
            else
              th Name
              th ID
              th Last login
      else if selectable
        tr
          if column != undefined
            if column == 'ascending'
              th
                div.-lh--1
                  input.a-checkbox__input(type="checkbox", id=`chk-1`)
                  label.a-checkbox__label(for=`chk-1`)
              th(class=(`-sorted -${column}`))
                div Name
              th ID
              th Last login
            else if column == 'descending'
              th
                div.-lh--1
                  input.a-checkbox__input(type="checkbox", id=`chk-1`)
                  label.a-checkbox__label(for=`chk-1`)
              th(class=(`-sorted -${column}`))
                div Name
              th ID
              th Last login
          else
            th
              div.-lh--1
                input.a-checkbox__input(type="checkbox", id=`chk-1`)
                label.a-checkbox__label(for=`chk-1`)
            th Name
            th ID
            th Last login
    tbody
      if !selectable
        +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')(
          class={
              [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
          }
        )
        +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')(
          class={
            [`-${row}`]: row != undefined && row != 'disabled'
          }
          disabled= row=='disabled' ? 'disabled' : false
        )
        +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')(
          class={
            [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
          }
        )
      else if selectable
        +str(`chk-1-01`, 'David Navarro', 'david', 'Dec 18, 2017 3:26 PM', true)
        +str(`chk-1-02`, 'Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')
        +str(`chk-1-03`, 'Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')
