h2 Overview
p.-text
  | Chi Marketing Icons are a collection of high-quality vector icons designed by Lumen for use in consumer, enterprise, and internal applications.
  | All icons have been manually optimized to achieve the fastest load time without compromising visual path and shape quality. For icon requests or
  | feedback, please email <a href="mailto:chi.support@centurylink.com">Chi Support</a>.

h2 Examples
h3 Base
.example.-mb--3
  .-p--3
    chi-marketing-icon(icon="business-big-data")
  .example-tabs.-pl--2
    ul.chi-tabs#example-default
      li.-active
        a(href='#webcomponent-default', role='tab', aria-selected='true', aria-controls='webcomponent-default')
          | Web Component
      li.-disabled
        a(href='#html-default', role='tab', aria-selected='false', tabindex='-1', aria-controls='html-default')
          | HTML Blueprint
  #webcomponent-default.chi-tabs-panel.-active
    :code(lang="html")
      <chi-marketing-icon icon="business-big-data"></chi-marketing-icon>
  #html-default.chi-tabs-panel

h3 Sizes
p.-text
  | Icons support the following sizes:
  | <code>xs</code>, <code>sm</code>, <code>md</code>, <code>lg</code>.
  | By default, icons render at 96x96px (<code>md</code>).
.example.-mb--3
  .-p--3
    .chi-grid.-align-items--end
      each size in ['xs', 'sm', 'md', 'lg']
        div.-p--2.-m--1
          chi-marketing-icon(icon="business-big-data", size=size)
          p.-text.-text--center= size
  .example-tabs.-pl--2
    ul.chi-tabs#example-sizes
      li.-active
        a(href='#webcomponent-sizes', role='tab', aria-selected='true', aria-controls='webcomponent-sizes') Web Component
      li.-disabled
        a(href='#html-sizes', role='tab', aria-selected='false', tabindex='-1', aria-controls='html-sizes')
          | HTML Blueprint
  #webcomponent-sizes.chi-tabs-panel.-active
    :code(lang="html")
      <!-- xs : 72x72px -->
      <chi-marketing-icon icon="business-big-data" size="xs"></chi-marketing-icon>
      <!-- sm : 80x80px -->
      <chi-marketing-icon icon="business-big-data" size="sm"></chi-marketing-icon>
      <!-- md : 96x96px -->
      <chi-marketing-icon icon="business-big-data" size="md"></chi-marketing-icon>
      <!-- lg : 128x128px -->
      <chi-marketing-icon icon="business-big-data" size="lg"></chi-marketing-icon>
  #html-sizes.chi-tabs-panel

h2 Icons
h3 Business
.chi-grid.icon-library.-pt--2.-pb--6
  each name in ['business-big-data', 'business-briefcase', 'business-calendar', 'business-checklist', 'business-consulting', 'business-cost-control', 'business-deal', 'business-finance', 'business-growth', 'business-lower-costs', 'business-opportunities', 'business-reports', 'business-solutions', 'business-support-ticket', 'business-time']
    .chi-col.-w--6.-w-xl--3.-mb--2
      .chi-card.-py--4.-bg--grey-10
        .chi-card__content
          chi-marketing-icon(icon=`${name}` size='md')
      p.-text--center=name

h3 Device
.chi-grid.icon-library.-pt--2.-pb--6
  each name in ['device-desktop', 'device-ip-phone', 'device-laptop', 'device-mobile-phone', 'device-router', 'device-server', 'device-switch', 'device-video-streaming']
    .chi-col.-w--6.-w-xl--3.-mb--2
      .chi-card.-py--4.-bg--grey-10
        .chi-card__content
          chi-marketing-icon(icon=`${name}` size='md')
      p.-text--center=name

h3 People
.chi-grid.icon-library.-pt--2.-pb--6
  each name in ['people-admin', 'people-customer', 'people-executive', 'people-support', 'people-us-network']
    .chi-col.-w--6.-w-xl--3.-mb--2
      .chi-card.-py--4.-bg--grey-10
        .chi-card__content
          chi-marketing-icon(icon=`${name}` size='md')
      p.-text--center=name

h3 Platform
.chi-grid.icon-library.-pt--2.-pb--6
  each name in ['platform-adaptive-networking', 'platform-connected-security', 'platform-edge-compute', 'platform-it-agility-hybrid-cloud', 'platform-voice-unified-communications']
    .chi-col.-w--6.-w-xl--3.-mb--2
      .chi-card.-py--4.-bg--grey-10
        .chi-card__content
          chi-marketing-icon(icon=`${name}` size='md')
      p.-text--center=name

h3 Products
.chi-grid.icon-library.-pt--2.-pb--6
  each name in ['products-apps', 'products-designs', 'products-network-solutions']
    .chi-col.-w--6.-w-xl--3.-mb--2
      .chi-card.-py--4.-bg--grey-10
        .chi-card__content
          chi-marketing-icon(icon=`${name}` size='md')
      p.-text--center=name

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
  });
