---
title: Text Input
---

p.-text Text inputs are used for inputting single line text data.

h3 Examples
p.-text
  | To render a text input, apply the class <code>a-input</code> to an <code>input type="text"</code>,
  | <code>input type="password"</code>, <code>input type="email"</code>, etc.

h4 Base
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder")
  :code(lang="html")
    <input type="text" class="a-input" placeholder="Placeholder">

h4 Disabled
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input", value="Sample Text", disabled)
  :code(lang="html")
    <input type="text" class="a-input" value="Sample Text" disabled>

h4 With Label
.example.-mb--3
  .-p--3
    .m-formGroup.-labeled(style="max-width:20rem")
      label.a-label(for='example') Label
      input(type="text", class="a-input", id='example', placeholder="Placeholder")
  :code(lang="html")
    <div class="m-formGroup -labeled">
      <label class="a-label" for="example">Label</label>
      <input type="text" class="a-input" id="example" placeholder="Placeholder">
    </div>

h3 Icons
p.-text
  | To add icons to a text input, wrap the input in a <code>div</code> using the class
  | <code>a-inputWrapper</code>. Next, add the icon as a sibling of the <code>input</code> and utilize
  | an icon alignment utility class (e.g. <code>-icon--left</code>) to specify where it should be placed.

h4 Left Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--left(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      i.a-icon.icon-search.-text--muted
  :code(lang="html")
    <div class="a-inputWrapper -icon--left">
      <input type="text" class="a-input" placeholder="Placeholder" value="Sample text">
      <i class="a-icon icon-search -text--muted"></i>
      </div>
    </div>

h4 Right Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      i.a-icon.icon-search.-text--muted
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <input type="text" class="a-input" placeholder="Placeholder" value="Sample text">
      <i class="a-icon icon-search -text--muted"></i>
    </div>

h4 Left + Right Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--left.-icon--right(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      i.a-icon.icon-search.-text--muted
      i.a-icon.icon-check-alt.-text--success
  :code(lang="html")
    <div class="a-inputWrapper -icon--left -icon--right">
      <input type="text" class="a-input" placeholder="Placeholder" value="Sample text">
      <i class="a-icon icon-search -text--muted"></i>
      <i class="a-icon icon-check-alt -text--success"></i>
    </div>

h3 States

p.-text
  | Text inputs offer three validation states: <code>-success</code>, <code>-warning</code>, and <code>-danger</code>.

h4 Success
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input -success", placeholder="Placeholder", value="Sample Text")
  :code(lang="html")
    <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text">

.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:20rem")
      input(type="text", class="a-input -success", placeholder="Placeholder", value="Sample Text")
      i.a-icon.icon-check-alt.-text--success
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text">
      <i class="a-icon icon-check-alt -text--success"></i>
    </div>

h4 Warning
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input -warning", placeholder="Placeholder", value="Sample Text")
  :code(lang="html")
    <input type="text" class="a-input -warning" placeholder="Placeholder" value="Sample Text">

.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:20rem")
      input(type="text", class="a-input -warning", placeholder="Placeholder", value="Sample Text")
      i.a-icon.icon-warning.-text--warning
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text">
      <i class="a-icon icon-warning -text--warning"></i>
    </div>

h4 Danger
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input -danger", placeholder="Placeholder", value="Sample Text")
  :code(lang="html")
    <input type="text" class="a-input -danger" placeholder="Placeholder" value="Sample Text">

.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:20rem")
      input(type="text", class="a-input -danger", placeholder="Placeholder", value="Sample Text")
      i.a-icon.icon-circle-warning.-text--danger
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <input type="text" class="a-input -danger" placeholder="Placeholder" value="Sample Text">
      <div class="a-icon icon-circle-warning -text--danger"></i>
    </div>

h3 Sizes
p.-text
  | Text inputs supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`-d--flex -flex--row -align-items--end -p--2`)
        .m-formGroup(style="width:20rem")
          input(type="text", class=`a-input -${size} -mr--3`, placeholder="Sample Text")
  :code(lang='html')
    <input type="text" class="a-input -sm" placeholder="Sample Text">
    <input type="text" class="a-input -md" placeholder="Sample Text">
    <input type="text" class="a-input -lg" placeholder="Sample Text">
    <input type="text" class="a-input -xl" placeholder="Sample Text">

h3 Floating labels
.m-alert.-bubble.-info
  i.a-icon.-sm--2.icon-circle-info.-text--info
  | This component requires Javascript
p.-text
  | Floating labels are a solution to keep the placeholder visible when no label is attached to the input. Chi supports
  | floating labels for <code>-lg</code> and <code>-xl</code> inputs. This component requires JavaScript to add/remove
  | the <code>-active</code> class whenever the input focuses or is not empty.

ul#a-tabs.a-tabs
  li.-active
    a(href="#floatingInitial") Initial
  li
    a(href="#floatingActive") Active
.example.-mb--3
  #floatingInitial.a-tabs-panel.-active
    .-p--3
      each size in ['lg', 'xl']
        div(class=`a-col -w--12 -p--2`)
          .a-inputWrapper.-floatingLabel(style="max-width:20rem")
            input(type="text", class=`a-input -${size} -mr--3`, id=`floating-label-${size}`)
            label(for=`floating-label-${size}`) Placeholder text
    :code(lang='html')
      <div class="a-inputWrapper -floatingLabel">
        <input class="a-input -lg" type="text" id="floating-label-lg">
        <label for="floating-label-lg">Placeholder text</label>
      </div>

      <div class="a-inputWrapper -floatingLabel">
        <input class="a-input -xl" type="text" id="floating-label-xl">
        <label for="floating-label-xl">Placeholder text</label>
      </div>
  #floatingActive.a-tabs-panel
    .-p--3
      each size in ['lg', 'xl']
        div(class=`a-col -w--12 -p--2`)
          .a-inputWrapper.-floatingLabel(style="max-width:20rem")
            input(type="text", class=`a-input -${size} -mr--3`, id=`floating-label-${size}-2`, value="Sample text")
            label.-active(for=`floating-label-${size}-2`) Placeholder text
    :code(lang='html')
      <div class="a-inputWrapper -floatingLabel">
        <input class="a-input -lg" type="text" id="floating-label-lg">
        <label class="-active" for="floating-label-lg">Placeholder text</label>
      </div>

      <div class="a-inputWrapper -floatingLabel">
        <input class="a-input -xl" type="text" id="floating-label-xl">
        <label class="-active" for="floating-label-xl">Placeholder text</label>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs'));
    },
    false
  );
