---
title: Navigation
---
p.-text
  | Navigation component is a combination of Chi tabs and dropdowns components. You must use <code>chi.navigation</code>
  | function to instantiate the whole group of components, and there is no need for instantiating the tabs nor the
  | dropdowns independently. The navigation components will manage the lifecycle of the descendants' tabs and dropdowns.

p.-text
  | Although navigation reproduces all the functionality that tabs and dropdowns have, like the sliding border or the
  | animated chevron in the dropdowns, it also adds some other new functionalities like the automatic overflow menu,
  | or a wait-for-animation option.

.example.-mb--3
  .-p--3.-pb--4
    ul.a-tabs.a-navigationExample
      li.m-dropdown.-active
        a.m-dropdown__trigger(href='#') Active tab, click me
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Elem 1
          a.m-dropdown__menu-item(href='#') Elem 2
          div
            a.m-dropdown__menu-item.m-dropdown__trigger(href='#') Elem 3 more
            .m-dropdown__menu
              a.m-dropdown__menu-item(href='#') Elem 3.1
              a.m-dropdown__menu-item(href='#') Elem 3.2
              a.m-dropdown__menu-item(href='#') Elem 3.3
              a.m-dropdown__menu-item(href='#') Elem 3.4
          a.m-dropdown__menu-item(href='#') Elem 4
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
      li.m-dropdown
        a.m-dropdown__trigger(href='#') Tab Dropdown
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Element 1
          a.m-dropdown__menu-item(href='#') Element 2
          a.m-dropdown__menu-item(href='#') Element 3
  ul.a-tabs.-ml--3
    li.-active
      a(href='#example-1__horizontal-html') HTML
    li
      a(href='#example-1__horizontal-script') JavaScript
  #example-1__horizontal-html.a-tabs-panel.-active
    :code(lang='html')
      <ul id="navigationExample-1" class="a-tabs">
        <li class="m-dropdown -active">
          <a class="m-dropdown__trigger" href="#">Active tab, click me</a>
          <div class="m-dropdown__menu">
            <a class="m-dropdown__menu-item" href="#">Elem 1</a>
            <a class="m-dropdown__menu-item" href="#">Elem 2</a>
            <div>
              <a class="m-dropdown__menu-item m-dropdown__trigger" href="#">Elem 3 more</a>
              <div class="m-dropdown__menu">
                <a class="m-dropdown__menu-item" href="#">Elem 3.1</a><a class="m-dropdown__menu-item" href="#">Elem 3.2</a><a class="m-dropdown__menu-item" href="#">Elem 3.3</a><a class="m-dropdown__menu-item" href="#">Elem 3.4</a>
              </div>
            </div>
            <a class="m-dropdown__menu-item" href="#">Elem 4</a>
          </div>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li class="m-dropdown">
          <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
          <div class="m-dropdown__menu">
            <a class="m-dropdown__menu-item" href="#">Element 1</a>
            <a class="m-dropdown__menu-item" href="#">Element 2</a>
            <a class="m-dropdown__menu-item" href="#">Element 3</a>
          </div>
        </li>
      </ul>
  #example-1__horizontal-script.a-tabs-panel
    :code(lang="javascript")
      const navigationElem = document.getElementById('#navigationExample-1');
      chi.navigation(navigationElem);

h3 Options
p.-text This component accepts options to configure its behavior.

section.a-table.a-table__options.-bordered.-my--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th(style='width: 10em')
            div Option
          th(style='width: 10em')
            div Default
          th
            div Description
      tbody
        tr
          td
            div
              code= 'overflowMenu'
          td
            div
              code= 'true'
          td
            div
              | Only works for horizontal navigation components. It encloses overflowed tabs into a dropdown
              | located at the end of the navigation component.
        tr
          td
            div
              code= 'overflowMenuLabel'
          td
            div
              code= 'More&hellip;'
          td
            div
              | Text for the overflow menu dropdown.
        tr
          td
            div
              code= 'waitForAnimations'
          td
            div
              code= 'true'
          td
            div
              | Makes the browser wait for the sliding border to move to the clicked link before following links.
              | It only works with common links.

h3 Overflow Menu
p.-text
  | Overflow menu encloses overflowed tabs into a dropdown menu at the end of the navigation component. Any
  | instantiation of a new horizontal Navigation component will automatically support this Overflow Menu. You can
  | prevent this by using the option <code>overflowMenu: false</code>. The label using in the activator of this menu
  | can be changed with the <code>overflowMenuLabel</code> option.
ul.a-tabs
  li.-active
    a(href='#example-3__enabled') Enabled
  li
    a(href='#example-3__disabled') Disabled
#example-3__enabled.a-tabs-panel.-active
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#') Element 1
            a.m-dropdown__menu-item(href='#') Element 2
            a.m-dropdown__menu-item(href='#') Element 3
        li
          a(href='#') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#') Element 1
            a.m-dropdown__menu-item(href='#') Element 2
            a.m-dropdown__menu-item(href='#') Element 3
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-3__enabled-html') HTML
      li
        a(href='#example-3__enabled-script') JavaScript
    #example-3__enabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationExample-3-enabled" class="a-tabs">
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
        </ul>
    #example-3__enabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-3-enabled');
        chi.navigation(navigationElem);
#example-3__disabled.a-tabs-panel
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample.a-customExample
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#') Element 1
            a.m-dropdown__menu-item(href='#') Element 2
            a.m-dropdown__menu-item(href='#') Element 3
        li
          a(href='#') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#') Element 1
            a.m-dropdown__menu-item(href='#') Element 2
            a.m-dropdown__menu-item(href='#') Element 3
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-3__disabled-html') HTML
      li
        a(href='#example-3__disabled-script') JavaScript
    #example-3__disabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationExample-3-disabled" class="a-tabs">
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
        </ul>
    #example-3__disabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-3-disabled');
        chi.navigation(
          navigationElem,
          {overflowMenu: false}
        );

h3 Wait for animations
p.-text
  | Browsers stop any execution of JavaScript as soon as a link is clicked and it starts to fetch the destination URL.
  | For this reason, the sliding border animation will not be perceived by the user when an external link is clicked, as
  | the animation will not be done, an this can be confusing for the user. To prevent this possible confusion, this
  | component waits for the animation to finish and, then, it will redirect the user to the destination URL. You can
  | disable this behavior by setting the <code>waitForAnimations</code> option to <code>false</code>.
ul.a-tabs
  li.-active
    a(href='#example-4__enabled') Enabled
  li
    a(href='#example-4__disabled') Disabled
#example-4__enabled.a-tabs-panel.-active
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample
        li.-active
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-4__enabled-html') HTML
      li
        a(href='#example-4__enabled-script') JavaScript
    #example-4__enabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationexample-4-enabled" class="a-tabs">
          <li class="-active">
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
        </ul>
    #example-4__enabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-4-enabled');
        chi.navigation(navigationElem);
#example-4__disabled.a-tabs-panel
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample.a-customExample
        li.-active
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
        li
          a(href='/') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-4__disabled-html') HTML
      li
        a(href='#example-4__disabled-script') JavaScript
    #example-4__disabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationexample-4-disabled" class="a-tabs">
          <li class="-active">
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
        </ul>
    #example-4__disabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-4-disabled');
        chi.navigation(
          navigationElem,
          {overflowMenu: false}
        );

h4 Preventing memory leaks
p.-text
  | Navigation components have a dispose function to free all resources attached to the element, such as event
  | listeners and object data. You should call this method when you want to remove the component. There is no need to
  | call to tab and dropdown inner components dispose function as the navigation one will free resources of all
  | internal components automatically.
:code(lang="javascript")
  var navigationElem = document.getElementById('#navigationElementId');
  var navigationComponent = chi.navigation(navigationElem);
  // do stuff
  navigationComponent.dispose();

p.-text
  span.a-badge.-brand.-mr1
    span Tip
  | It is safe to call the <code>navigation</code> factory function more than once, as it will return any previously
  | created navigation component associated to the element.
:code(lang="javascript")
  var elem = document.getElementById('navigation-1');
  var navigationComponent = chi.navigation(elem);
  var elem2 = document.getElementById('navigation-1');
  var navigationComponent2 = chi.navigation(elem2);
  navigationComponent === navigationComponent2; // returns true

  navigationComponent.dispose(); // Only have to do it once.

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.navigation(document.querySelectorAll('.docs-body__content .a-tabs.a-navigationExample:not(.a-customExample)'));
      chi.tab(document.querySelectorAll('.docs-body__content .a-tabs:not(.a-navigationExample)'));
      chi.navigation(
        document.querySelectorAll('#example-3__disabled .a-tabs.a-navigationExample'),
        {overflowMenu: false}
      );
      chi.navigation(
        document.querySelectorAll('#example-4__disabled .a-tabs.a-navigationExample'),
        {waitForAnimations: false}
      );

    },
    false
  );
