---
title: Popover
---
h2 Base
p.-text
  | To render a popover, add your HTML code to a <code>data-popover-content</code> attribute. Then,
  | you can initialize it with the <code>chi.popover</code> factory method.
.example.-mb--3
  .-p--3
    button#popover-1(data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover title</h2></header><div class="m-popover__content"><p class="m-popover__text">Popover content.</p></div>').a-btn Popover
  :code(lang='html')
    <button id='popover-1' class="a-btn" data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover title</h2></header><div class="m-popover__content"><p class="m-popover__text">Popover content.</p></div>'>Popover</button>
    <script>chi.popover(document.getElementById('popover-1'));</script>

p.-text
  | You can also link the popover via <code>data-target</code> attribute.
p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | Don't add the arrow to the Popover template. It is configured via the <code>arrow</code> configuration parameter.
p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | If you specify the content via the <code>data-content</code> attribute or the <code>content</code> configuration
  | parameter, it will override the contents of the target. Use it wisely.
.example.-mb--3
  .-p--3
    button#popover-1b(data-target='#popover-in-html').a-btn Popover
  :code(lang='html')
    <button class="a-btn" id="popover-1b" data-target="#popover-in-html">Popover</button>
    <!-- put the following code anywere in the DOM, e.g. at the end of the DOM -->
    <section class="m-popover" id="popover-in-html" aria-modal="true" role="dialog" aria-label="Popover title">
      <header class="m-popover__header">
        <h2 class="m-popover__title">Popover title</h2>
      </header>
      <div class="m-popover__content">
        <p class="m-popover__text">Popover content.</p>
      </div>
    </section>
    <script>chi.popover(document.getElementById('popover-1b'));</script>

h2 Positioning
p.-text
  | By default, popover's position on top of an element. To alter position, use
  | the <code>data-position</code> attribute. Valid values are <code>top</code>,
  | <code>right</code>, <code>bottom</code>, <code>left</code>, <code>top-start</code>,
  | <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
  | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>,
  | <code>left-end</code>.

ul#a-tabs--positioning.a-tabs
  li.-active
    a(href='#a-tabs--positioning-top') Top
  li
    a(href='#a-tabs--positioning-right') Right
  li
    a(href='#a-tabs--positioning-bottom') Bottom
  li
    a(href='#a-tabs--positioning-left') Left
#a-tabs--positioning-top.a-tabs-panel.-active
  .example.-mb--3
    .-p--3
      button(data-position='top', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is top positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Top popover
      button(data-position='top-start', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is top start positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Top start popover
      button(data-position='top-end', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is top end positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Top end popover

    :code(lang="html")
      <button data-position='top' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is top positioned.</p></div>' class="a-btn">Top popover</button>
      <button data-position='top-start' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is top start positioned.</p></div>'>Top start popover</button>
      <button data-position='top-end' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is top end positioned.</p></div>'>Top end popover</button>
      <script>chi.popover(document.querySelectorAll('[data-popover-content])');</script>
#a-tabs--positioning-right.a-tabs-panel
  .example.-mb--3
    .-p--3
      button(data-position='right', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is right positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Right popover
      button(data-position='right-start', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is right start positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Right start popover
      button(data-position='right-end', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is right end positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Right end popover
    :code(lang="html")
      <button data-position='right' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is right positioned.</p></div>'>Right popover</button>
      <button data-position='right-start' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is right start positioned.</p></div>'>Right start popover</button>
      <button data-position='right-end' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is right end positioned.</p></div>'>Right end popover</button>
      <script>chi.popover(document.querySelectorAll('[data-popover-content])');</script>
#a-tabs--positioning-bottom.a-tabs-panel
  .example.-mb--3
    .-p--3
      button(data-position='bottom', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is bottom positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Bottom popover
      button(data-position='bottom-start', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is bottom start positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Bottom start popover
      button(data-position='bottom-end', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is bottom end positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Bottom end popover
    :code(lang="html")
      <button data-position='bottom' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is bottom positioned.</p></div>'>Bottom popover</button>
      <button data-position='bottom-start' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is bottom start positioned.</p></div>'>Bottom start popover</button>
      <button data-position='bottom-end' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is bottom end positioned.</p></div>'>Bottom end popover</button>
      <script>chi.popover(document.querySelectorAll('[data-popover-content])');</script>
#a-tabs--positioning-left.a-tabs-panel
  .example.-mb--3
    .-p--3
      button(data-position='left', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is left positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Left popover
      button(data-position='left-start', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is left start positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Left start popover
      button(data-position='left-end', data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is left end positioned.</p></div>').a-btn.-mr--2.-mb--2.-mb-md--0 Left end popover
    :code(lang="html")
      <button data-position='left' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is left positioned.</p></div>'>Left popover</button>
      <button data-position='left-start' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is left start positioned.</p></div>'>Left start popover</button>
      <button data-position='left-end' data-popover-content='<header class="m-popover__header"><h2 class="m-popover__title">Popover positioning</h2></header><div class="m-popover__content"><p class="m-popover__text">This popover is left end positioned.</p></div>'>Left end popover</button>
      <script>chi.popover(document.querySelectorAll('[data-popover-content])');</script>

h2 Options
p.-text This component accepts options to configure its behavior.

section.a-table.a-table__options.-bordered.-my--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Option
          th
            div Default
          th
            div Description
      tbody
        tr
          td
            div
              code= 'animate'
          td
            div
              code= 'true'
          td
            div
              | Enables animation on popover display and hide.
        tr
          td
            div
              code= 'content'
          td
            div
              code= 'null'
          td
            div
              | Lets the developer include the popover content programmatically on the creation phase.
        tr
          td
            div
              code= 'position'
          td
            div
              code 'top'
          td
            div
              | Where the popover will be located by default. If there is no free space in that position, the popover will try
              | to flip the position to the opposite side. <code>data-position</code> takes precedence over this configuration
              | option.
        tr
          td
            div
              code= 'arrow'
          td
            div
              code= 'true'
          td
            div
              | If set to true, an arrow will appear between the popover and the trigger element.
        tr
          td
            div
              code= 'parent'
          td
            div
              code= 'null'
          td
            div
              | If an element is provided as parent, the popover will be attached visually to that element. If not, the
              | popover will be attached to the trigger used in instantiation.
        tr
          td
            div
              code= 'classes'
          td
            div
              code= '[]'
          td
            div
              | Lets the developer add any classes to the popover element in the creation phase.
        tr
          td
            div
              code= 'trigger'
          td
            div
              code 'click'
          td
            div
              | Available options are <code>click</code> or <code>manual</code>. Use click to attach the toggle action
              | to the trigger element, and manual for develop a custom solution.
        tr
          td
            div
              code= 'target'
          td
            div
              code 'null'
          td
            div
              | If you specify a target, the Popover will be build over that Element. You can specify the xpath selector
              | of the element or the element itself.
        tr
          td
            div
              code= 'preventAutoHide'
          td
            div
              code= 'false'
          td
            div
              | Set <code>preventAutoHide</code> to <code>true</code> to prevent hidding the popover when clicking
              | outside the popover.

h2 Methods
h3 .setContent()
p.-text
  | Use this method to change the content of the popover. It discards any previously attached content, so any
  | resources attached to the content should be removed to prevent memory leaks. This method accepts a string or an
  | HTML DOM Element as a parameter.
.example.-mb--3
  .-p--3
    button#popover-2(data-popover-content='<div class="m-popover__content">Foo</div>').a-btn.-mr--2 Popover
  :code(lang='html')
    <button id='popover-2' class="a-btn" data-popover-content='<div class="m-popover__content">Foo</div>'>Popover</button>
    <script>
      var popover = chi.popover(document.getElementById('popover-2'));
      popover.setContent('<div class="m-popover__content">Bar</div>');
    </script>

h3 .show(), .hide(), .toggle()
p.-text
  | Use this methods to control popover visibility.
.example.-mb--3
  .-p--3
    button#popover-3(data-popover-content='<div class="m-popover__content">Foo</div>').a-btn.-mr--2 Popover
    button#show-popover-3.a-btn.-mr--2 Show
    button#hide-popover-3.a-btn.-mr--2 Hide
    button#toggle-popover-3.a-btn.-mr--2 Toggle
  :code(lang='html')
    <button id='popover-3' class="a-btn" data-popover-content='<div class="m-popover__content">Foo</div>'>Popover</button>
    <button id='show-popover-3' class="a-btn">Show</button>
    <button id='hide-popover-3' class="a-btn">Hide</button>
    <button id='toggle-popover-3' class="a-btn">Toggle</button>
    <script>
      var popover = chi.popover(
        document.getElementById('popover-3'),
        {
          trigger: 'manual',
          preventAutoHide: true
        }
      );
      document.getElementById('show-popover-3').addEventListener('click', function(e) {
        popover.show()
      });
      document.getElementById('hide-popover-3').addEventListener('click', function(e) {
        popover.hide()
      });
      document.getElementById('toggle-popover-3').addEventListener('click', function(e) {
        popover.toggle()
      });
    </script>

h2 Events
h3 chi.popover.show
p.-text
  | The element the popover is attached to (usually a button), dispatches this event when the popover is to be
  | <strong>shown</strong>.
h3 chi.popover.hide
p.-text
  | The element the popover is attached to (usually a button), dispatches this event when the popover is to be
  | <strong>hidden</strong>.

h3 Preventing memory leaks
p.-text
  | Popover components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You must call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('popover');
  var popover = chi.popover(elem);
  // do stuff
  popover.dispose();

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | It is safe to call the <code>popover</code> method more than once, as it will return any previously created popover component
  | associated to the trigger.
:code(lang="javascript")
  var elem = document.getElementById('popover-1');
  var popover = chi.popover(elem);
  var elem2 = document.getElementById('popover-1');
  var popover2 = chi.popover(elem2);
  popover === popover2; // returns true

  popover.dispose(); // Only have to do it once.

//From the popover-1b
section.m-popover#popover-in-html
  header.m-popover__header
    h2.m-popover__title Popover title
  .m-popover__content
    p.m-popover__text Popover content at the end of the DOM

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {

      chi.tab(document.getElementById('a-tabs--positioning'));

      chi.popover(
        document.querySelectorAll(
          '#popover-1, ' +
          '#popover-1b, ' +
          '#a-tabs--positioning-top button, ' +
          '#a-tabs--positioning-right button, ' +
          '#a-tabs--positioning-bottom button, ' +
          '#a-tabs--positioning-left button'
        )
      );

      var popover2 = chi.popover(document.getElementById('popover-2'));
      popover2.setContent('<div class="-px--2 -py--1">Bar</div>');

      var popover3 = chi.popover(
        document.getElementById('popover-3'),
        {
          trigger: 'manual',
          preventAutoHide: true
        }
      );
      document.getElementById('show-popover-3').addEventListener('click', function (e) {
        popover3.show()
      });
      document.getElementById('hide-popover-3').addEventListener('click', function (e) {
        popover3.hide()
      });
      document.getElementById('toggle-popover-3').addEventListener('click', function (e) {
        popover3.toggle()
      });

    }
  );
