---
title: Sidenav
---

#exampleHashTarget.-position--fixed-top.-sr--only

- var example=0;
- var menuItems=[1, 2, 3, 4];
- var drawerMenuItems=['A', 'B', 'C', 'D']
-
  var active = {
    menuItem: 1,
    drawerMenuItem: 'B'
  };
p.-text
  | Use the sidenav to add a navigation menu with a drawer for deeper navigation. This JavaScript module depends on
  | the <a href="../drawer/">drawer component</a> for the second level of the menu. You can initiate this component by
  | calling <code>chi.sidenav(document.querySelector('.m-sidenav'));</code>

h2 Examples

h3(id=`example-${example}`) Base
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.m-sidenav.-flex--shrink0(id=`sidenav-${example}`)
      .m-sidenav__content
        nav
          ul.m-sidenav__list
            each val in menuItems
              li(class=`${val===active.menuItem ? '-active':''}`)
                a(href=`#drawer-${example}-${val}`)
                  .a-icon
                    svg
                      use(xlink:href='#icon-atom')
                  span=val===active.menuItem ? 'Active Item' : 'Menu Item'
      .m-sidenav__drawers
        each val1 in menuItems
          .m-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .m-drawer__header
              button(class='a-btn -icon -close', aria-label='Close')
                .a-btn__content
                  i.a-icon.icon-x
            .m-drawer__content
              ul.m-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  li(class=`${val1===active.menuItem && val2===active.drawerMenuItem ? '-active':''}`)
                    a(href=`#exampleHashTarget`)
                      if index % 4 < 2
                        .m-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                        p.m-sidenav__description Description for title a in a drawer inside a menu.
                      else
                        span.m-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  ul#a-tabs-base.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e0-html') HTML
    li
      a(href='#a-tabs-e0-js') JS
  #a-tabs-e0-html.a-tabs-panel.-active
    :code(lang="html")
      <aside id="sidenav-0" class="m-sidenav">
        <div class="m-sidenav__content">
          <nav>
            <ul class="m-sidenav__list">
              <li class="-active">
                <a href="#drawer-0-1">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-0-2">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Menu Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-0-3">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Menu Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-0-4">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="m-sidenav__drawers">
          <div class="m-drawer -left" id="drawer-0-1">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title A</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li class="-active">
                  <a href="#">
                    <div class="m-sidenav__title">Title B</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title C</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title D</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-drawer -left" id="drawer-0-2">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title E</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title F</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title G</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title H</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-drawer -left" id="drawer-0-3">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title I</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title J</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title K</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title L</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-drawer -left" id="drawer-0-4">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title M</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title N</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title O</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title P</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
  #a-tabs-e0-js.a-tabs-panel
    :code(lang="html")
      <script>chi.sidenav(document.getElementById('sidenav-0'));</script>

- example++;

h3(id=`example-${example}`) Enterprise Global Navigation
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.m-sidenav.-inverse.-global-nav.-flex--shrink0(id=`sidenav-global-nav-${example}`)
      .m-sidenav__content
        nav
          ul.m-sidenav__list
            each val in menuItems
              li(class=`${val===active.menuItem ? '-active':''}`)
                a(href=`#drawer-global-nav-${example}-${val}`)
                  .a-icon
                    svg
                      use(xlink:href='#icon-atom')
                  span=val===active.menuItem ? 'Active Item' : 'Menu Item'
      .m-sidenav__drawers
        each val1 in menuItems
          .m-drawer.-animated.-left(id=`drawer-global-nav-${example}-${val1}`)
            .m-drawer__header
              .a-drawer__title= 'Menu item ' + val1
              button(class='a-btn -icon -close', aria-label='Close')
                .a-btn__content
                  i.a-icon.icon-x
            .m-drawer__content
              ul.m-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  if val2 === 'A' || val2 === 'B'
                    li(class=`${val1===active.menuItem && val2===active.drawerMenuItem ? '-active -expanded':''}`)
                      a(href=`#drawer-item-list-${val1}-${val2}`)
                        .m-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                      .m-sidenav__drawer-item-list(id=`drawer-item-list-${val1}-${val2}`)
                        ul.a-tabs.-vertical.-sm
                          li
                            a(class=`a-sidenav__drawer-item-tab ${val1===active.menuItem && val2===active.drawerMenuItem ? '-active':''}`, href='#exampleHashTarget') Sub tab A
                          li
                            a(class='a-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                          li
                            a(class='a-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
                  else
                    li(class=`${val1===active.menuItem && val2===active.drawerMenuItem ? '-active -expanded':''}`)
                      a(href=`#exampleHashTarget`)
                        span.m-sidenav__title
                          =`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                          .a-icon.-xs
                            svg
                              use(xlink:href='#icon-external-link')
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  ul#a-tabs-three-level.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-three-level-html') HTML
    li
      a(href='#a-tabs-three-level-js') JS
  #a-tabs-three-level-html.a-tabs-panel.-active
    :code(lang="html")
      <aside class="m-sidenav -inverse -global-nav" id="sidenav-global-nav-1">
        <div class="m-sidenav__content">
          <nav>
            <ul class="m-sidenav__list">
              <li class="-active">
                <a href="#drawer-global-nav-1-1">
                  <div class="a-icon">
                    <svg>
                      <use xlink:href="#icon-atom"></use>
                    </svg>
                  </div>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-global-nav-1-2">
                  <div class="a-icon">
                    <svg>
                      <use xlink:href="#icon-atom"></use>
                    </svg>
                  </div>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="m-sidenav__drawers">
          <div class="m-drawer -animated -left" id="drawer-global-nav-1-1">
            <div class="m-drawer__header">
              <div class="a-drawer__title">Menu item 1</div>
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-1-A">
                    <div class="m-sidenav__title">Title A</div>
                  </a>
                  <div class="m-sidenav__drawer-item-list" id="drawer-item-list-1-A">
                    <ul class="a-tabs -vertical -sm">
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="-active -expanded">
                  <a href="#drawer-item-list-1-B">
                    <div class="m-sidenav__title">Title B</div>
                  </a>
                  <div class="m-sidenav__drawer-item-list" id="drawer-item-list-1-B">
                    <ul class="a-tabs -vertical -sm">
                      <li>
                        <a class="a-sidenav__drawer-item-tab -active" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="m-sidenav__title">
                      Title C
                      <div class="a-icon -xs">
                        <svg>
                          <use xlink:href="#icon-external-link"></use>
                        </svg>
                      </div>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="m-sidenav__title">
                      Title D
                      <div class="a-icon -xs">
                        <svg>
                          <use xlink:href="#icon-external-link"></use>
                        </svg>
                      </div>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-drawer -animated -left" id="drawer-global-nav-1-2">
            <div class="m-drawer__header">
              <div class="a-drawer__title">Menu item 2</div>
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#drawer-item-list-2-A">
                    <div class="m-sidenav__title">Title E</div>
                  </a>
                  <div class="m-sidenav__drawer-item-list" id="drawer-item-list-2-A">
                    <ul class="a-tabs -vertical -sm">
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#drawer-item-list-2-B">
                    <div class="m-sidenav__title">Title F</div>
                  </a>
                  <div class="m-sidenav__drawer-item-list" id="drawer-item-list-2-B">
                    <ul class="a-tabs -vertical -sm">
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab A
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab B
                        </a>
                      </li>
                      <li>
                        <a class="a-sidenav__drawer-item-tab" href="#exampleHashTarget">
                          Sub tab C
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="m-sidenav__title">
                      Title G
                      <div class="a-icon -xs">
                        <svg>
                          <use xlink:href="#icon-external-link"></use>
                        </svg>
                      </div>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#exampleHashTarget">
                    <span class="m-sidenav__title">
                      Title H
                      <div class="a-icon -xs">
                        <svg>
                          <use xlink:href="#icon-external-link"></use>
                        </svg>
                      </div>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
  #a-tabs-three-level-js.a-tabs-panel
    :code(lang="html")
      <script>
        chi.sidenav(document.getElementById('sidenav-global-nav-1'), {
          animated: false
        });
      </script>

h2 Options
p.-text This component accepts options to configure its behavior.

section.a-table.a-table__options.-bordered.-my--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Option
          th
            div Default
          th
            div Description
      tbody
        tr
          td
            div
              code= 'animated'
          td
            div
              code= 'true'
          td
            div
              | Enables animation on drawer display and hide, and sliding border.
        tr
          td
            div
              code= 'autoClose'
          td
            div
              code= 'false'
          td
            div
              | Lets the developer specify a number of milliseconds after the drawer will close automatically.

h3(id=`example-${example}`) Autoclose
.example.-mb--3
  .-d--flex(style='overflow: hidden;')
    aside.m-sidenav.-flex--shrink0(id=`sidenav-${example}`)
      .m-sidenav__content
        nav
          ul.m-sidenav__list
            each val in menuItems
              li(class=`${val===active.menuItem ? '-active':''}`)
                a(href=`#drawer-${example}-${val}`)
                  .a-icon
                    svg
                      use(xlink:href='#icon-atom')
                  span=val===active.menuItem ? 'Active Item' : 'Menu Item'
      .m-sidenav__drawers
        each val1 in menuItems
          .m-drawer.-animated.-left(id=`drawer-${example}-${val1}`)
            .m-drawer__header
              button(class='a-btn -icon -close', aria-label='Close')
                .a-btn__content
                  i.a-icon.icon-x
            .m-drawer__content
              ul.m-sidenav__drawer-list
                each val2, index in drawerMenuItems
                  li(class=`${val1===active.menuItem && val2===active.drawerMenuItem ? '-active':''}`)
                    a(href=`#exampleHashTarget`)
                      if index % 4 < 2
                        .m-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
                        p.m-sidenav__description Description for title a in a drawer inside a menu.
                      else
                        span.m-sidenav__title=`Title ${String.fromCharCode(val2.charCodeAt(0) + (drawerMenuItems.length * (val1 - 1)))}`
    .-flex--grow1.-p--3.-pb--4
      each val2 in [1,2,3,4]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  ul#a-tabs-autoclose.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e1-html') HTML
    li
      a(href='#a-tabs-e1-js') JS
  #a-tabs-e1-html.a-tabs-panel.-active
    :code(lang="html")
      <aside id="sidenav-1" class="m-sidenav">
        <div class="m-sidenav__content">
          <nav>
            <ul class="m-sidenav__list">
              <li class="-active">
                <a href="#drawer-1-1">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Active Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-1-2">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Menu Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-1-3">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Menu Item</span>
                </a>
              </li>
              <li>
                <a href="#drawer-1-4">
                  <div class="a-icon">
                    <svg><use xlink:href="#icon-atom"></use></svg>
                  </div>
                  <span>Menu Item</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="m-sidenav__drawers">
          <div class="m-drawer -left" id="drawer-1-1">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title A</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li class="-active">
                  <a href="#">
                    <div class="m-sidenav__title">Title B</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title C</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title D</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-drawer -left" id="drawer-1-2">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title E</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title F</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title G</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title H</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-drawer -left" id="drawer-1-3">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title I</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title J</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title K</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title L</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-drawer -left" id="drawer-1-4">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content"><i class="a-icon icon-x"></i></div>
              </button>
            </div>
            <div class="m-drawer__content">
              <ul class="m-sidenav__drawer-list">
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title M</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="m-sidenav__title">Title N</div>
                    <p class="m-sidenav__description">Description for title a in a drawer inside a menu.</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title O</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="m-sidenav__title">Title P</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
  #a-tabs-e1-js.a-tabs-panel
    :code(lang="html")
      <script>
        chi.sidenav(
          document.getElementById('sidenav-1'),
          {
            autoClose: 2000
          }
        );
      </script>

h3 Preventing memory leaks
p.-text
  | Drawer components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You should call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('drawer-1');
  var drawer = chi.drawer(elem);
  // do stuff
  drawer.dispose();

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | It is safe to call the <code>drawer</code> method more than once, as it will return any previously created drawer component
  | associated to the trigger.
:code(lang="javascript")
  var elem = document.getElementById('drawer-2');
  var drawer = chi.drawer(elem);
  var elem2 = document.getElementById('drawer-2');
  var drawer2 = chi.drawer(elem2);
  drawer === drawer2; // returns true

  drawer.dispose(); // Only have to do it once.


script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.sidenav(document.querySelectorAll('#sidenav-0'));
      chi.sidenav(document.querySelectorAll('#sidenav-global-nav-1'), {
        animated: false
      });
      chi.sidenav(
        document.querySelectorAll('#sidenav-1'),
        {
          autoClose: 2000
        }
      );

      chi.tab(document.querySelectorAll('#a-tabs-base, #a-tabs-autoclose, #a-tabs-three-level'));

    }
  );