---
title: Tabs
---

#exampleHashTarget.-position--fixed-top.-sr--only

p.-text
  | Tabs are used to navigate between views within the same context. This JavaScript solution is based on showing and
  | hiding panels depending on the active tab. It also takes care of managing tabs classes correctly to show the proper
  | state when clicking a tab. Finally, it adds the <code>-animated</code> class to the component by default (this
  | removes the bottom border of the active element), and it is replaced by a sliding element that emulates the bottom
  | border, that moves from the last active tab to the currently active tab when clicked.

h2 Base
.example.-mb--3
  .-p--3.-pb--4
    ul#example-tabs.a-tabs
      li.-active
        a(href='#a') Tab a
      li
        a(href='#b') Tab b
      li
        a(href='#c') Tab c
    #a.a-tabs-panel.-active
      p.-text Content for tab a
    #b.a-tabs-panel
      p.-text Content for tab b
    #c.a-tabs-panel
      p.-text Content for tab c
  :code(lang='html')
    <ul class="a-tabs" id="example-tabs">
      <li class="-active"><a href="#a">Tab a</a></li>
      <li><a href="#b">Tab b</a></li>
      <li><a href="#c">Tab c</a></li>
    </ul>

    <div class="a-tabs-panel -active" id="a">
      <p class="-text">Content for tab a</p>
    </div>
    <div class="a-tabs-panel" id="b">
      <p class="-text">Content for tab b</p>
    </div>
    <div class="a-tabs-panel" id="c">
      <p class="-text">Content for tab c</p>
    </div>

    <script>chi.tab(document.getElementById('example-tabs'));</script>

h2 Keep default link behavior
p.-text
  | By default, Chi JavaScript enabled tabs will ignore default link behavior.
  | To preserve it, specify a target property on the link.

.example.-mb--3
  .-p--3.-pb--4
    ul#example-tabs-2.a-tabs
      li.-active
        a(href='#a2') Tab a
      li
        a(href='#b2') Tab b
      li
        a(href='#c2') Tab c
      li
        a(href='https://assets.ctl.io/chi/', target='_self') External Link

    #a2.a-tabs-panel.-active
      p.-text Content for tab a
    #b2.a-tabs-panel
      p.-text Content for tab b
    #c2.a-tabs-panel
      p.-text Content for tab c
  :code(lang='html')
    <ul class="a-tabs" id="example-tabs-2">
      <li class="-active"><a href="#a">Tab a</a></li>
      <li><a href="#b">Tab b</a></li>
      <li><a href="#c">Tab c</a></li>
      <li><a href="https://assets.ctl.io/chi/" target="_self">External Link</a></li>
    </ul>

    <div class="a-tabs-panel -active" id="a">
      <p class="-text">Content for tab a</p>
    </div>
    <div class="a-tabs-panel" id="b">
      <p class="-text">Content for tab b</p>
    </div>
    <div class="a-tabs-panel" id="c">
      <p class="-text">Content for tab c</p>
    </div>

    <script>chi.tab(document.getElementById('example-tabs-2'));</script>


h2 Vertical
p.-text
  | The script also handles vertical tabs.

.example.-mb--3
  .-p--3.-pb--4
    ul#example-tabs-3.a-tabs.-vertical
      li.-active
        a(href='#a3') Tab a
        ul.a-tabs__subtabs
          li
            a(href='#a3-1') Tab a-1
          li
            a(href='#a3-2') Tab a-2
          li
            a(href='#a3-3') Tab a-3
      li
        a(href='#b3') Tab b
      li
        a(href='#c3') Tab c

    #a3.a-tabs-panel.-active
      p.-text Content for tab a
    #a3-1.a-tabs-panel
      p.-text Content for tab a-1
    #a3-2.a-tabs-panel
      p.-text Content for tab a-2
    #a3-3.a-tabs-panel
      p.-text Content for tab a-3
    #b3.a-tabs-panel
      p.-text Content for tab b
    #c3.a-tabs-panel
      p.-text Content for tab c

  :code(lang='html')
    <ul class="a-tabs -vertical" id="example-tabs-3">
      <li class=" -active">
        <a href="#a3">Tab a</a>
        <ul class="a-tabs__subtabs">
          <li>
            <a href="#a3-1">Tab a-1</a>
          </li>
          <li>
            <a href="#a3-2">Tab a-2</a>
          </li>
          <li>
            <a href="#a3-3">Tab a-3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#b3">Tab b</a>
      </li>
      <li>
        <a href="#c3">Tab c</a>
      </li>
    </ul>
    <div class="a-tabs-panel" id="a3">
      <p class="-text">
        Content for tab a
      </p>
    </div>
    <div class="a-tabs-panel" id="a3-1">
      <p class="-text">
        Content for tab a
      </p>
    </div>
    <div class="a-tabs-panel" id="a3-2">
      <p class="-text">
        Content for tab a
      </p>
    </div>
    <div class="a-tabs-panel" id="a3-3">
      <p class="-text">
        Content for tab a
      </p>
    </div>
    <div class="a-tabs-panel" id="b3">
      <p class="-text">
        Content for tab b
      </p>
    </div>
    <div class="a-tabs-panel" id="c3">
      <p class="-text">
        Content for tab c
      </p>
    </div>

    <script>chi.tab(document.getElementById('example-tabs3'));</script>

h3 Preventing memory leaks
p.-text
  | Tab components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You should call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('example-tabs');
  var tabComponent = chi.tab(elem);
  // do stuff
  tabComponent.dispose();

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | It is safe to call the tab method more than once, as it will return any previously created tabs component
  | associated to the trigger.
:code(lang="javascript")
  var elem = document.getElementById('example-tabs');
  var tabComponent = chi.tab(elem);
  var elem2 = document.getElementById('example-tabs');
  var tabComponent2 = chi.tab(elem2);
  tabComponent === tabComponent2; // returns true

  tabComponent.dispose(); // Only have to do it once.

h2#navigationExample Tabbed navigation bar

p.-text
  | The navigation component is a combination of Chi tabs and dropdowns components. You must use
  | <code>chi.navigation</code> function to instantiate the whole group of components, and there is no need for
  | instantiating the tabs nor the dropdowns independently. The navigation components will manage the lifecycle of the
  | descendants' tabs and dropdowns.

p.-text
  | Although navigation reproduces all the functionality that tabs and dropdowns have, like the sliding border or the
  | animated chevron in the dropdowns, it also adds some other new functionalities like the automatic overflow menu,
  | or a wait-for-animation option.

.example.-mb--3
  .-p--3.-pb--4
    ul.a-tabs.a-navigationExample
      li.m-dropdown.-active
        a.m-dropdown__trigger(href='#') Active tab
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 1
          a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 2
          div
            a.m-dropdown__menu-item.m-dropdown__trigger(href='#') Elem 3 more
            .m-dropdown__menu
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.1
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.2
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.3
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.4
          a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 4
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li.m-dropdown
        a.m-dropdown__trigger(href='#') Tab Dropdown
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#exampleHashTarget') Element 1
          a.m-dropdown__menu-item(href='#exampleHashTarget') Element 2
          a.m-dropdown__menu-item(href='#exampleHashTarget') Element 3
  ul.a-tabs.-ml--3
    li.-active
      a(href='#example-1__horizontal-html') HTML
    li
      a(href='#example-1__horizontal-script') JavaScript
  #example-1__horizontal-html.a-tabs-panel.-active
    :code(lang='html')
      <ul id="navigationExample-1" class="a-tabs">
        <li class="m-dropdown -active">
          <a class="m-dropdown__trigger" href="#">Active tab</a>
          <div class="m-dropdown__menu">
            <a class="m-dropdown__menu-item" href="#">Elem 1</a>
            <a class="m-dropdown__menu-item" href="#">Elem 2</a>
            <div>
              <a class="m-dropdown__menu-item m-dropdown__trigger" href="#">Elem 3 more</a>
              <div class="m-dropdown__menu">
                <a class="m-dropdown__menu-item" href="#">Elem 3.1</a><a class="m-dropdown__menu-item" href="#">Elem 3.2</a><a class="m-dropdown__menu-item" href="#">Elem 3.3</a><a class="m-dropdown__menu-item" href="#">Elem 3.4</a>
              </div>
            </div>
            <a class="m-dropdown__menu-item" href="#">Elem 4</a>
          </div>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li class="m-dropdown">
          <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
          <div class="m-dropdown__menu">
            <a class="m-dropdown__menu-item" href="#">Element 1</a>
            <a class="m-dropdown__menu-item" href="#">Element 2</a>
            <a class="m-dropdown__menu-item" href="#">Element 3</a>
          </div>
        </li>
      </ul>
  #example-1__horizontal-script.a-tabs-panel
    :code(lang="javascript")
      const navigationElem = document.getElementById('#navigationExample-1');
      chi.navigation(navigationElem);

h3 Options
p.-text This component accepts options to configure its behavior.

section.a-table.a-table__options.-bordered.-my--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th(style='width: 10em')
            div Option
          th(style='width: 10em')
            div Default
          th
            div Description
      tbody
        tr
          td
            div
              code= 'overflowMenu'
          td
            div
              code= 'true'
          td
            div
              | Only works for horizontal navigation components. It encloses overflowed tabs into a dropdown
              | located at the end of the navigation component.
        tr
          td
            div
              code= 'overflowMenuLabel'
          td
            div
              code= 'See More...'
          td
            div
              | Text for the overflow menu dropdown.
        tr
          td
            div
              code= 'waitForAnimations'
          td
            div
              code= 'false'
          td
            div
              | Makes the browser wait for the sliding border to move to the clicked link before following links.
              | It only works with common links.

h3#navigationExampleOverflowMenu Overflow Menu
p.-text
  | Overflow menu encloses overflowed tabs into a dropdown menu at the end of the navigation component. Any
  | instantiation of a new horizontal Navigation component will automatically support this Overflow Menu. You can
  | prevent this by using the option <code>overflowMenu: false</code>. The label using in the activator of this menu
  | can be changed with the <code>overflowMenuLabel</code> option.
ul.a-tabs
  li.-active
    a(href='#example-3__enabled') Enabled
  li
    a(href='#example-3__disabled') Disabled
#example-3__enabled.a-tabs-panel.-active
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample
        li.-active
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 1
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 2
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 3
        li
          a(href='#exampleHashTarget') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 1
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 2
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 3
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-3__enabled-html') HTML
      li
        a(href='#example-3__enabled-script') JavaScript
    #example-3__enabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationExample-3-enabled" class="a-tabs">
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
        </ul>
    #example-3__enabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-3-enabled');
        chi.navigation(navigationElem);
#example-3__disabled.a-tabs-panel
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample.a-customExample
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 1
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 2
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 3
        li
          a(href='#exampleHashTarget') Tab Link
        li.m-dropdown
          a.m-dropdown__trigger(href='#') Tab Dropdown
          .m-dropdown__menu
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 1
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 2
            a.m-dropdown__menu-item(href='#exampleHashTarget') Element 3
        li
          a(href='#exampleHashTarget') Tab Link
        li
          a(href='#exampleHashTarget') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-3__disabled-html') HTML
      li
        a(href='#example-3__disabled-script') JavaScript
    #example-3__disabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationExample-3-disabled" class="a-tabs">
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li class="m-dropdown">
            <a class="m-dropdown__trigger" href="#">Tab Dropdown</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Element 1</a>
              <a class="m-dropdown__menu-item" href="#">Element 2</a>
              <a class="m-dropdown__menu-item" href="#">Element 3</a>
            </div>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
        </ul>
    #example-3__disabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-3-disabled');
        chi.navigation(
          navigationElem,
          {overflowMenu: false}
        );

h3#navigationExampleWatiForAnimations Wait for animations
p.-text
  | Browsers stop any execution of JavaScript as soon as a link is clicked and it starts to fetch the destination URL.
  | For this reason, the sliding border animation will not be perceived by the user when an external link is clicked, as
  | the animation will not be done, an this can be confusing for the user. To prevent this possible confusion, this
  | component has the option to wait for the animation to finish and, then, it will redirect the user to the destination
  | URL. You can enable this behavior by setting the <code>waitForAnimations</code> option to <code>true</code>.
ul.a-tabs
  li.-active
    a(href='#example-4__enabled') Enabled
  li
    a(href='#example-4__disabled') Disabled
#example-4__enabled.a-tabs-panel.-active
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample.a-customExample
        li.-active
          a(href='?tab=1') Tab Link
        li
          a(href='?tab=2') Tab Link
        li
          a(href='?tab=3') Tab Link
        li
          a(href='?tab=4') Tab Link
        li
          a(href='?tab=5') Tab Link
        li
          a(href='?tab=6') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-4__enabled-html') HTML
      li
        a(href='#example-4__enabled-script') JavaScript
    #example-4__enabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationexample-4-enabled" class="a-tabs">
          <li class="-active">
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
        </ul>
    #example-4__enabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-4-enabled');
        chi.navigation(
          navigationElem,
          {waitForAnimations: true}
        );
#example-4__disabled.a-tabs-panel
  .example.-mb--3
    .-p--3.-pb--4
      ul.a-tabs.a-navigationExample.a-customExample
        li.-active
          a(href='?tab=1') Tab Link
        li
          a(href='?tab=2') Tab Link
        li
          a(href='?tab=3') Tab Link
        li
          a(href='?tab=4') Tab Link
        li
          a(href='?tab=5') Tab Link
        li
          a(href='?tab=6') Tab Link
    ul.a-tabs.-ml--3
      li.-active
        a(href='#example-4__disabled-html') HTML
      li
        a(href='#example-4__disabled-script') JavaScript
    #example-4__disabled-html.a-tabs-panel.-active
      :code(lang='html')
        <ul id="navigationexample-4-disabled" class="a-tabs">
          <li class="-active">
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
        </ul>
    #example-4__disabled-script.a-tabs-panel
      :code(lang="javascript")
        const navigationElem = document.getElementById('#navigationexample-4-disabled');
        chi.navigation(
          navigationElem,
          {waitForAnimations: false}
        );

h3#navigationExampleComponentsContained Components contained
p.-text
  | As navigation component is built from other primitive Chi components, most of these components behavior can be
  | replicated on the navigation component.
.example.-mb--3
  .-p--3.-pb--4
    p.-text
      | I.e. Use the <code>-animate</code> class on the dropdowns to make the chevron rotate when activated.
    .a-divider
    ul.a-tabs.a-navigationExample
      li.m-dropdown.-active
        a.m-dropdown__trigger.-animate(href='#') Active Tab
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 1
          a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 2
          div
            a.m-dropdown__menu-item.m-dropdown__trigger.-animate(href='#') Elem 3 more
            .m-dropdown__menu
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.1
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.2
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.3
              a.m-dropdown__menu-item(href='#exampleHashTarget') Elem 3.4
          a.m-dropdown__menu-item(href='#') Elem 4
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li.m-dropdown
        a.m-dropdown__trigger.-animate(href='#') Tab Link
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#exampleHashTarget') Element 1
          a.m-dropdown__menu-item(href='#exampleHashTarget') Element 2
          a.m-dropdown__menu-item(href='#exampleHashTarget') Element 3
  :code(lang='html')
    <ul class="a-tabs">
      <li class="m-dropdown -active">
        <a class="m-dropdown__trigger -animate" href="#">Active Tab</a>
        <div class="m-dropdown__menu" x-placement="bottom-start">
          <a class="m-dropdown__menu-item" href="#">Elem 1</a><a class="m-dropdown__menu-item" href="#">Elem 2</a>
          <div>
            <a class="m-dropdown__menu-item m-dropdown__trigger" href="#">Elem 3 more</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Elem 3.1</a><a class="m-dropdown__menu-item" href="#">Elem 3.2</a><a class="m-dropdown__menu-item" href="#">Elem 3.3</a><a class="m-dropdown__menu-item" href="#">Elem 3.4</a>
            </div>
          </div><a class="m-dropdown__menu-item" href="#">Elem 4</a>
        </div>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li class="m-dropdown">
        <a class="m-dropdown__trigger" href="#">Tab Link</a>
        <div class="m-dropdown__menu">
          <a class="m-dropdown__menu-item" href="#">Element 1</a><a class="m-dropdown__menu-item" href="#">Element 2</a><a class="m-dropdown__menu-item" href="#">Element 3</a>
        </div>
      </li>
    </ul>

h3 Preventing memory leaks
p.-text
  | Navigation components have a dispose function to free all resources attached to the element, such as event
  | listeners and object data. You should call this method when you want to remove the component. There is no need to
  | call to tab and dropdown inner components dispose function as the navigation one will free resources of all
  | internal components automatically.
:code(lang="javascript")
  var navigationElem = document.getElementById('#navigationElementId');
  var navigationComponent = chi.navigation(navigationElem);
  // do stuff
  navigationComponent.dispose();

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | It is safe to call the <code>navigation</code> factory function more than once, as it will return any previously
  | created navigation component associated to the element.
:code(lang="javascript")
  var elem = document.getElementById('navigation-1');
  var navigationComponent = chi.navigation(elem);
  var elem2 = document.getElementById('navigation-1');
  var navigationComponent2 = chi.navigation(elem2);
  navigationComponent === navigationComponent2; // returns true

  navigationComponent.dispose(); // Only have to do it once.

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('example-tabs'));
      chi.tab(document.getElementById('example-tabs-2'));
      chi.tab(document.getElementById('example-tabs-3'));
    }
  );

  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.navigation(document.querySelectorAll('.docs-body__content .a-tabs.a-navigationExample:not(.a-customExample)'));
      chi.tab(document.querySelectorAll('.docs-body__content .a-tabs:not(.a-navigationExample)'));
      chi.navigation(
        document.querySelectorAll('#example-3__disabled .a-tabs.a-navigationExample'),
        {overflowMenu: false}
      );
      chi.navigation(
        document.querySelectorAll('#example-4__enabled .a-tabs.a-navigationExample'),
        {waitForAnimations: true}
      );
      chi.navigation(
        document.querySelectorAll('#example-4__disabled .a-tabs.a-navigationExample'),
        {waitForAnimations: false}
      );

    }
  );
