script(type='module' src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../../js/ce/ux-chi-ce/ux-chi-ce.js')

h2 Examples
h3 Base
p.-text An initial value is optional. If an initial value is not provided, <code>0</code> will be taken as default.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example-1") Label
      chi-number-input#example-1
  .example-tabs.-pl--2
    ul.chi-tabs#examples-default
      li.-active
        a(href=`#webcomponent`) Web Component
      li
        a(href=`#html`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent
    :code(lang="html")
      <chi-label for="example-1">Label</chi-label>
      <chi-number-input id="example-1"></chi-number-input>
  .chi-tabs-panel#html
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="input-example-base">Label</label>
        <div class="chi-number-input">
          <input id="input-example-base" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-base'));</script>

h3 Disabled
p.-text
  | Use the <code>disabled</code> boolean attribute to prevent users from interacting with an input.
  | Disabled inputs are not submitted with the form and can not receive any browsing events such as mouse clicks or focus.
  | <strong>Note:</strong> The required attribute can not be used on inputs with a disabled attribute specified.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example-2") Label
      chi-number-input(disabled=true)#example-2
  .example-tabs.-pl--2
    ul.chi-tabs#examples-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li
        a(href=`#html-disabled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-disabled
    :code(lang="html")
      <chi-label for="example-2">Label</chi-label>
      <chi-number-input disabled id="example-2"></chi-number-input>
  .chi-tabs-panel#html-disabled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="input-example-disabled">Label</label>
        <div class="chi-number-input">
          <input id="input-example-disabled" type="number" class="chi-input" value="0" aria-label="Input Label" disabled>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-disabled'));</script>

h3 Min/Max/Step
p.-text
  | Use the <code>min</code> and <code>max</code> attributes to define minimum and maximum values on number inputs.
  | Use the <code>step</code> attribute to indicate the expected granularity.
p.-text
  | This example only accepts values between <code>0</code> and <code>6</code>, and as the <code>step</code> is
  | <code>2</code> and initial <code>value</code> is <code>1</code>, only odd values are valid. If you manually write
  | any pair value, or a value greater than 5 or lesser than 1, the component will automatically correct the value.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="unique-id-mms1") Label
      chi-number-input#unique-id-mms1(min="0", max="6", step="2", value="1")
  .example-tabs.-pl--2
    ul.chi-tabs#examples-mms
      li.-active
        a(href=`#webcomponent-mms`) Web Component
      li
        a(href=`#html-mms`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-mms
    :code(lang="html")
      <chi-label for="unique-id-mms1">Label</chi-label>
      <chi-number-input id="unique-id-mms1" min="0" max="6" step="2" value="1"></chi-number-input>
  .chi-tabs-panel#html-mms
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="unique-id-mms1">Label</label>
        <div class="chi-number-input">
          <input id="unique-id-mms1" type="number" class="chi-input" min="0" max="6" step="2" value="1" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>
        chi.numberInput(
          document.getElementById('unique-id-mms1'),
          {autofix: true}
        );
      </script>

h3 Required
p.-text
  | Use the <code>required</code> boolean attribute to indicate which inputs must be completed before submitting a form.
  | To render a required input, apply the <code>required</code> attribute to the input. It is also
  | encouraged but not mandatory to apply a <code>required</code> attribute to the corresponding label of the input which
  | will automatically render a red asterisk. <strong>Note:</strong> For HTML Blueprint implementations,
  | the <code>required</code> attribute is not supported on the label. Please use the alternate method
  | specified below for rendering a red asterisk within the label. 
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="unique-id-re1" required) Label
      chi-number-input#unique-id-re1(required)
  .example-tabs.-pl--2
    ul.chi-tabs#examples-required
      li.-active
        a(href=`#webcomponent-required`) Web Component
      li
        a(href=`#html-required`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-required
    :code(lang="html")
      <chi-label for="unique-id-re1" required>Label</chi-label>
      <chi-number-input id="unique-id-re1" required></chi-number-input>
  .chi-tabs-panel#html-required
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="unique-id-re1">
          Label
          <abbr class="chi-label__required" title="Required field">*</abbr>
        </label>
        <div class="chi-number-input">
          <input id="unique-id-re1" type="number" class="chi-input" value="0" aria-label="Input Label" required>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('unique-id-re1'));</script>

h3 Help
p.-text
  | Use <code>chi-label__help</code> to include a help icon that displays helpful information about an input in a popover.
  | A help icon must be contained within an icon button to ensure it receives focus when a user tabs through a form.
.example.-mb--3
  .-p--3
    .chi-form__item
      .chi-label__wrapper
        chi-label(for='unique-id-he1') Label
        .chi-label__help
          chi-button(id='example__help-button' type='icon' size='xs' variant='flat' alternative-text="Help")
            chi-icon(icon='circle-info-outline')
          chi-popover(id='example__help-popover' position='top' variant='text' arrow reference='#example__help-button')
            | Helpful information goes here.
      chi-number-input#unique-id-he1
  .example-tabs.-pl--2
    ul.chi-tabs#examples-help
      li.-active
        a(href=`#webcomponent-help`) Web Component
      li
        a(href=`#html-help`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-help
    :code(lang="html")
      <div class="chi-label__wrapper">
        <chi-label for="unique-id-he1">Label</chi-label>
        <div class="chi-label__help">
          <chi-button id="example__help-button" type="icon" size="xs" variant="flat" alternative-text="Help">
            <chi-icon icon="circle-info-outline"></chi-icon>
          </chi-button>
          <chi-popover id="example__help-popover" position="top" variant="text" arrow reference="#example__help-button">
            Helpful information goes here.
          </chi-popover>
        </div>
      </div>
      <chi-number-input id="unique-id-he1"></chi-number-input>

      <script>
        document
          .querySelector("#example__help-button")
          .addEventListener("click", function () {
            var popoverElem = document.querySelector("#example__help-popover");

            popoverElem.toggle();
          });
      </script>
  .chi-tabs-panel#html-help
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <div class="chi-label__wrapper">
          <label class="chi-label" for="unique-id-he1">Label</label>
          <div class="chi-label__help">
            <div class="chi-button -icon -flat -xs" id="example__help-button" data-target="#example__help-popover" aria-label="Help">
              <div class="chi-button__content">
                <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
              </div>
            </div>
            <section class="chi-popover chi-popover--top" id="example__help-popover" aria-modal="true" role="dialog">
              <div class="chi-popover__content">
                <p class="chi-popover__text">Helpful information goes here.</p>
              </div>
            </section>
          </div>
        </div>
        <div class="chi-number-input">
          <input id="unique-id-he1" type="number" class="chi-input" value="0" aria-label="Input Label" required>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>
        chi.numberInput(document.getElementById('unique-id-he1'));
        chi.popover(document.getElementById('example__help-button'));
      </script>

h3 Message
p.-text
  | Add a message below an input to store descriptions, validation feedback, and other helpful information.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="unique-id-me1") Label
      chi-number-input#unique-id-me1
      .chi-label.-status Optional input message
  .example-tabs.-pl--2
    ul.chi-tabs#examples-message
      li.-active
        a(href=`#webcomponent-message`) Web Component
      li
        a(href=`#html-message`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-message
    :code(lang="html")
      <chi-label for="unique-id-me1">Label</chi-label>
      <chi-number-input id="unique-id-me1"></chi-number-input>
      <div class="chi-label -status">Optional input message</div>
  .chi-tabs-panel#html-message
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="unique-id-me1">Label</label>
        <div class="chi-number-input">
          <input id="unique-id-me1" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
        <div class="chi-label -status">Optional input message</div>
      </div>

      <script>chi.numberInput(document.getElementById('unique-id-me1'));</script>

h3 Error
p.-text
  | Use <code>danger</code> to provide feedback to users when input data fails to validate.
  | To meet accessibility requirements, danger inputs must include an error message explaining the
  | failure and/or how to correct it.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="unique-id-er1") Quantity
      chi-number-input#unique-id-er1(inputstyle="danger")
      .chi-label.-status.-danger Please enter a quantity.
  .example-tabs.-pl--2
    ul.chi-tabs#examples-error
      li.-active
        a(href=`#webcomponent-error`) Web Component
      li
        a(href=`#html-error`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-error
    :code(lang="html")
      <chi-label for="unique-id-er1">Quantity</chi-label>
      <chi-number-input id="unique-id-er1" inputstyle="danger"></chi-number-input>
      <div class="chi-label -status -danger">Please enter a quantity.</div>
  .chi-tabs-panel#html-error
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="unique-id-er1">Quantity</label>
        <div class="chi-number-input">
          <input id="unique-id-er1" type="number" class="chi-input -danger" value="0" aria-label="Quantity">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
        <div class="chi-label -status -danger">Please enter a quantity.</div>
      </div>

      <script>chi.numberInput(document.getElementById('unique-id-er1'));</script>

.-portal--hide
  h3 Sizes
  p.-text
    | Number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>, <code>xl</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg', 'xl']
          .-py--2
            .chi-form__item
              chi-label(for=`example-sizes-${size}`) Label
              chi-number-input(size=`${size}`, id=`example-sizes-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-sizes
        li.-active
          a(href=`#webcomponent-sizes`) Web Component
        li
          a(href=`#html-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-sizes
      :code(lang="html")
        <!-- xs -->
        <chi-label for="example-3-xs">Label</chi-label>
        <chi-number-input size="xs" id="example-3-xs"></chi-number-input>

        <!-- sm -->
        <chi-label for="example-3-sm">Label</chi-label>
        <chi-number-input size="sm" id="example-3-sm"></chi-number-input>

        <!-- md -->
        <chi-label for="example-3-md">Label</chi-label>
        <chi-number-input size="md" id="example-3-md"></chi-number-input>

        <!-- lg -->
        <chi-label for="example-3-lg">Label</chi-label>
        <chi-number-input size="lg" id="example-3-lg"></chi-number-input>

        <!-- xl -->
        <chi-label for="example-3-xl">Label</chi-label>
        <chi-number-input size="xl" id="example-3-xl"></chi-number-input>
    .chi-tabs-panel#html-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-xs">Label</label>
          <div class="chi-number-input -xs">
            <input id="input-example-xs" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-sm">Label</label>
          <div class="chi-number-input -sm">
            <input id="input-example-sm" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-md">Label</label>
          <div class="chi-number-input -md">
            <input id="input-example-md" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-lg">Label</label>
          <div class="chi-number-input -lg">
            <input id="input-example-lg" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-lg'));</script>

        <!-- xl -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-xl">Label</label>
          <div class="chi-number-input -xl">
            <input id="input-example-xl" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-xl'));</script>

.-portal--show
  h3 Sizes
  p.-text
    | Number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg']
          .-py--2
            .chi-form__item
              chi-label(for=`example-portal-sizes-${size}`) Label
              chi-number-input(size=`${size}`, id=`example-portal-sizes-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-portal-sizes
        li.-active
          a(href=`#webcomponent-portal-sizes`) Web Component
        li
          a(href=`#html-portal-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-portal-sizes
      :code(lang="html")
        <!-- xs -->
        <chi-label for="example-3-xs">Label</chi-label>
        <chi-number-input size="xs" id="example-3-xs"></chi-number-input>

        <!-- sm -->
        <chi-label for="example-3-sm">Label</chi-label>
        <chi-number-input size="sm" id="example-3-sm"></chi-number-input>

        <!-- md -->
        <chi-label for="example-3-md">Label</chi-label>
        <chi-number-input size="md" id="example-3-md"></chi-number-input>

        <!-- lg -->
        <chi-label for="example-3-lg">Label</chi-label>
        <chi-number-input size="lg" id="example-3-lg"></chi-number-input>
    .chi-tabs-panel#html-portal-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-xs">Label</label>
          <div class="chi-number-input -xs">
            <input id="input-example-xs" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-sm">Label</label>
          <div class="chi-number-input -sm">
            <input id="input-example-sm" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-md">Label</label>
          <div class="chi-number-input -md">
            <input id="input-example-md" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-lg">Label</label>
          <div class="chi-number-input -lg">
            <input id="input-example-lg" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-lg'));</script>


h2 Expanded version
h3 Base
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example-4") Label
      chi-number-input(expanded=true)#example-4
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded
      li.-active
        a(href=`#webcomponent-expanded`) Web Component
      li
        a(href=`#html-expanded`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded
    :code(lang="html")
      <chi-label for="example-4">Label</chi-label>
      <chi-number-input expanded id="example-4"></chi-number-input>
  .chi-tabs-panel#html-expanded
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="input-example-expanded">Label</label>
        <div class="chi-number-input -expanded">
          <input id="input-example-expanded" class="chi-input" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-expanded'));</script>

h3 Disabled
p.-text
  | Use the <code>disabled</code> boolean attribute to prevent users from interacting with an input.
  | Disabled inputs are not submitted with the form and can not receive any browsing events such as mouse clicks or focus.
  | <strong>Note:</strong> The required attribute can not be used on inputs with a disabled attribute specified.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example-5") Label
      chi-number-input(expanded=true disabled=true)#example-5
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-disabled
      li.-active
        a(href=`#webcomponent-expanded-disabled`) Web Component
      li
        a(href=`#html-expanded-disabled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-disabled
    :code(lang="html")
      <chi-label for="example-5">Label</chi-label>
      <chi-number-input expanded disabled id="example-5"></chi-number-input>
  .chi-tabs-panel#html-expanded-disabled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="input-example-expanded-disabled">Label</label>
        <div class="chi-number-input -expanded">
          <input id="input-example-expanded-disabled" class="chi-input" type="number" value="0" aria-label="Input Label" disabled>
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-expanded-disabled'));</script>

h3 Min/Max/Step
p.-text
  | Use the <code>min</code> and <code>max</code> attributes to define minimum and maximum values on number inputs.
  | Use the <code>step</code> attribute to indicate the expected granularity.
p.-text
  | This example only accepts values between <code>0</code> and <code>6</code>, and as the <code>step</code> is
  | <code>2</code> and initial <code>value</code> is <code>1</code>, only odd values are valid. If you manually write
  | any pair value, or a value greater than 5 or lesser than 1, the component will automatically correct the value.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="unique-id-emm1") Label
      chi-number-input(expanded=true, min="0", max="6", step="2", value="1")#unique-id-emm1
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-minmax
      li.-active
        a(href=`#webcomponent-expanded-minmax`) Web Component
      li
        a(href=`#html-expanded-minmax`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-minmax
    :code(lang="html")
      <chi-label for="unique-id-emm1">Label</chi-label>
      <chi-number-input expanded id="unique-id-emm1" min="0" max="6" "step="2" value="1"></chi-number-input>
  .chi-tabs-panel#html-expanded-minmax
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="unique-id-emm1">Label</label>
        <div class="chi-number-input -expanded">
          <input id="unique-id-emm1" class="chi-input" type="number" min="0" max="6" "step="2" value="1" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
      </div>

      <script>
        chi.numberInput(
          document.getElementById('unique-id-emm1'),
          {autofix: true}
        );
      </script>

h3 Error
p.-text
  | Use <code>danger</code> to provide feedback to users when input data fails to validate.
  | To meet accessibility requirements, danger inputs must include an error message explaining the
  | failure and/or how to correct it.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="unique-id-eer1") Quantity
      chi-number-input#unique-id-eer1(inputstyle="danger", expanded)
      .chi-label.-status.-danger Please enter a quantity.
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-error
      li.-active
        a(href=`#webcomponent-expanded-error`) Web Component
      li
        a(href=`#html-expanded-error`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-error
    :code(lang="html")
      <chi-label for="unique-id-eer1">Quantity</chi-label>
      <chi-number-input expanded id="unique-id-eer1" inputstyle="danger"></chi-number-input>
      <div class="chi-label -status -danger">Please enter a quantity.</div>
  .chi-tabs-panel#html-expanded-error
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="unique-id-eer1">Label</label>
        <div class="chi-number-input -expanded">
          <input id="unique-id-eer1" class="chi-input -danger" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
        <div class="chi-label -status -danger">Please enter a quantity.</div>
      </div>

      <script>chi.numberInput(document.getElementById('unique-id-eer1'));</script>

.-portal--hide
  h3 Sizes
  p.-text
    | Expanded number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>, <code>xl</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg', 'xl']
          .-py--2
            .chi-form__item
              chi-label(for=`example-expanded-sizes-${size}`) Label
              chi-number-input(expanded=true, size=`${size}`, class='-mr--2', id=`example-expanded-sizes-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-expanded-sizes
        li.-active
          a(href=`#webcomponent-expanded-sizes`) Web Component
        li
          a(href=`#html-expanded-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-expanded-sizes
      :code(lang="html")
        <!-- xs -->
        <chi-label for="example-6-xs">Label</chi-label>
        <chi-number-input expanded size="xs" id="example-6-xs"></chi-number-input>

        <!-- sm -->
        <chi-label for="example-6-sm">Label</chi-label>
        <chi-number-input expanded size="sm" id="example-6-sm"></chi-number-input>

        <!-- md -->
        <chi-label for="example-6-md">Label</chi-label>
        <chi-number-input expanded size="md" id="example-6-md"></chi-number-input>

        <!-- lg -->
        <chi-label for="example-6-lg">Label</chi-label>
        <chi-number-input expanded size="lg" id="example-6-lg"></chi-number-input>

        <!-- xl -->
        <chi-label for="example-6-xl">Label</chi-label>
        <chi-number-input expanded size="xl" id="example-6-xl"></chi-number-input>
    .chi-tabs-panel#html-expanded-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-xs">Label</label>
          <div class="chi-number-input -expanded -xs">
            <input id="input-example-expanded-xs" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-sm">Label</label>
          <div class="chi-number-input -expanded -sm">
            <input id="input-example-expanded-sm" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-md">Label</label>
          <div class="chi-number-input -expanded -md">
            <input id="input-example-expanded-md" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-lg">Label</label>
          <div class="chi-number-input -expanded -lg">
            <input id="input-example-expanded-lg" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-lg'));</script>

        <!-- xl -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-xl">Label</label>
          <div class="chi-number-input -expanded -xl">
            <input id="input-example-expanded-xl" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-xl'));</script>

.-portal--show
  h3 Sizes
  p.-text
    | Expanded number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg']
          .-py--2
            .chi-form__item
              chi-label(for=`example-portal-expanded-sizes-${size}`) Label
              chi-number-input(expanded=true, size=`${size}`, class='-mr--2', id=`example-portal-expanded-sizes-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-portal-expanded-sizes
        li.-active
          a(href=`#webcomponent-portal-expanded-sizes`) Web Component
        li
          a(href=`#html-portal-expanded-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-portal-expanded-sizes
      :code(lang="html")
        <!-- xs -->
        <chi-label for="example-6-xs">Label</chi-label>
        <chi-number-input expanded size="xs" id="example-6-xs"></chi-number-input>

        <!-- sm -->
        <chi-label for="example-6-sm">Label</chi-label>
        <chi-number-input expanded size="sm" id="example-6-sm"></chi-number-input>

        <!-- md -->
        <chi-label for="example-6-md">Label</chi-label>
        <chi-number-input expanded size="md" id="example-6-md"></chi-number-input>

        <!-- lg -->
        <chi-label for="example-6-lg">Label</chi-label>
        <chi-number-input expanded size="lg" id="example-6-lg"></chi-number-input>
    .chi-tabs-panel#html-portal-expanded-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-xs">Label</label>
          <div class="chi-number-input -expanded -xs">
            <input id="input-example-expanded-xs" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-sm">Label</label>
          <div class="chi-number-input -expanded -sm">
            <input id="input-example-expanded-sm" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-md">Label</label>
          <div class="chi-number-input -expanded -md">
            <input id="input-example-expanded-md" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="input-example-expanded-lg">Label</label>
          <div class="chi-number-input -expanded -lg">
            <input id="input-example-expanded-lg" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('input-example-expanded-lg'));</script>


script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
  document.querySelector("#example__help-button")
  .addEventListener("click", function() {
    var popoverElem = document.querySelector("#example__help-popover");
    popoverElem.toggle();
  });
