script(type='module' src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../../js/ce/ux-chi-ce/ux-chi-ce.js')

h2 Examples
h3 Base
p.-text An initial value is optional. If an initial value is not provided, <code>0</code> will be taken as default.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-number-input
  .example-tabs.-pl--2
    ul.chi-tabs#examples-default
      li.-active
        a(href=`#webcomponent`) Web Component
      li
        a(href=`#html`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent
    :code(lang="html")
      <chi-number-input></chi-number-input>
  .chi-tabs-panel#html
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item -row">
        <div class="chi-number-input">
          <input id="input-example-base" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-base'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-number-input(disabled=true)
  .example-tabs.-pl--2
    ul.chi-tabs#examples-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li
        a(href=`#html-disabled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-disabled
    :code(lang="html")
      <chi-number-input disabled></chi-number-input>
  .chi-tabs-panel#html-disabled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item -row">
        <div class="chi-number-input">
          <input id="input-example-disabled" type="number" class="chi-input" value="0" aria-label="Input Label" disabled>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-disabled'));</script>

h3 Sizes
p.-text
  | Number inputs support the following sizes: <code>sm</code>, <code>md</code>,
  |  <code>lg</code>, <code>xl</code>. The default size is <code>md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      .chi-form__item.-inline.-mr--3
        chi-number-input(size=`${size}`)
  .example-tabs.-pl--2
    ul.chi-tabs#examples-sizes
      li.-active
        a(href=`#webcomponent-sizes`) Web Component
      li
        a(href=`#html-sizes`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-sizes
    :code(lang="html")
      <chi-number-input size="sm"></chi-number-input>
      <chi-number-input></chi-number-input>
      <chi-number-input size="lg"></chi-number-input>
      <chi-number-input size="xl"></chi-number-input>
  .chi-tabs-panel#html-sizes
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <!-- sm -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -sm">
          <input id="input-example-sm" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-sm'));</script>

      <!-- md -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -md">
          <input id="input-example-md" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-md'));</script>

      <!-- lg -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -lg">
          <input id="input-example-lg" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-lg'));</script>

      <!-- xl -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -xl">
          <input id="input-example-xl" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-xl'));</script>

h2 Expanded version
h3 Base
.example.-mb--3
  .-p--3
    chi-number-input(expanded=true)
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded
      li.-active
        a(href=`#webcomponent-expanded`) Web Component
      li
        a(href=`#html-expanded`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded
    :code(lang="html")
      <chi-number-input expanded></chi-number-input>
  .chi-tabs-panel#html-expanded
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item -row">
        <div class="chi-number-input -expanded">
          <input id="input-example-expanded" class="chi-input" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus"></i>
            </div>
          </button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-expanded'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    chi-number-input(expanded=true disabled=true)
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-disabled
      li.-active
        a(href=`#webcomponent-expanded-disabled`) Web Component
      li
        a(href=`#html-expanded-disabled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-disabled
    :code(lang="html")
      <chi-number-input expanded disabled></chi-number-input>
  .chi-tabs-panel#html-expanded-disabled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item -row">
        <div class="chi-number-input -expanded">
          <input id="input-example-expanded-disabled" class="chi-input" type="number" value="0" aria-label="Input Label" disabled>
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus"></i>
            </div>
          </button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-example-expanded-disabled'));</script>

h3 Sizes
p.-text
  | Expanded number inputs support the following sizes: <code>sm</code>, <code>md</code>,
  |  <code>lg</code>, <code>xl</code>. The default size is <code>md</code>.
.example.-mb--3
  .-p--3.-d--flex.-justify-content--start.-align-items--center
    each size in ['sm', 'md', 'lg', 'xl']
      chi-number-input(expanded=true size=`${size}` class='-mr--2')
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-sizes
      li.-active
        a(href=`#webcomponent-expanded-sizes`) Web Component
      li
        a(href=`#html-expanded-sizes`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-sizes
    :code(lang="html")
      <chi-number-input expanded size="sm"></chi-number-input>
      <chi-number-input expanded></chi-number-input>
      <chi-number-input expanded size="lg"></chi-number-input>
      <chi-number-input expanded size="xl"></chi-number-input>
  .chi-tabs-panel#html-expanded-sizes
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <!-- sm -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -expanded -sm">
          <input id="input-example-expanded-sm" class="chi-input" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content"><i class="chi-icon icon-minus"></i></div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content"><i class="chi-icon icon-plus"></i>
          </div>
          </button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-expanded-sm'));</script>

      <!-- md -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -expanded -md">
          <input id="input-example-expanded-md" class="chi-input" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content"><i class="chi-icon icon-minus"></i></div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content"><i class="chi-icon icon-plus"></i></div>
          </button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-expanded-md'));</script>

      <!-- lg -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -expanded -lg">
          <input id="input-example-expanded-lg" class="chi-input" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content"><i class="chi-icon icon-minus"></i></div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content"><i class="chi-icon icon-plus"></i></div>
          </button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-expanded-lg'));</script>

      <!-- xl -->
      <div class="chi-form__item -row">
        <div class="chi-number-input -expanded -xl">
          <input id="input-example-expanded-xl" class="chi-input" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content"><i class="chi-icon icon-minus"></i></div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content"><i class="chi-icon icon-plus"></i></div>
          </button>
        </div>
      </div>
      <script>chi.numberInput(document.getElementById('input-example-expanded-xl'));</script>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('examples-default'));
      chi.tab(document.getElementById('examples-disabled'));
      chi.tab(document.getElementById('examples-sizes'));
      chi.tab(document.getElementById('examples-expanded'));
      chi.tab(document.getElementById('examples-expanded-disabled'));
      chi.tab(document.getElementById('examples-expanded-sizes'));
    }
  );
