script(type='module' src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../../js/ce/ux-chi-ce/ux-chi-ce.js')

.chi-alert.-info.-my--3
  i.chi-alert__icon.chi-icon.icon-circle-info
  .chi-alert__content
    p.chi-alert__text This component requires Javascript

h2 Examples

h3 Base

.example.-mb--3
  .-p--3
    .m-form__item
      chi-number-input
  .example-tabs.-pl--2
    ul.a-tabs#examples-default
      li.-active
        a(href=`#webcomponent`) Web component
      li
        a(href=`#html`) HTML + JS
  .a-tabs-panel.-active#webcomponent
    .a-tab__description
      | To render a number input, just place a <code>chi-number-input</code> tag and set an initial value (optional). If
      | an initial value is not provided, <code>0</code> will be taken as default.
    :code(lang="html")
      <chi-number-input></chi-number-input>
  .a-tabs-panel#html
    .a-tab__description
      | To render a number input, apply the classes <code>a-input</code> to an <code>input type="number"</code>.
      | For proper styling, number inputs must be wrapped in an <code>m-input__wrapper</code> div with two buttons.
    :code(lang="html")
      <div class="m-form__item -row">
        <div class="m-input__wrapper">
          <input id="input-number-1" type="number" class="a-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('input-number-1'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      chi-number-input(disabled=true)
  .example-tabs.-pl--2
    ul.a-tabs#examples-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web component
      li
        a(href=`#html-disabled`) HTML
  .a-tabs-panel.-active#webcomponent-disabled
    :code(lang="html")
      <chi-number-input disabled></chi-number-input>
  .a-tabs-panel#html-disabled
    :code(lang="html")
      <div class="m-form__item -row">
        <div class="m-input__wrapper">
          <input type="number" class="a-input" value="0" aria-label="Input Label" disabled>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

h3 Sizes
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      .m-form__item.-inline.-mr--3
        chi-number-input(size=`${size}`)
  .example-tabs.-pl--2
    ul.a-tabs#examples-sizes
      li.-active
        a(href=`#webcomponent-sizes`) Web component
      li
        a(href=`#html-sizes`) HTML
  .a-tabs-panel.-active#webcomponent-sizes
    .a-tab__description
      | Number inputs support a full spectrum of sizes: <code>sm</code>, <code>md</code>,
      |  <code>lg</code>, <code>xl</code>.
      | The default size is <code>md</code>.
    :code(lang="html")
      <chi-number-input size="sm"></chi-number-input>
      <chi-number-input></chi-number-input>
      <chi-number-input size="lg"></chi-number-input>
      <chi-number-input size="xl"></chi-number-input>
  .a-tabs-panel#html-sizes
    .a-tab__description
      | Number inputs support a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
      |  <code>-lg</code>, <code>-xl</code>.
      | The default size is <code>-md</code>.
    :code(lang="html")
      <div class="m-form__item -row">
        <div class="m-input__wrapper">
          <input type="number" class="a-input -sm" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>
      <div class="m-form__item -row">
        <div class="m-input__wrapper">
          <input type="number" class="a-input -md" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>
      <div class="m-form__item -row">
        <div class="m-input__wrapper">
          <input type="number" class="a-input -lg" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>
      <div class="m-form__item -row">
        <div class="m-input__wrapper">
          <input type="number" class="a-input -xl" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

h2 Expanded version
p.-text
  | There is available an expanded version of the number input component.

h3 Base
.example.-mb--3
  .-p--3
    chi-number-input(expanded=true)
  .example-tabs.-pl--2
    ul.a-tabs#examples-expanded
      li.-active
        a(href=`#webcomponent-expanded`) Web component
      li
        a(href=`#html-expanded`) HTML
  .a-tabs-panel.-active#webcomponent-expanded
    :code(lang="html")
      <chi-number-input expanded></chi-number-input>
  .a-tabs-panel#html-expanded
    :code(lang="html")
      <div class="m-inputNumber">
        <input class="a-input" type="number" value="0" aria-label="Input Label">
        <button class="chi-btn -icon" aria-label="Decrease">
          <div class="chi-btn__content">
            <i class="chi-icon icon-minus"></i>
          </div>
        </button>
        <button class="chi-btn -icon" aria-label="Increase">
          <div class="chi-btn__content">
            <i class="chi-icon icon-plus"></i>
          </div>
        </button>
      </div>

h3 Disabled
.example.-mb--3
  .-p--3
    chi-number-input(expanded=true disabled=true)
  .example-tabs.-pl--2
    ul.a-tabs#examples-expanded-disabled
      li.-active
        a(href=`#webcomponent-expanded-disabled`) Web component
      li
        a(href=`#html-expanded-disabled`) HTML
  .a-tabs-panel.-active#webcomponent-expanded-disabled
    :code(lang="html")
      <chi-number-input expanded disabled></chi-number-input>
  .a-tabs-panel#html-expanded-disabled
    :code(lang="html")
      <div class="m-inputNumber">
        <input class="a-input" type="number" value="0" aria-label="Input Label" disabled>
        <button class="chi-btn -icon" aria-label="Decrease">
          <div class="chi-btn__content">
            <i class="chi-icon icon-minus"></i>
          </div>
        </button>
        <button class="chi-btn -icon" aria-label="Increase">
          <div class="chi-btn__content">
            <i class="chi-icon icon-plus"></i>
          </div>
        </button>
      </div>

h3 Sizes
.example.-mb--3
  .-p--3.-d--flex.-justify-content--start.-align-items--center
    each size in ['sm', 'md', 'lg', 'xl']
      chi-number-input(expanded=true size=`${size}` class='-mr--2')
  .example-tabs.-pl--2
    ul.a-tabs#examples-expanded-sizes
      li.-active
        a(href=`#webcomponent-expanded-sizes`) Web component
      li
        a(href=`#html-expanded-sizes`) HTML
  .a-tabs-panel.-active#webcomponent-expanded-sizes
    .a-tab__description
      | Expanded number inputs support a full spectrum of sizes: <code>sm</code>, <code>md</code>,
      |  <code>lg</code>, <code>xl</code>.
      | The default size is <code>md</code>.
    :code(lang="html")
      <chi-number-input expanded size="sm"></chi-number-input>
      <chi-number-input expanded></chi-number-input>
      <chi-number-input expanded size="lg"></chi-number-input>
      <chi-number-input expanded size="xl"></chi-number-input>
  .a-tabs-panel#html-expanded-sizes
    .a-tab__description
      | Expanded number inputs support a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
      |  <code>-lg</code>, <code>-xl</code>.
      | The default size is <code>-md</code>.
    :code(lang="html")
      <div class="m-inputNumber -sm">
        <input class="a-input -sm" type="number" value="0" aria-label="Input Label">
        <button class="chi-btn -icon -sm" aria-label="Decrease">
          <div class="chi-btn__content"><i class="chi-icon icon-minus"></i></div>
        </button>
        <button class="chi-btn -icon -sm" aria-label="Increase">
          <div class="chi-btn__content"><i class="chi-icon icon-plus"></i>
        </div>
        </button>
      </div>
      <div class="m-inputNumber -md">
        <input class="a-input -md" type="number" value="0" aria-label="Input Label">
        <button class="chi-btn -icon -md" aria-label="Decrease">
          <div class="chi-btn__content"><i class="chi-icon icon-minus"></i></div>
        </button>
        <button class="chi-btn -icon -md" aria-label="Increase">
          <div class="chi-btn__content"><i class="chi-icon icon-plus"></i></div>
        </button>
      </div>
      <div class="m-inputNumber -lg">
        <input class="a-input -lg" type="number" value="0" aria-label="Input Label">
        <button class="chi-btn -icon -lg" aria-label="Decrease">
          <div class="chi-btn__content"><i class="chi-icon icon-minus"></i></div>
        </button>
        <button class="chi-btn -icon -lg" aria-label="Increase">
          <div class="chi-btn__content"><i class="chi-icon icon-plus"></i></div>
        </button>
      </div>
      <div class="m-inputNumber -xl">
        <input class="a-input -xl" type="number" value="0" aria-label="Input Label">
        <button class="chi-btn -icon -xl" aria-label="Decrease">
          <div class="chi-btn__content"><i class="chi-icon icon-minus"></i></div>
        </button>
        <button class="chi-btn -icon -xl" aria-label="Increase">
          <div class="chi-btn__content"><i class="chi-icon icon-plus"></i></div>
        </button>
      </div>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('examples-default'));
      chi.tab(document.getElementById('examples-disabled'));
      chi.tab(document.getElementById('examples-sizes'));
      chi.tab(document.getElementById('examples-expanded'));
      chi.tab(document.getElementById('examples-expanded-disabled'));
      chi.tab(document.getElementById('examples-expanded-sizes'));
    }
  );
