script(type='module' src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')

h2 Examples
h3 Base
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__base") Label
      chi-number-input#example__base
  .example-tabs.-pl--2
    ul.chi-tabs#examples-default
      li.-active
        a(href=`#webcomponent`) Web Component
      li
        a(href=`#html`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__base">Label</chi-label>
        <chi-number-input id="example__base"></chi-number-input>
      </div>
  .chi-tabs-panel#html
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__base">Label</label>
        <div class="chi-number-input">
          <input id="example__base" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('example__base'));</script>

h3 Disabled
p.-text
  | Use the <code>disabled</code> boolean attribute to prevent users from interacting with an input.
  | Disabled inputs are not submitted with the form and can not receive any browsing events such as mouse clicks or focus.
  | <strong>Note:</strong> The required attribute can not be used on inputs with a disabled attribute specified.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__disabled") Label
      chi-number-input(disabled=true)#example__disabled
  .example-tabs.-pl--2
    ul.chi-tabs#examples-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li
        a(href=`#html-disabled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__disabled">Label</chi-label>
        <chi-number-input disabled id="example__disabled"></chi-number-input>
      </div>
  .chi-tabs-panel#html-disabled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__disabled">Label</label>
        <div class="chi-number-input">
          <input id="example__disabled" type="number" class="chi-input" value="0" aria-label="Input Label" disabled>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('example__disabled'));</script>

h3 Min/Max/Step
p.-text
  | Use the <code>min</code> and <code>max</code> attributes to define minimum and maximum values on number inputs.
  | Use the <code>step</code> attribute to indicate the expected granularity.
p.-text
  | This example only accepts values between <code>1</code> and <code>6</code>, and as the <code>step</code> is
  | <code>2</code> and initial <code>value</code> is <code>1</code>, only odd values are valid. 
  
  | Use the <code>chiNumberInvalid</code> event described in the <a href="./#events">events</a> section
  | to check if the entered value is valid.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__mms") Label
      chi-number-input#example__mms(min="1", max="6", step="2", value="1")
  .example-tabs.-pl--2
    ul.chi-tabs#examples-mms
      li.-active
        a(href=`#webcomponent-mms`) Web Component
      li
        a(href=`#html-mms`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-mms
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__mms">Label</chi-label>
        <chi-number-input id="example__mms" min="1" max="6" step="2" value="1"></chi-number-input>
      </div>
  .chi-tabs-panel#html-mms
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__mms">Label</label>
        <div class="chi-number-input">
          <input id="example__mms" type="number" class="chi-input" min="0" max="6" step="2" value="1" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>
        chi.numberInput(
          document.getElementById('example__mms'),
          {autofix: true}
        );
      </script>

h3 Required
p.-text
  | Use the <code>required</code> boolean attribute to indicate which inputs must be completed before submitting a form.
  | To render a required input, apply the <code>required</code> attribute to the input. It is also
  | encouraged but not mandatory to apply a <code>required</code> attribute to the corresponding label of the input which
  | will automatically render a red asterisk. <strong>Note:</strong> For HTML Blueprint implementations,
  | the <code>required</code> attribute is not supported on the label. Please use the alternate method
  | specified below for rendering a red asterisk within the label. 
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__required" required) Label
      chi-number-input#example__required(required)
  .example-tabs.-pl--2
    ul.chi-tabs#examples-required
      li.-active
        a(href=`#webcomponent-required`) Web Component
      li
        a(href=`#html-required`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-required
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__required" required>Label</chi-label>
        <chi-number-input id="example__required" required></chi-number-input>
      </div>
  .chi-tabs-panel#html-required
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__required">
          Label
          <abbr class="chi-label__required" aria-label="Required field">*</abbr>
        </label>
        <div class="chi-number-input">
          <input id="example__required" type="number" class="chi-input" value="0" aria-label="Input Label" required>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('example__required'));</script>

h3 Help
p.-text
  | Use <code>chi-label</code>'s attributes <code>infoIcon</code> and <code>infoIconMessage</code> to include a help icon that displays helpful information in a popover.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for='example__help' info-icon info-icon-message='Helpful information goes here.') Label
      chi-number-input#example__help
  .example-tabs.-pl--2
    ul.chi-tabs#examples-help
      li.-active
        a(href=`#webcomponent-help`) Web Component
      li
        a(href=`#html-help`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-help
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__help" info-icon info-icon-message="Helpful information goes here.">Label</chi-label>
        <chi-number-input id="example__help"></chi-number-input>
      </div>
  .chi-tabs-panel#html-help
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <div class="chi-label__wrapper">
          <label class="chi-label" for="example__help">Label</label>
          <div class="chi-label__help">
            <div class="chi-button -icon -flat -xs" id="example__help-button" data-target="#example__help-popover" aria-label="Help">
              <div class="chi-button__content">
                <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
              </div>
            </div>
            <section class="chi-popover chi-popover--top" id="example__help-popover" aria-modal="true" role="dialog">
              <div class="chi-popover__content">
                <p class="chi-popover__text">Helpful information goes here.</p>
              </div>
            </section>
          </div>
        </div>
        <div class="chi-number-input">
          <input id="example__help" type="number" class="chi-input" value="0" aria-label="Input Label" required>
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
      </div>

      <script>chi.popover(document.getElementById('example__help-button'));</script>

h3 Message
p.-text
  | Add a message below an input to store descriptions, validation feedback, and other helpful information.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__message") Label
      chi-number-input#example__message(helper-message="Optional helper message")
  .example-tabs.-pl--2
    ul.chi-tabs#examples-message
      li.-active
        a(href=`#webcomponent-message`) Web Component
      li
        a(href=`#html-message`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-message
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__message">Label</chi-label>
        <chi-number-input id="example__message" helper-message="Optional helper message"></chi-number-input>
      </div>
  .chi-tabs-panel#html-message
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__message">Label</label>
        <div class="chi-number-input">
          <input id="example__message" type="number" class="chi-input" value="0" aria-label="Input Label">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
        <div class="chi-label -status">Optional helper message</div>
      </div>

      <script>chi.numberInput(document.getElementById('example__message'));</script>

h3 Error
p.-text
  | Use <code>danger</code> to provide feedback to users when input data fails to validate.
  | To meet accessibility requirements, danger inputs must include an error message explaining the
  | failure and/or how to correct it.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__error") Quantity
      chi-number-input#example__error(inputstyle="danger", helper-message="Please enter a quantity")
  .example-tabs.-pl--2
    ul.chi-tabs#examples-error
      li.-active
        a(href=`#webcomponent-error`) Web Component
      li
        a(href=`#html-error`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-error
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__error">Quantity</chi-label>
        <chi-number-input id="example__error" inputstyle="danger" helper-message="Please enter a quantity"></chi-number-input>
      </div>
  .chi-tabs-panel#html-error
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__error">Quantity</label>
        <div class="chi-number-input">
          <input id="example__error" type="number" class="chi-input -danger" value="0" aria-label="Quantity">
          <button aria-label="Decrease"></button>
          <button aria-label="Increase"></button>
        </div>
        <div class="chi-label -status -danger">
          <i class="chi-icon icon-circle-warning" aria-hidden="true"></i>
          Please enter a quantity
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('example__error'));</script>

.-portal--hide
  h3 Sizes
  p.-text
    | Number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>, <code>xl</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg', 'xl']
          .-py--2
            .chi-form__item
              chi-label(for=`example__size-${size}`) Label
              chi-number-input(size=`${size}`, id=`example__size-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-sizes
        li.-active
          a(href=`#webcomponent-sizes`) Web Component
        li
          a(href=`#html-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-sizes
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <chi-label for="example__size-xs">Label</chi-label>
          <chi-number-input size="xs" id="example__size-xs"></chi-number-input>
        </div>

        <!-- sm -->
        <div class="chi-form__item">
          <chi-label for="example__size-sm">Label</chi-label>
          <chi-number-input size="sm" id="example__size-sm"></chi-number-input>
        </div>

        <!-- md -->
        <div class="chi-form__item">
          <chi-label for="example__size-md">Label</chi-label>
          <chi-number-input size="md" id="example__size-md"></chi-number-input>
        </div>

        <!-- lg -->
        <div class="chi-form__item">
          <chi-label for="example__size-lg">Label</chi-label>
          <chi-number-input size="lg" id="example__size-lg"></chi-number-input>
        </div>

        <!-- xl -->
        <div class="chi-form__item">
          <chi-label for="example__size-xl">Label</chi-label>
          <chi-number-input size="xl" id="example__size-xl"></chi-number-input>
        </div>
    .chi-tabs-panel#html-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-xs">Label</label>
          <div class="chi-number-input -xs">
            <input id="example__size-xs" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-sm">Label</label>
          <div class="chi-number-input -sm">
            <input id="example__size-sm" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-md">Label</label>
          <div class="chi-number-input -md">
            <input id="example__size-md" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-lg">Label</label>
          <div class="chi-number-input -lg">
            <input id="example__size-lg" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-lg'));</script>

        <!-- xl -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-xl">Label</label>
          <div class="chi-number-input -xl">
            <input id="example__size-xl" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-xl'));</script>

.-portal--show.-brightspeed--show
  h3 Sizes
  p.-text
    | Number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg']
          .-py--2
            .chi-form__item
              chi-label(for=`example__portal-size-${size}`) Label
              chi-number-input(size=`${size}`, id=`example__portal-size-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-portal-sizes
        li.-active
          a(href=`#webcomponent-portal-sizes`) Web Component
        li
          a(href=`#html-portal-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-portal-sizes
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <chi-label for="example__size-xs">Label</chi-label>
          <chi-number-input size="xs" id="example__size-xs"></chi-number-input>
        </div>

        <!-- sm -->
        <div class="chi-form__item">
          <chi-label for="example__size-sm">Label</chi-label>
          <chi-number-input size="sm" id="example__size-sm"></chi-number-input>
        </div>

        <!-- md -->
        <div class="chi-form__item">
          <chi-label for="example__size-md">Label</chi-label>
          <chi-number-input size="md" id="example__size-md"></chi-number-input>
        </div>

        <!-- lg -->
        <div class="chi-form__item">
          <chi-label for="example__size-lg">Label</chi-label>
          <chi-number-input size="lg" id="example__size-lg"></chi-number-input>
        </div>
    .chi-tabs-panel#html-portal-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-xs">Label</label>
          <div class="chi-number-input -xs">
            <input id="example__size-xs" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-sm">Label</label>
          <div class="chi-number-input -sm">
            <input id="example__size-sm" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-md">Label</label>
          <div class="chi-number-input -md">
            <input id="example__size-md" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__size-lg">Label</label>
          <div class="chi-number-input -lg">
            <input id="example__size-lg" type="number" class="chi-input" value="0" aria-label="Input Label">
            <button aria-label="Decrease"></button>
            <button aria-label="Increase"></button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__size-lg'));</script>


h2 Expanded version
h3 Base
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example-4") Label
      chi-number-input(expanded=true)#example-4
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded
      li.-active
        a(href=`#webcomponent-expanded`) Web Component
      li
        a(href=`#html-expanded`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__expanded-base">Label</chi-label>
        <chi-number-input expanded id="example__expanded-base"></chi-number-input>
      </div>
  .chi-tabs-panel#html-expanded
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__expanded-base">Label</label>
        <div class="chi-number-input -expanded">
          <input id="example__expanded-base" class="chi-input" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('example__expanded-base'));</script>

h3 Disabled
p.-text
  | Use the <code>disabled</code> boolean attribute to prevent users from interacting with an input.
  | Disabled inputs are not submitted with the form and can not receive any browsing events such as mouse clicks or focus.
  | <strong>Note:</strong> The required attribute can not be used on inputs with a disabled attribute specified.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__expanded-disabled") Label
      chi-number-input(expanded=true disabled=true)#example__expanded-disabled
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-disabled
      li.-active
        a(href=`#webcomponent-expanded-disabled`) Web Component
      li
        a(href=`#html-expanded-disabled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__expanded-disabled">Label</chi-label>
        <chi-number-input expanded disabled id="example__expanded-disabled"></chi-number-input>
      </div>
  .chi-tabs-panel#html-expanded-disabled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__expanded-disabled">Label</label>
        <div class="chi-number-input -expanded">
          <input id="example__expanded-disabled" class="chi-input" type="number" value="0" aria-label="Input Label" disabled>
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('example__expanded-disabled'));</script>

h3 Min/Max/Step
p.-text
  | Use the <code>min</code> and <code>max</code> attributes to define minimum and maximum values on number inputs.
  | Use the <code>step</code> attribute to indicate the expected granularity.
p.-text 
  | This example only accepts values between <code>0</code> and <code>6</code>, and as the <code>step</code> is
  | <code>2</code> and initial <code>value</code> is <code>1</code>, only odd values are valid. 
  
  | Use the <code>chiNumberInvalid</code> event described in the <a href="./#events">events</a> section
  | to check if the entered value is valid.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__expanded-mms") Label
      chi-number-input(expanded=true, min="1", max="6", step="2", value="1")#example__expanded-mms
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-minmax
      li.-active
        a(href=`#webcomponent-expanded-minmax`) Web Component
      li
        a(href=`#html-expanded-minmax`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-minmax
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__expanded-mms">Label</chi-label>
        <chi-number-input expanded id="example__expanded-mms" min="1" max="6" step="2" value="1"></chi-number-input>
      </div>
  .chi-tabs-panel#html-expanded-minmax
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__expanded-mms">Label</label>
        <div class="chi-number-input -expanded">
          <input id="example__expanded-mms" class="chi-input" type="number" min="0" max="6" "step="2" value="1" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
      </div>

      <script>
        chi.numberInput(
          document.getElementById('example__expanded-mms'),
          {autofix: true}
        );
      </script>

h3 Error
p.-text
  | Use <code>danger</code> to provide feedback to users when input data fails to validate.
  | To meet accessibility requirements, danger inputs must include an error message explaining the
  | failure and/or how to correct it.
.example.-mb--3
  .-p--3
    .chi-form__item
      chi-label(for="example__expanded-error") Quantity
      chi-number-input#example__expanded-error(inputstyle="danger", expanded, helper-message="Please enter a quantity")
  .example-tabs.-pl--2
    ul.chi-tabs#examples-expanded-error
      li.-active
        a(href=`#webcomponent-expanded-error`) Web Component
      li
        a(href=`#html-expanded-error`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-expanded-error
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__expanded-error">Quantity</chi-label>
        <chi-number-input expanded id="example__expanded-error" inputstyle="danger" helper-message="Please enter a quantity"></chi-number-input>
      </div>
  .chi-tabs-panel#html-expanded-error
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__expanded-error">Label</label>
        <div class="chi-number-input -expanded">
          <input id="example__expanded-error" class="chi-input -danger" type="number" value="0" aria-label="Input Label">
          <button class="chi-button -icon" aria-label="Decrease">
            <div class="chi-button__content">
              <i class="chi-icon icon-minus" aria-hidden="true"></i>
            </div>
          </button>
          <button class="chi-button -icon" aria-label="Increase">
            <div class="chi-button__content">
              <i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
          </button>
        </div>
        <div class="chi-label -status -danger">
          <i class="chi-icon icon-circle-warning" aria-hidden="true"></i>
          Please enter a quantity
        </div>
      </div>

      <script>chi.numberInput(document.getElementById('example__expanded-error'));</script>

.-portal--hide
  h3 Sizes
  p.-text
    | Expanded number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>, <code>xl</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg', 'xl']
          .-py--2
            .chi-form__item
              chi-label(for=`example__expanded-size-${size}`) Label
              chi-number-input(expanded=true, size=`${size}`, class='-mr--2', id=`example__expanded-size-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-expanded-sizes
        li.-active
          a(href=`#webcomponent-expanded-sizes`) Web Component
        li
          a(href=`#html-expanded-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-expanded-sizes
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-xs">Label</chi-label>
          <chi-number-input expanded size="xs" id="example__expanded-size-xs"></chi-number-input>
        </div>

        <!-- sm -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-sm">Label</chi-label>
          <chi-number-input expanded size="sm" id="example__expanded-size-sm"></chi-number-input>
        </div>

        <!-- md -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-md">Label</chi-label>
          <chi-number-input expanded size="md" id="example__expanded-size-md"></chi-number-input>
        </div>

        <!-- lg -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-lg">Label</chi-label>
          <chi-number-input expanded size="lg" id="example__expanded-size-lg"></chi-number-input>
        </div>

        <!-- xl -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-xl">Label</chi-label>
          <chi-number-input expanded size="xl" id="example__expanded-size-xl"></chi-number-input>
        </div>
    .chi-tabs-panel#html-expanded-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-xs">Label</label>
          <div class="chi-number-input -expanded -xs">
            <input id="example__expanded-size-xs" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-sm">Label</label>
          <div class="chi-number-input -expanded -sm">
            <input id="example__expanded-size-sm" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-md">Label</label>
          <div class="chi-number-input -expanded -md">
            <input id="example__expanded-size-md" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-lg">Label</label>
          <div class="chi-number-input -expanded -lg">
            <input id="example__expanded-size-lg" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-lg'));</script>

        <!-- xl -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-xl">Label</label>
          <div class="chi-number-input -expanded -xl">
            <input id="example__expanded-size-xl" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-xl'));</script>

.-portal--show.-brightspeed--show
  h3 Sizes
  p.-text
    | Expanded number inputs support the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>. The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column
        each size in ['xs', 'sm', 'md', 'lg']
          .-py--2
            .chi-form__item
              chi-label(for=`example__portal-expanded-size-${size}`) Label
              chi-number-input(expanded=true, size=`${size}`, class='-mr--2', id=`example__portal-expanded-size-${size}`)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-portal-expanded-sizes
        li.-active
          a(href=`#webcomponent-portal-expanded-sizes`) Web Component
        li
          a(href=`#html-portal-expanded-sizes`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-portal-expanded-sizes
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-xs">Label</chi-label>
          <chi-number-input expanded size="xs" id="example__expanded-size-xs"></chi-number-input>
        </div>

        <!-- sm -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-sm">Label</chi-label>
          <chi-number-input expanded size="sm" id="example__expanded-size-sm"></chi-number-input>
        </div>

        <!-- md -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-md">Label</chi-label>
          <chi-number-input expanded size="md" id="example__expanded-size-md"></chi-number-input>
        </div>

        <!-- lg -->
        <div class="chi-form__item">
          <chi-label for="example__expanded-size-lg">Label</chi-label>
          <chi-number-input expanded size="lg" id="example__expanded-size-lg"></chi-number-input>
        </div>
    .chi-tabs-panel#html-portal-expanded-sizes
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- xs -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-xs">Label</label>
          <div class="chi-number-input -expanded -xs">
            <input id="example__expanded-size-xs" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-xs'));</script>

        <!-- sm -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-sm">Label</label>
          <div class="chi-number-input -expanded -sm">
            <input id="example__expanded-size-sm" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i>
            </div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-sm'));</script>

        <!-- md -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-md">Label</label>
          <div class="chi-number-input -expanded -md">
            <input id="example__expanded-size-md" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-md'));</script>

        <!-- lg -->
        <div class="chi-form__item">
          <label class="chi-label" for="example__expanded-size-lg">Label</label>
          <div class="chi-number-input -expanded -lg">
            <input id="example__expanded-size-lg" class="chi-input" type="number" value="0" aria-label="Input Label">
            <button class="chi-button -icon" aria-label="Decrease">
              <div class="chi-button__content"><i class="chi-icon icon-minus" aria-hidden="true"></i></div>
            </button>
            <button class="chi-button -icon" aria-label="Increase">
              <div class="chi-button__content"><i class="chi-icon icon-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        </div>
        <script>chi.numberInput(document.getElementById('example__expanded-size-lg'));</script>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
