---
title: Alert Toasts
---
- const sizes = ['h6', 'h5', 'h4', 'h3', 'h2', 'h1'];

each size in ['default', 'sm', 'lg']
  h4 Default / #{size}
  div(class=`test-toast-${size}`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .m-alert.-toast.-m--2(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
        div(class=`m-alert__icon a-icon -text--${type}`)
          svg
            use(xlink:href=`#${val}`)
        .m-alert__content
            p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
        button(class='m-alert__dismiss-button chi-btn -icon -close', aria-label='Close')
          .chi-btn__content
            .a-icon
              svg
                use(xlink:href='#icon-x')
  h4 Titled / #{size}
  div(class=`test-toast-titled-${size}`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .m-alert.-toast.-m--2(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
        div(class=`m-alert__icon a-icon -text--${type}`)
          svg
            use(xlink:href=`#${val}`)
        .m-alert__content
            p.m-alert__title= type
            p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} toast alert`
        button(class='m-alert__dismiss-button chi-btn -icon -close', aria-label='Close')
          .chi-btn__content
            .a-icon
              svg
                use(xlink:href='#icon-x')
