---
title: Alert Banners
---

each size in ['medium', 'large']
  div(class=`test-${size} -w--100`)
    h3= `${size}`
    each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
      .m-alert.-banner.-m2(class=`-${type}`, class={[`-${size}`]: size != 'medium'})
        = `This is a ${type} message`

    h4 center
    each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
      .m-alert.-banner.-center.-m2(class=`-${type}`, class={[`-${size}`]: size != 'medium'})
        = `This is a ${type} message`

    h4 Has icon
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', light:'icon-circle-info-outline', dark:'icon-circle-info'}
      .m-alert.-banner.-m2(class=`-${type}`, class={[`-${size}`]: size != 'medium'})
        i.a-icon.-sm2(class =`${val} -text--${type}`)
        = `This is a ${type} message`

    h4 Has icon center
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', light:'icon-circle-info-outline', dark:'icon-circle-info'}
      .m-alert.-banner.-center.-m2(class=`-${type}`, class={[`-${size}`]: size != 'medium'})
        i.a-icon.-sm2(class =`${val} -text--${type}`)
        = `This is a ${type} message`
