---
title: Alert Bubbles
---

each size in ['default', 'sm', 'lg']
  h4 Default / #{size}
  div(class=`test-bubble-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .-m--2
        .chi-alert(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
          div(class=`chi-alert__icon chi-icon -icon--${type}`)
            svg
              use(xlink:href=`#${val}`)
          .chi-alert__content
            p.chi-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  h4 Centered / #{size}
  div(class=`test-bubble-center-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .-m--2
        .chi-alert.-center(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
          div(class=`chi-alert__icon chi-icon -icon--${type}`)
            svg
              use(xlink:href=`#${val}`)
          .chi-alert__content
            p.chi-alert__text= `This is ${type === 'info' ? 'an' : 'a'} centered ${type} alert`
  h4 Closable / #{size}
  div(class=`test-bubble-dismissible-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .-m--2
        .chi-alert.-close(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
          div(class=`chi-alert__icon chi-icon -icon--${type}`)
            svg
              use(xlink:href=`#${val}`)
          .chi-alert__content
            p.chi-alert__text= `This is a dismissible ${type} alert`
          button(class='chi-alert__close-button chi-button -icon -close', aria-label='Close')
            .chi-button__content
              .chi-icon
                svg
                  use(xlink:href='#icon-x')
  h4 Titled / #{size}
  div(class=`test-bubble-titled-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .-m--2
        .chi-alert(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
          div(class=`chi-alert__icon chi-icon -icon--${type}`)
            svg
              use(xlink:href=`#${val}`)
          .chi-alert__content
            p.chi-alert__title=`${type}`
            p.chi-alert__text=`This is a titled ${type} alert`
  h4 Actionable / #{size}
  div(class=`test-bubble-actionable-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .-m--2
        .chi-alert(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
          div(class=`chi-alert__icon chi-icon -icon--${type}`)
            svg
              use(xlink:href=`#${val}`)
          .chi-alert__content
            p.chi-alert__title #{type}
            p.chi-alert__text This is a #{size} #{type} actionable alert
            div.chi-alert__actions
              button.chi-button.-dark.-outline(class=`-${size}`) Secondary action
              button.chi-button.-primary(class=`-${size}`) Primary action
