---
title: Alert Bubbles
---

each size in ['medium', 'large']
  div(class=`test-${size} -w--100`)
    h3= `${size}`
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', light:'icon-circle-info-outline', dark:'icon-circle-info'}
      .m-alert.-bubble.-m2(class=`-${type}`, class={[`-${size}`]: size != 'medium'})
        i.a-icon(class =`${val} -text--${type}`)
        = `This is a ${type} message`

h3 Titled
each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', light:'icon-circle-info-outline', dark:'icon-circle-info'}
  div(class=`test-${size} -w--100`)
    .m-alert.-bubble.-titled.-m2(class=`-${type}`, class={[`-${size}`]: size != 'medium'})
      .m-alert__content
        i.a-icon(class =`${val} -text--${type}`)
        div
          h5.a-h5 Danger
          | This is a danger alert
