---
title: Alert Toasts
---

.test-toast.-w100
  each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
    div(class=`m-alert -${type} -toast -mb--2`, data-title=`${type}`)
      = `This is a ${type} message`
      button(class='a-btn -icon -close -small')
        .a-btn__content
          i.a-icon.icon-x

  h4 Has icon
  each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
    div(class=`m-alert -hasIcon -${type} -toast -mb--2`, data-title=`${type}`)
      = `This is a ${type} message`
      button(class='a-btn -icon -close -small')
        .a-btn__content
          i.a-icon.icon-x
