---
title: Alert Bubbles
---

each size in ['small', 'medium', 'large']
  div(class=`test-${size} -w100`)
    h3= `${size}`
    each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
      div(
        class=`m-alert -${type} -bubble -mb2`
        class={
          [`-${size}`]: size != 'medium'
        }
        data-title=`${type}`
      )
        = `This is a ${type} message`
        button.a-close(aria-label='Close')

    h4 Has icon
    each type in ['light', 'success', 'danger', 'warning', 'info', 'dark']
      div(
        class=`m-alert -hasIcon -${type} -bubble -mb2`
        class={
          [`-${size}`]: size != 'medium'
        }
        data-title=`${type}`
      )
        = `This is a ${type} message`
        button.a-close(aria-label='Close')
