---
title: Alert Banners
---

each size in ['default', 'sm', 'lg']
  h4 Default / #{size}
  div(class=`test-banner-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .chi-alert.-m--2.-banner(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
        div(class=`chi-alert__icon chi-icon -icon--${type}`)
          svg
            use(xlink:href=`#${val}`)
        .chi-alert__content
          p.chi-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`

  h4 Centered / #{size}
  div(class=`test-banner-center-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .chi-alert.-m--2.-banner.-center(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
        div(class=`chi-alert__icon chi-icon -icon--${type}`)
          svg
            use(xlink:href=`#${val}`)
        .chi-alert__content
          p.chi-alert__text= `This is ${type === 'info' ? 'an' : 'a'} centered ${type} alert`

  h4 Closable / #{size}
  div(class=`test-banner-dismissible-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .chi-alert.-banner.-m--2.-close.-m--2(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
        div(class=`chi-alert__icon chi-icon -icon--${type}`)
          svg
            use(xlink:href=`#${val}`)
        .chi-alert__content
          p.chi-alert__text= `This is a dismissible ${type} alert`
        button(class='chi-alert__close-button chi-button -icon -close', aria-label='Close')
          .chi-button__content
            .chi-icon
              svg
                use(xlink:href='#icon-x')

  h4 Titled / #{size}
  div(class=`test-banner-titled-${size} -w--100`)
    each val, type in {success:'icon-circle-check', danger:'icon-circle-warning', warning:'icon-warning', info:'icon-circle-info', muted:'icon-circle-info'}
      .chi-alert.-m--2.-banner(class=`-${type} ${size === 'default' ? '' : '-' + size}`)
        div(class=`chi-alert__icon chi-icon -icon--${type}`)
          svg
            use(xlink:href=`#${val}`)
        .chi-alert__content
          p.chi-alert__title= `${type}`
          p.chi-alert__text=`This is a titled ${type} alert`
