---
title: Badges
---

each type in ['solid', 'outline', 'flat']
  div(class=`test-${type}`)
    span.a-h2= `Badge / ${type}`
    div
      each style in ['base', 'brand', 'success', 'danger', 'info', 'dark', 'light']
        div(
          class="a-badge -mr1"
          class={
            [`-${type}`]: type != 'solid',
            [`-${style}`]: style != 'base'
          }
        )
          = style
        div(
          class="a-badge -mr1"
          class={
            [`-${type}`]: type != 'solid',
            [`-${style}`]: style != 'base'
          }
        )
          .a-badge__content
            .a-icon(class=`-mr1`)
              svg
                use(xlink:href='#icon-atom')
            = style
        div(
          class="a-badge -small -mr1"
          class={
            [`-${type}`]: type != 'solid',
            [`-${style}`]: style != 'base'
          }
        )
          .a-badge__content
            .a-icon(class=`-mr-small`)
              svg
                use(xlink:href='#icon-atom')
            = style
        div(
          class="a-badge -smaller -mr1"
          class={
            [`-${type}`]: type != 'solid',
            [`-${style}`]: style != 'base'
          }
        )
          .a-badge__content
            .a-icon(class=`-mr-small`)
              svg
                use(xlink:href='#icon-atom')
            = style

each type in ['solid', 'outline']
  div(class=`test-pill-${type}`)
    span.a-h2= `Badge / Pill / ${type}`
    table(cellpadding="0", cellspacing="0")
      tr
        each style in ['base', 'brand', 'success', 'danger', 'info', 'dark', 'light']
          td
            div(
              class="a-badge -pill -mr1"
              class={
                [`-${type}`]: type != 'solid',
                [`-${style}`]: style != 'base'
              }
            )
              | 50
            div(
              class="a-badge -pill -mr1"
              class={
                [`-${type}`]: type != 'solid',
                [`-${style}`]: style != 'base'
              }
            )
              .a-badge__content
                .a-icon(class=`-mr1`)
                  svg
                    use(xlink:href='#icon-atom')
                | 50
            div(
              class="a-badge -pill -small -mr1"
              class={
                [`-${type}`]: type != 'solid',
                [`-${style}`]: style != 'base'
              }
            )
              .a-badge__content
                .a-icon(class=`-mr-small`)
                  svg
                    use(xlink:href='#icon-atom')
                | 50
            div(
              class="a-badge -pill -smaller -mr1"
              class={
                [`-${type}`]: type != 'solid',
                [`-${style}`]: style != 'base'
              }
            )
              .a-badge__content
                .a-icon(class=`-mr-small`)
                  svg
                    use(xlink:href='#icon-atom')
                | 50

div(class=`test`)
  span.a-h2= `Badge Icons`
  div
    .a-badge(class=`-mr2`)
      .a-badge__content
        .a-icon(class=`-mr1`)
          svg
            use(xlink:href='#icon-atom')
        | Badge
    .a-badge(class=`-mr2`)
      .a-badge__content
        | Badge
        .a-icon(class=`-ml1`)
          svg
            use(xlink:href='#icon-atom')
    .a-badge(class=`-mr2`)
      .a-badge__content
        .a-icon(class=`-mr1`)
          svg
            use(xlink:href='#icon-atom')
        | Badge
        .a-icon(class=`-ml1`)
          svg
            use(xlink:href='#icon-atom')
