---
title: Badges

---
each type in ['solid', 'outline', 'flat']
  div(class=`test-${type}`)
    span.-text--h2= `Badge / ${type}`
    div
      each style in ['base', 'primary', 'secondary', 'danger', 'dark', 'muted', 'light']
        div(
        class="chi-badge -mr--1"
        class={
          [`-${type}`]: type !== 'solid',
          [`-${style}`]: style !== 'base'
        }
        )
          span= style
        div(
        class="chi-badge -mr--1"
        class={
          [`-${type}`]: type !== 'solid',
          [`-${style}`]: style !== 'base'
        }
        )
          .chi-badge__content
            .chi-icon
              svg
                use(xlink:href='#icon-atom')
            span= style

h2 Badge Icons
.test-badge-icons
  .example.-mb--1
    each size in ['xs', 'sm', 'default']
      .p.-text--bold= size
        .chi-badge(class=`-${size} -m--1`)
          .chi-badge__content
            .chi-icon
              svg
                use(xlink:href='#icon-atom')
            span Badge
        .chi-badge(class=`-${size} -m--1`)
          .chi-badge__content
            span Badge
            .chi-icon
              svg
                use(xlink:href='#icon-atom')
        .chi-badge(class=`-${size} -m--1`)
          .chi-badge__content
            .chi-icon
              svg
                use(xlink:href='#icon-atom')
            span Badge
            .chi-icon
              svg
                use(xlink:href='#icon-atom')
