---
title: Badges

---
each type in ['solid', 'outline', 'flat']
  div(class=`test-${type}`)
    span.a-h2= `Badge / ${type}`
    div
      each style in ['base', 'primary', 'secondary', 'danger', 'dark', 'muted', 'light']
        div(
        class="a-badge -mr--1"
        class={
          [`-${type}`]: type !== 'solid',
          [`-${style}`]: style !== 'base'
        }
        )
          span= style
        div(
        class="a-badge -mr--1"
        class={
          [`-${type}`]: type !== 'solid',
          [`-${style}`]: style !== 'base'
        }
        )
          .a-badge__content
            .a-icon
              svg
                use(xlink:href='#icon-atom')
            span= style

each type in ['solid', 'outline']
  div(class=`test-pill-${type}`)
    span.a-h2= `Badge / Pill / ${type}`
    table(cellpadding="0", cellspacing="0")
      tr
        each style in ['base', 'primary', 'secondary', 'danger', 'dark', 'muted', 'light']
          td
            div(
            class="a-badge -pill -mr--1"
            class={
              [`-${type}`]: type !== 'solid',
              [`-${style}`]: style !== 'base'
            }
            )
              span 50
            div(
            class="a-badge -pill -mr--1"
            class={
              [`-${type}`]: type !== 'solid',
              [`-${style}`]: style !== 'base'
            }
            )
              .a-badge__content
                .a-icon
                  svg
                    use(xlink:href='#icon-atom')
                span 50

h2 Badge Icons
.test-badge-icons
  .example.-mb--1
    each size in ['smaller', 'small', 'default']
      .p.-text--bold= size
        .a-badge(class=`-${size} -m--1`)
          .a-badge__content
            .a-icon
              svg
                use(xlink:href='#icon-atom')
            span Badge
        .a-badge(class=`-${size} -m--1`)
          .a-badge__content
            span Badge
            .a-icon
              svg
                use(xlink:href='#icon-atom')
        .a-badge(class=`-${size} -m--1`)
          .a-badge__content
            .a-icon
              svg
                use(xlink:href='#icon-atom')
            span Badge
            .a-icon
              svg
                use(xlink:href='#icon-atom')
