---
title: Buttons

---
each size in ['default', 'sm', 'md', 'lg', 'xl']
  each type in ['solid', 'outline', 'flat', 'fluid']
    div(class={
      [`test-${type}`]: size === 'default',
      [`test-${type}-${size}`]: size !== 'default'
    })
      span.chi-h2= `Button / ${type} / ${size}`
      table(cellpadding="0", cellspacing="0")
        each state in ['initial', 'hover', 'active', 'focus', 'disabled']
          tr
            td
              small= `${state}`
            each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
              if style === 'light'
                td.-bg--black
                  .-mr--2
                    input.chi-btn.-m--1.-mx--2(
                    type="button"
                    class={
                      [`-${type}`]: type !== 'solid',
                      [`-${style}`]: style !== 'default',
                      [`-${state}`]: state !== 'initial',
                      [`-${size}`]: size !== 'default'
                    }
                    value="Button"
                    disabled=state === 'disabled' ? 'disabled' : false
                    )
                    a.chi-btn.-icon.-m--1(
                    href="#"
                    class={
                      [`-${type}`]: type !== 'solid',
                      [`-${style}`]: style !== 'default',
                      [`-${state}`]: state !== 'initial',
                      [`-${size}`]: size !== 'default'
                    }
                    disabled=state === 'disabled' ? 'disabled' : false
                    aria-label='Button action'
                    )
                      .chi-btn__content
                        .chi-icon
                          svg
                            use(xlink:href='#icon-atom')
                    button.chi-btn.-m--1(
                    class={
                      [`-${type}`]: type !== 'solid',
                      [`-${style}`]: style !== 'default',
                      [`-${state}`]: state !== 'initial',
                      [`-${size}`]: size !== 'default'
                    }
                    disabled=state === 'disabled' ? 'disabled' : false
                    )
                      .chi-btn__content
                        .chi-icon
                          svg
                            use(xlink:href='#icon-atom')
                        span Button
              else
                td
                  .-mr--2
                    input.chi-btn.-m--1.-mx--2(
                    type="button"
                    class={
                      [`-${type}`]: type !== 'solid',
                      [`-${style}`]: style !== 'default',
                      [`-${state}`]: state !== 'initial',
                      [`-${size}`]: size !== 'default'
                    }
                    value="Button"
                    disabled=state === 'disabled' ? 'disabled' : false
                    )
                    a.chi-btn.-icon.-m--1(
                    href="#"
                    class={
                      [`-${type}`]: type !== 'solid',
                      [`-${style}`]: style !== 'default',
                      [`-${state}`]: state !== 'initial',
                      [`-${size}`]: size !== 'default'
                    }
                    disabled=state === 'disabled' ? 'disabled' : false
                    aria-label='Button action'
                    )
                      .chi-btn__content
                        .chi-icon
                          svg
                            use(xlink:href='#icon-atom')
                    button.chi-btn.-m--1(
                    class={
                      [`-${type}`]: type !== 'solid',
                      [`-${style}`]: style !== 'default',
                      [`-${state}`]: state !== 'initial',
                      [`-${size}`]: size !== 'default'
                    }
                    disabled=state === 'disabled' ? 'disabled' : false
                    )
                      .chi-btn__content
                        .chi-icon
                          svg
                            use(xlink:href='#icon-atom')
                        span Button

  if size === 'default'
    .test-float
      h2 Button / floating
      table(cellpadding="0", cellspacing="0")
        each state in ['initial', 'hover', 'active', 'focus', 'disabled']
          tr
            td
              small= `${state}`
            each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
              if style === 'light'
                td.-bg--black
                  button(type="button", class=`chi-btn -float -${style} -${state} -mx--2 -m--1`, aria-label='Button action')
                    .chi-btn__content
                      .chi-icon
                        svg
                          use(xlink:href='#icon-atom')
              else
                td
                  button(type="button", class=`chi-btn -float -${style} -${state} -mx--2 -m--1`, aria-label='Button action')
                    .chi-btn__content
                      .chi-icon
                        svg
                          use(xlink:href='#icon-atom')

each size in ['default', 'sm', 'md', 'lg', 'xl']
  div(class={
    [`test-${type}`]: size === 'default',
    [`test-${type}-${size}`]: size !== 'default'
  })
    span.chi-h2= `Button Close Icon / ${size}`
    table(cellpadding="0", cellspacing="0")
      tr
        td
          button(class=`chi-btn -icon -close -${size}`, aria-label='Close')
            .chi-btn__content
              .chi-icon
                svg
                  use(xlink:href='#icon-x')
