---
title: Horizontal button groups
---

mixin icon(name)
  .a-icon
    svg
      use(xlink:href=`#icon-${name}`)

mixin button(icon, type, style, size, modifier)
  button.a-btn(class={
    '-icon': icon,
    [`-${type}`]: type != 'solid',
    [`-${style}`]: style != 'default',
    [`-${modifier}`]: modifier,
    [`-${size}`]: size != 'default'
  },
  aria-label='Button action')
    if block
      block

each size in ['default', 'sm', 'small', 'md', 'lg', 'large', 'xl']
  each type in ['solid', 'outline', 'flat']
    div(class={
      [`test-${type}`]: size == 'default',
      [`test-${type}-${size}`]: size != 'default'
    })
      span.a-h2= `Horizontal button groups / ${type} / ${size}`
      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
          tr
            each val, index in [2,3,4]
              td
                .m-btnGroup.-m--1(class={'-ml--3': index != 0})
                  while val > 0
                    - val--
                    +button(false, type, style, size)
                      | Button
          tr
            each val, index in [2,3,4]
              td
                .m-btnGroup.-pill.-m--1(class={'-ml--3': index != 0})
                  while val > 0
                    - val--
                    +button(false, type, style, size)
                      | Button
      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
          tr
            each val, index in [2,3,4]
              td
                .m-btnGroup.-m--1(class={'-ml--3': index != 0})
                  while val > 0
                    - val--
                    +button(true, type, style, size)
                      .a-btn__content
                        +icon('atom')
          tr
            each val, index in [2,3,4]
              td
                .m-btnGroup.-pill.-m--1(class={'-ml--3': index != 0})
                  while val > 0
                    - val--
                    +button(true, type, style, size)
                      .a-btn__content
                        +icon('atom')
      table(cellpadding="0", cellspacing="0")
        each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
          tr
            each val, index in [2,3,4]
              td
                .m-btnGroup.-m--1(class={'-ml--3': index != 0})
                  while val > 0
                    - val--
                    +button(false, type, style, size)
                      .a-btn__content
                        +icon('atom')
                        span Button
          tr
            each val, index in [2,3,4]
              td
                .m-btnGroup.-m--1.-pill(class={'-ml--3': index != 0})
                  while val > 0
                    - val--
                    +button(false, type, style, size)
                      .a-btn__content
                        +icon('atom')
                        span Button

    div(class={
      [`test-${type}-fluid`]: size == 'default',
      [`test-${type}-${size}-fluid`]: size != 'default'
    })
      span.a-h2= `Horizontal Button groups / ${type} / ${size} / fluid`
      table(cellpadding="0", cellspacing="0", width="600")
        each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
          tr
            td
              .m-btnGroup.-fluid.-m--1
                each modifier in ['notFluid', 'align--left', false, 'align--right']
                  +button(false, type, style, size, modifier)
                    | Button
          tr
            td
              .m-btnGroup.-pill.-fluid.-m--1
                each modifier in ['notFluid', 'align--left', false, 'align--right']
                  +button(false, type, style, size, modifier)
                    | Button

      table(cellpadding="0", cellspacing="0", width="300")
        each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
          tr
            td
              .m-btnGroup.-fluid.-m--1
                each modifier in ['notFluid', 'align--left', false, 'align--right']
                  +button(true, type, style, size, modifier)
                    .a-btn__content
                      +icon('atom')
          tr
            td
              .m-btnGroup.-pill.-fluid.-m--1
                each modifier in ['notFluid', 'align--left', false, 'align--right']
                  +button(true, type, style, size, modifier)
                    .a-btn__content
                      +icon('atom')

      table(cellpadding="0", cellspacing="0", width="600")
        each style in ['default', 'primary', 'secondary', 'danger', 'dark', 'light']
          tr
            td
              .m-btnGroup.-fluid.-m--1
                each modifier in ['notFluid', 'align--left', false, 'align--right']
                  +button(false, type, style, size, modifier)
                    .a-btn__content
                      +icon('atom')
                      span Button
          tr
            td
              .m-btnGroup.-pill.-fluid.-m--1
                each modifier in ['notFluid', 'align--left', false, 'align--right']
                  +button(false, type, style, size, modifier)
                    .a-btn__content
                      +icon('atom')
                      span Button
