---
title: Checkbox
---

.test-states
  each state, index in ['default', 'hover', 'focus', 'checked', 'disabled']
    h5= `Checkbox / ${state}`
    .m-formGroup.-mb--1
      input.a-input(
        type="checkbox"
        id=`checkbox-${index}`
        class={
          [`-${state}`]: state == 'focus'
        }
        checked=state=='checked' ? 'checked' : false
        disabled=state=='disabled' ? 'disabled' : false
      )
      label(
        for=`checkbox-${index}`
        class={
          [`-${state}`]: state == 'hover'
        }
      )
      label(for=`checkbox-${index}`) Checkbox

h2 Checkbox List
.test-states
  each state, index in ['default', 'hover', 'focus', 'checked', 'disabled']
    h5= `Checkbox / ${state}`
    ul.m-formGroup.-list(style="max-width:20rem")
      each element in [1, 2, 3, 4, 5]
        li.m-formGroup
          input.a-input(
          type="checkbox"
          id=`checkbox--${element}`
          class={
            [`-${state}`]: state == 'focus'
          }
          checked=state == 'checked' ? 'checked' : false
          disabled=state == 'disabled' ? 'disabled' : false
          )
          label(
          for=`checkbox--${element}`
          class={
            [`-${state}`]: state == 'hover'
          }
          )
          label(for=`checkbox--${element}`)= `Checkbox-${element}`
