---
title: Date picker
scripts:
  - js/chi
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

-  let day = 1;
-  const weekS = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
-  const today = 19;
-  const active = 23;

.test-base
  span.-text--h2 Base
  .-position--relative
    .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .chi-datepicker__month-row
        .prev
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .chi-datepicker__month
          | November 2018
        .next
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .chi-datepicker__day-names
        each weekDay in weekS
          .chi-datepicker__week-day=weekDay
      .chi-datepicker__days
        while day < 31
          .chi-datepicker__day=day++

- day = 1;

.test-today
  span.-text--h2 Today
  .-position--relative
    .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .chi-datepicker__month-row
        .prev
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .chi-datepicker__month
          | November 2018
        .next
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .chi-datepicker__day-names
        each weekDay in weekS
          .chi-datepicker__week-day=weekDay
      .chi-datepicker__days
        while day < 31
          if day === today
            .chi-datepicker__day.-today=day++
          else
            .chi-datepicker__day=day++

- day = 1;

.test-active
  span.-text--h2 Active
  .-position--relative
    .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .chi-datepicker__month-row
        .prev
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .chi-datepicker__month
          | November 2018
        .next
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .chi-datepicker__day-names
        each weekDay in weekS
          .chi-datepicker__week-day=weekDay
      .chi-datepicker__days
        while day < 31
          if day === active
            .chi-datepicker__day.-active=day++
          else
            .chi-datepicker__day=day++

- day = 1;

.test-hover
  span.-text--h2 Hover
  .-position--relative
    .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .chi-datepicker__month-row
        .prev
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .chi-datepicker__month
          | November 2018
        .next
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .chi-datepicker__day-names
        each weekDay in weekS
          .chi-datepicker__week-day=weekDay
      .chi-datepicker__days
        while day < 31
          if day === active
            .chi-datepicker__day.-hover=day++
          else
            .chi-datepicker__day=day++


- day = 1;

.test-inactive
  span.-text--h2 Inactive
  .-position--relative
    .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .chi-datepicker__month-row
        .prev.-disabled
          .chi-icon.-sm
            svg
              use(xlink:href='#icon-chevron-left')
        .chi-datepicker__month
          | November 2018
        .next.-disabled
          .chi-icon.-sm
            svg
              use(xlink:href='#icon-chevron-right')
      .chi-datepicker__day-names
        each weekDay in weekS
          .chi-datepicker__week-day=weekDay
      .chi-datepicker__days
        while day < 31
          if day < today || day > today
            .chi-datepicker__day.-inactive=day++
          else
            .chi-datepicker__day=day++

- day = 1;

.test-combined
  span.-text--h2 Combined
  .-position--relative
    .chi-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .chi-datepicker__month-row
        .prev.-disabled
          .chi-icon.-sm
            svg
              use(xlink:href='#icon-chevron-left')
        .chi-datepicker__month
          | November 2018
        .next
          .chi-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .chi-datepicker__day-names
        each weekDay in weekS
          .chi-datepicker__week-day=weekDay
      .chi-datepicker__days
        while day < 31
          if day === active
            .chi-datepicker__day.-active=day++
          else if day < today
            .chi-datepicker__day.-inactive=day++
          else
            .chi-datepicker__day=day++

.test-input-combined
  span.-text--h2 Input Popover Combined
  .-position--relative(style="height: 18rem; width:14rem;")
    input#datepicker-1.chi-input.-load__datepicker(type="text", placeholder="MM/DD/YYYY")

.test-input-combined-icon
  span.-text--h2 Input Popover Combined w/ icon
  .-position--relative(style="height: 18rem; width:14rem;")
    .chi-input__wrapper.-icon--right
      input#datepicker-2.chi-input.-load__datepicker(type="text", placeholder="MM/DD/YYYY")
      .chi-icon.-icon--muted
        svg
          use(xlink:href="#icon-date")

.test-disabled
  span.-text--h2 Disabled date picker
  .-position--relative(style="width:14rem;")
    .chi-input__wrapper.-icon--right.-disabled
      input.chi-input.-load__datepicker(type="text", placeholder="MM/DD/YYYY", disabled)
      .chi-icon.-icon--muted
        svg
          use(xlink:href="#icon-date")

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.datePicker(
        document.getElementById('datepicker-1'),
        {
          date: '01/24/2019',
          min: '01/24/2019'
        }
      );
      chi.datePicker(
        document.getElementById('datepicker-2'),
        {
          date: '01/24/2019',
          min: '01/24/2019'
        }
      );

      document.getElementById('datepicker-1').focus();
      document.getElementById('datepicker-2').focus();
      document.getElementById('datepicker-2').blur();

    }
  );
