---
title: Date picker
scripts:
  - js/chi
  - js/ce/ux-chi-ce
---
-  let day = 1;
-  const weekS = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
-  const today = 19;
-  const active = 23;

.test-base
  span.a-h2 Base
  .-position--relative
    .m-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .m-datepicker__month-row
        .prev
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .m-datepicker__month
          | November 2018
        .next
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .m-datepicker__day-names
        each weekDay in weekS
          .m-datepicker__week-day=weekDay
      .m-datepicker__days
        while day < 31
          .m-datepicker__day=day++

- day = 1;

.test-today
  span.a-h2 Today
  .-position--relative
    .m-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .m-datepicker__month-row
        .prev
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .m-datepicker__month
          | November 2018
        .next
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .m-datepicker__day-names
        each weekDay in weekS
          .m-datepicker__week-day=weekDay
      .m-datepicker__days
        while day < 31
          if day === today
            .m-datepicker__day.-today=day++
          else
            .m-datepicker__day=day++

- day = 1;

.test-active
  span.a-h2 Active
  .-position--relative
    .m-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .m-datepicker__month-row
        .prev
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .m-datepicker__month
          | November 2018
        .next
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .m-datepicker__day-names
        each weekDay in weekS
          .m-datepicker__week-day=weekDay
      .m-datepicker__days
        while day < 31
          if day === active
            .m-datepicker__day.-active=day++
          else
            .m-datepicker__day=day++

- day = 1;

.test-hover
  span.a-h2 Hover
  .-position--relative
    .m-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .m-datepicker__month-row
        .prev
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-left')
        .m-datepicker__month
          | November 2018
        .next
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .m-datepicker__day-names
        each weekDay in weekS
          .m-datepicker__week-day=weekDay
      .m-datepicker__days
        while day < 31
          if day === active
            .m-datepicker__day.-hover=day++
          else
            .m-datepicker__day=day++


- day = 1;

.test-inactive
  span.a-h2 Inactive
  .-position--relative
    .m-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .m-datepicker__month-row
        .prev.-disabled
          .a-icon.-sm
            svg
              use(xlink:href='#icon-chevron-left')
        .m-datepicker__month
          | November 2018
        .next.-disabled
          .a-icon.-sm
            svg
              use(xlink:href='#icon-chevron-right')
      .m-datepicker__day-names
        each weekDay in weekS
          .m-datepicker__week-day=weekDay
      .m-datepicker__days
        while day < 31
          if day < today || day > today
            .m-datepicker__day.-inactive=day++
          else
            .m-datepicker__day=day++

- day = 1;

.test-combined
  span.a-h2 Combined
  .-position--relative
    .m-datepicker.-week-starts-on-sun.-month-starts-on-thu
      .m-datepicker__month-row
        .prev.-disabled
          .a-icon.-sm
            svg
              use(xlink:href='#icon-chevron-left')
        .m-datepicker__month
          | November 2018
        .next
          .a-icon.-sm.-text--brand
            svg
              use(xlink:href='#icon-chevron-right')
      .m-datepicker__day-names
        each weekDay in weekS
          .m-datepicker__week-day=weekDay
      .m-datepicker__days
        while day < 31
          if day === active
            .m-datepicker__day.-active=day++
          else if day < today
            .m-datepicker__day.-inactive=day++
          else
            .m-datepicker__day=day++

.test-input-combined
  span.a-h2 Input Popover Combined
  .-position--relative(style="height: 18rem; width:14rem;")
    input#datepicker-1.a-input.-load__datepicker(type="text", placeholder="mm/dd/yyyy")

.test-input-combined-icon
  span.a-h2 Input Popover Combined w/ icon
  .-position--relative(style="height: 18rem; width:14rem;")
    .a-inputWrapper.-icon--right
      input#datepicker-2.a-input.-load__datepicker(type="text", placeholder="mm/dd/yyyy")
      .a-icon.-text--muted
        svg
          use(xlink:href="#icon-date")

.test-disabled
  span.a-h2 Disabled date picker
  .-position--relative(style="width:14rem;")
    .a-inputWrapper.-icon--right.-disabled
      input.a-input.-load__datepicker(type="text", placeholder="mm/dd/yyyy", disabled)
      .a-icon.-text--muted
        svg
          use(xlink:href="#icon-date")

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.datePicker(
        document.getElementById('datepicker-1'),
        {
          date: '01/24/2019',
          min: '01/24/2019'
        }
      );
      chi.datePicker(
        document.getElementById('datepicker-2'),
        {
          date: '01/24/2019',
          min: '01/24/2019'
        }
      );

      document.getElementById('datepicker-1').focus();
      document.getElementById('datepicker-2').focus();
      document.getElementById('datepicker-2').blur();

    }
  );
