---
title: Dropdown
---

- var dropdownStates = ["", "-active"];
- var textCombinations = [{"t_text": "Click me", "d_text": "Element"}, {"t_text": "Long trigger text, click me", "d_text": "Element"}, {"t_text": "Click me", "d_text": "Long text dropdown element"}];
- var menuItemStates = [{"title":"Normal", "class": ""}, {"title":"Active", "class": "-active"}, {"title":"Disabled", "class": "-disabled"}, {"title":"Hover", "class": "-hover"}];

each menuItemState in menuItemStates
  div(class=`test-basicDropdown${menuItemState.class}`)
    span.-text--h2=menuItemState.title
    .-d--flex
      each textCombination in textCombinations
        each dropdownState in dropdownStates
          .chi-dropdown(style="margin-bottom: 8em")
            button(class=`chi-button chi-dropdown__trigger ${dropdownState}`)=textCombination.t_text
            div(class=`chi-dropdown__menu ${dropdownState}`)
              each i in [1, 2, 3]
                a(class=`chi-dropdown__menu-item ${menuItemState.class}`, href='#')=textCombination.d_text + " " + i

each menuItemState in menuItemStates
  div(class=`test-basicDropdown${menuItemState.class}-inverse`)
    span.-text--h2=menuItemState.title
    .-d--flex
      each textCombination in textCombinations
        each dropdownState in dropdownStates
          .chi-dropdown(style="margin-bottom: 8em")
            button(class=`chi-button chi-dropdown__trigger ${dropdownState}`)=textCombination.t_text
            div(class=`chi-dropdown__menu -inverse ${dropdownState}`)
              each i in [1, 2, 3]
                a(class=`chi-dropdown__menu-item ${menuItemState.class}`, href='#')=textCombination.d_text + " " + i

div(class=`test-dropdown-list`)
  span.-text--h2 List
  .-d--flex
    div(class=`chi-dropdown__menu -list -active`)
      a.chi-dropdown__menu-item(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Normal element
      a.chi-dropdown__menu-item.-active(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Active element
      a.chi-dropdown__menu-item.-disabled(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Disabled element
      a.chi-dropdown__menu-item.-hover(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Hovered item

div(class=`test-dropdown-list-inverse`)
  span.-text--h2 List
  .-d--flex
    div(class=`chi-dropdown__menu -list -inverse -active`)
      a.chi-dropdown__menu-item(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Normal element
      a.chi-dropdown__menu-item.-active(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Active element
      a.chi-dropdown__menu-item.-disabled(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Disabled element
      a.chi-dropdown__menu-item.-hover(href='#')
        p.chi-dropdown__menu-item_title Normal element
        p.chi-dropdown__menu-item_text Hovered item

div(class=`test-dropdown-divider`)
  span.-text--h2 Divider
  .-d--flex
    div(class=`chi-dropdown__menu -active`)
      each i in [1, 2]
        a(class=`chi-dropdown__menu-item`, href='#')="Text " + i
      .chi-divider
      each i in [3, 4]
        a(class=`chi-dropdown__menu-item`, href='#')="Text " + i

div(class=`test-dropdown-divider-inverse`)
  span.-text--h2 Divider Inverse
  .-d--flex
    div(class=`chi-dropdown__menu -inverse -active`)
      each i in [1, 2]
        a(class=`chi-dropdown__menu-item`, href='#')="Text " + i
      .chi-divider.-inverse
      each i in [3, 4]
        a(class=`chi-dropdown__menu-item`, href='#')="Text " + i

div(class=`test-dropdown-icons`)
  span.-text--h2 Icons
  .-d--flex
    .chi-dropdown__menu.-active
      a.chi-dropdown__menu-item(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-file-outline')
        = "New"
      a.chi-dropdown__menu-item.-disabled(href='http://www.centurylink.com')
        .chi-icon
          svg
            use(xlink:href='#icon-arrow-to-bottom')
        = "Save"
      .chi-divider
      a.chi-dropdown__menu-item(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-mail')
        = "Send"
      a.chi-dropdown__menu-item.-active(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-cart')
        = "Buy"
      a.chi-dropdown__menu-item.-hover(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-users')
        = "Share"
      .chi-divider
      a.chi-dropdown__menu-item(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-logout')
        = "Logout"

div(class=`test-dropdown-icons-inverse`)
  span.-text--h2 Icons Inverse
  .-d--flex
    .chi-dropdown__menu.-active.-inverse
      a.chi-dropdown__menu-item(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-file-outline')
        = "New"
      a.chi-dropdown__menu-item.-disabled(href='http://www.centurylink.com')
        .chi-icon
          svg
            use(xlink:href='#icon-arrow-to-bottom')
        = "Save"
      .chi-divider.-inverse
      a.chi-dropdown__menu-item(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-mail')
        = "Send"
      a.chi-dropdown__menu-item.-active(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-cart')
        = "Buy"
      a.chi-dropdown__menu-item.-hover(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-users')
        = "Share"
      .chi-divider.-inverse
      a.chi-dropdown__menu-item(href='#')
        .chi-icon
          svg
            use(xlink:href='#icon-logout')
        = "Logout"

div(class=`test-dropdown-searchBox`)
  span.-text--h2 Search box
  .-d--flex
    .chi-dropdown__menu.-active
      .chi-input__wrapper.-icon--left.chi-dropdown__menu-item
        input(type="text", class="chi-input", placeholder="Search")
        .chi-icon
          svg
            use(xlink:href='#icon-search')
      a.chi-dropdown__menu-item(href='#') Element 1
      a.chi-dropdown__menu-item(href='#') Element 2

- var inputStates = ["", "disabled", "checked"]
div(class=`test-dropdown-checkbox`)
  span.-text--h2 checkbox
  .chi-dropdown__menu.-active
    each inputState in inputStates
      .chi-dropdown__menu-item
        .chi-checkbox
          input(type="checkbox", class="chi-checkbox__input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
          label.chi-checkbox__label(for=`checkbox${inputState}`)="Element checkbox " + inputState

div(class=`test-dropdown-checkbox-icon`)
  span.-text--h2 checkbox with icons
  .chi-dropdown__menu.-active
    each inputState in inputStates
      .chi-dropdown__menu-item
        .chi-checkbox
          input(type="checkbox", class="chi-checkbox__input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
          label.chi-checkbox__label(for=`checkbox${inputState}`)
            .chi-icon
              svg
                use(xlink:href='#icon-logo-centurylink')
            ="Element checkbox " + inputState

- var inputStates = ["", "disabled", "checked"]
div(class=`test-dropdown-radio`)
  span.-text--h2 radio
  .chi-dropdown__menu.-active
    each inputState in inputStates
      .chi-dropdown__menu-item
        .chi-radio
          input(type="radio", class="chi-radio__input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
          label.chi-radio__label(for=`radio${inputState}`)="Element radio " + inputState

div(class=`test-dropdown-radio-icon`)
  span.-text--h2 radio with icons
  .chi-dropdown__menu.-active
    each inputState in inputStates
      .chi-dropdown__menu-item
        .chi-radio
          input(type="radio", class="chi-radio__input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
          label.chi-radio__label(for=`radio${inputState}`)
            .chi-icon
              svg
                use(xlink:href='#icon-logo-centurylink')
            ="Element radio " + inputState

div(class=`test-dropdown-text`)
  span.-text--h2 Plain text
  .-d--flex
    .chi-dropdown__menu.-active
      span.chi-dropdown__menu-item Text 1
      span.chi-dropdown__menu-item Text 2
      span.chi-dropdown__menu-item Text 3
      span.chi-dropdown__menu-item Text 4

div(class=`test-dropdown-range`)
  span.-text--h2 Range
  .-d--flex
    .chi-dropdown__menu.-active
      .chi-dropdown__menu-item
        label.-text.-mr--2 200GB
        input.chi-input(type="range")
        label.-text.-ml--2 5TB
      .chi-divider
      span.chi-dropdown__menu-item Select range
      .chi-dropdown__menu-item
        input.chi-input(type="range")

div(class=`test-dropdown-toggle`)
  span.-text--h2 Toggle input
  .-d--flex
    .chi-dropdown__menu.-active
      .chi-dropdown__menu-item.-h--auto
        .chi-form__item
          label.chi-switch(for="toggle1")
            input(type="checkbox", class="chi-switch__input", id="toggle1")
            span(class="chi-switch__content")
              span.chi-switch__thumb
            span.chi-switch__label Label
      .chi-dropdown__menu-item.-h--auto
        .chi-form__item
          label.chi-switch(for="toggle2")
            input(type="checkbox", class="chi-switch__input", id="toggle2", checked)
            span(class="chi-switch__content")
              span.chi-switch__thumb
            span.chi-switch__label Label
      .chi-dropdown__menu-item.-h--auto
        .chi-form__item
          label.chi-switch(for="toggle3")
            input(type="checkbox", class="chi-switch__input", id="toggle3", disabled)
            span(class="chi-switch__content")
              span.chi-switch__thumb
            span.chi-switch__label Label


div(class=`test-dropdown-ellipsis-helper`)
  span.-text--h2 Ellipsis helper
  .-d--flex
    .chi-dropdown__menu.-active(style="width:10rem")
      a.chi-dropdown__menu-item(href='#') Element 1
      a.chi-dropdown__menu-item(href='#') Element 2
      a.chi-dropdown__menu-item(href='#')
        .-flex--ellipsis Longer text element 3
      a.chi-dropdown__menu-item(href='#') Element 4

div(class=`test-dropdown-higher-helper`)
  span.-text--h2 Higher menu items helper
  .-d--flex
    .chi-dropdown__menu.-active(style="width:10rem")
      a.chi-dropdown__menu-item(href="#") Link 1
      .chi-dropdown__menu-item.-h--auto.-py--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a.chi-dropdown__menu-item(href="#") Link 2

- var triggerSizes = ["-lg", "", "-sm"];
- var triggerStates = dropdownStates;
- var dropdownPositions = ["", "default", "initial", "top", "right", "bottom", "left", "top-start", "top-end", "right-start", "right-end", "bottom-start", "bottom-end", "left-start", "left-end"];

each triggerSize in triggerSizes
  div(class=`test-dropdown-button${triggerSize}`)
    span.-text--h2=`Button${triggerSize}`
    each triggerState in triggerStates
      span.-text--h3=`State ${triggerState}`
      each position in dropdownPositions
        .-d--flex
          button(class=`chi-button chi-dropdown__trigger ${triggerSize} ${triggerState}`, data-position=position)=`Button ${triggerState} ${position}`
