---
title: Dropdown
---

- var dropdownStates = ["", "-active"];
- var textCombinations = [{"t_text": "Click me", "d_text": "Element"}, {"t_text": "Long trigger text, click me", "d_text": "Element"}, {"t_text": "Click me", "d_text": "Long text dropdown element"}];
- var menuItemStates = [{"title":"Normal", "class": ""}, {"title":"Active", "class": "-active"}, {"title":"Disabled", "class": "-disabled"}, {"title":"Hover", "class": "-hover"}];

each menuItemState in menuItemStates
  div(class=`test-basicDropdown${menuItemState.class}`)
    span.a-h2=menuItemState.title
    .-d--flex
      each textCombination in textCombinations
        each dropdownState in dropdownStates
          .m-dropdown(style="margin-bottom: 8em")
            button(class=`a-btn m-dropdown__trigger ${dropdownState}`)=textCombination.t_text
            div(class=`m-dropdown__menu ${dropdownState}`)
              each i in [1, 2, 3]
                a(class=`m-dropdown__menu-item ${menuItemState.class}`, href='#')=textCombination.d_text + " " + i

div(class=`test-dropdown-divider`)
  span.a-h2 Divider
  .-d--flex
    div(class=`m-dropdown__menu -active`)
      each i in [1, 2]
        a(class=`m-dropdown__menu-item`, href='#')="Text " + i
      .a-divider
      each i in [3, 4]
        a(class=`m-dropdown__menu-item`, href='#')="Text " + i


div(class=`test-dropdown-icons`)
  span.a-h2 Icons
  .-d--flex
    .m-dropdown__menu.-active
      a.m-dropdown__menu-item(href='#')
        .a-icon
          svg
            use(xlink:href='#icon-file-outline')
        = "New"
      a.m-dropdown__menu-item.-disabled(href='http://www.centurylink.com')
        .a-icon
          svg
            use(xlink:href='#icon-arrow-to-bottom')
        = "Save"
      .a-divider
      a.m-dropdown__menu-item(href='#')
        .a-icon
          svg
            use(xlink:href='#icon-mail')
        = "Send"
      a.m-dropdown__menu-item.-active(href='#')
        .a-icon
          svg
            use(xlink:href='#icon-cart')
        = "Buy"
      a.m-dropdown__menu-item.-hover(href='#')
        .a-icon
          svg
            use(xlink:href='#icon-users')
        = "Share"
      .a-divider
      a.m-dropdown__menu-item(href='#')
        .a-icon
          svg
            use(xlink:href='#icon-logout')
        = "Logout"

div(class=`test-dropdown-searchBox`)
  span.a-h2 Search box
  .-d--flex
    .m-dropdown__menu.-active
      .m-input__wrapper.-icon--left.m-dropdown__menu-item
        input(type="text", class="a-input", placeholder="Search")
        .a-icon
          svg
            use(xlink:href='#icon-search')
      a.m-dropdown__menu-item(href='#') Element 1
      a.m-dropdown__menu-item(href='#') Element 2

- var inputStates = ["", "disabled", "checked"]
div(class=`test-dropdown-checkbox`)
  span.a-h2 checkbox
  .m-dropdown__menu.-active
    each inputState in inputStates
      .m-dropdown__menu-item
        .a-checkbox
          input(type="checkbox", class="a-checkbox__input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
          label.a-checkbox__label(for=`checkbox${inputState}`)="Element checkbox " + inputState

div(class=`test-dropdown-checkbox-icon`)
  span.a-h2 checkbox with icons
  .m-dropdown__menu.-active
    each inputState in inputStates
      .m-dropdown__menu-item
        .a-checkbox
          input(type="checkbox", class="a-checkbox__input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
          label.a-checkbox__label(for=`checkbox${inputState}`)
            .a-icon
              svg
                use(xlink:href='#icon-logo-centurylink')
            ="Element checkbox " + inputState

- var inputStates = ["", "disabled", "checked"]
div(class=`test-dropdown-radio`)
  span.a-h2 radio
  .m-dropdown__menu.-active
    each inputState in inputStates
      .m-dropdown__menu-item
        input(type="radio", class="a-input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
        label(for=`radio${inputState}`)
        label.-text(for=`radio${inputState}`)="Element radio " + inputState

div(class=`test-dropdown-radio-icon`)
  span.a-h2 radio with icons
  .m-dropdown__menu.-active
    each inputState in inputStates
      .m-dropdown__menu-item
        input(type="radio", class="a-input", checked=(inputState==="checked"), disabled=(inputState==="disabled"))
        label(for=`radio${inputState}`)
        label.-text(for=`radio${inputState}`)
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          ="Element radio " + inputState

div(class=`test-dropdown-text`)
  span.a-h2 Plain text
  .-d--flex
    .m-dropdown__menu.-active
      span.m-dropdown__menu-item Text 1
      span.m-dropdown__menu-item Text 2
      span.m-dropdown__menu-item Text 3
      span.m-dropdown__menu-item Text 4

div(class=`test-dropdown-range`)
  span.a-h2 Range
  .-d--flex
    .m-dropdown__menu.-active
      .m-dropdown__menu-item
        label.-text.-mr--2 200GB
        input.a-input(type="range")
        label.-text.-ml--2 5TB
      .a-divider
      span.m-dropdown__menu-item Select range
      .m-dropdown__menu-item
        input.a-input(type="range")

div(class=`test-dropdown-toggle`)
  span.a-h2 Toggle input
  .-d--flex
    .m-dropdown__menu.-active
      .m-dropdown__menu-item.-h--auto
        .m-form__item
          label.a-switch
            span.a-switch__label Toggle
            input(type="checkbox", class="a-switch__input -toggle", name="toggle1", value="toggle1", aria-describedby="toggle1", aria-label="toggle")
            span(id="toggle1", class="a-switch__content", aria-live="assertive")
              span.a-switch__thumb
              span.a-switch__on Enabled
              span.a-switch__off Disabled
      .m-dropdown__menu-item.-h--auto
        .m-form__item
          label.a-switch
            span.a-switch__label Toggle
            input(type="checkbox", class="a-switch__input -toggle", name="toggle2", value="toggle2", aria-describedby="toggle2", aria-label="toggle", checked)
            span(id="toggle2", class="a-switch__content", aria-live="assertive")
              span.a-switch__thumb
              span.a-switch__on Enabled
              span.a-switch__off Disabled
      .m-dropdown__menu-item.-h--auto
        .m-form__item
          label.a-switch
            span.a-switch__label Toggle
            input(type="checkbox", class="a-switch__input -toggle", name="toggle3", value="toggle3", aria-describedby="toggle3", aria-label="toggle", disabled)
            span(id="toggle3", class="a-switch__content", aria-live="assertive")
              span.a-switch__thumb
              span.a-switch__on Enabled
              span.a-switch__off Disabled


div(class=`test-dropdown-ellipsis-helper`)
  span.a-h2 Ellipsis helper
  .-d--flex
    .m-dropdown__menu.-active(style="width:10rem")
      a.m-dropdown__menu-item(href='#') Element 1
      a.m-dropdown__menu-item(href='#') Element 2
      a.m-dropdown__menu-item(href='#')
        .-flex--ellipsis Longer text element 3
      a.m-dropdown__menu-item(href='#') Element 4

div(class=`test-dropdown-higher-helper`)
  span.a-h2 Higher menu items helper
  .-d--flex
    .m-dropdown__menu.-active(style="width:10rem")
      a.m-dropdown__menu-item(href="#") Link 1
      .m-dropdown__menu-item.-h--auto.-py--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a.m-dropdown__menu-item(href="#") Link 2

- var triggerSizes = ["-lg", "", "-sm"];
- var triggerStates = dropdownStates;
- var dropdownPositions = ["", "default", "initial", "top", "right", "bottom", "left", "top-start", "top-end", "right-start", "right-end", "bottom-start", "bottom-end", "left-start", "left-end"];

each triggerSize in triggerSizes
  div(class=`test-dropdown-button${triggerSize}`)
    span.a-h2=`Button${triggerSize}`
    each triggerState in triggerStates
      span.a-h3=`State ${triggerState}`
      each position in dropdownPositions
        .-d--flex
          button(class=`a-btn m-dropdown__trigger ${triggerSize} ${triggerState}`, data-position=position)=`Button ${triggerState} ${position}`
