---
title: HTML Selects
---

each size in ['default', 'xs', 'sm', 'md', 'lg', 'xl']
  div(
    class=`test-${size}`
    class={
      '-lh--2': size == 'small'
    }
  )
    span.-text--h2= `HTML Select / ${size}`
    table(cellpadding="0", cellspacing="0", width="600px")
      each state in ['initial', 'hover', 'active', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'danger']
            td
              .-m--1
                select(
                  class='chi-select'
                  class={
                    [`-${style}`]: style != 'default',
                    [`-${size}`]: size != 'default',
                    [`-${state}`]: state != 'initial' && state != 'disabled'
                  }
                  disabled=state=='disabled' ? 'disabled' : false
                )
                  option Select
                  option An option
                  option Another option
