---
title: Hybrid buttons
---

each size in ['default', 'small', 'large']
  div(class={
    'test-base': size == 'default',
    [`test-${size}`]: size != 'default'
  })
    span.chi-h2= `Hybrid buttons / ${size}`
    .m-btnGroup
      button.chi-btn(class={
        [`-${size}`]: size != 'default'
      })
        .chi-btn__content
          .chi-icon
            svg
              use(xlink:href='#icon-atom')
          span Reinstall
      button.chi-btn.-icon(class={
        [`-${size}`]: size != 'default'
      })
        .chi-btn__content
          .chi-icon
            svg
              use(xlink:href='#icon-atom')

  div(class={
    'test-fluid': size == 'default',
    [`test-${size}-fluid`]: size != 'default'
  })
    span.chi-h2= `Hybrid buttons / ${size} / fluid`
    each modifier in ['align--left', '', 'align--right']
      .m-btnGroup.-fluid.-m--1(style="width:200px")
        button.chi-btn(class={
          [`-${size}`]: size != 'default',
          [`-${modifier}`]: modifier != ''
        }) Button
        button.chi-btn.-icon.-notFluid(class={
          [`-${size}`]: size != 'default'
        })
          .chi-btn__content
            .chi-icon
              svg
                use(xlink:href='#icon-atom')
