---
title: Icons
---
script(nomodule='' src='../../chi-icons.js')
- var sizes = ['xs', 'sm', 'sm--2', 'sm--3', 'md', 'lg', 'xl', 'xxl'];
- var icons = ['activity', 'address-book', 'api', 'arrow-down', 'arrow-left', 'arrow-right', 'arrow-up', 'arrow-long-down', 'arrow-long-left', 'arrow-long-right', 'arrow-long-up', 'arrow-sort', 'arrow-sync', 'arrow-to-bottom', 'arrow-vertical', 'arrows', 'asterisk', 'atom', 'attachment', 'autopay', 'ban', 'bank', 'bell-off-outline', 'bell-off', 'bell-outline', 'bell', 'bell-settings-outline', 'bookmark-outline', 'bookmark', 'box-application', 'box-cloudformation', 'box-container', 'box-deployment', 'box-fill', 'box-outline', 'box-script', 'box', 'cart-alt', 'cart-outline', 'cart', 'chart-bar', 'chart-line', 'chart-pie', 'chat-outline', 'chat', 'check-alt', 'check', 'checkbox-checked', 'checkbox', 'chevron-down', 'chevron-left', 'chevron-right', 'chevron-up', 'circle-alert-outline', 'circle-alert', 'circle-arrow-down-outline', 'circle-arrow-down', 'circle-arrow-up-outline', 'circle-arrow-up', 'circle-check-outline', 'circle-check', 'circle-clock-outline', 'circle-clock', 'circle-code-outline', 'circle-code', 'circle-gear-outline', 'circle-gear', 'circle-info-outline', 'circle-info', 'circle-minus-outline', 'circle-minus', 'circle-outline', 'circle-play-outline', 'circle-play', 'circle-plus-outline', 'circle-plus', 'circle-question-outline', 'circle-question', 'circle-reload-outline', 'circle-reload', 'circle-slash', 'circle-slash-outline', 'circle-stop-outline', 'circle-stop', 'circle-user', 'circle-warning', 'circle-wrench', 'circle-x-outline', 'circle-x', 'circle', 'cloud', 'comment-dots-outline', 'comment-dots', 'comment-outline', 'comment', 'comments-dots-outline', 'comments-dots', 'comments-outline', 'comments', 'compose-cancel', 'compose', 'copy', 'cost', 'database-outline', 'database', 'date', 'date-alt', 'delete', 'edge-solutions', 'edit', 'edit-cancel', 'edit-create', 'external-link', 'file-error-outline', 'file-export', 'file-invoice', 'file-outline', 'file', 'filter', 'flag', 'folder-gear', 'folder-open', 'folder', 'globe-network', 'globe-outline', 'grid', 'hand-gear', 'handshake', 'heart', 'home-outline', 'home', 'inbox-multiple', 'inbox', 'key', 'life-ring', 'link', 'list-alt', 'list', 'lock-outline', 'lock', 'login', 'logo-amazon', 'logo-aws', 'logo-azure', 'logo-centurylink', 'logo-cloudstack', 'logo-dimensiondata', 'logo-facebook', 'logo-github', 'logo-google', 'logo-hp', 'logo-linkedin', 'logo-linux', 'logo-openstack', 'logo-rackspace', 'logo-slack', 'logo-twitter', 'logo-vcloud', 'logo-vsphere', 'logo-youtube', 'logout', 'mail-outline', 'mail', 'map-marker-alt', 'map-marker', 'map-marker-outline', 'menu', 'microphone-mute', 'microphone', 'minus-alt', 'minus', 'more-vert', 'more', 'nodes', 'number', 'page-first', 'page-last', 'paste', 'pause', 'phone', 'play', 'plus-alt', 'plus', 'print', 'radio-checked', 'radio', 'refresh', 'reload', 'reset', 'rocket', 'search', 'settings', 'share', 'shield', 'spinner', 'square-minus-outline', 'square-minus', 'square-plus-outline', 'square-plus', 'star-outline', 'star', 'stop', 'sync', 'table-column-settings', 'table', 'tag-outline', 'tag', 'text', 'thumbtack-angle', 'ticket-wrench-multiple', 'ticket-wrench', 'triangle-down', 'triangle-left', 'triangle-right', 'triangle-up', 'triangle-wrench', 'unlock-outline', 'unlock', 'user-outline', 'user-settings', 'user', 'users', 'verified', 'video-camera-mute', 'video-camera', 'visible-off', 'visible', 'voip', 'warning-outline', 'warning', 'wifi-outline', 'wifi', 'wrench', 'x-alt', 'x'];
- var colors = ['', 'primary', 'success', 'warning', 'danger', 'muted', 'light', 'secondary', 'grey'];

h2 Sizes SVG
each size in sizes
  div(class=`test-sizes-svg-${size}`)
    .chi-icon(class=`-${size}`)
      svg(aria-hidden='true')
        use(xlink:href='#icon-atom')

h2 Sizes
.test-sizes
  .chi-grid
    each size in sizes
      .chi-col.-w--1.-o--1.-d--flex.-align-items--center
        h4= size
      .chi-col.-w--2.-d--flex.-align-items--center
        i(class=`chi-icon icon-atom -${size}`, aria-hidden='true')

h2 Single icon SVG
.test-single-svg
  .chi-grid
    .chi-col
      .chi-icon
        svg(aria-hidden='true')
          use(xlink:href='#icon-atom')

h2 Single icon
.test-single
  .chi-grid
    .chi-col.-w--2.-d--flex.-align-items--center
      i(class=`chi-icon icon-atom`, aria-hidden='true')

h2 Colors SVG
.test-colors-svg
  .chi-grid
    each color in colors
      .chi-col.-w--1.-o--1.-d--flex.-align-items--center
        h4= color
      .chi-col.-w--2.-d--flex.-align-items--center
        .chi-icon(class=`-icon--${color} -lg`)
          svg(aria-hidden='true')
            use(xlink:href='#icon-atom')

h2 Colors
.test-colors
  .chi-grid
    each color in colors
      .chi-col.-w--1.-o--1.-d--flex.-align-items--center
        h4= color
      .chi-col.-w--2.-d--flex.-align-items--center
        i(class=`chi-icon icon-atom -lg -icon--${color}`, aria-hidden='true')

h2 Icons SVG
.test-icons-svg
  .chi-grid(data-cy='icon-list')
    each name in icons
      .chi-col.-w--2.-o--1.-text--center
        .chi-icon.-sm(class=`-${size}`)
          svg(aria-hidden='true')
            use(xlink:href=`#icon-${name}`)
        h4= 'icon-' + name

h2 Icons
.test-icons
  .chi-grid(data-cy='icon-list')
    each name in icons
      .chi-col.-w--2.-o--1.-text--center
        i.chi-icon.-sm(class=`icon-${name}`, aria-hidden="true")
        h4= 'icon-' + name
