---
title: File Inputs
---

each size, index in ['default', 'sm', 'small', 'md', 'lg', 'large', 'xl']
  div(class=`test-${size}`)
    span.a-h2= `File Input / ${size}`
    table(cellpadding="0", cellspacing="0")
      tr
        td(width="100px")
          small initial
        td
          .-m--1
            input(type="file", id=`file-1-${index}`, class=`chi-input -${size}`)
            label(for=`file-1-${index}`) No file chosen
      tr
        td
          small hover
        td
          .-m--1
            input(type="file", id=`file-2-${index}`, class=`chi-input -${size}`)
            label(class="-hover", for=`file-2-${index}`) No file chosen
      tr
        td
          small focus
        td
          .-m--1
            input(type="file", id=`file-3-${index}`, class=`chi-input -focus -${size}`)
            label(for=`file-3-${index}`) No file chosen
      tr
        td
          small disabled
        td
          .-m--1
            input(type="file", id=`file-4-${index}`, class=`chi-input -${size}`, disabled)
            label(for=`file-4-${index}`) No file chosen
