---
title: File Inputs
---

each size, index in ['default', 'small', 'large']
  div(class=`test-${size}`)
    span.a-h2= `File Input / ${size}`
    table(cellpadding="0", cellspacing="0")
      tr
        td(width="100px")
          small initial
        td
          .-m1
            input(type="file", id=`file-1-${index}`, class=`a-input -${size}`)
            label(for=`file-1-${index}`) No file chosen
      tr
        td
          small hover
        td
          .-m1
            input(type="file", id=`file-2-${index}`, class=`a-input -${size}`)
            label(class="-hover", for=`file-2-${index}`) No file chosen
      tr
        td
          small focus
        td
          .-m1
            input(type="file", id=`file-3-${index}`, class=`a-input -focus -${size}`)
            label(for=`file-3-${index}`) No file chosen
      tr
        td
          small disabled
        td
          .-m1
            input(type="file", id=`file-4-${index}`, class=`a-input -${size}`, disabled)
            label(for=`file-4-${index}`) No file chosen
    span.a-h2= `File Input / ${size} / Pills`
    table(cellpadding="0", cellspacing="0")
      tr
        td(width="100px")
          small pill
        td
          .-m1
            input(type="file", id=`file-1-${index}`, class=`a-input -pill -${size}`)
            label(for=`file-1-${index}`) No file chosen
