---
title: Text Inputs
---

mixin input(style, state, size, disabled)
  input.a-input(
    type="text"
    class={
      [`-${style}`]:style != 'default',
      [`-${state}`]:state != 'initial',
      [`-${size}`]:size != 'default'
    }
    value="Value"
    disabled=state=='disabled'?'disabled':false
  )

mixin label(size)
  label.a-label(
  class={
    [`-${size}`]:size != 'default'
  }
  ) Label

mixin icon(name)
  .a-icon(class={
    [`-text${name}`]: ['success', 'warning', 'danger'].indexOf(name) != -1
  })
    svg
      if name == 'success'
        use(xlink:href='#icon-check')
      else if name == 'warning'
        use(xlink:href='#icon-warning')
      else if name == 'danger'
        use(xlink:href='#icon-circle-warning')
      else if name == 'default'
        use(xlink:href='#icon-circle-info-outline')
      else
        use(xlink:href=`#icon-${name}`)

each size in ['default', 'sm', 'small', 'md', 'lg', 'large', 'xl']
  div(class=`test-${size}`)
    span.a-h2= `Text Input / ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                +input(style, state, size, disabled)

each size in ['default', 'sm', 'small', 'md', 'lg', 'large', 'xl']
  div(class=`test-${size}`)
    span.a-h2= `Text Input + Label / ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-form__item.-labeled
                  +label(size)
                  +input(style, state, size, disabled, id='example')

  div(class=`test-${size}-icon-left`)
    span.a-h2= `Text Input / ${size} / icon left`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-input__wrapper.-icon--left
                  +input(style, state, size, disabled)
                  +icon('atom')

  div(class=`test-${size}-icon-left`)
    span.a-h2= `Text Input + Label / ${size} / icon left`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-form__item.-labeled
                  +label(size)
                  .m-input__wrapper.-icon--left
                    +input(style, state, size, disabled, id='example')
                    +icon('atom')

  div(class=`test-${size}-icon-right`)
    span.a-h2= `Text Input / ${size} / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-input__wrapper.-icon--right
                  +input(style, state, size, disabled)
                  if style == 'success'
                    .a-icon.-text--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .a-icon.-text--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .a-icon.-text--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .a-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-right`)
    span.a-h2= `Text Input + Label / ${size} / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-form__item.-labeled
                  +label(size)
                  .m-input__wrapper.-icon--right
                    +input(style, state, size, disabled, id='example')
                    if style == 'success'
                      .a-icon.-text--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .a-icon.-text--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .a-icon.-text--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .a-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-left-right`)
    span.a-h2= `Text Input / ${size} / icon left / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-input__wrapper.-icon--left.-icon--right
                  +input(style, state, size, disabled)
                  +icon('atom')
                  if style == 'success'
                    .a-icon.-text--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .a-icon.-text--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .a-icon.-text--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .a-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-left-right`)
    span.a-h2= `Text Input + label / ${size} / icon left / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-form__item.-labeled
                  +label(size)
                  .m-input__wrapper.-icon--left.-icon--right
                    +input(style, state, size, disabled, id='example')
                    +icon('atom')
                    if style == 'success'
                      .a-icon.-text--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .a-icon.-text--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .a-icon.-text--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .a-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-label-inline`)
    span.a-h2= `Text Input + label / ${size} / inline`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-form__item.-labeled.-label-inline
                  +label(size)
                  .m-input__wrapper
                    +input(style, state, size, disabled, id='example')

  div(class=`test-${size}-label-with-icon`)
    span.a-h2= `Text Input + label with icon ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .m-form__item.-labeled
                  .m-label__wrapper
                    +label(size)
                    i.a-icon.icon-circle-info-outline.-text--muted
                  .m-input__wrapper
                    +input(style, state, size, disabled, id='example')
