---
title: Text Inputs
---

mixin input(style, state, size, disabled)
  input.chi-input(
    type="text"
    class={
      [`-${style}`]:style != 'default',
      [`-${state}`]:state != 'initial',
      [`-${size}`]:size != 'default'
    }
    value="Value"
    disabled=state=='disabled'?'disabled':false
  )

mixin label(size)
  label.chi-label(
  class={
    [`-${size}`]:size != 'default'
  }
  ) Label

mixin icon(name)
  .chi-icon(class={
    [`-text${name}`]: ['success', 'warning', 'danger'].indexOf(name) != -1
  })
    svg
      if name == 'success'
        use(xlink:href='#icon-check')
      else if name == 'warning'
        use(xlink:href='#icon-warning')
      else if name == 'danger'
        use(xlink:href='#icon-circle-warning')
      else if name == 'default'
        use(xlink:href='#icon-circle-info-outline')
      else
        use(xlink:href=`#icon-${name}`)

each size in ['default', 'sm', 'md', 'lg', 'xl']
  div(class=`test-${size}`)
    span.-text--h2= `Text Input / ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                +input(style, state, size, disabled)

each size in ['default', 'sm', 'md', 'lg', 'xl']
  div(class=`test-${size}`)
    span.-text--h2= `Text Input + Label / ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-form__item
                  +label(size)
                  +input(style, state, size, disabled, id='example')

  div(class=`test-${size}-icon-left`)
    span.-text--h2= `Text Input / ${size} / icon left`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-input__wrapper.-icon--left
                  +input(style, state, size, disabled)
                  +icon('atom')

  div(class=`test-${size}-icon-left`)
    span.-text--h2= `Text Input + Label / ${size} / icon left`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-form__item
                  +label(size)
                  .chi-input__wrapper.-icon--left
                    +input(style, state, size, disabled, id='example')
                    +icon('atom')

  div(class=`test-${size}-icon-right`)
    span.-text--h2= `Text Input / ${size} / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-input__wrapper.-icon--right
                  +input(style, state, size, disabled)
                  if style == 'success'
                    .chi-icon.-icon--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .chi-icon.-icon--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .chi-icon.-icon--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .chi-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-right`)
    span.-text--h2= `Text Input + Label / ${size} / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-form__item
                  +label(size)
                  .chi-input__wrapper.-icon--right
                    +input(style, state, size, disabled, id='example')
                    if style == 'success'
                      .chi-icon.-icon--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .chi-icon.-icon--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .chi-icon.-icon--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .chi-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-left-right`)
    span.-text--h2= `Text Input / ${size} / icon left / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-input__wrapper.-icon--left.-icon--right
                  +input(style, state, size, disabled)
                  +icon('atom')
                  if style == 'success'
                    .chi-icon.-icon--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .chi-icon.-icon--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .chi-icon.-icon--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .chi-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-left-right`)
    span.-text--h2= `Text Input + label / ${size} / icon left / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-form__item
                  +label(size)
                  .chi-input__wrapper.-icon--left.-icon--right
                    +input(style, state, size, disabled, id='example')
                    +icon('atom')
                    if style == 'success'
                      .chi-icon.-icon--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .chi-icon.-icon--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .chi-icon.-icon--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .chi-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-label-inline`)
    span.-text--h2= `Text Input + label / ${size} / inline`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-form__item.-row
                  label.chi-label.-mr--1(class=`-${size}`)
                    | Label
                  +input(style, state, size, disabled, id='example')

  div(class=`test-${size}-label-with-icon`)
    span.-text--h2= `Text Input + label with icon ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td
              .-m--1
                .chi-form__item
                  .chi-label__wrapper
                    +label(size)
                    i.chi-icon.icon-circle-info-outline.-icon--muted
                  .chi-input__wrapper
                    +input(style, state, size, disabled, id='example')
