---
title: Marketing Icon
---
script(src='/chi-marketing-icons.js')

- var sizes = ['xs', 'sm', 'md', 'lg'];
- var icons = ['business-big-data', 'business-briefcase', 'business-calendar', 'business-checklist', 'business-consulting', 'business-cost-control', 'business-deal', 'business-finance', 'business-growth', 'business-lower-costs', 'business-opportunities', 'business-reports', 'business-solutions', 'business-support-ticket', 'business-time', 'device-desktop', 'device-ip-phone', 'device-laptop', 'device-mobile-phone', 'device-router', 'device-server', 'device-switch', 'device-video-streaming', 'people-admin', 'people-customer', 'people-executive', 'people-support', 'people-us-network', 'platform-adaptive-networking', 'platform-connected-security', 'platform-edge-compute', 'platform-it-agility-hybrid-cloud', 'platform-voice-unified-communications', 'products-apps', 'products-designs', 'products-network-solutions'];


h2 Sizes
each size in sizes
  div(class=`test-marketing-icon-size-${size}`)
    .chi-marketing-icon(class=`-${size}`)
      svg(aria-hidden='true')
        use(xlink:href='#icon-business-big-data')

h2 Single icon
.test-marketing-icon-single
  .chi-grid
    .chi-col
      .chi-marketing-icon
        svg(aria-hidden='true')
          use(xlink:href='#icon-business-big-data')

h2 Icons
.test-marketing-icon-list
  .chi-grid(data-cy='icon-list')
    each name in icons
      .chi-col.-w--2.-o--1.-text--center
        .chi-marketing-icon(class=`-${size}`)
          svg(aria-hidden='true')
            use(xlink:href=`#icon-${name}`)
        h4=name
