---
title: Pagination
---
- var steps = ['0', '1', '2', '3', '4', '5', '6'];

h4 Base
.test-base
  .example.-mb--3
    .-p--5
      nav.a-pagination(role='navigation', aria-label='Pagination')
        .m-btnGroup
          each step in steps
            if step == '0'
              a(class=`chi-btn`, href='#', aria-label='Previous')
                i(class="a-icon icon-chevron-left", aria-hidden='true')
                span.-sr--only Previous
            else if step == '6'
              a(class=`chi-btn`, href='#')
                i(class="a-icon icon-chevron-right", aria-hidden='true')
                span.-sr--only Next
            else
              a(class=`chi-btn`, href='#')= `${step}`
h4 Active
.test-active
  .example.-mb--3
    .-p--5
      nav.a-pagination(role='navigation', aria-label='Pagination')
        .m-btnGroup
          each step in steps
            if step == '0'
              a(class=`chi-btn`, href='#', aria-label='Previous')
                i(class="a-icon icon-chevron-left", aria-hidden='true')
                span.-sr--only Previous
            else if step == '3'
              a(class=`chi-btn -active`, href='#')= `${step}`
            else if step == '6'
              a(class=`chi-btn`, href='#')
                i(class="a-icon icon-chevron-right", aria-hidden='true')
                span.-sr--only Next
            else
              a(class=`chi-btn`, href='#')= `${step}`
h4 Disabled
.test-disabled
  .example.-mb--3
    .-p--5
      nav.a-pagination(role='navigation', aria-label='Pagination')
        .m-btnGroup
          each step in steps
            if step == '0'
              a(class=`chi-btn -disabled`, href='#', aria-disabled='true' disabled)
                i(class="a-icon icon-chevron-left", aria-hidden='true')
                span.-sr--only Previous
            else if step == '6'
              a(class=`chi-btn`, href='#')
                i(class="a-icon icon-chevron-right", aria-hidden='true')
                span.-sr--only Next
            else
              a(class=`chi-btn`, href='#')= `${step}`
h4 Sizes
h4 Base
.test-sizes
  table(cellpadding="0", cellspacing="0", width="600px")
    each size in ['sm', 'md', 'lg', 'xl']
      tr
        td
          h5= `-${size}`
          td
            .-m--2
              nav.a-pagination(role='navigation', aria-label='Pagination').-mb--2
                .m-btnGroup
                  each step in steps
                    if step == '0'
                      a(class=`chi-btn -${size}`, href='#', aria-label='Previous')
                        i(class="a-icon icon-chevron-left", aria-hidden='true')
                        span.-sr--only Previous
                    else if step == '6'
                      a(class=`chi-btn -${size}`, href='#')
                        i(class="a-icon icon-chevron-right", aria-hidden='true')
                        span.-sr--only Next
                    else
                      a(class=`chi-btn -${size}`, href='#')= `${step}`
