---
title: Picker
---

- var sizes = ['sm', 'md', 'lg'];

h2 Base

h3 Type checkbox
h4 Base
.test-base
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker
          input(type="checkbox", class="chi-picker__input", id=`i-${type}`)
          label(for=`i-${type}`)
            = type

h4 Base checked
.test-base-checked
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker
          input(type="checkbox", class="chi-picker__input", id=`i-checked-${type}`, checked=(type === 'Checkbox1'))
          label(for=`i-checked-${type}`)
            = type

h4 With checkbox
.test-with-checkbox
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker
          input(type="checkbox", class="chi-picker__input", id=`ic-${type}`)
          label(for=`ic-${type}`)
            div.chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type

h4 With checkbox checked
.test-with-checkbox-checked
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker
          input(type="checkbox", class="chi-picker__input", id=`ic-checked-${type}`, checked=(type === 'Checkbox1'))
          label(for=`ic-checked-${type}`)
            div.chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type

h4 With description
.test-with-description
  each type in ['Checkbox1','Checkbox2']
    .chi-picker
      input(type="checkbox", class="chi-picker__input", id=`id-${type}`)
      label(for=`id-${type}`)
        .chi-picker__content--start
          .chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type
          div.chi-picker__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.

h4 With description checked
.test-with-description-checked
  each type in ['Checkbox1','Checkbox2']
    .chi-picker
      input(type="checkbox", class="chi-picker__input", id=`id-checked-${type}`, checked=(type === 'Checkbox1'))
      label(for=`id-checked-${type}`)
        .chi-picker__content--start
          .chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type
          div.chi-picker__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.

h3 Type radio
h4 Base
.test-type-radio
  .example(style='width: 700px')
    .-p--3
      fieldset(id='type-radio')
        each type in ['Radio1','Radio2']
          .chi-picker
            input(type="radio", class="chi-picker__input", name='type-radio', id=`ei-${type}`)
            label(for=`ei-${type}`)
              = type

h4 Base checked
.test-type-radio-checked
  .example(style='width: 700px')
    .-p--3
      fieldset(id='type-radio-checked')
        each type in ['Radio1','Radio2']
          .chi-picker
            input(type="radio", class="chi-picker__input", name='type-radio-checked', id=`ei-checked-${type}`, checked=(type === 'Radio1'))
            label(for=`ei-checked-${type}`)
              = type

h4 With radio
.test-with-radio
  .example.-mb--3(style='width: 700px')
    .-p--3
      fieldset(id='with-radio')
        each type in ['Radio1','Radio2']
          .chi-picker
            input(type="radio", class="chi-picker__input", name='with-radio', id=`ri-${type}`)
            label(for=`ri-${type}`)
              .chi-form__item.-row
                span.chi-picker__radio
                span.chi-picker__label
                  =type

h4 With radio checked
.test-with-radio-checked
  .example.-mb--3(style='width: 700px')
    .-p--3
      fieldset(id='with-radio-checked')
        each type in ['Radio1','Radio2']
          .chi-picker
            input(type="radio", class="chi-picker__input", name='with-radio-checked', id=`ri-checked-${type}`, checked=(type === 'Radio1'))
            label(for=`ri-checked-${type}`)
              .chi-form__item.-row
                span.chi-picker__radio
                span.chi-picker__label
                  =type

h4 With description
.test-with-description
  fieldset
    legend.chi-label Legend
    .chi-picker
      input#ide-Radio1.chi-picker__input(name='with-radio-description', type='radio')
      label(for='ide-Radio1')
        .chi-picker__content--start
          .chi-form__item.-row
            span.chi-picker__radio
            span.chi-picker__label(for='ri-Radio1') Radio1
          .chi-picker__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
    .chi-picker
      input#ide-Radio2.chi-picker__input(name='with-radio-description', type='radio')
      label(for='ide-Radio2')
        .chi-picker__content--start
          .chi-form__item.-row
            span.chi-picker__radio
            span.chi-picker__label(for='ri-Radio2') Radio2
          .chi-picker__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.

h4 With description checked
.test-with-description-checked
  each type in ['Radio1','Radio2']
    .chi-picker
      input(type="radio", class="chi-picker__input", id=`id-checked-${type}`, checked=(type === 'Radio1'))
      label(for=`id-checked-${type}`)
        .chi-picker__content--start
          .chi-form__item.-row
              span.chi-picker__radio
              span.chi-picker__label
                =type
          div.chi-picker__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.

