---
title: Picker
---

- var sizes = ['sm', 'md', 'lg'];

h2 Base

h3 Type checkbox
h4 Base
.test-base
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker__item
          input(type="checkbox", class="chi-picker", id=`i-${type}`)
          label(for=`i-${type}`)
            = type

h4 Base checked
.test-base-checked
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker__item
          if type == 'Checkbox1'
            input(type="checkbox", class="chi-picker", id=`i-checked-${type}`, checked)
          else
            input(type="checkbox", class="chi-picker", id=`i-checked-${type}`)
          label(for=`i-checked-${type}`)
            = type

h4 With checkbox
.test-with-checkbox
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker__item
          input(type="checkbox", class="chi-picker", id=`ic-${type}`)
          label(for=`ic-${type}`)
            div.chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type

h4 With checkbox checked
.test-with-checkbox-checked
  .example(style='width: 700px')
    .-p--3
      each type in ['Checkbox1','Checkbox2']
        .chi-picker__item
          if type == 'Checkbox1'
            input(type="checkbox", class="chi-picker", id=`ic-checked-${type}`, checked)
          else
            input(type="checkbox", class="chi-picker", id=`ic-checked-${type}`)
          label(for=`ic-checked-${type}`)
            div.chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type

h4 With description
.test-with-description
  each type in ['Checkbox1','Checkbox2']
    .chi-picker__item
      input(type="checkbox", class="chi-picker", id=`id-${type}`)
      label(for=`id-${type}`)
        .chi-picker__content--start
          .chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type
          div.chi-picker__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.

h4 With description checked
.test-with-description-checked
  each type in ['Checkbox1','Checkbox2']
    .chi-picker__item
      if type == 'Checkbox1'
        input(type="checkbox", class="chi-picker", id=`id-checked-${type}`, checked)
      else
        input(type="checkbox", class="chi-picker", id=`id-checked-${type}`)
      label(for=`id-checked-${type}`)
        .chi-picker__content--start
          .chi-form__item.-row
              span.chi-picker__checkbox
              span.chi-picker__label
                =type
          div.chi-picker__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.

h3 Type radio
h4 Base
.test-type-radio
  .example(style='width: 700px')
    .-p--3
      fieldset(id='type-radio')
        each type in ['Radio1','Radio2']
          .chi-picker__item
            input(type="radio", class="chi-picker", name='type-radio', id=`ei-${type}`)
            label(for=`ei-${type}`)
              = type

h4 Base checked
.test-type-radio-checked
  .example(style='width: 700px')
    .-p--3
      fieldset(id='type-radio-checked')
        each type in ['Radio1','Radio2']
          .chi-picker__item
            if type == 'Radio1'
              input(type="radio", class="chi-picker", name='type-radio-checked', id=`ei-checked-${type}`, checked)
            else
              input(type="radio", class="chi-picker", name='type-radio-checked', id=`ei-checked-${type}`)
            label(for=`ei-checked-${type}`)
              = type

h4 With radio
.test-with-radio
  .example.-mb--3(style='width: 700px')
    .-p--3
      fieldset(id='with-radio')
        each type in ['Radio1','Radio2']
          .chi-picker__item
            input(type="radio", class="chi-picker", name='with-radio', id=`ri-${type}`)
            label(for=`ri-${type}`)
              .chi-form__item.-row
                span.chi-picker__radio
                span.chi-picker__label
                  =type

h4 With radio checked
.test-with-radio-checked
  .example.-mb--3(style='width: 700px')
    .-p--3
      fieldset(id='with-radio-checked')
        each type in ['Radio1','Radio2']
          .chi-picker__item
            if type == 'Radio1'
              input(type="radio", class="chi-picker", name='with-radio-checked', id=`ri-checked-${type}`, checked)
            else
              input(type="radio", class="chi-picker", name='with-radio-checked', id=`ri-checked-${type}`)
            label(for=`ri-checked-${type}`)
              .chi-form__item.-row
                span.chi-picker__radio
                span.chi-picker__label
                  =type

h3 Sizes
.test-sizes
  .example.-mb--3(style='width: 700px')
    .-p--4
      h4 -sm
      each type in ['Radio1 -sm','Radio2 -sm']
        .chi-picker__item.-sm
          input(type="radio", class="chi-picker", name='box', id=`ri-${type}`)
          label(for=`ri-${type}`)
            .chi-picker__content--start
              = type
            .chi-picker__content--end
              span.-text--bold.-text--body.-text--sm.-text--right Data
              span.-text--normal.-text--muted.-text--sm Value
      h4 -md
      each type in ['Radio1 -md','Radio2 -md']
        .chi-picker__item.-md
          input(type="radio", class="chi-picker", name='box', id=`ri-${type}`)
          label(for=`ri-${type}`)
            .chi-picker__content--start
              = type
            .chi-picker__content--end
              span.-text--bold.-text--body.-text--right Data
              span.-text--normal.-text--muted.-text--sm Value
      h4 -lg
      each type in ['Radio1 -lg','Radio2 -lg']
        .chi-picker__item.-lg
          input(type="radio", class="chi-picker", name='box', id=`ri-${type}`)
          label(for=`ri-${type}`)
            .chi-picker__content--start
              span.-text--bold
                = type
              span.-text--normal.-text--body.-text--sm Data:
                strong  Value
            .chi-picker__content--end
              span.-text--bold.-text--body.-text--lg Data
