---
title: Picker
---

- var sizes = ['sm', 'md', 'lg'];

h3 Base

h4 Type checkbox
h4 Base
.example.-mb--3(style='width: 700px')
  .-p--3
    each type in ['Checkbox1','Checkbox2']
      .m-picker
        input(type="checkbox", class="a-picker", id=`i-${type}`)
        label(for=`i-${type}`)
          = type
h4 With checkbox
.example.-mb--3(style='width: 700px')
  .-p--3
    each type in ['Checkbox1','Checkbox2']
      .m-picker
        input(type="checkbox", class="a-picker", id=`ic-${type}`)
        label(for=`ic-${type}`)
          .m-formGroup
            input(type="checkbox", class="a-input", id=`ic-${type}`)
            label(for=`ic-${type}`)
            = type
h4 Type radio
h4 Base
.example.-mb--3(style='width: 700px')
  .-p--3
    each type in ['Radio1','Radio2']
      .m-picker
        input(type="radio", class="a-picker", name='box', id=`ei-${type}`)
        label(for=`ei-${type}`)
          = type
h4 With radio
.example.-mb--3(style='width: 700px')
  .-p--3
    each type in ['Radio1','Radio2']
      .m-picker
        input(type="radio", class="a-picker", name='box', id=`ri-${type}`)
        label(for=`ri-${type}`)
          .m-formGroup
            input(type="radio", class="a-input", id=`ri-${type}`)
            label(for=`ri-${type}`)
            = type
h3 Sizes
.example.-mb--3(style='width: 700px')
  .-p--3
    each size in sizes
      h4= '-' + size
      each type in ['Radio1','Radio2']
        .m-picker(class=`-${size}`)
          input(type="radio", class="a-picker", name='box', id=`ri-${type}-${size}`)
          label(for=`ri-${type}-${size}`)
            .m-picker__content--start
              = type
            .m-picker__content--end
              span.-text--bold.-text--body.-text--right Data
              span.-text--normal.-text--muted.-text--small Value
      each type in ['Radio1','Radio2']
        .m-picker(class=`-${size}`)
          input(type="radio", class="a-picker", name='box', id=`rd-${type}-${size}`)
          label(for=`rd-${type}-${size}`)
            .m-picker__content--start
              label.-text--bold
                = type
              span.-text--normal.-text--body.-text--small Data:
                strong  Value
            .m-picker__content--end
              span.-text--bold.-text--body.-text--large Data
