---
title: Progress
---
each max in ['100', '200']
  each state, index in ['default', 'danger', 'info', 'warning', 'success']
    div(class=`test-${state}-max-${max}`)
      .example(style='width:1200px')
        .-p--3
          h3.-mb--3= `Progress / ${state} / ${max}`
          each value, index in [0,25,33.3,50,75,100]
            .-p--1
              .chi-label= `${value}%`
              progress( class=`-${state}` value=`${value}` max=max)
