---
title: Sidenav
---
- var sidenavTypes = ['', 'inverse']
- var menuItems=[1, 2, 3, 4];
- var drawerMenuItems=['A', 'B', 'C', 'D']
- var active = { menuItem: 1, drawerMenuItem: 'B' };

each sidenavType in sidenavTypes
  h2.-text--capitalized= `${sidenavType === '' ? 'base' : sidenavType }`
  div(class=`test-${sidenavType === '' ? 'base' : sidenavType }`, style='width: 40rem;')
    aside.m-sidenav.-flex--shrink0(class=`${sidenavType !== '' ? '-' + sidenavType : '' }`, style='height: 35rem;')
      .m-sidenav__content
        nav
          ul.m-sidenav__list
            each val in menuItems
              li(class=`${val===active.menuItem ? '-active':''}`)
                a
                  .a-icon
                    svg
                      use(xlink:href='#icon-atom')
                  span=val===active.menuItem ? 'Active Item' : 'Menu Item'
      .m-sidenav__drawers
        .m-drawer.-active.-animated.-left
          .m-drawer__header
            button(class='a-btn -icon -close', aria-label='Close')
              .a-btn__content
                i.a-icon.icon-x
          .m-drawer__content
            ul.m-sidenav__drawer-list
              each val2, index in drawerMenuItems
                li(class=`${val2 === 'A' ? '-active' : ''}`)
                  a(href=`#exampleHashTarget`)
                    if index % 4 < 2
                      .m-sidenav__title=`Title ${val2}`
                      p.m-sidenav__description Description for title a in a drawer inside a menu.
                    else
                      span.m-sidenav__title=`Title ${val2}`

h2 Enterprise Global Nav
.test-global-nav(style='width: 40rem;')
  aside.m-sidenav.-inverse.-global-nav.-flex--shrink0(style='height: 35rem;')
    .m-sidenav__content
      nav
        ul.m-sidenav__list
          each val in menuItems
            li(class=`${val===active.menuItem ? '-active':''}`)
              a
                .a-icon
                  svg
                    use(xlink:href='#icon-atom')
                span=val===active.menuItem ? 'Active Item' : 'Menu Item'
    .m-sidenav__drawers
      .m-drawer.-active.-animated.-left
        .m-drawer__header
          .a-drawer__title= 'Menu item 1'
          button(class='a-btn -icon -close', aria-label='Close')
            .a-btn__content
              i.a-icon.icon-x
        .m-drawer__content
          ul.m-sidenav__drawer-list
            each val2, index in drawerMenuItems
              if val2 === 'A' || val2 === 'B'
                li(class=`${val2===active.drawerMenuItem ? '-active -expanded':''}`)
                  a(href=`#drawer-item-list-${val1}-${val2}`)
                    .m-sidenav__title=`Title 1`
                  .m-sidenav__drawer-item-list
                    ul.a-tabs.-vertical.-sm
                      li
                        a(class=`a-sidenav__drawer-item-tab ${val2===active.drawerMenuItem ? '-active':''}`, href='#exampleHashTarget') Sub tab A
                      li
                        a(class='a-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab B
                      li
                        a(class='a-sidenav__drawer-item-tab', href='#exampleHashTarget') Sub tab C
              else
                li(class=`${val1===active.menuItem && val2===active.drawerMenuItem ? '-active -expanded':''}`)
                  a(href=`#exampleHashTarget`)
                    span.m-sidenav__title
                      =`Title 1`
                      .a-icon.-xs
                        svg
                          use(xlink:href='#icon-external-link')
