---
title: Spinner2
---

h2 Backdrop

h3 Base
.example.-mb3(style="height:40rem;width:100%")
  .a-spinner__backdrop.-p6(style="position:relative;height:100%;")
    svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
      title Loading
      circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)

h3 Inverse Backdrop
.example.-mb3(style="height:40rem;width:100%")
  .a-spinner__backdrop.-inverse.-p6(style="position:relative;height:100%;")
    svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
      title Loading
      circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)

h2 Contextual

each size in ['default', 'small', 'large']
  each type in ['solid', 'outline']
    div(class={
      [`test-${type}`]: size == 'default',
      [`test-${type}-${size}`]: size != 'default'
    })
      span.a-h3= `Button / ${type} / ${size}`
      table(cellpadding="0", cellspacing="0")
        each state in ['initial']
          tr
            td
            each style in ['default', 'brand', 'danger', 'info', 'dark']
              td
                input.a-btn.-m1.-ml2(
                type="button"
                class={
                  [`-${type}`]: type != 'solid',
                  [`-${style}`]: style != 'default',
                  [`-${state}`]: state != 'initial',
                  [`-${size}`]: size != 'default'
                }
                value="Button"
                disabled=state=='disabled' ? 'disabled' : false
                )
                a.a-btn.-icon.-m1(
                href="#"
                class={
                  [`-${type}`]: type != 'solid',
                  [`-${style}`]: style != 'default',
                  [`-${state}`]: state != 'initial',
                  [`-${size}`]: size != 'default'
                }
                disabled=state=='disabled' ? 'disabled' : false
                )
                  .a-btn__content
                    .a-spinner(class=`-${size}`)
                      svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
                        title Loading
                        circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)
                button.a-btn.-m1(
                class={
                  [`-${type}`]: type != 'solid',
                  [`-${style}`]: style != 'default',
                  [`-${state}`]: state != 'initial',
                  [`-${size}`]: size != 'default'
                }
                disabled=state=='disabled' ? 'disabled' : false
                )
                  .a-btn__content
                    span Button
                    .a-spinner(class=`-${size}`)
                      svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
                        title Loading
                        circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)

h3 Spinner Buttons
.example.-mb3
  .-p3
    button(class=`a-btn -mr3`)
      .a-btn__content
        span Button
        .a-spinner
          svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
            title Loading
            circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)
    button(class='a-btn -small -mr3')
      .a-btn__content
        span Small
        .a-spinner(class='-small')
          svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
            title Loading
            circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)
    button(class='a-btn -large -mr3')
      .a-btn__content
        span Large
        .a-spinner(class='-large')
          svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
            title Loading
            circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)

h3 Spinner Text Input
.example.-mb3
  .-p3
    .a-inputWrapper.-pb2(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      .a-spinner.-textMuted
        svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
          title Loading
          circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)
    .a-inputWrapper.-pb2(style="max-width:20rem")
      input(type="text", class="a-input -small", placeholder="Placeholder", value="Sample Text")
      .a-spinner.-small.-textMuted
        svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
          title Loading
          circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)
    .a-inputWrapper.-pb2(style="max-width:20rem")
      input(type="text", class="a-input -large", placeholder="Placeholder", value="Sample Text")
      .a-spinner.-large.-textMuted
        svg(class=`a-spinner__icon2`,viewBox=`0 0 100 100`)
          title Loading
          circle(class=`path`,cx=`50`,cy=`50`,r=`40`,fill=`none`,stroke-width=`10`)
