---
title: Spinner
---

h2 Backdrop

h3 Base
.example.-mb--3(style="height:30rem;width:100%")
  .a-backdrop.-p--6(style="position:relative;height:100%;")
    svg(class=`a-spinner -text--inverse`,viewBox=`0 0 66 66`)
      title Loading
      circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)

h3 Inverse Backdrop
.example.-mb--3(style="height:30rem;width:100%")
  .a-backdrop.-inverse.-p--6(style="position:relative;height:100%;")
    svg(class=`a-spinner -text--primary`,viewBox=`0 0 66 66`)
      title Loading
      circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)

h2 Contextual

h3 Spinner Buttons
.example.-mb--3
  .-p--3
    button(class=`a-btn -mr--3`)
      .a-btn__content
        span Button
        svg(class=`a-spinner -text--muted`,viewBox=`0 0 66 66`)
          title Loading
          circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)
    button(class='a-btn -small -mr--3')
      .a-btn__content
        span Small
        svg(class=`a-spinner -text--muted -xs`,viewBox=`0 0 66 66`)
          title Loading
          circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)
    button(class='a-btn -large -mr--3')
      .a-btn__content
        span Large
        svg(class=`a-spinner -text--muted -sm--2`,viewBox=`0 0 66 66`)
          title Loading
          circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)

h3 Spinner Text Input
.example.-mb--3
  .-p--3
    .a-inputWrapper.-pb--2(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      svg(class=`a-spinner -text--muted`,viewBox=`0 0 66 66`)
        title Loading
        circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)
    .a-inputWrapper.-pb--2(style="max-width:20rem")
      input(type="text", class="a-input -small", placeholder="Placeholder", value="Sample Text")
      svg(class=`a-spinner -text--muted -xs`,viewBox=`0 0 66 66`)
        title Loading
        circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)
    .a-inputWrapper.-pb--2(style="max-width:20rem")
      input(type="text", class="a-input -large", placeholder="Placeholder", value="Sample Text")
      svg(class=`a-spinner -text--muted -sm--2`,viewBox=`0 0 66 66`)
        title Loading
        circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)

h2 Sizes
.test-sizes
  .a-grid
    each size in ['xs', 'sm', 'sm2', 'sm3', 'md', 'lg', 'xl', 'xxl']
      .a-col.-w--1.-o--1.-middle
        h4= size
      .a-col.-w--2.-middle
        svg(class=`a-spinner -text--muted -${size}`,viewBox=`0 0 66 66`)
          title Loading
          circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)

h2 Colors
.test-sizes
  .a-grid.-align-items--center
    each type in ['text--primary', 'text--success', 'text--warning', 'text--danger', 'text--info', 'text--muted']
      div.-p--2
        svg(class=`a-spinner -${type} -lg -m--3`,viewBox=`0 0 66 66`)
          title Loading
          circle(class=`path`,cx=`33`,cy=`33`,r=`30`,fill=`none`,stroke-width=`6`)
          p.-text(class=`-${type}`)
            = `-${type}`
