---
title: Steps
---

- var steps = ['Step 1', 'Step 2', 'Step 3', 'Step 4', 'Step 5'];

h4 Base
  .example.-mb--3(style="width:900px")
    .-p--3
      ul.a-steps.-mb--8
        each step in steps
          if step == 'Step 1'
            li.-active
              a(href='#')= `${step}`
          else
            li
              a(href='#')= `${step}`
      ul.a-steps.-mb--8
        each step in steps
          if step == 'Step 2'
            li.-active
              a(href='#')= `${step}`
          else
            li
              a(href='#')= `${step}`
      ul.a-steps.-mb--8
        each step in steps
          if step == 'Step 3'
            li.-active
              a(href='#')= `${step}`
          else
            li
              a(href='#')= `${step}`
      ul.a-steps.-mb--8
        each step in steps
          if step == 'Step 4'
            li.-active
              a(href='#')= `${step}`
          else
            li
              a(href='#')= `${step}`
      ul.a-steps.-mb--8
        each step in steps
          if step == 'Step 5'
            li.-active
              a(href='#')= `${step}`
          else
            li
              a(href='#')= `${step}`
