---
title: Tables
---

mixin str(cid, name, id, date, checked)
  tr(class={
    '-row--warning': checked
  })
    td.-lh--1
      input.a-input(
        type="checkbox"
        id=cid
        checked=checked
      )
      label(for=cid)
    td= name
    td= id
    td= date

mixin tr(name, id, date)
  tr&attributes(attributes)
    td= name
    td= id
    td= date

mixin table-fix-header(row, column)
  section.a-table(style="width: 640px")&attributes(attributes)
    div
      table(cellpadding="0", cellspacing="0")
        thead
          tr
            th(class={
              [`-sorted -${column}`]: column != undefined
            })
              div name
            th
              div ID
            th
              div last login
        tbody
          if column == 'ascending'
            +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')
            +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')(
              class={
                [`-${row}`]: row != undefined && row != 'disabled'
              }
              disabled= row=='disabled' ? 'disabled' : false
            )
            +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')
          else
            +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')
            +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')(
              class={
                [`-${row}`]: row != undefined && row != 'disabled'
              }
              disabled= row=='disabled' ? 'disabled' : false
            )
            +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')

mixin table(row, column, selectable)
  table.a-table&attributes(attributes)
    thead
      if !selectable
        tr(class=(`-${row}`))
          if column != undefined
            if column == 'ascending'
              th(class=(`-sorted -${column}`))
                div name
              th ID
              th last login
            else if column == 'descending'
              th(class=(`-sorted -${column}`))
                div name
              th ID
              th last login
          else
            th name
            th ID
            th last login
      else if selectable
        tr
          if column != undefined
            if column == 'ascending'
              th
                div.-lh--1
                  input.a-input(type="checkbox", id=`chk-1`)
                  label(for=`chk-1`)
              th(class=(`-sorted -${column}`))
                div name
              th ID
              th last login
            else if column == 'descending'
              th
                div.-lh--1
                  input.a-input(type="checkbox", id=`chk-1`)
                  label(for=`chk-1`)
              th(class=(`-sorted -${column}`))
                div name
              th ID
              th last login
          else
            th
              div.-lh--1
                input.a-input(type="checkbox", id=`chk-1`)
                label(for=`chk-1`)
            th name
            th ID
            th last login
    tbody
      if !selectable
        +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')(
        class={
          [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
        }
        )
        +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')(
        class={
          [`-${row}`]: row != undefined && row != 'disabled'
        }
        disabled= row=='disabled' ? 'disabled' : false
        )
        +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')(
        class={
          [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
        }
        )
      else if selectable
        +str(`chk-1-01`, 'David Navarro', 'david', 'Dec 18, 2017 3:26 PM', true)
        +str(`chk-1-02`, 'Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')
        +str(`chk-1-03`, 'Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')

.a-grid
  .a-col.-w--6
    h2 Without section container
    each tablestyle in ['default', 'striped']
      each borderstyle in ['default', 'bordered', 'borderless']
        div(class=`test-${tablestyle}-${borderstyle}`)
          span.a-h2
            | table
            if tablestyle != 'default'
              = ` / ${tablestyle}`
            if borderstyle != 'default'
              = ` / ${borderstyle}`
          +table()(class={
            [`-${tablestyle}`]: tablestyle!= 'default',
            [`-${borderstyle}`]: borderstyle!= 'default'
          })

    each rowstyle in ['disabled', 'row--success', 'row--warning', 'row--danger', 'row--info']
      div(class=`test-${rowstyle}`)
        span.a-h2= `table / ${rowstyle}`
        +table(rowstyle)

    each rowsize in ['xs', 'sm', 'md', 'lg', 'xl']
      div(class=`test-${rowsize}`)
        span.a-h2= `table / ${rowsize}`
        +table(rowsize)

    div(class=`test-hover`)
        span.a-h2= `table / hover`
        +table('hover').-hover

    each columnstyle in ['ascending', 'descending']
      div(class=`test-${columnstyle}`)
        span.a-h2= `table / column sort / ${columnstyle}`
        +table(undefined, columnstyle)

    div(class=`test-selectable`)
      span.a-h2
        | table
        = ' / selectable'
      section.a-table(
        style="width: 640px"
      )
        div
          table(cellpadding="0", cellspacing="0")
            thead
              tr
                th(width="48px")
                  div.-lh--1
                    input.a-input(type="checkbox", id=`chk-${index}`)
                    label(for=`chk-${index}`)
                th.-sorted.-descending
                  div name
                th
                  div ID
                th
                  div last login
            tbody
              +str(`chk-${index}-01`, 'David Navarro', 'david', 'Dec 18, 2017 3:26 PM', true)
              +str(`chk-${index}-02`, 'Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')
              +str(`chk-${index}-03`, 'Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')
  .a-col.-w--6
    h2 With section container
    each tablestyle in ['default', 'striped']
      each borderstyle in ['default', 'bordered', 'borderless']
        div(class=`test-${tablestyle}-${borderstyle}`)
          span.a-h2
            | table
            if tablestyle != 'default'
              = ` / ${tablestyle}`
            if borderstyle != 'default'
              = ` / ${borderstyle}`

          +table-fix-header()(class={
            [`-${tablestyle}`]: tablestyle != 'default',
            [`-${borderstyle}`]: borderstyle != 'default'
          })

    each rowstyle in ['disabled', 'row--success', 'row--warning', 'row--danger', 'row--info']
      div(class=`test-${rowstyle}`)
        span.a-h2= `table / ${rowstyle}`
        +table-fix-header(rowstyle)

    each rowsize in ['xs', 'sm', 'md', 'lg', 'xl']
      div(class=`test-${rowsize}`)
        span.a-h2= `table / ${rowsize}`
        +table(rowsize)

    div(class=`test-hover`)
      span.a-h2= `table / hover`
      +table-fix-header('hover').-hover

    each columnstyle in ['ascending', 'descending']
      div(class=`test-${columnstyle}`)
        span.a-h2= `table / column sort / ${columnstyle}`
        +table-fix-header(undefined, columnstyle)

    div(class=`test-selectable`)
      span.a-h2
        | table
        = ' / selectable'
      section.a-table(
      class=
      style="width: 640px"
      )
        div
          table(cellpadding="0", cellspacing="0")
            thead
              tr
                th(width="48px")
                  div.-lh--1
                    input.a-input(type="checkbox", id=`chk-${index}-a`)
                    label(for=`chk-${index}-a`)
                th.-sorted.-descending
                  div name
                th
                  div ID
                th
                  div last login
            tbody
              +str(`chk-${index}-01-1`, 'David Navarro', 'david', 'Dec 18, 2017 3:26 PM', true)
              +str(`chk-${index}-02-2`, 'Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')
              +str(`chk-${index}-03-3`, 'Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')

    div(class=`test-selectable`)
      span.a-h2
        | table
        = ' / scrollable'
      section.a-table.-fixed--header(style="height: 150px")
        div
          table
            thead
              tr
                th
                  div name
                th
                  div ID
                th
                  div last login
            tbody
              +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')
              +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')
              +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')
