---
title: Tables
---

mixin str(cid, name, id, date, checked)
  tr(class={
    '-row--info': checked
  })
    td.-lh--1
      input.chi-checkbox__input(
        type="checkbox"
        id=cid
        checked=checked
      )
      label.chi-checkbox__label(for=cid, style="margin-right: 0")
    td= name
    td= id
    td= date

mixin tr(name, id, date)
  tr&attributes(attributes)
    td= name
    td= id
    td= date

mixin table-fix-header(row, column)
  section.chi-table(style="width: 640px")&attributes(attributes)
    div
      table(cellpadding="0", cellspacing="0")
        thead
          tr
            th(class={
              [`-sorted -${column}`]: column != undefined
            })
              div name
            th
              div ID
            th
              div last login
        tbody
          if column == 'ascending'
            +tr('Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')
            +tr('Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')(
              class={
                [`-${row}`]: row != undefined && row != 'disabled'
              }
              disabled= row=='disabled' ? 'disabled' : false
            )
            +tr('Name 1', 'name-1', 'Dec 18, 2020 3:26 PM')
          else
            +tr('Name 1', 'name-1', 'Dec 18, 2020 3:26 PM')
            +tr('Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')(
              class={
                [`-${row}`]: row != undefined && row != 'disabled'
              }
              disabled= row=='disabled' ? 'disabled' : false
            )
            +tr('Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')

mixin table(row, column, selectable)
  table.chi-table&attributes(attributes)
    thead
      if !selectable
        if row != undefined
          tr(class=(`-${row}`))
            if column != undefined
              if column == 'ascending'
                th(class=(`-sorted -${column}`))
                  div name
                th ID
                th last login
              else if column == 'descending'
                th(class=(`-sorted -${column}`))
                  div name
                th ID
                th last login
            else
              th name
              th ID
              th last login
        else
          tr
            if column != undefined
              if column == 'ascending'
                th(class=(`-sorted -${column}`))
                  div name
                th ID
                th last login
              else if column == 'descending'
                th(class=(`-sorted -${column}`))
                  div name
                th ID
                th last login
            else
              th name
              th ID
              th last login
      else if selectable
        tr
          if column != undefined
            if column == 'ascending'
              th
                div.-lh--1
                  input.chi-checkbox__input(type="checkbox", id=`chk-1`)
                  label.chi-checkbox__label(for=`chk-1`, style="margin-right: 0")
              th(class=(`-sorted -${column}`))
                div name
              th ID
              th last login
            else if column == 'descending'
              th
                div.-lh--1
                  input.chi-checkbox__input(type="checkbox", id=`chk-1`)
                  label.chi-checkbox__label(for=`chk-1`, style="margin-right: 0")
              th(class=(`-sorted -${column}`))
                div name
              th ID
              th last login
          else
            th
              div.-lh--1
                input.chi-checkbox__input(type="checkbox", id=`chk-1`)
                label.chi-checkbox__label(for=`chk-1`, style="margin-right: 0")
            th name
            th ID
            th last login
    tbody
      if !selectable
        +tr('Name 1', 'name-1', 'Dec 18, 2020 3:26 PM')(
        class={
          [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
        }
        )
        +tr('Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')(
        class={
          [`-${row}`]: row != undefined && row != 'disabled'
        }
        disabled= row=='disabled' ? 'disabled' : false
        )
        +tr('Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')(
        class={
          [`-${row}`]: row == 'xs' || row == 'sm' || row == 'md' || row == 'lg' || row == 'xl'
        }
        )
      else if selectable
        +str(`chk-1-01`, 'Name 1', 'name-1', 'Dec 18, 2020 3:26 PM', true)
        +str(`chk-1-02`, 'Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')
        +str(`chk-1-03`, 'Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')

.chi-grid
  .chi-col.-w--6
    h2 Without section container
    each tablestyle in ['default', 'striped']
      each borderstyle in ['default', 'bordered', 'no-border']
        div(class=`test-${tablestyle}-${borderstyle}`)
          span.-text--h2
            | table
            if tablestyle != 'default'
              = ` / ${tablestyle}`
            if borderstyle != 'default'
              = ` / ${borderstyle}`
          +table()(class={
            [`-${tablestyle}`]: tablestyle!= 'default',
            [`-${borderstyle}`]: borderstyle!= 'default'
          })

    each rowstyle in ['disabled', 'row--success', 'row--warning', 'row--danger', 'row--info']
      div(class=`test-${rowstyle}`)
        span.-text--h2= `table / ${rowstyle}`
        +table(rowstyle)

    each rowsize in ['xs', 'sm', 'md', 'lg', 'xl']
      div(class=`test-${rowsize}`)
        span.-text--h2= `table / ${rowsize}`
        +table(rowsize)

    div(class=`test-hover`)
        span.-text--h2= `table / hover`
        +table('hover').-hover

    each columnstyle in ['ascending', 'descending']
      div(class=`test-${columnstyle}`)
        span.-text--h2= `table / column sort / ${columnstyle}`
        +table(undefined, columnstyle)

    div(class=`test-selectable`)
      span.-text--h2
        | table
        = ' / selectable'
      section.chi-table(
        style="width: 640px"
      )
        div
          table(cellpadding="0", cellspacing="0")
            thead
              tr
                th(width="48px")
                  div.-lh--1
                    input.chi-checkbox__input(type="checkbox", id=`chk-${index}`, style="margin-right: 0")
                    label.chi-checkbox__label(for=`chk-${index}`)
                th.-sorted.-descending
                  div name
                th
                  div ID
                th
                  div last login
            tbody
              +str(`chk-${index}-01`, 'Name 1', 'name-1', 'Dec 18, 2020 3:26 PM', true)
              +str(`chk-${index}-02`, 'Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')
              +str(`chk-${index}-03`, 'Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')
    div(class=`test-scrollable`)
      span.-text--h2
        | table
        = ' / scrollable'
      section.chi-table.-fixed--header(style="height: 150px")
        div
          table
            thead
              tr
                th
                  div name
                th
                  div ID
                th
                  div last login
            tbody
              +tr('Name 1', 'name-1', 'Dec 18, 2020 3:26 PM')
              +tr('Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')
              +tr('Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')
    div(class=`test-portal`)
      span.-text--h2
        | table
        = ' / Portal styled'
      table.chi-table.-portal
        thead
          tr
            th
              div name
            th
              div ID
            th
              div last login
        tbody
          tr
            td
              a(href="#") Name 1
            td name-1
            td Dec 18, 2020 3:26 PM
          tr
            td
              a(href="#") Name 2
            td name-2
            td Dec 18, 2020 2:38 AM
          tr.-active
            td
              a(href="#") Name 3
            td name-3
            td Nov 5, 2020 10:15 AM

    div(class=`test-inverse`)
      span.-text--h2
        | table
        = ' / Inverse'
      table.chi-table.-inverse
        thead
          tr
            th Name
            th ID
            th Last login
        tbody
          tr
            td Name 1
            td name-1
            td Dec 18, 2020 3:26 PM
          tr
            td Name 2
            td name-2
            td Dec 18, 2020 2:38 AM
          tr.-active
            td Name 3
            td name-3
            td Nov 5, 2020 10:15 AM

  .chi-col.-w--6
    h2 With section container
    each tablestyle in ['default', 'striped']
      each borderstyle in ['default', 'bordered', 'no-border']
        div(class=`test-section-${tablestyle}-${borderstyle}`)
          span.-text--h2
            | table
            if tablestyle != 'default'
              = ` / ${tablestyle}`
            if borderstyle != 'default'
              = ` / ${borderstyle}`

          +table-fix-header()(class={
            [`-${tablestyle}`]: tablestyle != 'default',
            [`-${borderstyle}`]: borderstyle != 'default'
          })

    each rowstyle in ['disabled', 'row--success', 'row--warning', 'row--danger', 'row--info']
      div(class=`test-section-${rowstyle}`)
        span.-text--h2= `table / ${rowstyle}`
        +table-fix-header(rowstyle)

    each rowsize in ['xs', 'sm', 'md', 'lg', 'xl']
      div(class=`test-section-${rowsize}`)
        span.-text--h2= `table / ${rowsize}`
        +table(rowsize)

    div(class=`test-section-hover`)
      span.-text--h2= `table / hover`
      +table-fix-header('hover').-hover

    each columnstyle in ['ascending', 'descending']
      div(class=`test-section-${columnstyle}`)
        span.-text--h2= `table / column sort / ${columnstyle}`
        +table-fix-header(undefined, columnstyle)

    div(class=`test-section-selectable`)
      span.-text--h2
        | table
        = ' / selectable'
      section.chi-table(
      class=
      style="width: 640px"
      )
        div
          table(cellpadding="0", cellspacing="0")
            thead
              tr
                th(width="48px")
                  div.-lh--1
                    input.chi-checkbox__input(type="checkbox", id=`chk-${index}-a`)
                    label.chi-checkbox__label(for=`chk-${index}-a`, style="margin-right: 0")
                th.-sorted.-descending
                  div name
                th
                  div ID
                th
                  div last login
            tbody
              +str(`chk-${index}-01-1`, 'Name 1', 'name-1', 'Dec 18, 2020 3:26 PM', true)
              +str(`chk-${index}-02-2`, 'Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')
              +str(`chk-${index}-03-3`, 'Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')

    div(class=`test-section-scrollable`)
      span.-text--h2
        | table
        = ' / scrollable'
      section.chi-table.-fixed--header(style="height: 150px")
        div
          table
            thead
              tr
                th
                  div name
                th
                  div ID
                th
                  div last login
            tbody
              +tr('Name 1', 'name-1', 'Dec 18, 2020 3:26 PM')
              +tr('Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')
              +tr('Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')
