---
title: Tabs
---

.test-horizontal
  each style in ['base', 'border']
    each size in ['xs', 'sm', 'medium', 'lg']
      h4= `Tabs ${size} ${style}`
      ul.chi-tabs(class=`-${style} -${size}`)
        li.-active
          a(href='#') Active tab
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link

h2 vertical

each active in ['', 'active-alt']
  each style in ['', 'border']
    div(class=`test-vertical-${active}-${style}`)
      each size in ['sm', 'medium', 'lg']
        h4= `Tabs vertical ${size} ${style} ${active}`
        ul.chi-tabs.-vertical(class=`-${style} -${size}`)
          li(class=`-active -${active}`)
            a(href='#') Active tab
            ul.chi-tabs__subtabs
              li.-active
                a(href='#') Buttons
              li
                a(href='#') Button Groups
              li
                a(href='#') Cards
          li
            a(href='#') Tab link
          li
            a(href='#') Tab link
          li
            a(href='#') Tab link

each active in ['', 'active-alt']
  each style in ['', 'border']
    div(class=`test-vertical-icons-${active}-${style}`)
      each size in ['sm', 'medium', 'lg']
        h4= `Tabs vertical icons ${size} ${style} ${active}`
        ul.chi-tabs.-vertical.-icons(class=`-${alt} -${style} -${size}`)
          li(class=`-active -${active}`)
            a(href='#')
              div(class=`chi-icon`)
                svg
                  use(xlink:href='#icon-atom')
              span Active tab
            ul.chi-tabs__subtabs
              li.-active
                a(href='#') Buttons
              li
                a(href='#') Button Groups
              li
                a(href='#') Cards
          li
            a(href='#')
              div(class=`chi-icon -sm`)
                svg
                  use(xlink:href='#icon-atom')
              span Tab link
          li
            a(href='#')
              div(class=`chi-icon`)
                svg
                  use(xlink:href='#icon-atom')
              span Tab link
          li
            a(href='#')
              div(class=`chi-icon`)
                svg
                  use(xlink:href='#icon-atom')
              span Tab link

each active in ['', 'active']
  each style in ['', 'border']
    div(class=`test-multi-level-${active}-${style}`)
      each size in ['sm', 'medium', 'lg']
        h4= `Tabs vertical multi-level ${size} ${style} ${active}`
        ul.chi-tabs.-vertical.-icons(class=`-${alt} -${style} -${size}`)
          li
            a(href='#')
              div(class=`chi-icon`)
                svg
                  use(xlink:href='#icon-atom')
              span Tab link
          li(class=`-active-alt -${active}`)
            a(href='#')
              div(class=`chi-icon`)
                svg
                  use(xlink:href='#icon-atom')
              span Active tab
            ul.chi-tabs__subtabs
              li.-active
                a(href='#') Buttons
              li
                a(href='#') Button Groups
              li
                a(href='#') Cards

          li
            a(href='#')
              div(class=`chi-icon`)
                svg
                  use(xlink:href='#icon-atom')
              span Tab link
          li
            a(href='#')
              div(class=`chi-icon`)
                svg
                  use(xlink:href='#icon-atom')
              span Tab link

.test-horizontal-inverse
  each size in ['xs', 'sm', 'medium', 'lg']
    h4= `Tabs ${size} inverse`
    .-bg--black.-px--3
      ul.chi-tabs.-inverse(class=`-${size}`)
        li.-active
          a(href='#') Active tab
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link

.test-horizontal-bordered-inverse
  each size in ['xs', 'sm', 'medium', 'lg']
    h4= `Tabs ${size} border inverse`
    .-bg--black.-px--3.-py--1
      ul.chi-tabs.-inverse.-border(class=`-${size}`)
        li.-active
          a(href='#') Active tab
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link

h2 vertical inverse

.test-vertical-inverse
  each size in ['sm', 'medium', 'lg']
    h4= `Tabs vertical inverse ${size}`
    .-bg--black.-p--3
      ul.chi-tabs.-inverse.-vertical(class=`-${size}`)
        li.-active
          a(href='#') Active tab
          ul.chi-tabs__subtabs
            li.-active
              a(href='#') Buttons
            li
              a(href='#') Button Groups
            li
              a(href='#') Cards
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link

.test-vertical-icons-inverse
  each size in ['sm', 'medium', 'lg']
    h4= `Tabs vertical icons ${size} inverse`
    .-bg--black.-p--3
      ul.chi-tabs.-vertical.-icons.-inverse(class=`-${size}`)
        li.-active
          a(href='#')
            div(class=`chi-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Active tab
          ul.chi-tabs__subtabs
            li.-active
              a(href='#') Buttons
            li
              a(href='#') Button Groups
            li
              a(href='#') Cards
        li
          a(href='#')
            div(class=`chi-icon -sm`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link
        li
          a(href='#')
            div(class=`chi-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link
        li
          a(href='#')
            div(class=`chi-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link

.test-vertical-icons-description
  h4= `Tabs vertical icons w/ description`
  ul.chi-tabs.-vertical.-icons.-list
    li.-active
      a.chi-tabs_item(href='#')
        i.chi-icon.icon-atom
        span.chi-tabs_item-title Tab Link
        span.chi-tabs_item-text Tab description
    li
      a.chi-tabs_item(href='#')
        i.chi-icon.icon-atom
        span.chi-tabs_item-title Active Tab
        span.chi-tabs_item-text Tab description
      ul.chi-tabs__subtabs
        li
          a.chi-tabs_item(href='#')
            span.chi-tabs_item-title Subtab Link
            span.chi-tabs_item-text Subtab description
        li
          a.chi-tabs_item(href='#')
            span.chi-tabs_item-title Subtab Link
            span.chi-tabs_item-text Subtab description
        li
          a.chi-tabs_item(href='#')
            span.chi-tabs_item-title Subtab Link
            span.chi-tabs_item-text Subtab description
    li
      a.chi-tabs_item(href='#')
        i.chi-icon.icon-atom
        span.chi-tabs_item-title Tab Link
        span.chi-tabs_item-text Tab description

.test-vertical-icons-portal
  h4= `Tabs portal`
  ul.chi-tabs.-vertical.-icons.-list.-portal.-sm
    li.-active
      a.chi-tabs_item(href='#')
        i.chi-icon.icon-atom
        span.chi-tabs_item-title Tab Link
        span.chi-tabs_item-text Tab description
        button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
          .chi-button__content
            i.chi-icon.icon-more-vert
    li
      a.chi-tabs_item(href='#')
        i.chi-icon.icon-atom
        span.chi-tabs_item-title Active Tab
        span.chi-tabs_item-text Tab description
      ul.chi-tabs__subtabs
        li
          a.chi-tabs_item(href='#')
            span.chi-tabs_item-title Subtab Link
            span.chi-tabs_item-text Subtab description
        li
          a.chi-tabs_item(href='#')
            span.chi-tabs_item-title Subtab Link
            span.chi-tabs_item-text Subtab description
          ul.chi-tabs__subtabs
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
        li
          a.chi-tabs_item(href='#')
            span.chi-tabs_item-title Subtab Link
            span.chi-tabs_item-text Subtab description
    li
      a.chi-tabs_item(href='#')
        i.chi-icon.icon-atom
        span.chi-tabs_item-title Tab Link
        span.chi-tabs_item-text Tab description
