---
title: Textarea
---

each size in ['default', 'sm', 'md', 'lg', 'xl']
  div(class=`test-${size}`)
    span.-text--h2= `Textarea / ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                if state == 'disabled'
                  textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                else
                  textarea(class=`chi-input -${style} -${state} -${size}`) Value
            td(style='vertical-align: bottom')
              .-m--1
                if state == 'disabled'
                  .chi-form__item
                    label.chi-label(class=`-${size}` for='example') Label
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                else
                  .chi-form__item
                    label.chi-label(class=`-${size}` for='example') Label
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value

  div(class=`test-${size}-icon-left`)
    span.-text--h2= `Textarea / ${size} / icon left`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                .chi-input__wrapper.-icon--left
                  if state == 'disabled'
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                  else
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value
                  .chi-icon
                    svg
                      use(xlink:href='#icon-atom')
            td(style='vertical-align: bottom')
              .-m--1
                .chi-form__item
                  label.chi-label(class=`-${size}` for='example') Label
                  .chi-input__wrapper.-icon--left
                    if state == 'disabled'
                      textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                    else
                      textarea(class=`chi-input -${style} -${state} -${size}`) Value
                    .chi-icon
                      svg
                        use(xlink:href='#icon-atom')

  div(class=`test-${size}-icon-right`)
    span.-text--h2= `Textarea / ${size} / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                .chi-input__wrapper.-icon--right
                  if state == 'disabled'
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                  else
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value
                  if style == 'success'
                    .chi-icon.-icon--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .chi-icon.-icon--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .chi-icon.-icon--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .chi-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')
            td(style='vertical-align: bottom')
              .-m--1
                .chi-form__item
                  label.chi-label(class=`-${size}` for='example') Label
                  .chi-input__wrapper.-icon--right
                    if state == 'disabled'
                      textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                    else
                      textarea(class=`chi-input -${style} -${state} -${size}`) Value
                    if style == 'success'
                      .chi-icon.-icon--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .chi-icon.-icon--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .chi-icon.-icon--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .chi-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-left-right`)
    span.-text--h2= `Textarea / ${size} / icon left / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                .chi-input__wrapper.-icon--left.-icon--right
                  if state == 'disabled'
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                  else
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value
                  .chi-icon
                    svg
                      use(xlink:href='#icon-atom')
                  if style == 'success'
                    .chi-icon.-icon--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .chi-icon.-icon--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .chi-icon.-icon--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .chi-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')
            td(style='vertical-align: bottom')
              .-m--1
                .chi-form__item
                  label.chi-label(class=`-${size}` for='example') Label
                  .chi-input__wrapper.-icon--left.-icon--right
                    if state == 'disabled'
                      textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                    else
                      textarea(class=`chi-input -${style} -${state} -${size}`) Value
                    .chi-icon
                      svg
                        use(xlink:href='#icon-atom')
                    if style == 'success'
                      .chi-icon.-icon--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .chi-icon.-icon--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .chi-icon.-icon--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .chi-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')
