---
title: Textarea
---

each size in ['default', 'xs', 'sm', 'md', 'lg', 'xl']
  div(class=`test-${size}`)
    span.-text--h2= `Textarea / ${size}`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                if state == 'disabled'
                  textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                else
                  textarea(class=`chi-input -${style} -${state} -${size}`) Value
            td(style='vertical-align: bottom')
              .-m--1
                if state == 'disabled'
                  .chi-form__item
                    label.chi-label(class=`-${size}` for='example') Label
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                else
                  .chi-form__item
                    label.chi-label(class=`-${size}` for='example') Label
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value

  div(class=`test-${size}-icon-left`)
    span.-text--h2= `Textarea / ${size} / icon left`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                .chi-input__wrapper.-icon--left
                  if state == 'disabled'
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                  else
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value
                  .chi-icon
                    svg
                      use(xlink:href='#icon-atom')
            td(style='vertical-align: bottom')
              .-m--1
                .chi-form__item
                  label.chi-label(class=`-${size}` for='example') Label
                  .chi-input__wrapper.-icon--left
                    if state == 'disabled'
                      textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                    else
                      textarea(class=`chi-input -${style} -${state} -${size}`) Value
                    .chi-icon
                      svg
                        use(xlink:href='#icon-atom')

  div(class=`test-${size}-icon-right`)
    span.-text--h2= `Textarea / ${size} / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                .chi-input__wrapper.-icon--right
                  if state == 'disabled'
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                  else
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value
                  if style == 'success'
                    .chi-icon.-icon--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .chi-icon.-icon--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .chi-icon.-icon--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .chi-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')
            td(style='vertical-align: bottom')
              .-m--1
                .chi-form__item
                  label.chi-label(class=`-${size}` for='example') Label
                  .chi-input__wrapper.-icon--right
                    if state == 'disabled'
                      textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                    else
                      textarea(class=`chi-input -${style} -${state} -${size}`) Value
                    if style == 'success'
                      .chi-icon.-icon--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .chi-icon.-icon--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .chi-icon.-icon--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .chi-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')

  div(class=`test-${size}-icon-left-right`)
    span.-text--h2= `Textarea / ${size} / icon left / icon right`
    table(cellpadding="0", cellspacing="0", width="1200px")
      each state in ['initial', 'hover', 'focus', 'disabled']
        tr
          td
            small= `${state}`
          each style in ['default', 'success', 'warning', 'danger']
            td(style='vertical-align: bottom')
              .-m--1
                .chi-input__wrapper.-icon--left.-icon--right
                  if state == 'disabled'
                    textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                  else
                    textarea(class=`chi-input -${style} -${state} -${size}`) Value
                  .chi-icon
                    svg
                      use(xlink:href='#icon-atom')
                  if style == 'success'
                    .chi-icon.-icon--success
                      svg
                        use(xlink:href='#icon-check')
                  else if style == 'warning'
                    .chi-icon.-icon--warning
                      svg
                        use(xlink:href='#icon-warning')
                  else if style == 'danger'
                    .chi-icon.-icon--danger
                      svg
                        use(xlink:href='#icon-circle-warning')
                  else
                    .chi-icon
                      svg
                        use(xlink:href='#icon-circle-info-outline')
            td(style='vertical-align: bottom')
              .-m--1
                .chi-form__item
                  label.chi-label(class=`-${size}` for='example') Label
                  .chi-input__wrapper.-icon--left.-icon--right
                    if state == 'disabled'
                      textarea(class=`chi-input -${style} -${state} -${size}`, disabled) Value
                    else
                      textarea(class=`chi-input -${style} -${state} -${size}`) Value
                    .chi-icon
                      svg
                        use(xlink:href='#icon-atom')
                    if style == 'success'
                      .chi-icon.-icon--success
                        svg
                          use(xlink:href='#icon-check')
                    else if style == 'warning'
                      .chi-icon.-icon--warning
                        svg
                          use(xlink:href='#icon-warning')
                    else if style == 'danger'
                      .chi-icon.-icon--danger
                        svg
                          use(xlink:href='#icon-circle-warning')
                    else
                      .chi-icon
                        svg
                          use(xlink:href='#icon-circle-info-outline')
 
  div(class=`test-${size}-helper-message`)
    span.-text--h2= `Textarea / Helper Message / ${size}`
    table(cellpadding="0", cellspacing="0", width="480px")
      tr
        td
          small= `default`
        td(style='vertical-align: bottom')
          .-m--1
            .chi-form__item
              textarea(class=`chi-input -default -${size}`) Value
              div.chi-label(class=`-default -text--italic -text--normal -status`) Optional helper message
      tr
        td
          small= `success`
        td(style='vertical-align: bottom')
          .-m--1
            .chi-form__item
              textarea(class=`chi-input -success -${size}`) Value
              div.chi-label(class=`-success -text--normal -status`) 
                i.chi-icon.icon-circle-check.sc-chi-icon-h.sc-chi-icon-s.hydrated(aria-hidden) 
                div Optional helper message
      tr
        td
          small= `warning`
        td(style='vertical-align: bottom')
          .-m--1
            .chi-form__item
              textarea(class=`chi-input -warning -${size}`) Value
              div.chi-label(class=`-warning -text--normal -status`) 
                i.chi-icon.icon-warning.sc-chi-icon-h.sc-chi-icon-s.hydrated(aria-hidden) 
                div Optional helper message
      tr
        td
          small= `danger`
        td(style='vertical-align: bottom')
          .-m--1
            .chi-form__item
              textarea(class=`chi-input -danger -${size}`) Value
              div.chi-label(class=`-danger -text--normal -status`) 
                i.chi-icon.icon-circle-warning.sc-chi-icon-h.sc-chi-icon-s.hydrated(aria-hidden) 
                div Optional helper message