script(src='https://cdn.jsdelivr.net/npm/vue@2.6.11')
script(src='../../../chi-vue/umd/chi-vue.umd.js')

h2 Examples
h3 Base
.example.-mb--3
  .-p--3
    .chi-grid
      .chi-col.-w--12.-w-sm--8.-w-md--6.-w-lg--5
        .chi-form__item
          chi-search-input

  .example-tabs.-pl--2
    ul.chi-tabs#example-base(role="tablist")
      li.-active
        a(
          href=`#webcomponent-base`
          role="tab"
          aria-selected="true"
          aria-controls="webcomponent-base"
        ) Web Component
      li
        a(href=`#vue-base`) Vue
      li
        a(
          href=`#html-base`
          role="tab"
          aria-selected="false"
          tabindex="-1"
          aria-controls="html-base"
        ) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-base
    :code(lang="html")
      <div class="chi-form__item">
        <chi-search-input></chi-search-input>
      </div>
  .chi-tabs-panel#vue-base
    :code(lang="html")
      <div class="chi-form__item">
        <ChiSearchInput />
      </div>
  .chi-tabs-panel#html-base
    :code(lang="html")
      <div class="chi-form__item">
        <div class="chi-input__wrapper -icon--right">
          <input class="chi-input chi-search__input" type="search" aria-label="search input" />
          <button class="chi-button -icon -flat -bg--none" aria-label="Search">
            <div class="chi-button__content">
              <i class="chi-icon icon-search"></i>
            </div>
          </button>
          <button class="chi-button -icon -close -sm" aria-label="Close">
            <div class="chi-button__content">
              <i class="chi-icon icon-x"></i>
            </div>
          </button>
        </div>
      </div>

h3 Disabled
p.-text
  | Use the <code>disabled</code> boolean attribute to prevent users from interacting with a search input.
  | Disabled inputs are not submitted with the form and can not receive any browsing events such as mouse clicks or focus.
  | <strong>Note:</strong> The required attribute can not be used on inputs with a disabled attribute specified.
.example.-mb--3
  .-p--3
    .chi-grid
      .chi-col.-w--12.-w-sm--8.-w-md--6.-w-lg--5
        .chi-form__item
          chi-search-input(value="Sample text" disabled)

  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled(role="tablist")
      li.-active
        a(
          href=`#webcomponent-disabled`
          role="tab"
          aria-selected="true"
          aria-controls="webcomponent-disabled"
        ) Web Component
      li
        a(href=`#vue-disabled`) Vue
      li
        a(
          href=`#html-disabled`
          role="tab"
          aria-selected="false"
          tabindex="-1"
          aria-controls="html-disabled"
        ) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <chi-search-input value="Sample Text" disabled></chi-search-input>
      </div>
  .chi-tabs-panel#vue-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <ChiSearchInput value="Sample Text" disabled />
      </div>
  .chi-tabs-panel#html-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <div class="chi-input__wrapper -icon--right">
          <input class="chi-input chi-search__input" type="search" value="Sample text" disabled="disabled" aria-label="search input" />
          <button class="chi-button -icon -flat -bg--none" aria-label="Search">
            <div class="chi-button__content">
              <i class="chi-icon icon-search"></i>
            </div>
          </button>
          <button class="chi-button -icon -close -sm" aria-label="Close">
            <div class="chi-button__content">
              <i class="chi-icon icon-x"></i>
            </div>
          </button>
        </div>
      </div>

.-portal--hide
  h2 Sizes
  p.-text
    | Search inputs supports the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>, <code>xl</code>.
    | The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .chi-grid
      each size in ['xs', 'sm', 'md', 'lg', 'xl']
        .chi-col.-w--12.-w-sm--8.-w-md--6.-w-lg--5
          p.-text.-text--bold= size
          .chi-form__item
            chi-search-input(size=`${size}` value="Sample Text")
    .example-tabs.-pl--2
      ul.chi-tabs#example-input-sizes(role="tablist")
        li.-active
          a(
            href=`#webcomponent-input-sizes`
            role="tab"
            aria-selected="true"
            aria-controls="webcomponent-input-sizes"
          ) Web Component
        li
          a(href=`#vue-input-sizes`) Vue
        li
          a(
            href=`#html-input-sizes`
            role="tab"
            aria-selected="false"
            tabindex="-1"
            aria-controls="html-input-sizes"
          ) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-input-sizes
      :code(lang="html")
        <div class="chi-form__item">
          <chi-search-input size="xs" value="Sample Text"></chi-search-input>
        </div>
        <div class="chi-form__item">
          <chi-search-input size="sm" value="Sample Text"></chi-search-input>
        </div>
        <div class="chi-form__item">
          <chi-search-input size="md" value="Sample Text"></chi-search-input>
        </div>
        <div class="chi-form__item">
          <chi-search-input size="lg" value="Sample Text"></chi-search-input>
        </div>
        <div class="chi-form__item">
          <chi-search-input size="xl" value="Sample Text"></chi-search-input>
        </div>
    .chi-tabs-panel#vue-input-sizes 
      :code(lang="html")
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="xs" />
        </div>
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="sm" />
        </div>
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="md" />
        </div>
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="lg" />
        </div>
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="xl" />
        </div>
    .chi-tabs-panel#html-input-sizes
      :code(lang='html')
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -xs" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -xs -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -xs" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -sm" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -sm -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -sm" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -md" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -md -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -sm" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -lg" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -lg -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -sm" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -xl" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -xl -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -sm" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>

.-portal--show
  h2 Sizes
  p.-text
    | Search inputs supports the following sizes: <code>xs</code>, <code>sm</code>, <code>md</code>,
    |  <code>lg</code>.
    | The default size is <code>md</code>.
  .example.-mb--3
    .-p--3
      .chi-grid
      each size in ['xs', 'sm', 'md', 'lg']
        .chi-col.-w--12.-w-sm--8.-w-md--6.-w-lg--5
          p.-text.-text--bold= size
          .chi-form__item
            chi-search-input(size=`${size}` value="Sample Text")
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-input-sizes(role="tablist")
        li.-active
          a(
            href=`#webcomponent-portal-input-sizes`
            role="tab"
            aria-selected="true"
            aria-controls="webcomponent-portal-input-sizes"
          ) Web Component
        li
          a(href=`#vue-portal-input-sizes`) Vue
        li
          a(
            href=`#html-portal-input-sizes`
            role="tab"
            aria-selected="false"
            tabindex="-1"
            aria-controls="html-portal-input-sizes"
          ) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-portal-input-sizes
      :code(lang="html")
        <div class="chi-form__item">
          <chi-search-input size="xs" value="Sample Text"></chi-search-input>
        </div>
        <div class="chi-form__item">
          <chi-search-input size="sm" value="Sample Text"></chi-search-input>
        </div>
        <div class="chi-form__item">
          <chi-search-input size="md" value="Sample Text"></chi-search-input>
        </div>
        <div class="chi-form__item">
          <chi-search-input size="lg" value="Sample Text"></chi-search-input>
        </div>
    .chi-tabs-panel#vue-portal-input-sizes 
      :code(lang="html")
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="xs" />
        </div>
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="sm" />
        </div>
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="md" />
        </div>
        <div class="chi-form__item">
          <ChiSearchInput value="Sample Text" size="lg" />
        </div>
    .chi-tabs-panel#html-portal-input-sizes
      :code(lang='html')
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -xs" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -xs -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -xs" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -sm" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -sm -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -sm" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -md" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -md -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -sm" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-form__item">
          <div class="chi-input__wrapper -icon--right">
            <input class="chi-input chi-search__input -lg" type="search" value="Sample text" aria-label="search input" />
            <button class="chi-button -icon -flat -lg -bg--none" aria-label="Search">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <button class="chi-button -icon -close -sm" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
