h2 Examples
p.-text
  | To render a text input, apply the class <code>a-input</code> to an <code>input type="text"</code>,
  | <code>input type="password"</code>, <code>input type="email"</code>, etc.

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__base") Label
      input(type="text", class="a-input", placeholder="Placeholder" id="example__base")
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__base">Label</label>
      <input type="text" class="a-input" placeholder="Placeholder" id="example__base">
    </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__disabled") Label
      input(type="text", class="a-input", value="Sample Text", id="example__disabled", disabled)
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__disabled">Label</label>
      <input type="text" class="a-input" value="Sample Text" id="example__disabled" disabled>
    </div>

h3 Danger
p.-text Text inputs support the validation class modifier <code>-danger</code> for indicating an invalid input.
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__danger") Label
      input(type="text", class="a-input -danger", value="Sample Text", id="example__danger")
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__danger">Label</label>
      <input type="text" class="a-input -danger" value="Sample Text" id="example__danger">
    </div>

h3 Label with icon
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      .m-label__wrapper
        label.a-label(for='example__label-with-icon') Label
        i.a-icon.icon-circle-info-outline.-text--muted
      input(type="text", class="a-input", id='example__label-with-icon', placeholder="Placeholder")
  :code(lang="html")
    <div class="m-form__item">
      <div class="m-label__wrapper">
        <label class="a-label" for="example__label-with-icon">Label</label>
        <i class="a-icon icon-circle-info-outline -text--muted"></i>
      </div>
      <input class="a-input" id="example__label-with-icon" type="text" placeholder="Placeholder">
    </div>

h3 Inline Label
.example.-mb--3
  .-p--3
    .m-form__item.-row(style="max-width:20rem")
      label.a-label.-mr--1(for='example__inline-label') Label
      input(type="text", class="a-input", id='example__inline-label', placeholder="Placeholder")
  :code(lang="html")
    <div class="m-form__item -row">
      <label class="a-label" for="example__inline-label">Label</label>
      <input class="a-input" type="text" id="example__inline-label" placeholder="Placeholder">
    </div>

h3 Inline Label - width controlled using percent
.example.-mb--3
  .-p--3
    .m-form__item.-row
      label.a-label.-w--50(for='example__inline-label-percent') Label width 50%
      .-w--50
        input(type="text", class="a-input", id='example__inline-label-percent', placeholder="Placeholder")
  :code(lang="html")
    <div class="m-form__item -row">
      <label class="a-label -w--50" for="example__inline-label-percent">Label</label>
      <div class="-w--50">
        <input class="a-input" type="text" id="example__inline-label-percent" placeholder="Placeholder">
      </div>
    </div>

h3 Inline Label - width controlled using grid
.example.-mb--3
  .-p--3
    .m-form__item.-row.a-grid.-noGutter
      label.a-label.a-col.-w--3(for='example__inline-label-grid') Label width 3 columns
      .a-col.-w--9
        input(type="text", class="a-input", id='example__inline-label-grid', placeholder="Placeholder")
  :code(lang="html")
    <div class="m-form__item -row a-grid -noGutter">
      <label class="a-label -w--3" for="example__inline-label-grid">Label</label>
      <div class="-w--9">
        <input class="a-input" type="text" id="example__inline-label-grid" placeholder="Placeholder">
      </div>
    </div>

h3 Inline Inputs
.example.-mb--3
  .-p--3.-d--flex
    .m-form__item.-inline.-flex--grow1
      label.a-label.-mr--1(for='example__inline-input01') Label
      input(type="text", class="a-input", id='example__inline-input01', placeholder="Placeholder")
    .m-form__item.-inline.-flex--grow1
      label.a-label.-mr--1(for='example__inline-input02') Label
      input(type="text", class="a-input", id='example__inline-input02', placeholder="Placeholder")
  :code(lang="html")
    <div class="-d--flex">
      <div class="m-form__item -inline -flex--grow1">
        <label class="a-label" for="example__inline-input01">Label</label>
        <input class="a-input" type="text" id="example__inline-input01" placeholder="Placeholder">
      </div>
      <div class="m-form__item -inline -flex--grow1">
        <label class="a-label" for="example__inline-input02">Label</label>
        <input class="a-input" type="text" id="example__inline-input02" placeholder="Placeholder">
      </div>
    </div>

h2 Icons
p.-text
  | To add icons to a text input, wrap the input in a <code>div</code> using the class
  | <code>m-input__wrapper</code>. Next, add the icon as a sibling of the <code>input</code> and utilize
  | an icon alignment utility class (e.g. <code>-icon--left</code>) to specify where it should be placed.

h3 Left Aligned
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__icon-left-aligned") Label
      .m-input__wrapper.-icon--left
        input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text", id="example__icon-left-aligned")
        i.a-icon.icon-search.-text--muted
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__icon-left-aligned">Label</label>
      <div class="m-input__wrapper -icon--left">
        <input type="text" class="a-input" placeholder="Placeholder" value="Sample text" id="example__icon-left-aligned">
        <i class="a-icon icon-search -text--muted"></i>
        </div>
      </div>
    </div>

h3 Right Aligned
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__icon-right-aligned") Label
      .m-input__wrapper.-icon--right
        input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text", id="example__icon-right-aligned")
        i.a-icon.icon-search.-text--muted
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__icon-right-aligned">Label</label>
      <div class="m-input__wrapper -icon--right">
        <input type="text" class="a-input" placeholder="Placeholder" value="Sample text" id="example__icon-right-aligned">
        <i class="a-icon icon-search -text--muted"></i>
      </div>
    </div>

h3 Left + Right Aligned
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__icon-left-right-aligned") Label
      .m-input__wrapper.-icon--left.-icon--right
        input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text", id="example__icon-left-right-aligned")
        i.a-icon.icon-search.-text--muted
        i.a-icon.icon-check.-text--success
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__icon-left-right-aligned">Label</label>
      <div class="m-input__wrapper -icon--left -icon--right">
        <input type="text" class="a-input" placeholder="Placeholder" value="Sample text" id="example__icon-left-right-aligned">
        <i class="a-icon icon-search -text--muted"></i>
        <i class="a-icon icon-check -text--success"></i>
      </div>
    </div>

h2 States
p.-text
  | Text inputs offer three validation states: <code>-success</code>, <code>-warning</code>, and <code>-danger</code>.

h3 Success
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__state-success") Label
      input(type="text", class="a-input -success", placeholder="Placeholder", value="Sample Text", id="example__state-success")
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__state-success">Label</label>
      <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text" id="example__state-success">
    </div>

.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__state-success-with-icon") Label
      .m-input__wrapper.-icon--right
        input(type="text", class="a-input -success", placeholder="Placeholder", value="Sample Text", id="example__state-success-with-icon")
        i.a-icon.icon-check.-text--success
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__state-success-with-icon">Label</label>
      <div class="m-input__wrapper -icon--right">
        <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text" id="example__state-success-with-icon">
        <i class="a-icon icon-check -text--success"></i>
      </div>
    </div>

h3 Warning
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__state-warning") Label
      input(type="text", class="a-input -warning", placeholder="Placeholder", value="Sample Text", id="example__state-warning")
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__state-warning">Label</label>
      <input type="text" class="a-input -warning" placeholder="Placeholder" value="Sample Text" id="example__state-warning">
    </div>

.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__state-warning-with-icon") Label
      .m-input__wrapper.-icon--right
        input(type="text", class="a-input -warning", placeholder="Placeholder", value="Sample Text", id="example__state-warning-with-icon")
        i.a-icon.icon-warning.-text--warning
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__state-warning-with-icon">Label</label>
      <div class="m-input__wrapper -icon--right">
        <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text" id="example__state-warning-with-icon">
        <i class="a-icon icon-warning -text--warning"></i>
      </div>
    </div>

h3 Danger
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__state-danger") Label
      input(type="text", class="a-input -danger", placeholder="Placeholder", value="Sample Text", id="example__state-danger")
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__state-danger">Label</label>
      <input type="text" class="a-input -danger" placeholder="Placeholder" value="Sample Text" id="example__state-danger">
    </div>

.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:20rem")
      label.a-label(for="example__state-danger-with-icon") Label
      .m-input__wrapper.-icon--right
        input(type="text", class="a-input -danger", placeholder="Placeholder", value="Sample Text", id="example__state-danger-with-icon")
        i.a-icon.icon-circle-warning.-text--danger
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__state-danger-with-icon">Label</label>
      <div class="m-input__wrapper -icon--right">
        <input type="text" class="a-input -danger" placeholder="Placeholder" value="Sample Text" id="example__state-danger-with-icon">
        <i class="a-icon icon-circle-warning -text--danger"></i>
      </div>
    </div>

h2 Sizes
p.-text
  | Text inputs supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    .-p--2
      .m-form__item(style="max-width:20rem")
        label.a-label(for="example__size-sm") Label
        input(type="text", class="a-input -sm -mr--3", placeholder="Sample Text", id="example__size-sm")
    .-p--2
      .m-form__item(style="max-width:20rem")
        label.a-label(for="example__size-md") Label
        input(type="text", class="a-input -md -mr--3", placeholder="Sample Text", id="example__size-md")
    .-p--2
      .m-form__item(style="max-width:20rem")
        label.a-label(for="example__size-lg") Label
        input(type="text", class="a-input -lg -mr--3", placeholder="Sample Text", id="example__size-lg")
    .-p--2
      .m-form__item(style="max-width:20rem")
        label.a-label(for="example__size-xl") Label
        input(type="text", class="a-input -xl -mr--3", placeholder="Sample Text", id="example__size-xl")
  :code(lang='html')
    <div class="m-form__item">
      <label class="a-label" for="example__size-sm">Label</label>
      <input type="text" class="a-input -sm" placeholder="Sample Text" id="example__size-sm">
    </div>
    <div class="m-form__item">
      <label class="a-label" for="example__size-md">Label</label>
      <input type="text" class="a-input -md" placeholder="Sample Text" id="example__size-md">
    </div>
    <div class="m-form__item">
      <label class="a-label" for="example__size-lg">Label</label>
      <input type="text" class="a-input -lg" placeholder="Sample Text" id="example__size-lg">
    </div>
    <div class="m-form__item">
      <label class="a-label" for="example__size-xl">Label</label>
      <input type="text" class="a-input -xl" placeholder="Sample Text" id="example__size-xl">
    </div>

h2 Floating labels
.m-alert.-info
  i.m-alert__icon.a-icon.icon-circle-info
  .m-alert__content
    p.m-alert__text This component requires Javascript
p.-text
  | Floating labels are a solution to keep the placeholder visible when no label is attached to the input. Chi supports
  | floating labels for <code>-lg</code> and <code>-xl</code> inputs. This component requires JavaScript to add/remove
  | the <code>-active</code> class whenever the input focuses or is not empty.

ul#a-tabs.a-tabs
  li.-active
    a(href="#floatingInitial") Initial
  li
    a(href="#floatingActive") Active
.example.-mb--3
  #floatingInitial.a-tabs-panel.-active
    .-p--3
      each size in ['lg', 'xl']
        div(class=`a-col -w--12 -p--2`)
          .m-input__wrapper.-floatingLabel(style="max-width:20rem")
            input(type="text", class=`a-input -${size} -mr--3`, id=`floating-label-${size}`)
            label(for=`floating-label-${size}`) Placeholder text
    :code(lang='html')
      <div class="m-input__wrapper -floatingLabel">
        <input class="a-input -lg" type="text" id="floating-label-lg">
        <label for="floating-label-lg">Placeholder text</label>
      </div>

      <div class="m-input__wrapper -floatingLabel">
        <input class="a-input -xl" type="text" id="floating-label-xl">
        <label for="floating-label-xl">Placeholder text</label>
      </div>
  #floatingActive.a-tabs-panel
    .-p--3
      each size in ['lg', 'xl']
        div(class=`a-col -w--12 -p--2`)
          .m-input__wrapper.-floatingLabel(style="max-width:20rem")
            input(type="text", class=`a-input -${size} -mr--3`, id=`floating-label-${size}-2`, value="Sample text")
            label.-active(for=`floating-label-${size}-2`) Placeholder text
    :code(lang='html')
      <div class="m-input__wrapper -floatingLabel">
        <input class="a-input -lg" type="text" id="floating-label-lg">
        <label class="-active" for="floating-label-lg">Placeholder text</label>
      </div>

      <div class="m-input__wrapper -floatingLabel">
        <input class="a-input -xl" type="text" id="floating-label-xl">
        <label class="-active" for="floating-label-xl">Placeholder text</label>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs'));
    }
  );
