doctype html
html(lang="en")
  head
    title Chi Tests

    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="edge")
    meta(name="description", content="Chi Tests")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", media="all", href="/chi.css")
    link(rel="stylesheet", media="all", href="/tests/test.css")

    if styles
      each style in styles
        link(rel="stylesheet", media="all", href=`/${style}.css`)

  body.chi(
    style= background ? `background-color: #${background}`: false
  )
    .a-grid__container
      h1= title
      .tests!= contents

    script(src='/chi-icons.js')
    if scripts
      each script in scripts
        script(type="text/javascript", src=`/${script}.js`)

