---
title: File inputs
---

.m-alert.-bubble.-warning(data-title="Warning")
  | This component needs Javascript

p.-text
  | In order to use a file input just use an <code>input type="file"</code> with the class <code>a-input</code> and add
  | a label next to it.

.-mb4.-mt2
  input.a-input(type="file", id="file01")
  label(for="file01") No file chosen

  :code(lang="html")
    <input type="file" class="a-input" id="file01">
    <label for="file01">No file chosen</label>

p.-text We have two modifiers in relation to the size of the component.

ul.-text
  li
    code -small
  li
    code -large

each size, index in ['small', 'large']
  h4= `${size} size`
  .-mb2
    input.a-input(
      class=`-${size}`
      type="file"
      id=`file-${index}`
    )
    label(for=`file-${index}`) No file chosen

p.-text Example
:code(lang="html")
  <input type="file" class="a-input -small" id="file01">
  <label for="file01">No file chosen</label>

h3 JavaScript

p.-text This component needs JavaScript in order to update the label content once a file or files are selected.

p.-text The next piece of JavaScript is an example of how it should work.

.-mb4
  include:code(lang="js") ../../../../../node_modules/@centurylink/chi/src/css/components/input-file/input-file.js

script
  include ../../../../../node_modules/@centurylink/chi/src/css/components/input-file/input-file.js
