---
title: Typography
description: Documentation and examples for Chi typography.
---

h2 Typeface
p.-text The sans-serif font stack is used to display all typography within Chi except code. For code, Chi defers to a monospace font stack.

h3 Sans-serif font stack
.-mb--2
  :code(lang='html')
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;

h3 Monospace font stack
.-mb--3
   :code(lang='html')
     font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace;

h2 Headings
p.-text Headings are used to illustrate the typographic hierarchy of a page. <code>h1</code> defines the most important heading and h6 the least. Headings in Chi can be defined as tags <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> or classes <code>.a-h1</code> - <code>.a-h6</code>.

.example(style='border:none')
  section.a-table.-bordered.-mt--3.-mb--3
    div
      table(cellpadding='0', cellspacing='0')
        thead
          tr
            th
              div Heading
            th
              div Example
        tbody
          each type in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
            tr
              td(width='20%')
                code= '<' + type + '>'
              td
                #{type}(class=`a-${type}`)= type + ' Chi heading'

h2 Body text
p.-text
  | Chi's default font size is 14px (0.875rem) and is intended to maximize screen real estate in dense, app oriented interfaces.

section.a-table.-bordered.-mt--3.-mb--3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Font size
          th
            div Example
      tbody
          tr
            td(width='20%')
              p.-text 14px (0.875rem)
            td
              p.-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
                | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.

h2 Inline text
p.-text
  | Styles for common inline text elements. Styles can be defined as tags <code>&lt;code&gt;</code> or classes <code>.a-code</code>.

section.a-table.-bordered.-mt--3.-mb--3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Tag
          th
            div Example
      tbody
        each val, type in {Abbreviated:'abbr', Bold:'b', Code:'code', Delete:'del', Emphasis:'em', Italic:'i', Mark:'mark', Small:'small', Strong:'strong'}
          tr
            td(width='20%')
              code= '<' + val + '>'
            td
              #{val}= type

h2 Paragraphs
h3 Base
p.-text 14px (0.875rem) font size with 24px (1.5rem) line-height
.example.-mb--3
  p.-text.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text"></p>
h3 Large
p.-text 16px (1rem) font size with 24px (1.5rem) line-height
.example.-mb--3
  p.-text.-text--large.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--large"></p>
h3 Larger
p.-text 18px (1.125rem) font size with 28px (1.75rem) line-height
.example.-mb--3
  p.-text.-text--larger.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--larger"></p>
h3 Small
p.-text 13px (0.8125rem) font size with 20px (1.25rem) line-height
.example.-mb--3
  p.-text.-text--small.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--small"></p>
h3 Smaller
p.-text 12px (0.75rem) font size with 20px (1.25rem) line-height
.example.-mb--3
  p.-text.-text--smaller.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--smaller"></p>

h2 Code
h3 Inline code
p.-text Code tags are used to wrap inline snippets of code.
.example.-mb--3
  p.-text.-m--3
    | This <code>&lt;code&gt;</code> will render as inline code.
  :code(lang="html")
    This <code>&lt;code&gt;</code> will render as inline code.
h3 Code blocks
p.-text Pre tags are used to wrap multiple lines of code.
.example.-mb--3
  .code-block.-m--3
    pre
      code &lt;p&gt;This code will render as a code block.&lt;/p&gt;
  :code(lang="html")
    <pre>
      <code>&lt;p&gt;This code will render as a code block.&lt;/p&gt;</code>
    </pre>

h2 Lists
h3 Base
p.-text Use <code>&lt;ul&gt;</code> tags for unordered lists and <code>&lt;ol&gt;</code> tags for ordered lists.
.a-grid
  .a-col.-w--6
    .example.-mb--3
      ul.-text
        li List item 1
        li List item 2
          ul
            li List item 2.1
            li List item 2.2
        li List item 3
        li List item 4
      :code(lang="html")
        <ul class="-text">
          <li></li>
        </ul>
  .a-col.-w--6
    .example.-mb--3
      ol.-text
        li List item 1
        li List item 2
          ul
            li List item 2.1
            li List item 2.2
        li List item 3
        li List item 4
      :code(lang="html")
        <ol class="-text">
          <li></li>
        </ol>
h3 No style
p.-text To remove default list styling, apply the class <code>.-nostyle</code>
.example.-mb--3
  ul.-text.-nostyle.-m--3
    li List item 1
    li List item 2
      ul.-nostyle
        li List item 2.1
        li List item 2.2
    li List item 3
    li List item 4
  :code(lang="html")
    <ul class="-text -nostyle">
      <li></li>
    </ul>
h3 Inline
p.-text To display list items inline, apply the class <code>-inline</code>
.example.-mb--3
  ul.-text.-inline.-m--3
    li List item 1
    li List item 2
      ul.-inline
        li List item 2.1
        li List item 2.2
    li List item 3
    li List item 4
  :code(lang="html")
    <ul class="-text -inline">
      <li></li>
    </ul>
h2 Blockquotes
p.-text Blockquotes are used to quote content from another source.
.example.-mb--3
  blockquote.-m--3
    p.-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel, commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <blockquote>
      <p class="-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel, commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.</p>
    </blockquote>
