h2 Examples
p.-text
  | To display a badge, use the class <code>a-badge</code>.
  | A contextual class (e.g. <code>-dark</code>) can also be applied to provide alternate styling.

h3 Base
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12
      .-p--2.-text--center
        chi-badge(class='-m--1')= 'Base'
        chi-badge(class='-m--1', color='primary')= 'Primary'
        chi-badge(class='-m--1', color='success')= 'Success'
        chi-badge(class='-m--1', color='warning')= 'Warning'
        chi-badge(class='-m--1', color='danger')= 'Danger'
        chi-badge(class='-m--1', color='dark')= 'Dark'
        chi-badge(class='-m--1', color='muted')= 'Muted'
    .a-col.-w--12
      .-p--2.-bg--black.-text--center
        chi-badge(class='-m--1', color='secondary')= 'Secondary'
        chi-badge(class='-m--1', color='light')= 'Light'
  .example-tabs.-pl--2
    ul.a-tabs#examples-base
      li.-active
        a(href=`#webcomponent-base`) Web component
      li
        a(href=`#html-base`) HTML
  .a-tabs-panel.-active#webcomponent-base
    :code(lang="html")
      <!-- For light backgrounds -->
      <chi-badge>Base</chi-badge>
      <chi-badge color="primary">Primary</chi-badge>
      <chi-badge color="success">Success</chi-badge>
      <chi-badge color="warning">Warning</chi-badge>
      <chi-badge color="danger">Danger</chi-badge>
      <chi-badge color="dark">Dark</chi-badge>
      <chi-badge color="muted">Muted</chi-badge>
      <!-- For dark backgrounds -->
      <chi-badge color="secondary">Secondary</chi-badge>
      <chi-badge color="light">Light</chi-badge>
  .a-tabs-panel#html-base
    :code(lang="html")
      <!-- For light backgrounds -->
      <div class="a-badge">
        <span>Base</span>
      </div>
      <div class="a-badge -primary">
        <span>Primary</span>
      </div>
      <div class="a-badge -success">
        <span>Success</span>
      </div>
      <div class="a-badge -warning">
        <span>Warning</span>
      </div>
      <div class="a-badge -danger">
        <span>Danger</span>
      </div>
      <div class="a-badge -dark">
        <span>Dark</span>
      </div>
      <div class="a-badge -muted">
        <span>Muted</span>
      </div>
      <!-- For dark backgrounds -->
      <div class="a-badge -secondary">
        <span>Secondary</span>
      </div>
      <div class="a-badge -light">
        <span>Light</span>
      </div>

h3 Outline
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12
      .-p--2.-text--center
        chi-badge(class='-m--1', color='primary', variant='outline')= 'Primary'
        chi-badge(class='-m--1', color='success', variant='outline')= 'Success'
        chi-badge(class='-m--1', color='warning', variant='outline')= 'Warning'
        chi-badge(class='-m--1', color='danger', variant='outline')= 'Danger'
        chi-badge(class='-m--1', color='dark', variant='outline')= 'Dark'
        chi-badge(class='-m--1', color='muted', variant='outline')= 'Muted'
    .a-col.-w--12
      .-p--2.-bg--black.-text--center
        chi-badge(class='-m--1', color='secondary', variant='outline')= 'Secondary'
        chi-badge(class='-m--1', color='light', variant='outline')= 'Light'
  .example-tabs.-pl--2
    ul.a-tabs#examples-outline
      li.-active
        a(href=`#webcomponent-outline`) Web component
      li
        a(href=`#html-outline`) HTML
  .a-tabs-panel.-active#webcomponent-outline
    :code(lang="html")
      <!-- For light backgrounds -->
      <chi-badge color="primary" variant="outline">Primary</chi-badge>
      <chi-badge color="success" variant="outline">Success</chi-badge>
      <chi-badge color="warning" variant="outline">Warning</chi-badge>
      <chi-badge color="danger" variant="outline">Danger</chi-badge>
      <chi-badge color="dark" variant="outline">Dark</chi-badge>
      <chi-badge color="muted" variant="outline">Muted</chi-badge>
      <!-- For dark backgrounds -->
      <chi-badge color="secondary" variant="outline">Secondary</chi-badge>
      <chi-badge color="light" variant="outline">Light</chi-badge>
  .a-tabs-panel#html-outline
    :code(lang="html")
      <!-- For light backgrounds -->
      <div class="a-badge -primary -outline">
        <span>Primary</span>
      </div>
      <div class="a-badge -success -outline">
        <span>Success</span>
      </div>
      <div class="a-badge -warning -outline">
        <span>Success</span>
      </div>
      <div class="a-badge -danger -outline">
        <span>Danger</span>
      </div>
      <div class="a-badge -dark -outline">
        <span>Dark</span>
      </div>
      <div class="a-badge -muted -outline">
        <span>Muted</span>
      </div>
      <!-- For dark backgrounds -->
      <div class="a-badge -secondary -outline">
        <span>Secondary</span>
      </div>
      <div class="a-badge -light -outline">
        <span>Light</span>
      </div>

h3 Flat
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12
      .-p--2.-text--center
        chi-badge(class='-m--1', color='primary', variant='flat')= 'Primary'
        chi-badge(class='-m--1', color='success', variant='flat')= 'Success'
        chi-badge(class='-m--1', color='warning', variant='flat')= 'Warning'
        chi-badge(class='-m--1', color='danger', variant='flat')= 'Danger'
        chi-badge(class='-m--1', color='dark', variant='flat')= 'Dark'
        chi-badge(class='-m--1', color='muted', variant='flat')= 'Muted'
    .a-col.-w--12
      .-p--2.-bg--black.-text--center
        chi-badge(class='-m--1', color='secondary', variant='flat')= 'Secondary'
        chi-badge(class='-m--1', color='light', variant='flat')= 'Light'
  .example-tabs.-pl--2
    ul.a-tabs#examples-flat
      li.-active
        a(href=`#webcomponent-flat`) Web component
      li
        a(href=`#html-flat`) HTML
  .a-tabs-panel.-active#webcomponent-flat
    :code(lang="html")
      <!-- For light backgrounds -->
      <chi-badge color="primary" variant="flat">Primary</chi-badge>
      <chi-badge color="success" variant="flat">Success</chi-badge>
      <chi-badge color="warning" variant="flat">Warning</chi-badge>
      <chi-badge color="danger" variant="flat">Danger</chi-badge>
      <chi-badge color="dark" variant="flat">Dark</chi-badge>
      <chi-badge color="muted" variant="flat">Muted</chi-badge>
      <!-- For dark backgrounds -->
      <chi-badge color="secondary" variant="flat">Secondary</chi-badge>
      <chi-badge color="light" variant="flat">Light</chi-badge>
  .a-tabs-panel#html-flat
    :code(lang="html")
      <!-- For light backgrounds -->
      <div class="a-badge -primary -flat">
        <span>Primary</span>
      </div>
      <div class="a-badge -success -flat">
        <span>Success</span>
      </div>
      <div class="a-badge -warning -flat">
        <span>Warning</span>
      </div>
      <div class="a-badge -danger -flat">
        <span>Danger</span>
      </div>
      <div class="a-badge -dark -flat">
        <span>Dark</span>
      </div>
      <div class="a-badge -muted -flat">
        <span>Muted</span>
      </div>
      <!-- For dark backgrounds -->
      <div class="a-badge -secondary -flat">
        <span>Secondary</span>
      </div>
      <div class="a-badge -light -flat">
        <span>Light</span>
      </div>

h2 Icon badges
p.-text Icons can be placed before, after, or on both sides of text.
.example.-mb--3
  .-p--2
    chi-badge(class='-m--1')
      chi-icon(icon='plus', size='xs')
      span Badge
    chi-badge(class='-m--1')
      span Badge
      chi-icon(icon='x', size='xs')
    chi-badge(class='-m--1', variant='flat', color='success')
      chi-icon(icon='circle')
      span Active
    chi-badge(class='-m--1', variant='flat', color='warning')
      chi-icon(icon='circle-clock')
      span Away
    chi-badge(class='-m--1', variant='flat', color='danger')
      chi-icon(icon='circle-minus')
      span Do not Disturb
    chi-badge(class='-m--1', variant='flat', color='muted')
      chi-icon(icon='circle')
      span Offline
  .example-tabs.-pl--2
    ul.a-tabs#examples-icon-badges
      li.-active
        a(href=`#webcomponent-icon-badges`) Web component
      li
        a(href=`#html-icon-badges`) HTML
  .a-tabs-panel.-active#webcomponent-icon-badges
    :code(lang="html")
      <chi-badge>
        <chi-icon icon="plus" size="xs"></chi-icon>
        <span>Badge</Badge>
      </chi-badge>
      <chi-badge>
        <span>Badge</Badge>
        <chi-icon icon="x" size="xs"></chi-icon>
      </chi-badge>
      <chi-badge variant="flat" color="success">
        <chi-icon icon="circle"></chi-icon>
        <span>Active</Badge>
      </chi-badge>
      <chi-badge variant="flat" color="warning">
        <chi-icon icon="circle-clock"></chi-icon>
        <span>Away</Badge>
      </chi-badge>
      <chi-badge variant="flat" color="danger">
        <chi-icon icon="circle-minus"></chi-icon>
        <span>Do not Disturb</Badge>
      </chi-badge>
      <chi-badge variant="flat" color="muted">
        <chi-icon icon="circle"></chi-icon>
        <span>Offline</Badge>
      </chi-badge>
  .a-tabs-panel#html-icon-badges
    :code(lang="html")
      <div class="a-badge">
        <div class="a-badge__content">
          <i class="a-icon -xs icon-plus"></i>
          <span>Badge</span>
        </div>
      </div>
      <div class="a-badge">
        <div class="a-badge__content">
          <span>Badge</span>
          <i class="a-icon -xs icon-x"></i>
        </div>
      </div>
      <div class="a-badge -flat -success">
        <div class="a-badge__content">
          <i class="a-icon icon-circle"></i>
          <span>Active</span>
        </div>
      </div>
      <div class="a-badge -flat -warning">
        <div class="a-badge__content">
          <i class="a-icon icon-circle-clock"></i>
          <span>Away</span>
        </div>
      </div>
      <div class="a-badge -flat -danger">
        <div class="a-badge__content">
          <i class="a-icon icon-circle-minus"></i>
          <span>Do not disturb</span>
        </div>
      </div>
      <div class="a-badge -flat -muted">
        <div class="a-badge__content">
          <i class="a-icon icon-circle"></i>
          <span>Offline</span>
        </div>
      </div>

h2 Additional Sizes
h3 Small
p.-text Use the <code>-sm</code> modifier class to render small badges.
.example.-mb--3
  .-p--2
    chi-badge(size='sm', class='-m--1')= 'Badge'
    chi-badge(size='sm', class='-m--1', variant='flat')
      chi-icon(icon='atom')
      span Badge
  .example-tabs.-pl--2
    ul.a-tabs#examples-sizes-small
      li.-active
        a(href=`#webcomponent-sizes-small`) Web component
      li
        a(href=`#html-sizes-small`) HTML
  .a-tabs-panel.-active#webcomponent-sizes-small
    :code(lang="html")
      <chi-badge size="sm">Badge</chi-badge>
      <chi-badge size="sm" variant="flat">
        <chi-icon icon="atom"></chi-icon>
        <span>Badge</span>
      </chi-badge>
  .a-tabs-panel#html-sizes-small
    :code(lang="html")
      <div class="a-badge -sm">
        <span>Badge</span>
      </div>
      <div class="a-badge -flat -sm">
        <div class="a-badge__content">
          <i class="a-icon icon-atom"></i>
          <span>Badge</span>
        </div>
      </div>

h3 Extra small
p.-text Use the <code>-xs</code> modifier class to render even smaller badges.
.example.-mb--3
  .-p--2
    chi-badge(size='xs', class='-m--1')= 'Badge'
    chi-badge(size='xs', class='-m--1', variant='flat')
      chi-icon(icon='atom')
      span Badge
  .example-tabs.-pl--2
    ul.a-tabs#examples-sizes-extra-small
      li.-active
        a(href=`#webcomponent-sizes-extra-small`) Web component
      li
        a(href=`#html-sizes-extra-small`) HTML
  .a-tabs-panel.-active#webcomponent-sizes-extra-small
    :code(lang="html")
      <chi-badge size="xs">Badge</chi-badge>
      <chi-badge size="xs" variant="flat">
        <chi-icon icon="atom"></chi-icon>
        <span>Badge</span>
      </chi-badge>
  .a-tabs-panel#html-sizes-extra-small
    :code(lang="html")
      <div class="a-badge -xs">
        <span>Badge</span>
      </div>
      <div class="a-badge -flat -xs">
        <div class="a-badge__content">
          <i class="a-icon icon-atom"></i>
          <span>Badge</span>
        </div>
      </div>

h2 Text Transform
h3 Uppercase
p.-text Use the <code>-text--uppercase</code> text utility class to render badges in all uppercase. <code>-text--lowercase</code> and <code>-text--capitalized</code> are also supported.
.example.-mb--3
  .-p--2
    chi-badge(text-transform='uppercase', class='-m--1')= 'Badge'
    chi-badge(text-transform='lowercase', class='-m--1')= 'BADGE'
    chi-badge(text-transform='capitalized', class='-m--1')= 'badge'
  .example-tabs.-pl--2
    ul.a-tabs#examples-text-transformation
      li.-active
        a(href=`#webcomponent-text-transformation`) Web component
      li
        a(href=`#html-text-transformation`) HTML
  .a-tabs-panel.-active#webcomponent-text-transformation
    :code(lang="html")
      <chi-badge text-transform="uppercase">Badge</chi-badge>
      <chi-badge text-transform="lowercase">BADGE</chi-badge>
      <chi-badge text-transform="capitalized">badge</chi-badge>
  .a-tabs-panel#html-text-transformation
    :code(lang="html")
      <div class="a-badge -text--uppercase">
        <span>Badge</span>
      </div>
      <div class="a-badge -text--lowercase">
        <span>Badge</span>
      </div>
      <div class="a-badge -text--capitalized">
        <span>Badge</span>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('examples-base'));
      chi.tab(document.getElementById('examples-outline'));
      chi.tab(document.getElementById('examples-flat'));
      chi.tab(document.getElementById('examples-pill'));
      chi.tab(document.getElementById('examples-icon-badges'));
      chi.tab(document.getElementById('examples-sizes-small'));
      chi.tab(document.getElementById('examples-sizes-extra-small'));
      chi.tab(document.getElementById('examples-text-transformation'));
    }
  );
