extends ../layout.pug

block variables
  - var title = 'Alert Toasts'
  - var sizes = ['default', 'sm', 'lg']
  - var types = { base: 'flag', success:'circle-check', danger:'circle-x', warning:'warning', info:'circle-info', muted:'circle-info' }

block content
  each size in sizes
    h4 Default / #{size}
    div(class=`test-toast-${size}`)
      each val, type in types
        if (type === 'base')
          chi-alert.-m--2(type='toast', size=`${size === 'default' ? '' : size}`, icon=val, class=type, data-cy=`alert-toast-${type}-${size}`)
            =`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
        else
          chi-alert.-m--2(type='toast', size=`${size === 'default' ? '' : size}`, icon=val, color=type, data-cy=`alert-toast-${type}-${size}`)
            =`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`

    h4 Titled /  #{size}
    div(class=`test-toast-titled-${size}`)
      each val, type in types
        if (type === 'base')
          chi-alert.-m--2(type='toast', size=`${size === 'default' ? '' : size}`, class=type, icon=val, title=type, data-cy=`alert-toast-title-${type}-${size}`)
            =`This is ${type === 'info' ? 'an' : 'a'} ${type} toast alert`
        else
          chi-alert.-m--2(type='toast', size=`${size === 'default' ? '' : size}`, color=type, icon=val, title=type)
            =`This is ${type === 'info' ? 'an' : 'a'} ${type} toast alert`
