extends ../layout.pug

block variables
  - var title = 'Search input'
  - var statuses = ['initial', 'hover', 'focus', 'disabled']
  - var sizes = ['default', 'xs', 'sm', 'md', 'lg', 'xl']
  - var states = ['default', 'success', 'warning', 'danger']
  - const helperMessage = 'Helper message'

block content
  each size in sizes
    div(class=`test-${size}`)
      span.-text--h2= `Search Input / ${size}`
      table(cellpadding='0', cellspacing='0', width='800px')
        each status in statuses
          tr
            td
              small= `${status}`
            each state in states
              td
                .-m--1
                  .chi-form__item.-row
                    .chi-input__wrapper.-icon--right
                      chi-search-input(
                        _status= status,
                        size= size != 'default' && size,
                        value='Value'
                        state= state != 'default' && state,
                        disabled= status=='disabled'?'disabled':false)

  each size in sizes
    div(class=`test-helper-message-${size}`)
      span.-text--h2= `Search Input + Helper Message / ${size}`
      table(cellpadding='0', cellspacing='0', width='800px')
        each status in statuses
          tr
            td
              small= `${status}`
            each state in states
              td
                .-m--1
                  .chi-form__item.-row
                    .chi-input__wrapper.-icon--right
                      chi-search-input(
                        _status= status,
                        size= size != 'default' && size,
                        helper-message= helperMessage,
                        state= state != 'default' && state,
                        value='Value'
                        disabled= status=='disabled'?'disabled':false)

  .test-autocomplete
    h2 Search Input - Autocomplete
    .chi-form__item
      chi-search-input(id="autocomplete", mode="autocomplete", data-cy="autocomplete")

  .test-autocomplete-no-menu-items
    h2 Search Input - Autocomplete with no menu items
    .chi-form__item
      chi-search-input(id="autocomplete-no-menu-items", mode="autocomplete", data-cy="autocomplete-no-menu-items")

  script.
    document.addEventListener('DOMContentLoaded', () => {
      const autocompleteElement = document.querySelector('#autocomplete');

      autocompleteElement.menuItems = [
        { title: "Item 1", href: "#" },
        { title: "Item 2", href: "#" },
        { title: "Item 3", href: "#" },
        { title: "Item 4", href: "#" },
        { title: "Item 5", href: "#" }
      ];
    });
