.-px--2.-pt--2.-pb--1
  .chi-dropdown.-w--100
    button.-theme-switch.chi-button.-fluid.chi-dropdown__trigger
      .chi-button__content.-flex--column
        span.-d--flex.-w--100.-mr--0.-text--normal.-text--sm Theme
        .-d--flex
          .-align-items--center.-mr--1
            img.-favicon(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg`)
          div.-theme-name Lumen
    .chi-dropdown__menu
      a.theme-trigger-centurylink.chi-dropdown__menu-item(href='#', data-theme='CenturyLink', onclick="switchTheme('CenturyLink', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/centurylink/images/favicon.svg`)
        .-theme-name CenturyLink
      a.theme-trigger-lumen.chi-dropdown__menu-item(href='#', data-theme='Lumen', onclick="switchTheme('Lumen', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg`)
        .-theme-name Lumen
      a.theme-trigger-portal.chi-dropdown__menu-item(href='#', data-theme='Lumen Enterprise Portal', onclick="switchTheme('Portal', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg`)
        .-theme-name Lumen Enterprise Portal

ul.chi-tabs.-vertical.-lg.-animated
  each collection, key in collections
    if utils.hasActiveSections(collection)
      if utils.isCurrentCollection(collection, path)
        li.-active
          .chi-collection__title
            =key
          if utils.hasSections(collection)
            ul.chi-tabs__subtabs
              each section in collection
                if section.disabled
                  //- li
                  //-   a(href=`${rootPath}${section.path}`, disabled="disabled") #{section.title}
                else if section.accessibilityAccordion
                  li
                    .chi-accordion.accessibility-accordion
                      .chi-accordion__item.-bg--none.-expanded
                        button.chi-accordion__trigger
                          .chi-accordion__title #{section.title}
                          i.chi-icon.icon-chevron-down.-xs
                        .chi-accordion__content.-p--0
                          ul.chi-tabs__subtabs
                            li(class=`${'foundations/accessibility/overview' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/overview`) Overview
                            li(class=`${'foundations/accessibility/using-keyboard' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/using-keyboard`) Using the keyboard
                            li(class=`${'foundations/accessibility/page-structure' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/page-structure`) Page structure
                            li(class=`${'foundations/accessibility/color-sensory' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/color-sensory`) Color and sensory
                            li(class=`${'foundations/accessibility/images' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/images`) Images
                            li(class=`${'foundations/accessibility/text' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/text`) Text
                            li(class=`${'foundations/accessibility/links-and-forms' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/links-and-forms`) Links and forms
                            li(class=`${'foundations/accessibility/tables' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/tables`) Tables
                            li(class=`${'foundations/accessibility/other' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/other`) Other
                            
                else
                  -var portalOnly = section.title === 'Portal' || section.title ==='App layout' ? ' -portal-only' : "";
                  li(class=section.path === path ? '-active' + portalOnly : portalOnly)
                    a(href=`${rootPath}${section.path}`) #{section.title}
                      if section.title == 'Button'
                        .-sr--only component
      else
        li
          .chi-collection__title
            =key
          if utils.hasSections(collection)
            ul.chi-tabs__subtabs
              each section in collection
                if section.disabled
                  //- li
                  //-   a(href=`${rootPath}${section.path}`, disabled="disabled") #{section.title}
                else if section.accessibilityAccordion
                  li
                    .chi-accordion.accessibility-accordion
                      .chi-accordion__item.-bg--none
                        button.chi-accordion__trigger
                          .chi-accordion__title #{section.title}
                          i.chi-icon.icon-chevron-down.-xs
                        .chi-accordion__content.-p--0
                          ul.chi-tabs__subtabs
                            li(class=`${'foundations/accessibility/overview' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/overview`) Overview
                            li(class=`${'foundations/accessibility/using-keyboard' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/using-keyboard`) Using the keyboard
                            li(class=`${'foundations/accessibility/page-structure' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/page-structure`) Page structure
                            li(class=`${'foundations/accessibility/color-sensory' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/color-sensory`) Color and sensory
                            li(class=`${'foundations/accessibility/images' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/images`) Images
                            li(class=`${'foundations/accessibility/text' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/text`) Text
                            li(class=`${'foundations/accessibility/links-and-forms' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/links-and-forms`) Links and forms
                            li(class=`${'foundations/accessibility/tables' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/tables`) Tables
                            li(class=`${'foundations/accessibility/other' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/other`) Other
                else
                  -var portalOnly = section.title === 'Portal' || section.title ==='App layout' ? ' -portal-only' : "";
                  li(class=section.path === path ? '-active' + portalOnly : portalOnly)
                    a(href=`${rootPath}${section.path}`) #{section.title}
                      if section.title == 'Button'
                        .-sr--only component
    else
      li
        a(href=`#`, disabled="disabled") #{key}
