.-px--2.-pt--2.-pb--1
  .chi-dropdown.-w--100
    button.-theme-switch.chi-button.-fluid.chi-dropdown__trigger
      .chi-button__content.-flex--column
        span.-d--flex.-w--100.-mr--0.-text--normal.-text--sm Theme
        .-d--flex.-w--100
          .-align-items--center.-mr--1
            img.-favicon(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg` alt='Lumen Logo')
          div.-theme-name Lumen
    .chi-dropdown__menu
      a.theme-trigger-centurylink.chi-dropdown__menu-item(href='#', data-theme='CenturyLink', onclick="switchTheme('CenturyLink', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/centurylink/images/favicon.svg` alt='CenturyLink Logo')
        .-theme-name CenturyLink
      a.theme-trigger-lumen.chi-dropdown__menu-item(href='#', data-theme='Lumen', onclick="switchTheme('Lumen', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg` alt='Lumen Logo')
        .-theme-name Lumen
      a.theme-trigger-portal.chi-dropdown__menu-item(href='#', data-theme='Lumen Enterprise Portal', onclick="switchTheme('Portal', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg` alt='Lumen Enterprise Portal Logo')
        .-theme-name Lumen Enterprise Portal
      a.theme-trigger-lumen-rebrand24.chi-dropdown__menu-item(href='#', data-theme='Lumen Rebrand24', onclick="switchTheme('LumenRebrand24', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg` alt='Lumen Rebrand24 Logo')
        .-theme-name Lumen Rebrand 24
      a.theme-trigger-portal-rebrand24.chi-dropdown__menu-item(href='#', data-theme='Portal Rebrand24', onclick="switchTheme('PortalRebrand24', this)")
        img.-mr--1(width='16', height='16', src=`${rootPath}assets/themes/lumen/images/favicon.svg` alt='Portal Rebrand24 Logo')
        .-theme-name Portal Rebrand 24
ul.chi-tabs.-vertical.-lg.-animated
  each collection, key in collections
    if utils.hasActiveSections(collection)
      if utils.isCurrentCollection(collection, path)
        li.-active
          .chi-collection__title
            =key
          if utils.hasSections(collection)
            ul.chi-tabs__subtabs
              each section in collection
                if section.disabled
                  //- li
                  //-   a(href=`${rootPath}${section.path}`, disabled="disabled") #{section.title}
                else if section.accessibilityAccordion
                  li
                    .chi-accordion.accessibility-accordion
                      .chi-accordion__item.-bg--none
                        button.chi-accordion__trigger
                          .chi-accordion__title #{section.title}
                          i.chi-icon.icon-chevron-down.-xs(aria-hidden="true")
                        .chi-accordion__content.-p--0
                          ul.chi-tabs__subtabs
                            li(class=`${'foundations/accessibility/overview' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/overview`) Overview
                            li(class=`${'foundations/accessibility/using-keyboard' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/using-keyboard`) Using the keyboard
                            li(class=`${'foundations/accessibility/page-structure' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/page-structure`) Page structure
                            li(class=`${'foundations/accessibility/color-sensory' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/color-sensory`) Color and sensory
                            li(class=`${'foundations/accessibility/images' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/images`) Images
                            li(class=`${'foundations/accessibility/text' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/text`) Text
                            li(class=`${'foundations/accessibility/links-and-forms' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/links-and-forms`) Links and forms
                            li(class=`${'foundations/accessibility/tables' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/tables`) Tables
                            li(class=`${'foundations/accessibility/other' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/other`) Other            
                else
                  -var portalOnly = section.title === 'Portal' || section.title ==='App layout' ? ' -portal-only' : "";
                  if section.title === 'Alert'
                    li
                      a(href=`${rootPath}components/accordion`) Accordion
                    li
                      a(href=`${rootPath}components/activity`) Activity
                    li(class=section.path === path ? '-active' + portalOnly : portalOnly)
                      a(href=`${rootPath}${section.path}`) #{section.title}
                        if section.title == 'Button' || section.title == 'Link'
                          .-sr--only component
                  else
                    li(class=section.path === path ? '-active' + portalOnly : portalOnly)
                      a(href=`${rootPath}${section.path}`) #{section.title}
                        if section.title == 'Button' || section.title == 'Link'
                          .-sr--only component
                  if section.title == 'Card' && section.template
                    li
                      a(href=`${rootPath}templates/error-404`) Error 404
                    li
                      a(href=`${rootPath}templates/error-500`) Error 500
                    li
                      a(href=`${rootPath}templates/state`) State
                  if section.title === 'Alert'
                    li
                      a(href=`${rootPath}components/avatar`) Avatar
                    li
                      a(href=`${rootPath}components/badge`) Badge
                    li
                      a(href=`${rootPath}components/brand`) Brand
                    li
                      a(href=`${rootPath}components/breadcrumb`) Breadcrumb
                  if section.title === 'Button'
                    li
                      a(href=`${rootPath}components/button-group`) Button group
                    li
                      a(href=`${rootPath}components/card`) Card
                  if section.title === 'Date picker'
                    li
                      a(href=`${rootPath}components/divider`) Divider
                  if section.title === 'Expansion panel'
                    li
                      a(href=`${rootPath}components/forms/file-input`) File input
                    li
                      a(href=`${rootPath}components/flag-icon`) Flag icon
                    li
                      a(href=`${rootPath}components/footer`) Footer
                  if section.title === 'Icon'
                    li
                      a(href=`${rootPath}components/label`) Label
                  if section.title === 'Marketing Icon'
                    li
                      a(href=`${rootPath}components/mobile-navigation`) Mobile navigation
                  if section.title === 'Popover'
                    li
                      a(href=`${rootPath}components/price`) Price
                  if section.title === 'Sidenav'
                    li
                      a(href=`${rootPath}components/skeleton`) Skeleton
                  if section.title === 'Steps'
                    li
                      a(href=`${rootPath}components/table`) Table
      else
        li
          .chi-collection__title
            =key
          if utils.hasSections(collection)
            ul.chi-tabs__subtabs
              each section in collection
                if section.disabled
                  //- li
                  //-   a(href=`${rootPath}${section.path}`, disabled="disabled") #{section.title}
                else if section.accessibilityAccordion
                  li
                    .chi-accordion.accessibility-accordion
                      .chi-accordion__item.-bg--none
                        button.chi-accordion__trigger
                          .chi-accordion__title #{section.title}
                          i.chi-icon.icon-chevron-down.-xs(aria-hidden="true")
                        .chi-accordion__content.-p--0
                          ul.chi-tabs__subtabs
                            li(class=`${'foundations/accessibility/overview' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/overview`) Overview
                            li(class=`${'foundations/accessibility/using-keyboard' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/using-keyboard`) Using the keyboard
                            li(class=`${'foundations/accessibility/page-structure' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/page-structure`) Page structure
                            li(class=`${'foundations/accessibility/color-sensory' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/color-sensory`) Color and sensory
                            li(class=`${'foundations/accessibility/images' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/images`) Images
                            li(class=`${'foundations/accessibility/text' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/text`) Text
                            li(class=`${'foundations/accessibility/links-and-forms' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/links-and-forms`) Links and forms
                            li(class=`${'foundations/accessibility/tables' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/tables`) Tables
                            li(class=`${'foundations/accessibility/other' === path ? "-active" : ""}`)
                              a(href=`${rootPath}foundations/accessibility/other`) Other
                else
                  -var portalOnly = section.title === 'Portal' || section.title ==='App layout' ? ' -portal-only' : "";
                  if section.title === 'Alert'
                    li
                      a(href=`${rootPath}components/accordion`) Accordion
                    li
                      a(href=`${rootPath}components/activity`) Activity
                    li(class=section.path === path ? '-active' + portalOnly : portalOnly)
                      a(href=`${rootPath}${section.path}`) #{section.title}
                        if section.title == 'Button' || section.title == 'Link'
                          .-sr--only component
                  else
                    li(class=section.path === path ? '-active' + portalOnly : portalOnly)
                      a(href=`${rootPath}${section.path}`) #{section.title}
                        if section.title == 'Button' || section.title == 'Link'
                          .-sr--only component
                  if section.title == 'Card' && section.template
                    li
                      a(href=`${rootPath}templates/error-404`) Error 404
                    li
                      a(href=`${rootPath}templates/error-500`) Error 500
                    li
                      a(href=`${rootPath}templates/state`) State
                  if section.title === 'Alert'
                    li
                      a(href=`${rootPath}components/avatar`) Avatar
                    li
                      a(href=`${rootPath}components/badge`) Badge
                    li
                      a(href=`${rootPath}components/brand`) Brand
                    li
                      a(href=`${rootPath}components/breadcrumb`) Breadcrumb
                  if section.title === 'Button'
                    li
                      a(href=`${rootPath}components/button-group`) Button group
                    li
                      a(href=`${rootPath}components/card`) Card
                  if section.title === 'Date picker'
                    li
                      a(href=`${rootPath}components/divider`) Divider
                  if section.title === 'Expansion panel'
                    li
                      a(href=`${rootPath}components/forms/file-input`) File input
                    li
                      a(href=`${rootPath}components/flag-icon`) Flag icon
                    li
                      a(href=`${rootPath}components/footer`) Footer
                  if section.title === 'Icon'
                    li
                      a(href=`${rootPath}components/label`) Label
                  if section.title === 'Marketing Icon'
                    li
                      a(href=`${rootPath}components/mobile-navigation`) Mobile navigation
                  if section.title === 'Popover'
                    li
                      a(href=`${rootPath}components/price`) Price
                  if section.title === 'Sidenav'
                    li
                      a(href=`${rootPath}components/skeleton`) Skeleton
                  if section.title === 'Steps'
                    li
                      a(href=`${rootPath}components/table`) Table
    else
      if key === "Utilities"
        li
          .chi-collection__title
            =key
          ul.chi-tabs__subtabs
            li
              a(href=`${rootPath}utilities/border`) Border
            li
              a(href=`${rootPath}utilities/color`) Color
            li
              a(href=`${rootPath}utilities/display`) Display
            li
              a(href=`${rootPath}utilities/flex`) Flex
            li
              a(href=`${rootPath}utilities/image`) Image
            li
              a(href=`${rootPath}utilities/opacity`) Opacity
            li
              a(href=`${rootPath}utilities/overflow`) Overflow
            li
              a(href=`${rootPath}utilities/position`) Position
            li
              a(href=`${rootPath}utilities/shadow`) Shadow
            li
              a(href=`${rootPath}utilities/sizing`) Sizing
            li
              a(href=`${rootPath}utilities/spacing`) Spacing
            li
              a(href=`${rootPath}utilities/text`) Text
            li
              a(href=`${rootPath}utilities/vertical-align`) Vertical-align
            li
              a(href=`${rootPath}utilities/zindex`) Z-index
      else
        li
          a(href=`#`, disabled="disabled") #{key}

script(type="text/javascript", src=`${rootPath}assets/scripts/sidenav.js`)
