if name === 'css-lumen'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | link 
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | stylesheet
          span.token.punctuation &quot; 
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/chi.css
          span.token.punctuation &quot; 
          span.token.attr-name integrity
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          div.-d--inline-block #{data['dist/chi.css']}
          span.token.punctuation &quot; 
        span.token.attr-name crossorigin
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | anonymous
          span.token.punctuation &quot;
        span.token.punctuation &gt;

if name === 'css-centurylink'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | link 
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | stylesheet
          span.token.punctuation &quot; 
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/chi-centurylink.css
          span.token.punctuation &quot; 
          span.token.attr-name integrity
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          div.-d--inline-block #{data['dist/chi-centurylink.css']}
          span.token.punctuation &quot; 
        span.token.attr-name crossorigin
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | anonymous
          span.token.punctuation &quot;
        span.token.punctuation &gt;

if name === 'css-portal'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | link 
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | stylesheet
          span.token.punctuation &quot; 
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/chi-portal.css
          span.token.punctuation &quot; 
          span.token.attr-name integrity
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          div.-d--inline-block #{data['dist/chi-portal.css']}
          span.token.punctuation &quot; 
        span.token.attr-name crossorigin
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | anonymous
          span.token.punctuation &quot;
        span.token.punctuation &gt;

if name === 'js'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | script 
        span.token.attr-name src
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/js/chi.js
          span.token.punctuation &quot; 
        span.token.attr-name integrity
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          div.-d--inline-block #{data['dist/js/chi.js']}
          span.token.punctuation &quot; 
        span.token.attr-name crossorigin
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | anonymous
          span.token.punctuation &quot;
        span.token.punctuation &gt;
      span.token.script
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;/
          | script
        span.token.punctuation &gt;

if name === 'favicon-lumen'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | link 
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | icon
          span.token.punctuation &quot; 
        span.token.attr-name type
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | image/svg+xml
          span.token.punctuation &quot; 
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/assets/themes/lumen/images/favicon.svg
          span.token.punctuation &quot; 
          span.token.attr-name integrity
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            div.-d--inline-block #{data['dist/assets/themes/lumen/images/favicon.svg']}
            span.token.punctuation &quot; 
          span.token.attr-name crossorigin
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            | anonymous
            span.token.punctuation &quot;
        span.token.punctuation &gt;
      span.token.tag.-d--block
        span.token.tag
          span.token.punctuation &lt;
          | link 
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | alternate icon
          span.token.punctuation &quot; 
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/assets/themes/lumen/images/favicon.ico
          span.token.punctuation &quot; 
          span.token.attr-name integrity
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            div.-d--inline-block #{data['dist/assets/themes/lumen/images/favicon.ico']}
            span.token.punctuation &quot; 
          span.token.attr-name crossorigin
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            | anonymous
            span.token.punctuation &quot;
        span.token.punctuation &gt;

if name === 'favicon-centurylink'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | link 
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | icon
          span.token.punctuation &quot; 
        span.token.attr-name type
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | image/svg+xml
          span.token.punctuation &quot; 
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/assets/themes/centurylink/images/favicon.svg
          span.token.punctuation &quot; 
          span.token.attr-name integrity
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            div.-d--inline-block #{data['dist/assets/themes/centurylink/images/favicon.svg']}
            span.token.punctuation &quot; 
          span.token.attr-name crossorigin
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            | anonymous
            span.token.punctuation &quot;
        span.token.punctuation &gt;
      span.token.tag.-d--block
        span.token.tag
          span.token.punctuation &lt;
          | link 
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | alternate icon
          span.token.punctuation &quot; 
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/assets/themes/centurylink/images/favicon.ico
          span.token.punctuation &quot; 
          span.token.attr-name integrity
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            div.-d--inline-block #{data['dist/assets/themes/centurylink/images/favicon.ico']}
            span.token.punctuation &quot; 
          span.token.attr-name crossorigin
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            | anonymous
            span.token.punctuation &quot;
        span.token.punctuation &gt;

if name === 'web-components'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | script 
        span.token.attr-name type
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | module
          span.token.punctuation &quot; 
        span.token.attr-name src
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/js/ce/ux-chi-ce/ux-chi-ce.esm.js
          span.token.punctuation &quot; 
          span.token.attr-name integrity
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            div.-d--inline-block #{data['dist/js/ce/ux-chi-ce/ux-chi-ce.esm.js']}
            span.token.punctuation &quot; 
          span.token.attr-name crossorigin
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            | anonymous
            span.token.punctuation &quot;
        span.token.punctuation &gt;
      span.token.script
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;/
          | script
        span.token.punctuation &gt;
      span.token.tag.-d--block
        span.token.tag
          span.token.punctuation &lt;
          | script 
        span.token.attr-name nomodule
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          span.token.punctuation &quot; 
        span.token.attr-name src
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/5.35.0/js/ce/ux-chi-ce/ux-chi-ce.js
          span.token.punctuation &quot; 
          span.token.attr-name integrity
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            div.-d--inline-block #{data['dist/js/ce/ux-chi-ce.js']}
            span.token.punctuation &quot; 
          span.token.attr-name crossorigin
          span.token.attr-value
            span.token.punctuation.attr-equals =
            span.token.punctuation &quot;
            | anonymous
            span.token.punctuation &quot;
        span.token.punctuation &gt;
        span.token.script
        span.token.tag
          span.token.tag
            span.token.punctuation &lt;/
            | script
          span.token.punctuation &gt;
