mixin props(props)
  if props.length
    h3 Properties
    section.a-table.a-table__options.-bordered.-my--3
      div(style='overflow-x:auto;')
        table.-text(cellpadding='0', cellspacing='0')
          thead
            tr
              th
                div Property
              th
                div Attribute
              th
                div Description
              th
                div Type
              th
                div Default
          tbody
            each prop in props
              if prop.name !== 'extraClass'
                tr
                  td
                    div
                      code=prop.name
                      if prop.required
                        strong (required)
                  td
                    div
                      if prop.attr
                        code=prop.attr
                      else
                        | --
                  td
                    div
                      if prop.deprecation !== undefined
                        .-text--danger **[DEPRECATED]** #{prop.deprecation}
                        br
                        br
                      =prop.docs
                  td
                    div
                      code=prop.type
                  td
                    div
                      if prop.default
                        code=prop.default
                      else
                        em undefined

mixin events(events)
  if events.length
    h3 Events
    section.a-table.a-table__options.-bordered.-my--3
      div(style='overflow-x:auto;')
        table.-text(cellpadding='0', cellspacing='0')
          thead
            tr
              th
                div Event
              th
                div Description
              th
                div Type
          tbody
            each ev in events
              tr
                td
                  div
                    code=ev.event
                td
                  div=ev.docs
                td
                  div
                    code=`CustomEvent<${ev.detail}>`

mixin methods(methods)
  if methods.length
    h4 Methods
    section.a-table.a-table__options.-bordered.-my--3
      div(style='overflow-x:auto;')
        table.-text(cellpadding='0', cellspacing='0')
          thead
            tr
              th
                div Method
              th
                div Description
              th
                div Returns
              th
                div Parameters
          tbody
            each method in methods
              tr
                td
                  div
                    code=method.signature
                td
                  div=method.docs
                td
                  div
                    if method.returns
                      p.-text Type: #{method.returns.type}
                  td
                    div
                      each parameter in method.parameters
                        |#{parameter.name}:#{code=parameter.type}
                        if parameter.docs
                          div
                            | Description:
                            code=parameter.docs

each component in data.components
  if component.tag === name
      +props(component.props)
      +events(component.events)
      +methods(component.methods)
