if introduction
    .chi-grid__container.-introduction
        .chi-grid.-no-gutter
            .chi-col.-w--12.-w-lg--6.-n-lg--2
                .introduction-graphic
                    .shape--1
                    .shape--2
                    .shape--3
                    .shape--4
                    .shape--5
                    .shape--6
            .chi-col.-w--12.-w-lg--6.-n-lg--1
                h1.docs-titlebar__title=introductionTitle
                if introductionSubtitle
                    h2.docs-titlebar__description=introductionSubtitle
                .docs-titlebar__buttons
                    a.chi-button.-primary.-lg.-uppercase.-px--4.-mb--2.-mb-sm--0(href='../getting-started/installation') Install Chi
                    a.chi-button.-dark.-outline.-lg.-uppercase.-px--4.-ml-sm--2.-mb--2.-mb-sm--0(href='../getting-started/whats-new') See What's New In v5.35.0
else
    .chi-grid__container
        h1.docs-titlebar__title=title
        if description
            .docs-titlebar__description=description
if tabs
    .chi-grid__container
        nav.docs-tabs
            ul.chi-tabs#viewtabs
                - var tabNumber = 0
                each title, tab in tabs
                    if tabNumber == 0
                        li.-active
                            a(href=`#${title}`) #{tab}
                    else
                        li
                            a(href=`#${title}`) #{tab}
                    - tabNumber++

            script.
                chi.tab(document.getElementById('viewtabs'));
