- var steps = ['Step 1', 'Step 2', 'Step 3', 'Step 4', 'Step 5'];

h2 Examples
p.-text
  | To display steps, apply the class <code>chi-steps</code> to a unordered list <code>ul</code>
  | and indicate the active link with the class <code>-active</code> in the corresponding li tag.

h3 Base
.example.-mb--3
  .-p--3
    ul.chi-steps.-pb--2.-p-sm--6
      each step in steps
        if step == 'Step 1'
          li.chi-steps__item.-completed
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 2'
          li.chi-steps__item.-completed
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 3'
          li.chi-steps__item.-active
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 5'
          li.chi-steps__item
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
        else
          li.chi-steps__item
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(
          href=`#webcomponent-base`
          role="tab"
          aria-selected="false"
          aria-controls="webcomponent-base"
         ) Web Component
      li.-active
        a(
          href=`#html-base`
          role="tab"
          aria-selected="true"
          aria-controls="html-base"
         ) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <ul class="chi-steps">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 1</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 2</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 3</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 4</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 5</a>
            </div>
          </div>
        </li>
      </ul>

h3 Horizontal Labels
p.-text
  | To display steps with horizontal labels, apply the class <code>-horizontal-label</code> to the steps container and
  |  indicate the active link with the class <code>-active</code> and the class <code>-completed</code> in the corresponding div tag.

.example.-mb--3
  .-p--3
    ul.chi-steps.-horizontal-label.-labels-sm--hide.-p-sm--5
      each step in steps
        if step == 'Step 1'
          li.chi-steps__item.-completed
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 2'
          li.chi-steps__item.-completed
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 3'
          li.chi-steps__item.-active
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 5'
          li.chi-steps__item
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
        else
          li.chi-steps__item
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line 
  .example-tabs.-pl--2
    ul.chi-tabs#example-horizontal-labels
      li.-disabled
        a(href=`#webcomponent-horizontal-labels`) Web Component
      li.-active
        a(href=`#html-horizontal-labels`) HTML Blueprint
  .chi-tabs-panel#webcomponent-horizontal-labels
  .chi-tabs-panel.-active#html-horizontal-labels
    :code(lang="html")
      <ul class="chi-steps -horizontal-label">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 1</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 2</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 3</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 4</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 5</a>
          </div>
        </li>
      </ul>

h3 Vertical
p.-text
  | To display steps vertically, apply the class <code>-vertical</code> to the steps container.

.example.-mb--3
  .-p--3
    .-d--flex.-flex--column.-justify-content--center.-align-items--center
      ul.chi-steps.-vertical
        each step in steps
          if step == 'Step 1'
            li.chi-steps__item.-completed
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
                  .chi-steps__subitem.-completed
                    i.chi-icon.icon-check.-xs(aria-hidden="true")
                    p Completed item
                  .chi-steps__subitem.-active
                    i.chi-icon.icon-spinner.-xs(aria-hidden="true")
                    p In progress item
                  .chi-steps__subitem
                    p Pending item
              div.chi-steps__line
          else if step == 'Step 2'
            li.chi-steps__item.-completed
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
              div.chi-steps__line
          else if step == 'Step 3'
            li.chi-steps__item.-active
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
              div.chi-steps__line
          else if step == 'Step 5'
            li.chi-steps__item
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
          else
            li.chi-steps__item
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
              div.chi-steps__line
  .example-tabs.-pl--2
    ul.chi-tabs#example-vertical
      li.-disabled
        a(
          href=`#webcomponent-vertical`
          role="tab"
          aria-selected="false"
          aria-controls="webcomponent-vertical"
         ) Web Component
      li.-active
        a(
          href=`#html-vertical`
          role="tab"
          aria-selected="true"
          aria-controls="html-vertical"
         ) HTML Blueprint
  .chi-tabs-panel#webcomponent-vertical
  .chi-tabs-panel.-active#html-vertical
    :code(lang="html")
      <ul class="chi-steps -vertical">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 1</a>
              <div class="chi-steps__subitem -completed">
                <i class="chi-icon icon-check -xs" aria-hidden="true"></i>
                <p>Completed item</p>
              </div>
              <div class="chi-steps__subitem -active">
                <i class="chi-icon icon-spinner -xs" aria-hidden="true"></i>
                <p>In progress item</p>
              </div>
              <div class="chi-steps__subitem">
                <p>Pending item</p>
              </div>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 2</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 3</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 4</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 5</a>
            </div>
          </div>
        </li>
      </ul>

.-portal--show
  h3 Order progress
  .example.-mb--3
    .-p--3
      .-d--flex.-flex--column.-justify-content--center.-align-items--center
        ul.chi-steps.-vertical
          each step in steps
            if step == 'Step 1'
              li.chi-steps__item.-completed
                div.chi-steps__icon
                  div.chi-steps__content
                    a.chi-steps__item-title.-text--h5.-text--navy.-lh--2.-m--0(href='#')= `${step}`
                    .chi-steps__subitem.-completed
                      i.chi-icon.icon-check.-xs(aria-hidden="true")
                      p Completed item 
                        span.-text--2xs  | 17 Feb 2021
                      button.chi-button.-icon.-xs.-flat.-p--0.-ml--1(id="example__help-button" aria-label="Help" data-target="#example__help-popover")
                        i.chi-icon.icon-circle-info-outline.-icon--dark.-mr--0(aria-hidden="true")
                      section.chi-popover.chi-popover--top(id="example__help-popover" aria-modal="true" role="dialog")
                        .chi-popover__content
                          p.chi-popover__text
                            | Helpful information goes here.
                div.chi-steps__line
            else if step == 'Step 2'
              li.chi-steps__item.-active
                div.chi-steps__icon
                  div.chi-steps__content
                    a.chi-steps__item-title.-text--h5.-text--navy.-lh--2.-m--0(href='#')= `${step}`
                    .chi-steps__subitem.-completed
                      i.chi-icon.icon-warning.-xs.-icon--warning(aria-hidden="true")
                      p Completed item 
                        span.-text--2xs  | 17 Feb 2021
                      button.chi-button.-icon.-xs.-flat.-p--0.-ml--1(id="example__help-button-1" aria-label="Help" data-target="#example__help-popover-1")
                        i.chi-icon.icon-circle-info-outline.-icon--dark.-mr--0(aria-hidden="true")
                      section.chi-popover.chi-popover--top(id="example__help-popover-1" aria-modal="true" role="dialog")
                        .chi-popover__content
                          p.chi-popover__text
                            | Helpful information goes here.
                    .chi-steps__subitem.-completed
                      i.chi-icon.icon-check.-xs(aria-hidden="true")
                      p Completed item 
                        span.-text--2xs  | 17 Feb 2021
                      button.chi-button.-icon.-xs.-flat.-p--0.-ml--1(id="example__help-button-2" aria-label="Help" data-target="#example__help-popover-2")
                        i.chi-icon.icon-circle-info-outline.-icon--dark.-mr--0(aria-hidden="true")
                      section.chi-popover.chi-popover--top(id="example__help-popover-2" aria-modal="true" role="dialog")
                        .chi-popover__content
                          p.chi-popover__text
                            | Helpful information goes here.
                    .chi-steps__subitem.-completed
                      i.chi-icon.icon-arrow-right.-sm.-icon--warning.chi-steps__marker(aria-hidden="true")
                      i.chi-icon.icon-warning.-xs.-icon--warning(aria-hidden="true")
                      p Completed item 
                        span.-text--2xs  | 17 Feb 2021
                      button.chi-button.-icon.-xs.-flat.-p--0.-ml--1(id="example__help-button-3" aria-label="Help" data-target="#example__help-popover-3")
                        i.chi-icon.icon-circle-info-outline.-icon--dark.-mr--0(aria-hidden="true")
                      section.chi-popover.chi-popover--top(id="example__help-popover-3" aria-modal="true" role="dialog")
                        .chi-popover__content
                          p.chi-popover__text
                            | Helpful information goes here.
                div.chi-steps__line
            else if step == 'Step 3'
              li.chi-steps__item
                div.chi-steps__icon
                  div.chi-steps__content
                    a.chi-steps__item-title.-text--h5.-text--navy.-lh--2.-m--0(href='#')= `${step}`
                    .chi-steps__subitem.-d--block.-pl--0
                      .-d--flex.-justify-content--center.-align-items--center.-mb--1
                        .chi-steps__subitem-icon
                          i.chi-icon.icon-warning.-xs.-icon--warning(aria-hidden="true")
                        p Pending item 
                          span.-text--2xs.-text--navy  | 17 Feb 2021
                        button.chi-button.-icon.-xs.-flat.-p--0.-ml--1(id="example__help-button-4" aria-label="Help" data-target="#example__help-popover-4")
                          i.chi-icon.icon-circle-info-outline.-icon--dark.-mr--0(aria-hidden="true")
                        section.chi-popover.chi-popover--top(id="example__help-popover-4" aria-modal="true" role="dialog")
                          .chi-popover__content
                            p.chi-popover__text
                              | Helpful information goes here.
                      .chi-steps__actions
                        button.chi-button.-xs Schedule
                div.chi-steps__line
            else if step == 'Step 4'
              li.chi-steps__item
                div.chi-steps__icon
                  div.chi-steps__content
                    a.chi-steps__item-title.-text--h5.-text--navy.-lh--2.-m--0(href='#')= `${step}`
                    .chi-steps__subitem.-d--block.-pl--0
                      .-d--flex.-justify-content--center.-align-items--center.-mb--1
                        .chi-steps__subitem-icon
                        p Pending item 
                          span.-text--2xs.-text--navy  | 17 Feb 2021
                        button.chi-button.-icon.-xs.-flat.-p--0.-ml--1(id="example__help-button-5" aria-label="Help" data-target="#example__help-popover-5")
                          i.chi-icon.icon-circle-info-outline.-icon--dark.-mr--0(aria-hidden="true")
                        section.chi-popover.chi-popover--top(id="example__help-popover-5" aria-modal="true" role="dialog")
                          .chi-popover__content
                            p.chi-popover__text
                              | Helpful information goes here.
                      .chi-steps__actions
                        button.chi-button.-xs Reschedule
    .example-tabs.-pl--2
      ul.chi-tabs#example-order-progress
        li.-disabled
          a(
            href=`#webcomponent-order-progress`
            role="tab"
            aria-selected="false"
            aria-controls="webcomponent-order-progress"
          ) Web Component
        li.-active
          a(
            href=`#html-order-progress`
            role="tab"
            aria-selected="true"
            aria-controls="html-order-progress"
          ) HTML Blueprint
    .chi-tabs-panel#webcomponent-order-progress
    .chi-tabs-panel.-active#html-order-progress
      :code(lang="html")
        <ul class="chi-steps -vertical">
          <li class="chi-steps__item -completed">
            <div class="chi-steps__icon">
              <div class="chi-steps__content">
                <a class="chi-steps__item-title -text--h5 -text--navy -lh--2 -m--0">Step 1</a>
                <div class="chi-steps__subitem -completed">
                  <i class="chi-icon icon-check -xs" aria-hidden="true"></i>
                  <p>
                    Completed item
                    <span class="-text--2xs"> | 17 Feb 2021</span>
                  </p>
                  <button class="chi-button -icon -xs -flat -p--0 -ml--1" id="example__help-button" aria-label="Help" data-target="#example__help-popover">
                    <i class="chi-icon icon-circle-info-outline -icon--dark -mr--0" aria-hidden="true"></i>
                  </button>
                  <section class="chi-popover chi-popover--top" id="example__help-popover" aria-modal="true" role="dialog">
                      <div class="chi-popover__content">
                          <p class="chi-popover__text">Helpful information goes here.</p>
                      </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="chi-steps__line"></div>
          </li>
          <li class="chi-steps__item -active">
            <div class="chi-steps__icon">
              <div class="chi-steps__content">
                <a class="chi-steps__item-title -text--h5 -text--navy -lh--2 -m--0">Step 2</a>
                <div class="chi-steps__subitem -completed">
                  <i class="chi-icon icon-warning -xs -icon--warning" aria-hidden="true"></i>
                  <p>
                    Completed item 
                    <span class="-text--2xs"> | 17 Feb 2021</span>
                  </p>
                  <button class="chi-button -icon -xs -flat -p--0 -ml--1" id="example__help-button-1" aria-label="Help" data-target="#example__help-popover-1">
                    <i class="chi-icon icon-circle-info-outline -icon--dark -mr--0" aria-hidden="true"></i>
                  </button>
                  <section class="chi-popover chi-popover--top" id="example__help-popover-1" aria-modal="true" role="dialog">
                    <div class="chi-popover__content">
                        <p class="chi-popover__text">Helpful information goes here.</p>
                    </div>
                  </section>
                </div>
                <div class="chi-steps__subitem -completed">
                  <i class="chi-icon icon-check -xs" aria-hidden="true"></i>
                  <p>
                    Completed item 
                    <span class="-text--2xs"> | 17 Feb 2021</span>
                  </p>
                  <button class="chi-button -icon -xs -flat -p--0 -ml--1" id="example__help-button-2" aria-label="Help" data-target="#example__help-popover-2">
                    <i class="chi-icon icon-circle-info-outline -icon--dark -mr--0" aria-hidden="true"></i>
                  </button>
                  <section class="chi-popover chi-popover--top" id="example__help-popover-2" aria-modal="true" role="dialog">
                    <div class="chi-popover__content">
                        <p class="chi-popover__text">Helpful information goes here.</p>
                    </div>
                  </section>
                </div>
                <div class="chi-steps__subitem -completed">
                  <i class="chi-steps__marker chi-icon icon-arrow-right -sm -icon--warning" aria-hidden="true"></i>
                  <i class="chi-icon icon-warning -xs -icon--warning" aria-hidden="true"></i>
                  <p>
                    Completed item 
                    <span class="-text--2xs"> | 17 Feb 2021</span>
                  </p>
                  <button class="chi-button -icon -xs -flat -p--0 -ml--1" id="example__help-button-3" aria-label="Help" data-target="#example__help-popover-3">
                    <i class="chi-icon icon-circle-info-outline -icon--dark -mr--0" aria-hidden="true"></i>
                  </button>
                  <section class="chi-popover chi-popover--top" id="example__help-popover-3" aria-modal="true" role="dialog">
                    <div class="chi-popover__content">
                        <p class="chi-popover__text">Helpful information goes here.</p>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="chi-steps__line"></div>
          </li>
          <li class="chi-steps__item -active">
            <div class="chi-steps__icon">
              <div class="chi-steps__content">
                <a class="chi-steps__item-title -text--h5 -text--navy -lh--2 -m--0">Step 3</a>
                <div class="chi-steps__subitem -d--block -pl--0">
                  <div class="-d--flex -justify-content--center -align-items--center -mb--1">
                    <div class="chi-steps__subitem-icon">
                      <i class="chi-icon icon-warning -xs -icon--warning" aria-hidden="true"></i>
                    </div>
                    <p>
                      Pending item 
                      <span class="-text--2xs -text--navy"> | 17 Feb 2021</span>
                    </p>
                    <button class="chi-button -icon -xs -flat -p--0 -ml--1" id="example__help-button-4" aria-label="Help" data-target="#example__help-popover-4">
                      <i class="chi-icon icon-circle-info-outline -icon--dark -mr--0" aria-hidden="true"></i>
                    </button>
                    <section class="chi-popover chi-popover--top" id="example__help-popover-4" aria-modal="true" role="dialog">
                      <div class="chi-popover__content">
                          <p class="chi-popover__text">Helpful information goes here.</p>
                      </div>
                    </section>
                  </div>
                  <div class="chi-steps__actions">
                    <button class="chi-button -xs">Schedule</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="chi-steps__line"></div>
          </li>
          <li class="chi-steps__item">
            <div class="chi-steps__icon">
              <div class="chi-steps__content">
                <a class="chi-steps__item-title -text--h5 -text--navy -lh--2 -m--0">Step 4</a>
                <div class="chi-steps__subitem -d--block -pl--0">
                  <div class="-d--flex -justify-content--center -align-items--center -mb--1">
                    <div class="chi-steps__subitem-icon"></div>
                    <p>
                      Pending item 
                      <span class="-text--2xs -text--navy"> | 17 Feb 2021</span>
                    </p>
                    <button class="chi-button -icon -xs -flat -p--0 -ml--1" id="example__help-button-5" aria-label="Help" data-target="#example__help-popover-5">
                      <i class="chi-icon icon-circle-info-outline -icon--dark -mr--0" aria-hidden="true"></i>
                    </button>
                    <section class="chi-popover chi-popover--top" id="example__help-popover-5" aria-modal="true" role="dialog">
                      <div class="chi-popover__content">
                          <p class="chi-popover__text">Helpful information goes here.</p>
                      </div>
                    </section>
                  </div>
                  <div class="chi-steps__actions">
                    <button class="chi-button -xs">Reschedule</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <script>
          chi.popover(document.getElementById('example__help-button'));
          chi.popover(document.getElementById('example__help-button-2'));
          chi.popover(document.getElementById('example__help-button-3'));
          chi.popover(document.getElementById('example__help-button-4'));
          chi.popover(document.getElementById('example__help-button-5'));
        </script>

h2 Additional size
h3 Small
p.-text
  | Use the <code>-sm</code> modifier class to render small steps.

h4 Horizontal
.example.-mb--3
  .-p--3
    ul.chi-steps.-sm.-pb--4.-p-sm--6
      each step in steps
        if step == 'Step 1'
          li.chi-steps__item.-completed
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 2'
          li.chi-steps__item.-completed
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 3'
          li.chi-steps__item.-active
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 5'
          li.chi-steps__item
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
        else
          li.chi-steps__item
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
    p.-text--center
     | Base
    ul.chi-steps.-horizontal-label.-sm.-labels-sm--hide.-p-sm--5
      each step in steps
        if step == 'Step 1'
          li.chi-steps__item.-completed
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 2'
          li.chi-steps__item.-completed
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 3'
          li.chi-steps__item.-active
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 5'
          li.chi-steps__item
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
        else
          li.chi-steps__item
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
    p.-text--center
     | Horizontal labels
  .example-tabs.-pl--2
    ul.chi-tabs#example-size-horizontal
      li.-disabled
        a(
          href=`#webcomponent-size-horizontal`
          role="tab"
          aria-selected="false"
          aria-controls="webcomponent-size-horizontal"
         ) Web Component
      li.-active
        a(href=`#html-size-horizontal`
          role="tab"
          aria-selected="true"
          aria-controls="html-size-horizontal"
         ) HTML Blueprint
  .chi-tabs-panel#webcomponent-size-horizontal
  .chi-tabs-panel.-active#html-size-horizontal
    :code(lang="html")
      <!-- Base -->
      <ul class="chi-steps -sm">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 1</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 2</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 3</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 4</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 5</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- Horizontal labels -->
      <ul class="chi-steps -horizontal-label -sm">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 1</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 2</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 3</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 4</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li clas="chi-steps__item">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 5</a>
          </div>
        </li>
      </ul>

h4 Vertical
.example.-mb--3
  .-p--3
    .-d--flex.-flex--column.-justify-content--center.-align-items--center
      ul.chi-steps.-vertical.-sm
        each step in steps
          if step == 'Step 1'
            li.chi-steps__item.-completed
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
                  .chi-steps__subitem.-completed
                    i.chi-icon.icon-check.-xs(aria-hidden="true")
                    p Completed item
                  .chi-steps__subitem.-active
                    i.chi-icon.icon-spinner.-xs(aria-hidden="true")
                    p In progress item
                  .chi-steps__subitem
                    p Pending item
              div.chi-steps__line
          else if step == 'Step 2'
            li.chi-steps__item.-completed
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
              div.chi-steps__line
          else if step == 'Step 3'
            li.chi-steps__item.-active
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
              div.chi-steps__line
          else if step == 'Step 5'
            li.chi-steps__item
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
          else
            li.chi-steps__item
              div.chi-steps__icon
                div.chi-steps__content
                  a.chi-steps__item-title(href='#')= `${step}`
              div.chi-steps__line
  .example-tabs.-pl--2
    ul.chi-tabs#example-size-vertical
      li.-disabled
        a(
          href=`#webcomponent-size-vertical`
          role="tab"
          aria-selected="false"
          aria-controls="webcomponent-size-vertical"
         ) Web Component
      li.-active
        a(
          href=`#html-size-vertical`
          role="tab"
          aria-selected="true"
          aria-controls="html-size-vertical"
         ) HTML Blueprint
  .chi-tabs-panel#webcomponent-size-vertical
  .chi-tabs-panel.-active#html-size-vertical
    :code(lang="html")
      <ul class="chi-steps -vertical -sm">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 1</a>
              <div class="chi-steps__subitem -completed">
                <i class="chi-icon icon-check -xs" aria-hidden="true"></i>
                <p>Completed item</p>
              </div>
              <div class="chi-steps__subitem -active">
                <i class="chi-icon icon-spinner -xs" aria-hidden="true"></i>
                <p>In progress item</p>
              </div>
              <div class="chi-steps__subitem">
                <p>Pending item</p>
              </div>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 2</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 3</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 4</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 5</a>
            </div>
          </div>
        </li>
      </ul>

h3 Responsiveness
p.-text
  | Use <code>-labels-{breakpoint}--hide</code> to hide step component labels on specific breakpoints or
  | <code>-labels--hide</code> to hide on all breakpoints. Breakpoints supported are <code>sm</code>,
  | <code>md</code>, <code>lg</code>, and <code>xl</code>. Labels are shown on all breakpoints by default.

.example.-mb--3
  .-p--3
    ul.chi-steps.-labels-md--hide.-p-sm--5
      each step in steps
        if step == 'Step 1'
          li.chi-steps__item.-completed
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 2'
          li.chi-steps__item.-completed
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 3'
          li.chi-steps__item.-active
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 5'
          li.chi-steps__item
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
        else
          li.chi-steps__item
            div.chi-steps__icon
              div.chi-steps__content
                a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
    p.-text--center
     | -labels-md--hide
    ul.chi-steps.-horizontal-label.-labels-lg--hide.-pt--2.-p-sm--4
      each step in steps
        if step == 'Step 1'
          li.chi-steps__item.-completed
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 2'
          li.chi-steps__item.-completed
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 3'
          li.chi-steps__item.-active
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
        else if step == 'Step 5'
          li.chi-steps__item
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
        else
          li.chi-steps__item
            div.chi-steps__icon
            div.chi-steps__content
              a.chi-steps__item-title(href='#')= `${step}`
            div.chi-steps__line
    p.-text--center
      | -labels-lg--hide
  .example-tabs.-pl--2
    ul.chi-tabs#example-responsive
      li.-disabled
        a(
          href=`#webcomponent-responsive`
          role="tab"
          aria-selected="false"
          aria-controls="webcomponent-responsive"
         ) Web Component
      li.-active
        a(
          href=`#html-responsive`
          role="tab"
          aria-selected="true"
          aria-controls="html-responsive"
         ) HTML Blueprint
  .chi-tabs-panel#webcomponent-responsive
  .chi-tabs-panel.-active#html-responsive
    :code(lang="html")
      <!-- Visible labels from md breakpoint -->
      <ul class="chi-steps -labels-md--hide">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 1</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 2</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 3</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 4</a>
            </div>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon">
            <div class="chi-steps__content">
              <a class="chi-steps__item-title" href="#">Step 5</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- Visible labels from lg breakpoint -->
      <ul class="chi-steps -horizontal-label -labels-lg--hide">
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 1</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -completed">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 2</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item -active">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 3</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 4</a>
          </div>
          <div class="chi-steps__line"></div>
        </li>
        <li class="chi-steps__item">
          <div class="chi-steps__icon"></div>
          <div class="chi-steps__content">
            <a class="chi-steps__item-title" href="#">Step 5</a>
          </div>
        </li>
      </ul>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
      chi.popover(document.getElementById('example__help-button'));
      chi.popover(document.getElementById('example__help-button-1'));
      chi.popover(document.getElementById('example__help-button-2'));
      chi.popover(document.getElementById('example__help-button-3'));
      chi.popover(document.getElementById('example__help-button-4'));
      chi.popover(document.getElementById('example__help-button-5'));
    }
  );
