h2 Examples
h3 Base
p.-text To render a button group, wrap a series of buttons in a div and apply the class <code>chi-button-group</code>.
.example.-mb--3
  .-p--3
    .chi-button-group
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang='html')
      <div class="chi-button-group">
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
      </div>

h3 Vertical
p.-text To render a series of buttons vertically, apply the class modifier <code>-vertical</code>.
.example.-mb--3
  .-p--3
    .chi-button-group.-vertical
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
  .example-tabs.-pl--2
    ul.chi-tabs#example-vertical
      li.-disabled
        a(href=`#webcomponent-vertical`) Web Component
      li.-active
        a(href=`#html-vertical`) HTML Blueprint
  .chi-tabs-panel#webcomponent-vertical
  .chi-tabs-panel.-active#html-vertical
    :code(lang='html')
      <div class="chi-button-group -vertical">
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
      </div>

h2 Fluid buttons
p.-text Button groups can be expanded to fill the parent space by applying the class <code>-fluid</code>.
h3 Horizontal
.example.-mb--3
  .-p--3
    .chi-button-group.-fluid(style="width:100%")
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
  .example-tabs.-pl--2
    ul.chi-tabs#example-fluid
      li.-disabled
        a(href=`#webcomponent-fluid`) Web Component
      li.-active
        a(href=`#html-fluid`) HTML Blueprint
  .chi-tabs-panel#webcomponent-fluid
  .chi-tabs-panel.-active#html-fluid
    :code(lang='html')
      <div class="chi-button-group -fluid">
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
      </div>

h3 Vertical
.example.-mb--3
  .-p--3
    .chi-button-group.-vertical.-fluid(style="width:12rem")
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
      button(class=`chi-button`) Button
  .example-tabs.-pl--2
    ul.chi-tabs#example-fluid-vertical
      li.-disabled
        a(href=`#webcomponent-fluid-vertical`) Web Component
      li.-active
        a(href=`#html-fluid-vertical`) HTML Blueprint
  .chi-tabs-panel#webcomponent-fluid-vertical
  .chi-tabs-panel.-active#html-fluid-vertical
    :code(lang='html')
      <div class="chi-button-group -vertical -fluid">
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
        <button class="chi-button">Button</button>
      </div>

h3 Alignment
p.-text
  | Button text is centered by default. However, this behavior can change by applying the modifiers
  | <code>-align--left</code> or <code>-align--right</code>.
.example.-mb--3
  .-p--3
    .chi-button-group.-fluid(style="width:100%")
      button(class=`chi-button -align--left`) Button
      button(class=`chi-button`) Button
      button(class=`chi-button -align--right`) Button
  .example-tabs.-pl--2
    ul.chi-tabs#example-alignment
      li.-disabled
        a(href=`#webcomponent-alignment`) Web Component
      li.-active
        a(href=`#html-alignment`) HTML Blueprint
  .chi-tabs-panel#webcomponent-alignment
  .chi-tabs-panel.-active#html-alignment
    :code(lang='html')
      <div class="chi-button-group -fluid">
        <button class="chi-button -align--left">Button</button>
        <button class="chi-button">Button</button>
        <button class="chi-button -align--right">Button</button>
      </div>

h3 Disable Fluidity
p.-text
  | To disable the fluidity of a specific button in a fluid button group, apply the class <code>-no-fluid</code> to the button.
.example.-mb--3
  .-p--3
    .chi-button-group.-fluid(style="width:100%")
      button(class=`chi-button`) Button
      button(class=`chi-button -no-fluid`) Button
      button(class=`chi-button`) Button
  .example-tabs.-pl--2
    ul.chi-tabs#example-no-fluid
      li.-disabled
        a(href=`#webcomponent-no-fluid`) Web Component
      li.-active
        a(href=`#html-no-fluid`) HTML Blueprint
  .chi-tabs-panel#webcomponent-no-fluid
  .chi-tabs-panel.-active#html-no-fluid
    :code(lang='html')
      <div class="chi-button-group -fluid">
        <button class="chi-button">Button</button>
        <button class="chi-button -no-fluid">Button</button>
        <button class="chi-button">Button</button>
      </div>

.-lumen-only.-centurylink-only
  h2 Sizes
  p.-text
    | Button groups support the following sizes: <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>, <code>-xl</code>.
    | The default size is <code>-md</code>.

  h3 Horizontal
  .example.-mb--3
    .-px--3.-pt--0.-pb--3
      each size in ['sm', 'md', 'lg', 'xl']
        p.-text--bold= '-' + size
        .-d--flex.-flex--wrap
          .chi-button-group
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
    .example-tabs.-pl--2
      ul.chi-tabs#example-size-horizontal
        li.-disabled
          a(href=`#webcomponent-size-horizontal`) Web Component
        li.-active
          a(href=`#html-size-horizontal`) HTML Blueprint
    .chi-tabs-panel#webcomponent-size-horizontal
    .chi-tabs-panel.-active#html-size-horizontal
      :code(lang='html')
        <!-- sm -->
        <div class="chi-button-group">
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
        </div>
        <!-- md -->
        <div class="chi-button-group">
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
        </div>
        <!-- lg -->
        <div class="chi-button-group">
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
        </div>
        <!-- xl -->
        <div class="chi-button-group">
          <button class="chi-button -xl">Button</button>
          <button class="chi-button -xl">Button</button>
          <button class="chi-button -xl">Button</button>
        </div>

  h3 Vertical
  .example.-mb--3
    .-px--3.-pt--0.-pb--3
      each size in ['sm', 'md', 'lg', 'xl']
        p.-text--bold= '-' + size
        .-d--flex.-flex--wrap
          .chi-button-group.-vertical.-fluid(style="width:12rem")
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
    .example-tabs.-pl--2
      ul.chi-tabs#example-size-vertical
        li.-disabled
          a(href=`#webcomponent-size-vertical`) Web Component
        li.-active
          a(href=`#html-size-vertical`) HTML Blueprint
    .chi-tabs-panel#webcomponent-size-vertical
    .chi-tabs-panel.-active#html-size-vertical
      :code(lang="html")
        <!-- sm -->
        <div class="chi-button-group -vertical -fluid">
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
        </div>
        <!-- md -->
        <div class="chi-button-group -vertical -fluid">
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
        </div>
        <!-- lg -->
        <div class="chi-button-group -vertical -fluid">
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
        </div>
        <!-- xl -->
        <div class="chi-button-group -vertical -fluid">
          <button class="chi-button -xl">Button</button>
          <button class="chi-button -xl">Button</button>
          <button class="chi-button -xl">Button</button>
        </div>

.-portal-only
  h2 Sizes
  p.-text
    | Button groups support the following sizes: <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>.
    | The default size is <code>-md</code>.

  h3 Horizontal
  .example.-mb--3
    .-px--3.-pt--0.-pb--3
      each size in ['sm', 'md', 'lg']
        p.-text--bold= '-' + size
        .-d--flex.-flex--wrap
          .chi-button-group
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-size-horizontal
        li.-disabled
          a(href=`#webcomponent-portal-size-horizontal`) Web Component
        li.-active
          a(href=`#html-portal-size-horizontal`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-size-horizontal
    .chi-tabs-panel.-active#html-portal-size-horizontal
      :code(lang='html')
        <!-- sm -->
        <div class="chi-button-group">
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
        </div>
        <!-- md -->
        <div class="chi-button-group">
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
        </div>
        <!-- lg -->
        <div class="chi-button-group">
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
        </div>

  h3 Vertical
  .example.-mb--3
    .-px--3.-pt--0.-pb--3
      each size in ['sm', 'md', 'lg']
        p.-text--bold= '-' + size
        .-d--flex.-flex--wrap
          .chi-button-group.-vertical.-fluid(style="width:12rem")
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
            button(class=`chi-button -${size}`) Button
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-size-vertical
        li.-disabled
          a(href=`#webcomponent-portal-size-vertical`) Web Component
        li.-active
          a(href=`#html-portal-size-vertical`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-size-vertical
    .chi-tabs-panel.-active#html-portal-size-vertical
      :code(lang="html")
        <!-- sm -->
        <div class="chi-button-group -vertical -fluid">
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm">Button</button>
        </div>
        <!-- md -->
        <div class="chi-button-group -vertical -fluid">
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md">Button</button>
        </div>
        <!-- lg -->
        <div class="chi-button-group -vertical -fluid">
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg">Button</button>
        </div>


h2 Hybrid buttons
p.-text
  | Button groups support all button types and styles, including icons.
  | Mix and match text and icons to form a hybrid button group.
.example.-mb--3
  .-p--3
    .chi-button-group
      button(class=`chi-button`) Button
      button(class=`chi-button -icon`, aria-label="Button action")
        .chi-button__content
          i.chi-icon.icon-atom
  .example-tabs.-pl--2
    ul.chi-tabs#example-hybrid
      li.-disabled
        a(href=`#webcomponent-hybrid`) Web Component
      li.-active
        a(href=`#html-hybrid`) HTML Blueprint
  .chi-tabs-panel#webcomponent-hybrid
  .chi-tabs-panel.-active#html-hybrid
    :code(lang='html')
      <div class="chi-button-group">
        <button class="chi-button">Button</button>
        <button class="chi-button -icon" aria-label="Button action">
          <div class="chi-button__content">
            <i class="chi-icon icon-atom"></i>
          </div>
        </button>
      </div>

p.-text
  | Hybrid buttons also support fluid rendering.

.example.-mb--3
  .-p--3
    .chi-button-group.-fluid
      button(class=`chi-button`) Button
      button(class=`chi-button -icon -no-fluid`, aria-label="Button action")
        .chi-button__content
          i.chi-icon.icon-atom
  .example-tabs.-pl--2
    ul.chi-tabs#example-hybrid-fluid
      li.-disabled
        a(href=`#webcomponent-hybrid-fluid`) Web Component
      li.-active
        a(href=`#html-hybrid-fluid`) HTML Blueprint
  .chi-tabs-panel#webcomponent-hybrid-fluid
  .chi-tabs-panel.-active#html-hybrid-fluid
    :code(lang='html')
      <div class="chi-button-group -fluid">
        <button class="chi-button">Button</button>
        <button class="chi-button -icon -no-fluid" aria-label="Button action">
          <div class="chi-button__content">
            <i class="chi-icon icon-atom"></i>
          </div>
        </button>
      </div>

.-lumen-only.-centurylink-only
  h3 Hybrid buttons sizes
  p.-text
    | Hybrid buttons support the following sizes: <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>, <code>-xl</code>.
    | The default size is <code>-md</code>.
  .example.-mb--3
    .-p--2
      each size in ['sm', 'md', 'lg', 'xl']
        .chi-button-group.-m--1
          button(class=`chi-button -${size}`) Button
          button(class=`chi-button -${size} -icon`, aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-atom
    .example-tabs.-pl--2
      ul.chi-tabs#example-hybrid-sizes
        li.-disabled
          a(href=`#webcomponent-hybrid-sizes`) Web Component
        li.-active
          a(href=`#html-hybrid-sizes`) HTML Blueprint
    .chi-tabs-panel#webcomponent-hybrid-sizes
    .chi-tabs-panel.-active#html-hybrid-sizes
      :code(lang='html')
        <!-- sm -->
        <div class="chi-button-group">
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm -icon" aria-label="Button action">
            <div class="chi-button__content">
              <i class="chi-icon icon-atom"></i>
            </div>
          </button>
        </div>
        <!-- md -->
        <div class="chi-button-group">
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md -icon" aria-label="Button action">
            <div class="chi-button__content">
              <i class="chi-icon icon-atom"></i>
            </div>
          </button>
        </div>
        <!-- lg -->
        <div class="chi-button-group">
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg -icon" aria-label="Button action">
            <div class="chi-button__content">
              <i class="chi-icon icon-atom"></i>
            </div>
          </button>
        </div>
        <!-- xl -->
        <div class="chi-button-group">
          <button class="chi-button -xl">Button</button>
          <button class="chi-button -xl -icon" aria-label="Button action">
            <div class="chi-button__content">
              <i class="chi-icon icon-atom"></i>
            </div>
          </button>
        </div>

.-portal-only
  h3 Hybrid buttons sizes
  p.-text
    | Hybrid buttons support the following sizes: <code>-sm</code>, <code>-md</code>,
    |  <code>-lg</code>.
    | The default size is <code>-md</code>.
  .example.-mb--3
    .-p--2
      each size in ['sm', 'md', 'lg']
        .chi-button-group.-m--1
          button(class=`chi-button -${size}`) Button
          button(class=`chi-button -${size} -icon`, aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-atom
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-hybrid-sizes
        li.-disabled
          a(href=`#webcomponent-portal-hybrid-sizes`) Web Component
        li.-active
          a(href=`#html-portal-hybrid-sizes`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-hybrid-sizes
    .chi-tabs-panel.-active#html-portal-hybrid-sizes
      :code(lang='html')
        <!-- sm -->
        <div class="chi-button-group">
          <button class="chi-button -sm">Button</button>
          <button class="chi-button -sm -icon" aria-label="Button action">
            <div class="chi-button__content">
              <i class="chi-icon icon-atom"></i>
            </div>
          </button>
        </div>
        <!-- md -->
        <div class="chi-button-group">
          <button class="chi-button -md">Button</button>
          <button class="chi-button -md -icon" aria-label="Button action">
            <div class="chi-button__content">
              <i class="chi-icon icon-atom"></i>
            </div>
          </button>
        </div>
        <!-- lg -->
        <div class="chi-button-group">
          <button class="chi-button -lg">Button</button>
          <button class="chi-button -lg -icon" aria-label="Button action">
            <div class="chi-button__content">
              <i class="chi-icon icon-atom"></i>
            </div>
          </button>
        </div>


script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
