---
title: Alert
scripts:
  - js/ce/ux-chi-ce
---
p.-text Alert messages provide contextual feedback for user actions.

h3 Examples
p.-text
  | To render an alert use the tag <code>chi-alert</code>.
  | A value (e.g. <code>warning</code>) must be set to attribute <code>color</code> in order to provide proper styling.

h4 Base
.example.-mb--3
  .-p--1
    each type in ['success', 'danger', 'warning', 'info', 'muted']
      chi-alert.-m--2(color=type)= `This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <chi-alert color="success">This is a success alert</chi-alert>
    <chi-alert color="danger">This is a danger alert</chi-alert>
    <chi-alert color="warning">This is a warning alert</chi-alert>
    <chi-alert color="info">This is an info alert</chi-alert>
    <chi-alert color="muted">This is a muted alert</chi-alert>

h4 Icons
.example.-mb3
  .-p1
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type)
        chi-icon(icon=val, color= type === 'info' ? 'primary' : type, size='sm--2')
        = `This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <chi-alert color="success">
      <chi-icon icon="circle-check" color="success" size="sm--2"></chi-icon>
      This is a success alert
    </chi-alert>
    <chi-alert color="danger">
      <chi-icon icon="circle-warning" color="danger" size="sm--2"></chi-icon>
      This is a danger alert
    </chi-alert>
    <chi-alert color="warning">
      <chi-icon icon="warning" color="warning" size="sm--2"></chi-icon>
      This is a warning alert
    </chi-alert>
    <chi-alert color="info">
      <chi-icon icon="circle-info" color="primary" size="sm--2"></chi-icon>
      This is an info alert
    </chi-alert>
    <chi-alert color="muted">
      <chi-icon icon="circle-info" color="muted" size="sm--2"></chi-icon>
      This is a muted alert
    </chi-alert>

h5 Icon Center
p.-text Use the <code>center</code> attribute to center the icons.
.example.-mb3
  .-p1
    chi-alert.-m--2(color='info', center)
      chi-icon(icon='circle-info', color='primary', size='sm--2')
      = 'Info alert with centered icon'
  :code(lang="html")
    <chi-alert color="info" center>
      <chi-icon icon="circle-info" color="primary" size="sm--2"></chi-icon>
      Info alert with centered icon
    </chi-alert>

h4 Dismissible
p.-text Use the <code>dismissible</code> attribute to allow the user to dismiss the alert.
.example.-mb3
  .-p1
    chi-alert.-m--2(color='warning', dismissible)
      chi-icon(icon='warning', color='warning', size='sm--2')
      = 'This is a warning alert'
    chi-alert.-m--2(color='warning', size='lg', dismissible)
      chi-icon(icon='warning', color='warning', size='sm--2')
      div
        h5.a-h5 Warning
        | This is a warning alert
    chi-alert.-m--2(color='warning', dismissible, type='banner')
      chi-icon(icon='warning', color='warning', size='sm--2')
      = 'This is a warning alert'
  :code(lang="html")
    <chi-alert color="warning" dismissible>
      <chi-icon icon="warning" color="warning" size="sm--2"></chi-icon>
      This is a warning alert
    </chi-alert>
    <chi-alert size="lg" color="warning" dismissible>
      <chi-icon icon="warning" color="warning" size="sm--2"></chi-icon>
      <div>
        <h5 class="a-h5">Warning</h5>
        This is a warning alert
      </div>
    </chi-alert>
    <chi-alert type="banner" color="warning" dismissible>
      <chi-icon icon="warning" color="warning" size="sm--2"></chi-icon>
      This is a warning alert
    </chi-alert>

h4 Sizes
h5 Large
p.-text
  | Set <code>size</code> attribute to <code>lg</code> to increase the size of the alert.
.example.-mb3
  .-p1
    chi-alert.-m--2(size='lg', color='warning')
      chi-icon(icon='warning', color='warning', size='sm--2')
      div
        h5.a-h5 Warning
        | This is a warning alert
  :code(lang="html")
    <chi-alert size="lg" color="warning">
      <chi-icon icon="warning" color="warning" size="sm--2"></chi-icon>
      <div>
        <h5 class="a-h5">Warning</h5>
        This is a warning alert
      </div>
    </div>

h3 Additional alert types
h4 Banner
p.-text
  | For alerts that stretch the full length of the page, set the <code>type</code> attribute to <code>banner</code>.
  | This will remove the border-left, border-right, and border-radius from the alert.
  | Banner alerts are commonly used to remind new users to confirm their email address or notify users
  | when they are experiencing connectivity issues.
.example.-mb--3
  .-p--1
    chi-alert.-m--2(type='banner', color='success', center)
      chi-icon(icon='circle-check', color='success', size='sm--2')
      | This is a success alert
  :code(lang="html")
    <chi-alert type="banner" center color="success">
      <chi-icon size="sm--2" icon="circle-check" color="success"></chi-icon>
      This is a success alert
    </div>

h4 Toast
p.-text
  | Toasts are unobtrusive alerts used to display brief, auto-expiring information.
  | To use a toast alert, set the <code>type</code> attribute to <code>toast</code> and ensure the alert
  | is placed in the top right corner or bottom left corner of the screen.

.example.-mb3
  .-p1
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(type='toast', color=type)
        chi-icon(icon=val, size='sm--2', color= type === 'info' ? 'primary' : type)
        div
          div.a-h5= type
          = `This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <chi-alert type="toast" color="success">
      <chi-icon size="sm--2" icon="circle-check" color="success"></chi-icon>
      <div>
        <div class="a-h5">success</div>
        This is a success alert
      </div>
    </chi-alert>
    <chi-alert type="toast" color="danger">
      <chi-icon size="sm--2" icon="circle-warning" color="danger"></chi-icon>
      <div>
        <div class="a-h5">danger</div>
        This is a danger alert
      </div>
    </chi-alert>
    <chi-alert type="toast" color="warning">
      <chi-icon size="sm--2" icon="warning" color="warning"></chi-icon>
      <div>
        <div class="a-h5">warning</div>
        This is a warning alert
      </div>
    </chi-alert>
    <chi-alert type="toast" color="info">
      <chi-icon size="sm--2" icon="circle-info" color="primary"></chi-icon>
      <div>
        <div class="a-h5">info</div>
        This is an info alert
      </div>
    </chi-alert>
    <chi-alert type="toast" color="muted">
      <chi-icon size="sm--2" icon="circle-info" color="muted"></chi-icon>
      <div>
        <div class="a-h5">muted</div>
        This is a muted alert
      </div>
    </chi-alert>

h3 Additional usage details
:stencilDoc(name='chi-alert')
