---
title: Alert
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

p.-text Alert messages provide contextual feedback for user actions.

h3 Examples
p.-text
  | To render an alert use the tag <code>chi-alert</code>.
  | Use the color attribute to define a semantic color that corresponds to the meaning
  | or value state of your alert. Supported colors include <code>success</code>, <code>danger</code>, <code>warning</code>,
  | <code>info</code>, and <code>muted</code>. If no color is defined, alerts will default to the base style which uses the body
  | text color. This is useful for displaying neutral alerts with no specific value state.

h3 Bubble
p.-text
  | Bubble alerts are designed for displaying inline messages and notifications within forms, panels, cards, and other content areas.

h4 Default
.example.-mb--3
  .-p--1
    chi-alert(icon='circle-info').-m--2
      p.m-alert__text This is a base alert
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, icon=val)
        p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <!-- Base - No semantic color defined -->
    <chi-alert icon="circle-info">
      <p class="m-alert__text">This is a base alert</p>
    </chi-alert>
    <!-- Success -->
    <chi-alert color="success" icon="circle-check">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Danger -->
    <chi-alert color="danger" icon="circle-warning">
      <p class="m-alert__text">This is a danger alert</p>
    </chi-alert>
    <!-- Warning -->
    <chi-alert color="warning" icon="warning">
      <p class="m-alert__text">This is a warning alert</p>
    </chi-alert>
    <!-- Info -->
    <chi-alert color="info" icon="circle-info">
      <p class="m-alert__text">This is an info alert</p>
    </chi-alert>
    <!-- Muted -->
    <chi-alert color="muted" icon="circle-info">
      <p class="m-alert__text">This is a muted alert</p>
    </chi-alert>

h4 Centered
p.-text
  | Use the attribute <code>center</code> to center the content of a Bubble Alert. <strong>Note:</strong> Use sparingly.
  | Centered Bubble alerts should only be used to render brief messages on centered forms such as those found on Sign In and Sign Up screens.
  | Centered alerts do not support titles (i.e. <code>m-alert__title</code>).
.example.-mb--3
  .-p--1
    chi-alert.-m--2(color='danger', icon='circle-warning', center)
      p.m-alert__text= 'This is a centered danger alert'
  :code(lang="html")
    <chi-alert color="danger" icon="circle-warning" center>
      <p class="m-alert__text">This is a centered danger alert</p>
    </chi-alert>

h4 Titled
p.-text
  | Use the attribute <code>alert-title=""</code> to have alert title above the alert text.
.example.-mb--3
  .-p--1
    chi-alert(icon='circle-info', alert-title="Base").-m--2
      p.m-alert__text This is a base alert asd
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, icon=val, alert-title=type)
        p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <!-- Base - No semantic color defined -->
    <chi-alert icon="circle-info" alert-title="Base">
      <p class="m-alert__text">This is a base alert</p>
    </chi-alert>
    <!-- Success -->
    <chi-alert color="success" icon="circle-check" alert-title="Success">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Danger -->
    <chi-alert color="danger" icon="circle-warning" alert-title="Danger">
      <p class="m-alert__text">This is a danger alert</p>
    </chi-alert>
    <!-- Warning -->
    <chi-alert color="warning" icon="warning" alert-title="Warning">
      <p class="m-alert__text">This is a warning alert</p>
    </chi-alert>
    <!-- Info -->
    <chi-alert color="info" icon="circle-info" alert-title="Info">
      <p class="m-alert__text">This is an info alert</p>
    </chi-alert>
    <!-- Muted -->
    <chi-alert color="muted" icon="circle-info" alert-title="Muted">
      <p class="m-alert__text">This is a muted alert</p>
    </chi-alert>

h4 Sizes
.example.-mb--3
  .-p--1
    p.-text--bold.-ml--2 -sm
    chi-alert.-m--2(color='success', icon='circle-check', size='sm')
      p.m-alert__text This is a small success alert
    chi-alert.-m--2(color='success', icon='circle-check', size='sm', alert-title="Success")
      p.m-alert__text This is a small success alert
    p.-text--bold.-ml--2 -md (default)
    chi-alert.-m--2(color='success', icon='circle-check')
      p.m-alert__text This is a success alert
    chi-alert.-m--2(color='success', icon='circle-check', alert-title="Success")
      p.m-alert__text This is a success alert
    p.-text--bold.-ml--2 -lg
    chi-alert.-m--2(color='success', icon='circle-check', size='lg')
      p.m-alert__text This is a large success alert
    chi-alert.-m--2(color='success', icon='circle-check', size='lg', alert-title="Success")
      p.m-alert__text This is a large success alert
  :code(lang="html")
    <!-- Small -->
    <chi-alert color="success" icon="circle-check" size="sm">
      <p class="m-alert__text">This is a small success alert</p>
    </chi-alert>
    <!-- Small Titled -->
    <chi-alert color="success" icon="circle-check" size="sm" alert-title="Success">
      <p class="m-alert__text">This is a small success alert</p>
    </chi-alert>
    <!-- Medium -->
    <chi-alert color="success" icon="circle-check">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Medium Titled -->
    <chi-alert color="success" icon="circle-check" alert-title="Success">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Large -->
    <chi-alert color="success" icon="circle-check" size="lg">
      <p class="m-alert__text">This is a large success alert</p>
    </chi-alert>
    <!-- Large Titled -->
    <chi-alert color="success" icon="circle-check" size="lg" alert-title="Success">
      <p class="m-alert__text">This is a large success alert</p>
    </chi-alert>

h4 Dismissible
p.-text
  | Use the <code>dismissible</code> attribute to render a close button that allows users to dismiss an alert.
.example.-mb--3
  .-p--1
    chi-alert.-m--2(color='warning', icon='warning', dismissible)
      p.m-alert__text This is a dismissible warning alert
    chi-alert.-m--2(color='warning', icon='warning', dismissible, alert-title="Warning")
      p.m-alert__text This is a dismissible warning alert
    chi-alert.-m--2(color='warning', icon='warning', size='lg', dismissible, alert-title="Warning")
      p.m-alert__text This is a large dismissible warning alert
  :code(lang="html")
    <!-- Dismissible -->
    <chi-alert color="warning" icon="warning" dismissible>
      <p class="m-alert__text">This is a dismissible warning alert</p>
    </chi-alert>
    <!-- Dismissible Titled -->
    <chi-alert color="warning" icon="warning" alert-title="Warning" dismissible>
      <p class="m-alert__text">This is a dismissible warning alert</p>
    </chi-alert>
    <!-- Large Dismissible Titled -->
    <chi-alert color="warning" icon="warning" size="lg" alert-title="Warning" dismissible>
      <p class="m-alert__text">This is a large dismissible warning alert</p>
    </chi-alert>

h4 Actionable
p.-text
  | While <code>m-alert__actions</code> can be added to any Alert, alert actions are best suited for <code>lg</code> default or Titled alerts.
.example.-mb--3
  .-p--1
    chi-alert.-m--2(color='success', icon='circle-check', size='lg', alert-title="Success", dismissible)
      p.m-alert__text This is a large dismissible success alert
      div.m-alert__actions
        chi-button(color='dark', variant='outline', size='lg') Secondary action
        chi-button(color='primary', size='lg') Primary action
  :code(lang="html")
    <chi-alert color="success" icon="circle-check" size="lg" alert-title="Success" dismissible>
      <p class="m-alert__text">This is a large dismissible success alert</p>
      <div class="m-alert__actions">
        <chi-button color="dark" variant="outline" size="lg">Secondary action</chi-button>
        <chi-button color="primary" size="lg">Primary action</chi-button>
      </div>
    </chi-alert>

div.a-divider.-my--6.-bt--2

h3 Banner
p.-text
  | To render prominent page level alerts, set the alert <code>type</code> attribute to <code>banner</code>.
  | Banner alerts are commonly presented above or below the Header component and are used for scenarios
  | such as reminding new users to confirm their email address or notifying users when they are experiencing connectivity issues.
  | Banner alerts include a bottom border by default. If the border contrast conflicts with surrounding elements, it can be removed by
  | applying the attribute <code>borderless</code>.

h4 Default
.example.-mb--3
  .-p--1
    chi-alert.-m--2(type='banner', icon='circle-info')
      p.m-alert__text This is a base alert
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, icon=val, type='banner')
        p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <!-- Base - No semantic color defined -->
    <chi-alert type="banner" icon="circle-info">
      <p class="m-alert__text">This is a base alert</p>
    </chi-alert>
    <!-- Success -->
    <chi-alert type="banner" icon="circle-check" color="success">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Danger -->
    <chi-alert type="banner" icon="circle-warning" color="danger">
      <p class="m-alert__text">This is a danger alert</p>
    </chi-alert>
    <!-- Warning -->
    <chi-alert type="banner" icon="warning" color="warning">
      <p class="m-alert__text">This is a warning alert</p>
    </chi-alert>
    <!-- Info -->
    <chi-alert type="banner" icon="circle-info" color="info">
      <p class="m-alert__text">This is an info alert</p>
    </chi-alert>
    <!-- Muted -->
    <chi-alert type="banner" icon="circle-info" color="muted">
      <p class="m-alert__text">This is a muted alert</p>
    </chi-alert>

h4 Centered
p.-text
  | Use the attribute <code>center</code> to center the content of a Banner Alert. <strong>Note:</strong> Use sparingly.
  | Centered Banner alerts should only be used to render brief messages on centered forms such as those found on Sign In and Sign Up screens.
  | Centered alerts do not support titles (i.e. <code>m-alert__title</code>).
.example.-mb--3
  .-p--1
    chi-alert.-m--2(type='banner', icon='circle-warning', color='danger', center)
      p.m-alert__text= 'This is a centered danger alert'
  :code(lang="html")
    <chi-alert type="banner" icon="circle-warning" color="danger" center>
      <p class="m-alert__text">This is a centered danger alert</p>
    </chi-alert>

h4 Titled
.example.-mb--3
  .-p--1
    chi-alert.-m--2(type='banner', icon='circle-info', alert-title="Base")
      p.m-alert__text This is a base alert
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(color=type, type='banner', icon=val, alert-title=type)
        p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <!-- Base - No semantic color defined -->
    <chi-alert type="banner" icon="circle-info" alert-title="Base">
      <p class="m-alert__text">This is a base alert</p>
    </chi-alert>
    <!-- Success -->
    <chi-alert type="banner" icon="circle-check" color="success" alert-title="Success">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Danger -->
    <chi-alert type="banner" icon="circle-warning" color="danger" alert-title="Danger">
      <p class="m-alert__text">This is a danger alert</p>
    </chi-alert>
    <!-- Warning -->
    <chi-alert type="banner" icon="warning" color="warning" alert-title="Warning">
      <p class="m-alert__text">This is a warning alert</p>
    </chi-alert>
    <!-- Info -->
    <chi-alert type="banner" icon="circle-info" color="info" alert-title="Info">
      <p class="m-alert__text">This is an info alert</p>
    </chi-alert>
    <!-- Muted -->
    <chi-alert type="banner" icon="circle-info" color="muted" alert-title="Muted">
      <p class="m-alert__text">This is a muted alert</p>
    </chi-alert>

h4 Sizes
.example.-mb--3
  .-p--1
    p.-text--bold.-ml--2 -sm
    chi-alert.-m--2(type='banner', icon='circle-check', color='success', size='sm')
      p.m-alert__text This is a small success alert
    chi-alert.-m--2(type='banner', icon='circle-check', color='success', size='sm', alert-title="Success")
      p.m-alert__text This is a small success alert
    p.-text--bold.-ml--2 -md (default)
    chi-alert.-m--2(type='banner', icon='circle-check', color='success')
      p.m-alert__text This is a success alert
    chi-alert.-m--2(type='banner', icon='circle-check', color='success', alert-title="Success")
      p.m-alert__text This is a success alert
    p.-text--bold.-ml--2 -lg
    chi-alert.-m--2(type='banner', icon='circle-check', color='success', size='lg')
      p.m-alert__text This is a large success alert
    chi-alert.-m--2(type='banner', icon='circle-check', color='success', size='lg', alert-title="Success")
      p.m-alert__text This is a large success alert
  :code(lang="html")
    <!-- Small -->
    <chi-alert type="banner" color="success" icon="circle-check" size="sm">
      <p class="m-alert__text">This is a small success alert</p>
    </chi-alert>
    <!-- Small Titled -->
    <chi-alert type="banner" color="success" icon="circle-check" size="sm" alert-title="Success">
      <p class="m-alert__text">This is a small success alert</p>
    </chi-alert>
    <!-- Medium -->
    <chi-alert type="banner" color="success" icon="circle-check">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Medium Titled -->
    <chi-alert type="banner" color="success" icon="circle-check" alert-title="Success">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Large -->
    <chi-alert type="banner" color="success" icon="circle-check" size="lg">
      <p class="m-alert__text">This is a large success alert</p>
    </chi-alert>
    <!-- Large Titled -->
    <chi-alert type="banner" color="success" icon="circle-check" size="lg" alert="Success">
      <p class="m-alert__text">This is a large success alert</p>
    </chi-alert>

h4 Dismissible
p.-text
  | Use the <code>dismissible</code> attribute to render a close button that allows users to dismiss an alert.
.example.-mb--3
  .-p--1
    chi-alert.-m--2(type='banner', icon='warning', color='warning', dismissible)
      p.m-alert__text This is a dismissible warning alert
    chi-alert.-m--2(type='banner', color='warning', icon='warning', alert-title="Warning", dismissible)
      p.m-alert__text This is a dismissible warning alert
    chi-alert.-m--2(type='banner', color='warning', icon='warning', size='lg', alert-title="Warning", dismissible)
      p.m-alert__text This is a large dismissible warning alert
  :code(lang="html")
    <!-- Dismissible -->
    <chi-alert type="banner" color="warning" icon="warning" dismissible>
      <p class="m-alert__text">This is a dismissible warning alert</p>
    </chi-alert>
    <!-- Dismissible Titled -->
    <chi-alert type="banner" color="warning" icon="warning" alert-title="Warning" dismissible>
      <p class="m-alert__text">This is a dismissible warning alert</p>
    </chi-alert>
    <!-- Large Dismissible Titled -->
    <chi-alert type="banner" color="warning" icon="warning" size="lg" alert-title="Warning" dismissible>
      <p class="m-alert__text">This is a large dismissible warning alert</p>
    </chi-alert>

h4 Actionable
p.-text
  | While <code>m-alert__actions</code> can be added to any Alert, alert actions are best suited for <code>lg</code> default or Titled alerts.
.example.-mb--3
  .-p--1.-bg--grey-20
    chi-alert.-m--2(type='banner', icon='circle-info', size='lg', alert-title="Base", dismissible)
      p.m-alert__text This is a large dismissible alert
      div.m-alert__actions
        chi-button(color='dark', variant='outline', size='lg') Secondary action
        chi-button(color='primary', size='lg') Primary action
  :code(lang="html")
    <chi-alert type="banner" icon="circle-info" size="lg" alert-title="Base" dismissible>
      <p class="m-alert__text">This is a large dismissible alert</p>
      <div class="m-alert__actions">
        <chi-button color="dark" variant="outline" size="lg">Secondary action</chi-button>
        <chi-button color="primary" size="lg">Primary action</chi-button>
      </div>
    </chi-alert>

div.a-divider.-my--6.-bt--2

h3 Toast
p.-text
  | Toasts are unobtrusive alerts used to display brief, auto-expiring information.
  | To use a toast alert, set the <code>type</code> attribute to <code>toast</code>.

h4 Default
.example.-mb--3
  .-p--1
    chi-alert.-m--2(type='toast', icon='circle-info')
      p.m-alert__text This is a base alert
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(type='toast', icon=val, color=type)
        p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <!-- Base - No semantic color defined -->
    <chi-alert type="toast" icon="circle-info">
      <p class="m-alert__text">This is a base alert</p>
    </chi-alert>
    <!-- Success -->
    <chi-alert type="toast" color="success" icon="circle-check">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Danger -->
    <chi-alert type="toast" color="danger" icon="circle-warning">
      <p class="m-alert__text">This is a danger alert</p>
    </chi-alert>
    <!-- Warning -->
    <chi-alert type="toast" color="warning" icon="warning">
      <p class="m-alert__text">This is a warning alert</p>
    </chi-alert>
    <!-- Info -->
    <chi-alert type="toast" color="info" icon="circle-info">
      <p class="m-alert__text">This is an info alert</p>
    </chi-alert>
    <!-- Muted -->
    <chi-alert type="toast" color="muted" icon="circle-info">
      <p class="m-alert__text">This is a muted alert</p>
    </chi-alert>

h4 Titled
.example.-mb--3
  .-p--1
    chi-alert.-m--2(type='toast', icon='circle-info', alert-title="Base")
      p.m-alert__text This is a base alert
    each val, type in {success:'circle-check', danger:'circle-warning', warning:'warning', info:'circle-info', muted:'circle-info'}
      chi-alert.-m--2(type='toast', color=type, icon=val, alert-title=type)
        p.m-alert__text=`This is ${type === 'info' ? 'an' : 'a'} ${type} alert`
  :code(lang="html")
    <!-- Base - No semantic color defined -->
    <chi-alert type="toast" icon="circle-info" alert-title="Base">
      <p class="m-alert__text">This is a base alert</p>
    </chi-alert>
    <!-- Success -->
    <chi-alert type="toast" icon="circle-check" color="success" alert-title="Success">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Danger -->
    <chi-alert type="toast" color="danger" icon="circle-warning" alert-title="Danger">
      <p class="m-alert__text">This is a danger alert</p>
    </chi-alert>
    <!-- Warning -->
    <chi-alert type="toast" color="warning" icon="warning" alert-title="Warning">
      <p class="m-alert__text">This is a warning alert</p>
    </chi-alert>
    <!-- Info -->
    <chi-alert type="toast" color="info" icon="circle-info" alert-title="Info">
      <p class="m-alert__text">This is an info alert</p>
    </chi-alert>
    <!-- Muted -->
    <chi-alert type="toast" color="muted" icon="circle-info" alert-title="Muted">
      <p class="m-alert__text">This is a muted alert</p>
    </chi-alert>

h4 Sizes
.example.-mb--3
  .-p--1
    p.-text--bold.-ml--2 -sm
    chi-alert.-m--2(type='toast', color='success', icon='circle-check', size='sm')
      p.m-alert__text This is a small success alert
    chi-alert.-m--2(type='toast', color='success', icon='circle-check', size='sm', alert-title="Success")
      p.m-alert__text This is a small success alert
    p.-text--bold.-ml--2 -md (default)
    chi-alert.-m--2(type='toast', color='success', icon='circle-check')
      p.m-alert__text This is a success alert
    chi-alert.-m--2(type='toast', color='success', icon='circle-check', alert-title="Success")
      p.m-alert__text This is a success alert
    p.-text--bold.-ml--2 -lg
    chi-alert.-m--2(type='toast', color='success', icon='circle-check', size='lg')
      p.m-alert__text This is a large success alert
    chi-alert.-m--2(type='toast', color='success', icon='circle-check', size='lg', alert-title="Success")
      p.m-alert__text This is a large success alert
  :code(lang="html")
    <!-- Small -->
    <chi-alert type="toast" color="success" icon="circle-check" size="sm">
      <p class="m-alert__text">This is a small success alert</p>
    </chi-alert>
    <!-- Small Titled -->
    <chi-alert type="toast" color="success" icon="circle-check" size="sm" alert-title="Success">
      <p class="m-alert__text">This is a small success alert</p>
    </chi-alert>
    <!-- Medium -->
    <chi-alert type="toast" color="success" icon="circle-check">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Medium Titled -->
    <chi-alert type="toast" color="success" icon="circle-check" alert-title="Success">
      <p class="m-alert__text">This is a success alert</p>
    </chi-alert>
    <!-- Large -->
    <chi-alert type="toast" color="success" icon="circle-check" size="lg">
      <p class="m-alert__text">This is a large success alert</p>
    </chi-alert>
    <!-- Large Titled -->
    <chi-alert type="toast" color="success" icon="circle-check" size="lg" alert-title="Success">
      <p class="m-alert__text">This is a large success alert</p>
    </chi-alert>

div.a-divider.-my--6.-bt--2

h3 Additional usage details
:stencilDoc(name='chi-alert')
