---
title: Button
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

h2 Button
p.-text
  | To render a button, use the tag <code>&lt;chi-button&gt;</code>.
  | The <code>&lt;chi-button&gt;</code> emits a custom event that you can listen to, the event name is <code>chiClick</code>
.example.-mb--3
  .-p--3.-d--flex
    div.-pr--2
      chi-button Button
  :code(lang='html')
    <chi-button>Button</chi-button>

h2 Examples

h3 Base
p.-text
  | Chi includes a wide variety of predefined button colors. For light backgrounds set <code>color</code> attribute value to <code>primary</code> or <code>dark</code>.
  | For dark backgrounds, please limit usage to <code>secondary</code> or <code>light</code>
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-d--flex(style="justify-content: center;")
        each type, val in {Base:'', Primary:'primary', Dark:'dark'}
          div.-pr--2
            chi-button(color=type)= val
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-d--flex(style="justify-content: center;")
        each type, val in {Secondary:'secondary', Light:'light'}
          div.-pr--2
            chi-button(color=type)= val
  :code(lang='html')
    <!-- For light backgrounds -->
    <chi-button>Base</chi-button>
    <chi-button color="primary">Primary</chi-button>
    <chi-button color="dark">Dark</chi-button>

    <!-- For dark backgrounds -->
    <chi-button color="secondary">Secondary</chi-button>
    <chi-button color="light">Light</chi-button>


h3 Outline
p.-text
  | To remove a buttons solid background and keep it's colored border, set the attribute
  | <code>variant</code> value to <code>outline</code>.
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-d--flex(style="justify-content: center;")
        each type, val in {Primary:'primary', Dark:'dark'}
          div.-pr--2
            chi-button(color=type, variant='outline')= val
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-d--flex(style="justify-content: center;")
        each type, val in {Secondary:'secondary', Light:'light'}
          div.-pr--2
            chi-button(color=type, variant='outline')= val
  :code(lang='html')
    <chi-button color="primary" variant="outline">Primary</chi-button>
    <chi-button color="dark" variant="outline">Dark</chi-button>
    <chi-button color="secondary" variant="outline">Secondary</chi-button>
    <chi-button color="light" variant="outline">Light</chi-button>

h3 Flat
p.-text
  | To render a button with a transparent background and border, set the attribute <code>variant</code> value to
  | <code>flat</code>.
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-d--flex(style="justify-content: center;")
        each type, val in {Primary:'primary', Dark:'dark'}
          div.-pr--2
            chi-button(color=type, variant='flat')= val
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-d--flex(style="justify-content: center;")
        each type, val in {Secondary:'secondary', Light:'light'}
          div.-pr--2
            chi-button(color=type, variant='flat')= val
  :code(lang='html')
    <chi-button color="primary" variant="flat">Primary</chi-button>
    <chi-button color="dark" variant="flat">Dark</chi-button>
    <chi-button color="secondary" variant="flat">Secondary</chi-button>
    <chi-button color="light" variant="flat">Light</chi-button>

h2 Pill
p.-text To render buttons with a more pronounced border-radius, set the attribute <code>pill</code> on the <code>&lt;chi-button&gt;</code> tag.
h3 Base
.example.-mb--3
  .-p--3
    chi-button(color=type, pill)= 'Button'
  :code(lang='html')
    <chi-button pill>Button</chi-button>

h2 Fluid
p.-text Buttons can be expanded to fill the parent space by applying the attribute
  | <code>fluid</code> on the <code>&lt;chi-button&gt;</code> tag.
.example.-mb--3
  .-p--3
    chi-button.-mb--2(fluid)= 'Submit'
    chi-button(fluid, center)= 'Submit'
  :code(lang='html')
    <chi-button fluid>Submit</chi-button>
    <chi-button fluid center>Submit</chi-button>

h2 Icon buttons
p.-text
  | For interfaces with limited space, an <code>icon</code> button can
  | be used for common actions such as editing, deleting, closing, etc.
.example.-mb--3
  .-p--3.-d--flex
    chi-button(type='icon', alternative-text="Button action")
      chi-icon(icon='atom')
    chi-button.-ml--2(variant='flat', type='icon', alternative-text="Button action")
      chi-icon(icon='atom')
  :code(lang='html')
    <chi-button type="icon" alternative-text="Button action">
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

    <!-- flat -->
    <chi-button variant="flat" type="icon" alternative-text="Button action">
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

h3 Labeled icon buttons
.example.-mb--3
  .-p--3.-d--flex
    chi-button
      chi-icon(icon='atom')
      span Button
    chi-button.-mr--2.-ml--2()
      span Button
      chi-icon(icon='atom')
    chi-button
      chi-icon(icon='atom')
      span Button
      chi-icon(icon='atom')
  :code(lang='html')
    <!-- left aligned -->
    <chi-button>
      <chi-icon icon="atom"></chi-icon>
      <span>Button</span>
    </chi-button>

    <!-- right aligned -->
    <chi-button>
      <span>Button</span>
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

    <!-- both sides -->
    <chi-button>
      <chi-icon icon="atom"></chi-icon>
      <span>Button</span>
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

h3 Floating icon buttons
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-w-md--6
      .-p--3.-d--flex(style="justify-content: center;")
        each type, val in {Base:'', Primary:'primary', Dark:'dark'}
          div.-pr--2
            chi-button(color=type, type='float', alternative-text="Button action")
              chi-icon(icon='atom')
    .a-col.-w--12.-w-md--6
      .-p--3.-bg--black.-d--flex(style="justify-content: center;")
        each type, val in {Secondary:'secondary', Light:'light'}
          div.-pr--2
            chi-button(color=type, type='float', alternative-text="Button action")
              chi-icon(icon='atom')
  :code(lang='html')
    <chi-button type="float" alternative-text="Button action">
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

    <chi-button type="float" color="primary" alternative-text="Button action">
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

    <chi-button type="float" color="secondary" alternative-text="Button action">
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

    <chi-button type="float" color="danger" alternative-text="Button action">
      <chi-icon icon="atom"></chi-icon>
    </chi-button>

    <chi-button type="float" color="dark" alternative-text="Button action">
      <chi-icon icon="atom"></chi-icon>
    </chi-button>


h3 Close icon button

.example.-mb--3
  .-p--3
    chi-button(type='close')
  :code(lang="html")
    <chi-button type="close"></chi-button>

h2 Danger
p.-text
  | For special cases, such as a button used for a destructive action in an application we might have to set <code>color</code>
  | attribute to <code>danger</code>.

.example.-mb--3
  .-p--3.-d--flex
    .-pr--2
      chi-button.-mr--2(color='danger')= 'Danger'
      chi-button.-mr--2(variant='outline', color='danger')= 'Danger'
      chi-button(variant='flat', color='danger')= 'Danger'
  :code(lang="html")
    <chi-button color="danger">Danger</chi-button>
    <chi-button color="danger" variant="outline">Danger</chi-button>
    <chi-button color="danger" variant="flat">Danger</chi-button>
h2 Sizes
p.-text
  | Buttons supports a full spectrum of sizes: <code>sm</code>, <code>md</code>,
  |  <code>lg</code>, <code>xl</code>.
  | The default size is <code>md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      p.-text--bold.-pl--2= size
      div(class=`a-col -w--12 -pb--2 -mr--0 -d--flex`)
        chi-button(size=size)= 'Button'
        chi-button.-ml--2(size=size, type='icon', alternative-text="Button action")
          chi-icon(icon='atom')
  :code(lang='html')
    <!-- sm -->
    <chi-button size="sm">Button</chi-button>
    <chi-button type="icon" size="sm" alternative-text="Button action">
      <chi-icon icon="atom" />
    </chi-button>

    <!-- md -->
    <chi-button size="md">Button</chi-button>
    <chi-button type="icon" size="md" alternative-text="Button action">
      <chi-icon icon="atom" />
    </chi-button>

    <!-- lg -->
    <chi-button size="lg">Button</chi-button>
    <chi-button type="icon" size="lg" alternative-text="Button action">
      <chi-icon icon="atom" />
    </chi-button>

    <!-- xl -->
    <chi-button size="xl">Button</chi-button>
    <chi-button type="icon" size="xl" alternative-text="Button action">
      <chi-icon icon="atom" />
    </chi-button>

h2 Additional usage details
:stencilDoc(name='chi-button')
