---
title: Icon
scripts:
  - js/ce/ux-chi-ce
styles:
  - assets/styles/icons

---
p.-text Chi has adopted a subset of icons from Cyclops and CenturyLink's Cloud Application Manager.

h3 Using Icons
.example.-mb--3
  .-p--3
    chi-icon(icon="logo-centurylink")
  :code(lang="html")
    <chi-icon icon="logo-centurylink"></chi-icon>

h3 Sizes
p.-text By default, icons render at 16x16px (<code>sm</code>). Use the size attribute to render icons larger or smaller:
  | <code>xs</code>, <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>, <code>xxl</code>.
p.-text Two alternate small values are available for specific app scenarios. Use <code>sm--2</code>
  |  for displaying 20px icons within a 40px container (e.g. large button), and <code>sm--3</code> for displaying
  | 24px icons within a 48px container.
.example.-mb--3
  .-p--3
    .a-grid.-align-items--end
      each size in ['xs', 'sm', 'sm--2', 'sm--3', 'md', 'lg', 'xl', 'xxl']
        div.-p--2.-m--1
          chi-icon(icon="logo-centurylink", size=size)
          p.-text.-text--center= size

  :code(lang="html")
    <!-- -xs : 12x12px -->
    <chi-icon icon="logo-centurylink" size="xs"></chi-icon>
    <!-- -sm : 16x16px -->
    <chi-icon icon="logo-centurylink" size="sm"></chi-icon>
    <!-- -sm--2 : 20x20px -->
    <chi-icon icon="logo-centurylink" size="sm--2"></chi-icon>
    <!-- -sm--3 : 24x24px -->
    <chi-icon icon="logo-centurylink" size="sm--3"></chi-icon>
    <!-- -md : 32x32px -->
    <chi-icon icon="logo-centurylink" size="md"></chi-icon>
    <!-- -lg : 64x64px -->
    <chi-icon icon="logo-centurylink" size="lg"></chi-icon>
    <!-- -xl : 96x96px -->
    <chi-icon icon="logo-centurylink" size="xl"></chi-icon>
    <!-- -xxl : 128x128px -->
    <chi-icon icon="logo-centurylink" size="xxl"></chi-icon>

h3 Colors
p.-text By default, icons are the same color as text. Use Chi the color attribute to set a specific color.
.example.-mb--3
  .-p--3
    .a-grid.-align-items--end
      each color in ['', 'primary', 'success', 'warning', 'danger', 'inverse', 'muted']
        div.-p--2
          chi-icon(icon="logo-centurylink", color=color, size="md")
  :code(lang="html")
    <chi-icon icon="logo-centurylink" size="md"></chi-icon>
    <chi-icon icon="logo-centurylink" size="md" color="primary"></chi-icon>
    <chi-icon icon="logo-centurylink" size="md" color="success"></chi-icon>
    <chi-icon icon="logo-centurylink" size="md" color="warning"></chi-icon>
    <chi-icon icon="logo-centurylink" size="md" color="danger"></chi-icon>
    <chi-icon icon="logo-centurylink" size="md" color="inverse"></chi-icon>
    <chi-icon icon="logo-centurylink" size="md" color="muted"></chi-icon>

h3 Additional usage details
:stencilDoc(name='chi-icon')

h3 UI Icons
.a-grid.icon-library.-pt--2.-pb--6
  each name in ['activity', 'address-book', 'arrow-down', 'arrow-left', 'arrow-right', 'arrow-up', 'arrow-to-bottom', 'arrow-vertical', 'arrows','asterisk', 'atom', 'ban', 'bank', 'bell-off', 'bell', 'box-application', 'box-cloudformation', 'box-container', 'box-deployment', 'box-fill', 'box-outline', 'box-script', 'box', 'chart-bar', 'chart-pie', 'chat', 'check-alt', 'check', 'checkbox-checked', 'checkbox', 'chevron-down', 'chevron-left', 'chevron-right', 'chevron-up', 'circle-alert-outline', 'circle-alert', 'circle-arrow-down-outline', 'circle-arrow-down', 'circle-arrow-up-outline', 'circle-arrow-up', 'circle-check-outline', 'circle-check', 'circle-clock-outline', 'circle-clock', 'circle-code-outline', 'circle-code', 'circle-gear-outline','circle-gear', 'circle-info-outline', 'circle-info', 'circle-minus-outline', 'circle-minus', 'circle-outline', 'circle-play-outline', 'circle-play', 'circle-plus-outline', 'circle-plus', 'circle-question-outline', 'circle-question', 'circle-reload-outline', 'circle-reload', 'circle-stop-outline', 'circle-stop', 'circle-warning', 'circle-x-outline', 'circle-x', 'circle', 'cloud', 'cost', 'database', 'date', 'delete', 'edit', 'file-error-outline', 'file-outline', 'file', 'filter', 'folder-gear', 'folder-open', 'folder', 'globe-network', 'globe-outline', 'grid', 'heart', 'home', 'key', 'life-ring', 'link', 'list', 'lock-outline', 'lock', 'logo-amazon', 'logo-aws', 'logo-azure', 'logo-centurylink', 'logo-cloudstack', 'logo-dimensiondata', 'logo-facebook', 'logo-github', 'logo-google', 'logo-hp', 'logo-linkedin', 'logo-linux', 'logo-openstack', 'logo-rackspace', 'logo-softlayer', 'logo-twitter', 'logo-vcloud', 'logo-vsphere', 'logout', 'mail', 'map-marker-alt', 'map-marker', 'menu', 'microphone-mute', 'microphone', 'minus-alt', 'minus', 'more-vert', 'more', 'nodes', 'number', 'pause', 'phone', 'play', 'plus-alt', 'plus', 'radio-checked', 'radio', 'refresh', 'rocket', 'search', 'settings', 'share', 'shield', 'shopping-cart', 'star-outline', 'star', 'stop', 'sync', 'tag-outline', 'tag', 'text', 'triangle-down', 'triangle-left', 'triangle-right', 'triangle-up', 'user', 'users', 'verified', 'video-camera-mute', 'video-camera', 'visible-off', 'visible', 'warning', 'x-alt', 'x']
    .a-col.-w--6.-w-xl--2.-w-lg--3.-w-md--6.-mb--2
      .a-card.-py--4.-bg--grey-10
        .a-card__content
          chi-icon(size="sm--3", icon=name)
      p.-text--center=name
