---
title: Number input
styles:
  - assets/styles/number-input-ce
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

p.-text
  | Number inputs are used to increase or decrease numeric values.

h2 Examples

p.-text
  | To render a number input, just place a <code>chi-number-input</code> tag and set an initial value (optional). If
  | an initial value is not provided, <code>0</code> will be taken as default.

ul#a-tabs--number-input.a-tabs
  li.-active
    a(href='#a-tabs--number-input-base') Base
  li
    a(href='#a-tabs--number-input-value') Value
#a-tabs--number-input-base.a-tabs-panel.-active
  .example.-mb--3
    .-p--3
      .m-form__item
        chi-label(for="number-input-base") Label
        chi-number-input#number-input-base
    :code(lang='html')
      <chi-label for="number-input-base">Label</chi-label>
      <chi-number-input id="number-input-base"></chi-number-input>
#a-tabs--number-input-value.a-tabs-panel
  .example.-mb--3
    .-p--3
      .m-form__item
        chi-label(for="number-input-initial-value") Label
        chi-number-input#number-input-initial-value(value='2')
    :code(lang="html")
      <chi-label for="number-input-initial-value">Label</chi-label>
      <chi-number-input id="number-input-initial-value" value="2"></chi-number-input>

h3 Options

p.-text
  | Apart from an initial value, number inputs allow to set some other options like <code>max</code>, <code>min</code>,
  | and <code>step</code>. It is important to remark that when the value is suffering from a step mismatch, it will be
  | rounded to the nearest number which prevents this to happen.

.example.-mb--3
  .-p--3
    .m-form__item
      chi-label(for="number-input-min-max") Label
      chi-number-input#number-input-min-max(min='-4', max='4', step='3')
  :code(lang='html')
    <chi-label for="number-input-min-max">Label</chi-label>
    <chi-number-input id="number-input-min-max" min="-4" max="4" step="3"></chi-number-input>

h3 Disabled

.example.-mb--3
  .-p--3
    .m-form__item
      chi-label(for="number-input-disabled") Label
      chi-number-input#number-input-disabled(disabled=true)
  :code(lang='html')
    <chi-label for="number-input-disabled">Label</chi-label>
    <chi-number-input id="number-input-disabled" disabled="disabled"></chi-number-input>

h3 Sizes

p.-text
  | Number inputs support a full spectrum of sizes: <code>sm</code>, <code>md</code>,
  |  <code>lg</code>, <code>xl</code>.
  | The default size is <code>md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      .m-form__item.-inline.-mr--3
        chi-label(for=`number-input-${size}`) Label
        chi-number-input(id=`number-input-${size}`, size=`${size}`)
  :code(lang='html')
    <!-- -sm -->
    <chi-label for="number-input-sm">Label</chi-label>
    <chi-number-input id="number-input-sm" size="sm"></chi-number-input>

    <!-- -md -->
    <chi-label for="number-input-md">Label</chi-label>
    <chi-number-input id="number-input-md" size="md"></chi-number-input>

    <!-- -lg -->
    <chi-label for="number-input-lg">Label</chi-label>
    <chi-number-input id="number-input-lg" size="lg"></chi-number-input>

    <!-- -xl -->
    <chi-label for="number-input-xl">Label</chi-label>
    <chi-number-input id="number-input-xl" size="xl"></chi-number-input>

h2 Expanded version

p.-text
  | There is available an expanded version of the number input component.

h3 Base
.example.-mb--3
  .-p--3
    chi-label(for=`number-input-expanded`) Label
    chi-number-input#number-input-expanded(expanded=true)
  :code(lang='html')
    <chi-label for="number-input-expanded">Label</chi-label>
    <chi-number-input id="number-input-expanded" expanded="expanded"></chi-number-input>

h3 Base with step
.example.-mb--3
  .-p--3
    chi-label(for="number-input-step") Label
    chi-number-input#number-input-step(expanded=true, step=5)
  :code(lang='html')
    <chi-label for="number-input-step">Label</chi-label>
    <chi-number-input id="number-input-step" expanded="expanded" step="5"></chi-number-input>

h3 Decimals and step
.example.-mb--3
  .-p--3
    chi-label(for="number-input-decimal-step") Label
    chi-number-input#number-input-decimal-step(expanded=true, value=0.1, step=0.5)
  :code(lang='html')
    <chi-label for="number-input-decimal-step">Label</chi-label>
    <chi-number-input id="number-input-decimal-step" expanded="expanded" value="0.1" step="0.5"></chi-number-input>

h3 Disabled
.example.-mb--3
  .-p--3
    chi-label(for="number-input-expanded-disabled") Label
    chi-number-input#number-input-expanded-disabled(expanded=true disabled=true)
  :code(lang='html')
    <chi-label for="number-input-expanded-disabled">Label</chi-label>
    <chi-number-input id="number-input-expanded-disabled" expanded="expanded" disabled="disabled"></chi-number-input>

h3 Sizes
p.-text
  | Expanded number inputs support a full spectrum of sizes: <code>sm</code>, <code>md</code>,
  |  <code>lg</code>, <code>xl</code>.
  | The default size is <code>md</code>.
.example.-mb--3
  .-p--3.-d--flex.-justify-content--start.-align-items--center
    each size in ['sm', 'md', 'lg', 'xl']
      .m-form__item
        chi-label(for=`number-input-expanded-${size}`) Label
        chi-number-input(id=`number-input-expanded-${size}`, expanded=true, size=`${size}`, class='-mr--2')
  :code(lang='html')
    <!-- -sm -->
    <chi-label for="number-input-expanded-sm">Label</chi-label>
    <chi-number-input class="-mr--2" id="number-input-expanded-sm" expanded="expanded" size="sm"></chi-number-input>

    <!-- -md -->
    <chi-label for="number-input-expanded-md">Label</chi-label>
    <chi-number-input class="-mr--2" id="number-input-expanded-md" expanded="expanded" size="md"></chi-number-input>

    <!-- -lg -->
    <chi-label for="number-input-expanded-lg">Label</chi-label>
    <chi-number-input class="-mr--2" id="number-input-expanded-lg" expanded="expanded" size="lg"></chi-number-input>

    <!-- -xl -->
    <chi-label for="number-input-expanded-xl">Label</chi-label>
    <chi-number-input class="-mr--2" id="number-input-expanded-xl" expanded="expanded" size="xl"></chi-number-input>

h2 Additional usage details
:stencilDoc(name='chi-number-input')

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs--number-input'));
    },
  );
